<wm-page data-ng-controller="inspectPageController" name="inspect" pagetitle="Newline Portal - Inspect">
    <wm-header name="header" content="header"></wm-header>
    <!--<wm-top-nav name="top_nav" content="topnav" backgroundcolor="#ffffff"></wm-top-nav>-->
    <wm-content name="content_page">
        <wm-page-content name="page_content1" columnwidth="12">
            <!--<wm-container name="HamburgerContainer" content="Hamburger"></wm-container>-->
            <wm-layoutgrid name="layoutgrid_page">
                <wm-gridrow name="gridrow2">
                    <wm-gridcolumn name="LeftGridColumn" columnwidth="2">
                        <wm-container class="personal-info personal-info-mobile" name="SearchContainer" id="buttonslideleft" content="InspectSearch"></wm-container>
                    </wm-gridcolumn>
                    <wm-gridcolumn name="MainGridColumn" columnwidth="10">
                        <wm-anchor margin="unset 0em" name="anchor2" iconclass="wi wi-angle-double-right fa-lg" caption="" on-click="anchor2Click($event, $scope)" fontsize="12" show="false" color="#000" borderwidth="1px" borderstyle="solid" bordercolor="#000"></wm-anchor>
                        <wm-anchor margin="unset 0em" fontsize="12" iconclass="wi wi-angle-double-left fa-lg" caption="" on-click="anchor3Click($event, $scope)" name="anchor3" color="#000" borderwidth="1px" borderstyle="solid" bordercolor="#000"></wm-anchor>
                        <wm-container name="MainSectionLabel" show="bind:(!Widgets.SearchResultLiveList.dataset || Widgets.SearchResultLiveList.dataset.length == 0)" horizontalalign="center">
                            <wm-picture name="mainpic" picturesource="resources/images/imagelists/empty.png" margin="4em unset unset unset"></wm-picture>
                            <wm-label name="label21" width="100%" caption="No Results!" fontsize="38" color="#D0D0D0" margin="1em unset unset unset"></wm-label>
                            <wm-label name="label22_1" width="100%" caption="Select an inspection route ..." fontsize="16" color="#828282" margin="1em unset unset unset"></wm-label>
                        </wm-container>
                        <wm-tile name="all-content-tile" class="all-content-tile tile-mobile" show="bind:(Widgets.SearchResultLiveList.dataset &amp;&amp; Widgets.SearchResultLiveList.dataset.length > 0)">
                            <wm-layoutgrid name="MapLayoutGrid">
                                <wm-gridrow name="gridrow3_top">
                                    <wm-gridcolumn name="gridcolumn99_top" class="col-md-12 report dyn-height">
                                        <wm-container name="PropertyInfoHeaderContainer" content="PropertyInfoHeader" padding="unset .7em 1em unset" class="property-header-container">
                                            <wm-param name="Property_Id" value="bind:Widgets.SearchResultLiveList.selecteditem.property_id" type="integer"></wm-param>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow3">
                                    <wm-gridcolumn name="gridcolumn99" class="col-md-6 report dyn-height">
                                        <wm-container iconclass="" name="panel2_1" content="Tags" collapsible="true" class="custompanel" padding="unset .7em unset unset"></wm-container>
                                        <wm-container name="container6" padding="1em .7em 1em unset" class="tab-container-custom">
                                            <wm-tabs name="tabs1" class="tab-custom">
                                                <wm-tabpane name="tabpane1" title="Auction">
                                                    <wm-layoutgrid name="layoutgrid10">
                                                        <wm-gridrow name="gridrow47">
                                                            <wm-gridcolumn name="gridcolumn155" columnwidth="NaN">
                                                                <wm-label name="label18" caption="bind:&quot;Tax Year &quot; + Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].tax_year + &quot; (Auction ID: &quot; + Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].auction_id + &quot;)&quot;" width="100%"
                                                                    class="h4 title_tab main-title-ins-mobile" textalign="center" horizontalalign="center" fontweight="bold" color="#2c65a8" fontsize="14"></wm-label>
                                                                <wm-container content="AuctionTax" name="container7"></wm-container>
                                                                <wm-container content="AuctionStat" name="container8"></wm-container>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                </wm-tabpane>
                                                <wm-tabpane name="tabpane2" title="Certificate">
                                                    <wm-layoutgrid name="layoutgrid10">
                                                        <wm-gridrow name="gridrow47">
                                                            <wm-gridcolumn name="gridcolumn155" columnwidth="NaN">
                                                                <wm-label name="label18" caption="bind:Widgets.SearchResultLiveList.selecteditem.certificate_number +&quot; &quot; + &quot; (&quot; + Variables.svQryPortalAuctionData.dataSet[$i].tax_year + &quot;) (Certificate ID: &quot; + Widgets.SearchResultLiveList.selecteditem.certificate_id + &quot;)&quot;"
                                                                    width="100%" class="h4 title_tab" textalign="center" horizontalalign="center" fontweight="bold" color="#2c65a8" show="false"></wm-label>
                                                                <wm-container name="container12" content="CertificateStatus"></wm-container>
                                                                <wm-container name="container13_1" content="Balances"></wm-container>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                </wm-tabpane>
                                                <wm-tabpane name="tabpane5" title="History &amp; Title">
                                                    <wm-container content="TaxAndHistory" name="container9"></wm-container>
                                                    <wm-container content="Title" name="container10" padding="1em unset unset unset"></wm-container>
                                                </wm-tabpane>
                                                <wm-tabpane name="tabpane4" title="Photos &amp; Links" content="PhotosAndLinks"></wm-tabpane>
                                                <wm-tabpane name="tabpane3" title="Notes" content="Notes"></wm-tabpane>
                                            </wm-tabs>
                                        </wm-container>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn name="gridcolumn9" class="col-md-6 map">
                                        <wm-container name="MapContainer" content="Map"></wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-tile>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
</wm-page>