.personal-info{
    /*margin-top:1em !important;*/
}
.mobile-left-hide{
    display: none !important;
}
.mobile-left-show{
    display: block !important;
      position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    /*z-index: 9999;*/
    z-index: 112;
}
.mobile-shadow-true{
    opacity: 0.5;
}
.mobile-shadow-none{
    opacity: 1 !important;
}
@media only screen and (max-device-width: 480px) and (min-device-width: 299px){
    .wm-app .app-header{
        display: block !important;
    }
.tile-mobile{
        position: absolute !important;
    right: 0;
    /*top: 84px;*/
}
/*.mobile-nav{*/
/*        position: absolute !important;*/
/*    z-index: 999999 !important;*/
/*    right: -10% !important;*/
/*    top: 0% !important;*/
/*    padding: 1px !important;*/
/*}*/
/*.mobile-nav-right{*/
/*     position: absolute !important;*/
/*    z-index: 999999 !important;*/
/*    left: -12 !important;*/
/*    top: 50px !important;*/
/*    padding: 0px !important;*/
/*}*/
.Totaldiv-Mobile{
    position: absolute !important;
    left: 0;
    top: 0;
}
.personal-info-mobile .form-group{
    margin-bottom: 0px !important;
}
.Mobile-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    /*z-index: 9999;*/
    z-index: 112;
    /*display: none;*/
    transition:all 0.5s ease-in-out;
}
.Mobile-left.mobile-left-onclick{
    left: -100%;
    transition:all 0.5s ease-in-out;
}
.Mobile-right{
    position: absolute !important;
    top: 0;
    /*right: 0;*/
    width: 100%;
    z-index: 111;
    /*left:100%;*/
    transition:all 0.5s ease-in-out;
    
}
.Mobile-right.mobile-right-onclick{
    left: 0%;
    transition:all 0.5s ease-in-out;
    opacity: 0.5;
}
.topnav-mobile{
    z-index:99999;
}
.add{
    display: none !important;
}
}