<wm-partial data-ng-controller="NotesPopoverPageController"> 
    <wm-layoutgrid name="layoutgrid1" class="layoutgrid-outerborder"> 
        <wm-gridrow padding="unset unset unset unset" name="gridrow21"> 
            <wm-gridcolumn name="gridcolumn1"> 
                <wm-layoutgrid name="layoutgrid2_1" class="tax-and-history-table-header"> 
                    <wm-gridrow name="gridrow2" class="header-row"> 
                        <wm-gridcolumn columnwidth="12" name="gridcolumn60_1" class="col-xs-12"> 
                            <wm-label caption="bind:$parent.$parent.$parent.Widgets.NotesLiveList.selecteditem.note_description" name="label40_2"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>