<wm-partial data-ng-controller="topnavPageController" name="topnav" type="topnav">
    <wm-layoutgrid name="layoutgrid1" class="topnav-custom topnav-custom-fixed">
        <wm-gridrow name="gridrow1" class="TopNavRow">
            <wm-gridcolumn columnwidth="12" name="gridcolumn1" class="col-xs-12 TopNav-LeftMenu custompanelmobile" horizontalalign="center">
                <wm-navbar name="navbar1" showindevice="sm,md,lg" class="lefttopnav customlefttopnav" horizontalalign="center">
                    <wm-nav name="leftTopLinks" type="navbar" class="navbar-left" horizontalalign="center">
                        <wm-nav-item name="list_home">
                            <wm-anchor caption="Buy" name="buy" on-click="Variables.goToPage_Main.invoke()"></wm-anchor>
                        </wm-nav-item>
                        <wm-nav-item name="list_services">
                            <wm-anchor caption="Service" name="service" on-click="Variables.goToPage_service.invoke()"></wm-anchor>
                        </wm-nav-item>
                        <!--<wm-nav-item name="nav_item5"></wm-nav-item>-->
                        <wm-nav-item name="nav_item6">
                            <wm-anchor name="inspect" caption="bind:(Variables.stOfflineCount.dataSet.dataValue) ? &quot;Inspect (&quot; + Variables.stOfflineCount.dataSet.dataValue + &quot;)&quot; : &quot;Inspect&quot;" on-click="Variables.goToPage_inspect.invoke()" showindevice="sm,md,lg"
                                class="inspectdesktop"></wm-anchor>
                        </wm-nav-item>
                        <wm-nav-item name="nav_item6_1">
                            <wm-anchor name="inspectmobile" caption="Inspect" on-click="Variables.goToPage_InspectMobile.invoke()" showindevice="xs"></wm-anchor>
                        </wm-nav-item>
                        <wm-nav-item name="nav_item7">
                            <wm-anchor name="reports" caption="Admin" on-click="Variables.goToPage_AdminTasks.invoke()" show="bind:Variables.loggedInUser.dataSet.roles[0] == 'admin'"></wm-anchor>
                        </wm-nav-item>
                        <wm-nav-item name="nav_item9">
                            <wm-anchor name="reports" caption="Reports" iconclass="wi wi-external-link" hyperlink="https://www.periscopedata.com/app" target="_blank"></wm-anchor>
                        </wm-nav-item>
                        <wm-nav-item name="nav_item8">
                            <wm-anchor name="import" caption="Import" iconclass="wi wi-external-link" hyperlink="https://app.skyvia.com" target="_blank"></wm-anchor>
                        </wm-nav-item>
                        <wm-nav-item name="nav_item8_1">
                            <wm-anchor name="zoholink" caption="REO" on-click="Variables.goToPage_Reo.invoke()"></wm-anchor>
                        </wm-nav-item>
                        <wm-nav-item name="nav_item7_1" class="Toolsclass">
                            <wm-popover name="popover1" title="Tools" caption="" contentsource="partial" iconurl="resources/images/imagelists/white-wrench.png" iconclass="wi wi-keyboard-arrow-down fa-lg fa-pull-right" iconwidth="14px" iconheight="14px" class="Toolspopoverdown" popoverwidth="250px"
                                content="ToolsPopover"></wm-popover>
                        </wm-nav-item>
                    </wm-nav>
                </wm-navbar>
                <wm-accordion name="accordion1" showindevice="sm,md,lg">
                    <wm-accordionpane name="accordionpane1" title="Navigation" iconclass="wi wi-chevron-down fa-pull-right" class="navigationheader" showindevice="xs" isdefaultpane="false" show="true" style="display:none">
                        <wm-layoutgrid name="layoutgrid24">
                            <wm-gridrow name="gridrow31_1">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn60">
                                    <wm-button name="button1" caption="Buy" on-click="Variables.goToPage_Main.invoke()" class="btn-dropdown"></wm-button>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow32">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn62_1">
                                    <wm-button name="button2" caption="Service" on-click="Variables.goToPage_service.invoke()" class="btn-dropdown"></wm-button>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow35">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn65">
                                    <wm-button name="button3" caption="Inspect" on-click="Variables.goToPage_InspectMobile1.invoke()" class="btn-dropdown"></wm-button>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow36">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn66">
                                    <wm-button name="button4" caption="Admin" on-click="Variables.goToPage_Issues.invoke()" class="btn-dropdown"></wm-button>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow38">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn68">
                                    <wm-button name="reports" caption="Reports" on-click="Variables.goToPage_Reports.invoke()" class="btn-dropdown"></wm-button>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow37">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn67">
                                    <wm-button name="button5" caption="Import" on-click="Variables.goToPage_import.invoke()" class="btn-dropdown"></wm-button>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                    </wm-accordionpane>
                </wm-accordion>
            </wm-gridcolumn>
            <!--<wm-gridcolumn columnwidth="2" name="gridcolumn1" class="select-border col-xs-2 custompanelmobilesettings ">-->
            <!--<wm-navbar name="navbar1" showindevice="sm,md,lg">-->
            <!--    <wm-nav name="leftTopLinks" type="navbar" class="navbar-left toolsnav">-->
            <!--        <wm-nav-item name="nav_item7_1">-->
            <!--            <wm-popover name="popover1" title="Tools" caption="Tools" contentsource="inline" iconurl="resources/images/imagelists/adjust.png" iconclass="wi wi-keyboard-arrow-down fa-lg fa-pull-right" iconwidth="14px" iconheight="14px" class="Toolspopoverdown" popoverwidth="250px">-->
            <!--                <wm-livelist listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list toolslivelist" datafield="All Fields" dataset="bind:Variables.ToolsListDD.dataSet" navigation="None" name="livelist2">-->
            <!--                    <wm-listtemplate layout="inline" name="listtemplate1">-->
            <!--                        <wm-container class="media-body" name="container29">-->
            <!--                            <wm-label class="p media-heading " id="toollabel" name="Name" caption="bind:Variables.ToolsListDD.dataSet[$i].name" fontunit="em" padding="unset unset unset unset" on-click="NameClick($event, $scope, item, currentItemWidgets)" on-mouseenter="NameMouseenter($event, $scope, item, currentItemWidgets)"></wm-label>-->
            <!--                        </wm-container>-->
            <!--                    </wm-listtemplate>-->
            <!--                </wm-livelist>-->
            <!--            </wm-popover>-->
            <!--        </wm-nav-item>-->
            <!--    </wm-nav>-->
            <!--</wm-navbar>-->
            <!--</wm-gridcolumn>-->
        </wm-gridrow>
    </wm-layoutgrid>
    <wm-buttongroup name="buttongroup1" width="100%" showindevice="xs" class="mobiletopnav">
        <wm-button class="btn-navigation" type="button" caption="Navigation" name="button4" width="50%" on-click="button4Click($event, $scope)" iconclass="wi wi-chevron-down fa-pull-right"></wm-button>
        <wm-button type="button" caption="" name="button6" width="50%" on-click="button6Click($event, $scope)" iconurl="resources/images/imagelists/adjust.png" iconwidth="15px" iconheight="15px" class="btn-settings"></wm-button>
    </wm-buttongroup>
    <wm-accordion name="accordion1" showindevice="xs" class="accordmobile">
        <wm-accordionpane name="accordionpane1" title="" showindevice="all">
            <wm-button name="button1" caption="Buy" on-click="Variables.goToPage_Main.invoke()" class="btn-dropdown"></wm-button>
            <wm-button name="button2" caption="Service" on-click="Variables.goToPage_service.invoke()" class="btn-dropdown"></wm-button>
            <wm-button name="button3" caption="Inspect" on-click="Variables.goToPage_InspectMobile.invoke()" class="btn-dropdown"></wm-button>
            <wm-button name="buton4" caption="Admin" on-click="Variables.goToPage_AdminTasks.invoke()" class="btn-dropdown"></wm-button>
            <wm-button name="Repots_btn" caption="Reports" on-click="Reports_btnClick($event, $scope)" class="btn-dropdown"></wm-button>
            <wm-button name="Import_btn" caption="Import" on-click="Import_btnClick($event, $scope)" class="btn-dropdown"></wm-button>
            <wm-button name="ZohoBtn" caption="REO" on-click="Variables.goToPage_Reo.invoke()" class="btn-dropdown"></wm-button>
        </wm-accordionpane>
        <wm-accordionpane name="accordionpane3" title="">
            <wm-button class="btn-dropdown" caption="Underwriting - Run" on-click="Widgets.CompleteSaleDialog.open()" name="button13"></wm-button>
            <wm-button class="btn-dropdown" caption="Purchase - Complete Sale" name="button14"></wm-button>
            <wm-button class="btn-dropdown" caption="Service - Process Payments" name="button15"></wm-button>
            <wm-button class="btn-dropdown" caption="Service - Pay Prior Search Fee" on-click="Widgets.PaySearchDialog.open()" name="button16"></wm-button>
            <wm-button class="btn-dropdown" caption="Service - Pay Take Notice" on-click="Widgets.PayTakeNoticeDialog.open()" name="button17"></wm-button>
            <wm-button class="btn-dropdown" caption="Legal - Pay Publication" on-click="Widgets.PayPublicationDialog.open()" name="button18"></wm-button>
            <!--<wm-select placeholder="Tools" textalign="center" name="selectTools" vetical-align="middle" dataset="bind:Variables.ToolsListDD.dataSet" datafield="dataValue" displayfield="name" on-change="selectToolsChange($event, $scope, newVal, oldVal)" margin="10px unset unset unset"></wm-select>-->
        </wm-accordionpane>
    </wm-accordion>
</wm-partial>