.header-select-dropdown{
    background-color: #e8edf1;
    /*background-color: #e2e9f1;*/
}
.wm-app .app-navbar .navbar-nav li a.Toolspopoverdown{
    /*padding-left: 30px !important;*/
    /*padding-right: 10px !important;*/
}
.lefttopnav ul li a{
    word-spacing: 0px !important;
}
.wm-app .topnav-custom.topnav-custom-fixed{
        background-color: #005AB2 !important;
}
.wm-app .topnav-custom.topnav-custom-fixed .app-livelist ul{
    display: none !important;
}
.wm-app .toolslivelist ul li label{
    cursor: pointer !important;
}
.wm-app .Toolspopoverdown.app-popover-anchor i{
        padding-left: 10px;
            /*margin-top: 4px;*/
}
.wm-app .TopNav-LeftMenu .navbar.navbar-default .navbar-collapse{
border-bottom: none;
}
.wm-app .TopNav-LeftMenu .navbar.navbar-default .navbar-nav li a{
padding-left: 1.5em;
padding-right: 1.5em;
}

.wm-app .TopNavRow .navbar.navbar-default{
min-height: auto !important;
}
.wm-app .TopNavRow .navbar.navbar-default ul{
/*margin-right: 10px !important;*/
}
.topnav-custom{
    /*background-color: #e8edf1;*/
    background-color: #e2e9f1;
}
.complete-sale-bgcolor{
    background-color: #cbcbcb !important;
    padding: 1px !important;
}
.row-height-top{
    padding-top:0.5em !important;
}
.btn-searchSale {
    padding: 0px !important;
    background-color: transparent;
}
.int-searchFee-btn{
    width:40% !important;
    border-radius: 3px !important;
    padding: 4px !important;
    /*margin-top: 2em !important;*/
}
.int-searchFee-btn:foucs{
    outline: none !important;
}
.select-border{
    border-bottom: 1px solid #d4dcde !important;
    /*padding-right: 10px !important;*/
    
}
.wm-app .app-navbar .navbar-left.toolsnav  li {
    border-left: 1px solid #d4dcde !important;
    border-right: none !important;
}
.aftersearchtext{
    text-align: center;
    background-color: inherit !important;
    border: inherit !important;
    font-size: 20px !important;
}
.topnav-search-btn{
        padding-top: 1em !important;
        padding: 4px;
}
/*@media (min-width:1050px){*/
/*    .wm-app .app-navbar .navbar-nav li a{*/
/*        padding-left: 2em !important;*/
/*        padding-right: 2em !important;*/
/*    }*/
/*}*/
/*@media (min-width:768px) and (max-width:1024px){*/
/*.wm-app .app-navbar .navbar-nav li a{*/
/*    padding-left:1.8em !important;*/
/*    padding-right:1.8em !important;*/
/*}    */
/*}*/
/*@media (min-width:768px) and (max-width:1024px) and (orientation: portrait){*/
/*.wm-app .app-navbar .navbar-nav li a{*/
/*    padding-left:1.5em !important;*/
/*    padding-right:1.5em !important;*/
/*}    */
/*}*/
@media screen and (max-width: 1280px) and (min-width: 800px){
/*    .wm-app .TopNav-LeftMenu .navbar.navbar-default .navbar-nav li a{*/
/*        padding-left: 1.4em;*/
/*padding-right: 1.4em; */
/*    }*/
}
@media screen and (max-width: 768px) and (orientation:portrait){
    .wm-app .TopNav-LeftMenu .navbar.navbar-default .navbar-nav li a{
/*padding-left: 4px;*/
/*padding-right: 4px; */
font-size: 11px !important;
}
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
    .wm-app .TopNav-LeftMenu .navbar.navbar-default .navbar-nav li a{
padding-left: 5px;
padding-right: 5px; 
font-size: 12px ;
}
/*.fa-lg{*/
/*        line-height: 1.25em !important;*/
/*}*/

.wm-app .Toolspopoverdown img{
    width: 12px !important;
    height: 12px !important;
}
.wm-app .Toolspopoverdown.app-popover-anchor i{
        padding-left: 5px;
            margin-top: 5px;
}
 .wm-app .TopNavRow .TopNav-LeftMenu.custompanelmobile.app-grid-column{
     padding:0px !important;
         background-color: #005AB2 !important;
 }
 .wm-app .app-header .application-name.Newline-header{
         font-size: 12px!important;
             padding-top: 8px!important;
    padding-left: 10px!important;
        font-weight: bold;
 }
 .wm-app .TopNavRow .navbar ul li a.Toolspopoverdown {
     padding-left: 2px !important;
     padding-right: 0px !important;
     font-size: 11px !important;
 }
}
@media screen and (max-width: 1024px) and (min-width: 768px) and (orientation:landscape) {
    .wm-app .app-header .application-name.Newline-header{
         font-size: 14px!important;
             padding-top: 5px!important;
    padding-left: 10px!important;
 }
  .wm-app .TopNav-LeftMenu .navbar.navbar-default .navbar-nav li a{
padding-left: 9px;
padding-right: 9px; 
font-size: 13px !important;
}
.wm-app .TopNavRow .navbar ul li a.Toolspopoverdown {
     padding-left: 20px !important;
     padding-right: 0px !important;
     font-size: 13px !important;
 }
}
@media only screen and (max-device-width: 480px) and (min-device-width: 299px){
     .select-border{
         border: 0px !important;
     }
     .wm-app .app-navbar .navbar-collapse{
         border: none !important;
     }
     .wm-app .app-navbar .navbar-nav li{
         border: none !important;
     }
     .TopNavRow{
             box-shadow: 0 0px 1px -10px #333;
    z-index: 1;
     }
     .topnav-custom{
    background-color: #e8edf1 !important;
        
    /*background-color: #e2e9f1;*/
}
.navbar-collapse .toolsnav .app-select{
    margin-top: 0px !important;
    /*margin-bottom: 10px !important;*/
}
.navbar-collapse .toolsnav.nav{
    margin: 0px !important;
}

.wm-app .custompanelmobilesettings {
    left:-1px;
}
.wm-app .custompanelmobilesettings .navbar-default{
        background-color: #e8edf1 !important;
}

.wm-app .custompanelmobilesettings .navbar{
      min-height: initial !important;
}
.wm-app .app-navbar .navbar-toggle {
    color: #000000;
        /*margin-right: 6em !important;*/
        padding: 2px 6px !important;
}

/*new styles for accordian classes*/

.wm-app .accordmobile .app-accordion-panel.panel{
    border: none !important;
}
.wm-app .accordmobile.panel-group .panel + .panel{
    margin-top: 0px !important;
}
.btn-navigation{
    color: #333 !important;
    /*font-size: 12px !important;*/
    text-transform: capitalize !important;
}
.btn-navigation .wi-chevron-down{
    top: 5px;
}

.wm-app .accordmobile .btn-dropdown.btn{
    display: block !important;
        background-color: inherit !important;
    cursor: pointer !important;
    padding: 4px 6px !important;
    text-transform: capitalize !important;
}
.wm-app .btn-navigation, .wm-app .btn-settings{
    background-color: #e8edf1 !important;
}
.wm-app .btn-navigation:focus{
 outline:none !important;
}
.wm-app .btn-settings:focus{
 outline:none !important;
}
.wm-app .mobiletopnav{
        box-shadow: 0px 2px 10px #c7c5c5 !important;
}
.wm-app .accordmobile.app-accordion.panel-group{
    margin-bottom: 2px !important;
}
.wm-app .col-xs-2.btn-search-mobile{
    width: 20% !important;
}
}

@media only screen and (min-width: 768px){
.wm-app .inspectdesktop.visible-lg-inline {
    display: block !important;
}
.custom-design-dialog.custom-design-dialog-disbursement.topnav{
    width: 500px !important;
}
}
.wm-app .app-navbar .navbar-toggle:hover, .wm-app .app-navbar .navbar-toggle:focus {
    color: #000000;
}

.dialog-property-header-tools {
    font-weight: bold !important;
    padding-left: 1em !important;
    padding-top: 1em !important;
}





/*--------------------- top nav mobile ------------------------------*/

.navigation{
    display: block !important;
    font-size: 11px !important;
    margin-bottom: 0px !important;
}
.wm-app .navigationheader .heading{
    font-size: 10px !important;
        padding-right: 5px !important;
}
.wm-app .navigation-btn .btn{
        padding: 1px 6px !important;
        text-transform: capitalize !important;
        background-color: inherit !important;
        font-weight: bold !important;
}
.wm-app .custompanelmobile .app-accordion .app-accordion-panel .panel-heading .panel-actions .panel-action{
    opacity: 0 !important;
}
.wm-app .custompanelmobile .app-accordion.panel-group{
    margin-bottom: 0px !important;
}
.wm-app .custompanelmobile .panel-heading .panel-title .pull-left{
    float: right !important;
}
.wm-app .custompanelmobile .panel-heading{
        background-color: #e8edf1 !important;
        color: #333 !important;
}
.wm-app .navigationheader .btn-dropdown.btn{
        background-color: inherit !important;
    cursor: pointer !important;
    padding: 0px 6px !important;
    text-transform: capitalize !important;
}
.wm-app .custompanelmobile .btn-dropdown.btn{
        background-color: inherit !important;
    cursor: pointer !important;
    padding: 4px 6px !important;
    text-transform: capitalize !important;
}
.wm-app .panel-group .navigationheader  .panel-heading + .panel-collapse > .panel-body{
 border: none !important;   
}
.wm-app .navigationheader .collapse.in{
    display: none !important;
}
.wm-app .navigationheader .collapse{
    display: block !important;
}
.app-popover.popover.bottom>.arrow.left{
    left:8em;
}
.wm-app .lefttopnav.app-navbar .navbar-nav li a i {
    margin-right: 0.1em !important;
}

.wm-app .app-navbar .navbar-nav .Toolsclass{
    border-right: none !important;
}

/*new header designs starts here*/

@media (min-width: 1200px){
    .wm-app .customlefttopnav.visible-lg-block {
        display: inline-block !important;
    }
}

@media (max-width: 1199px) {
      .wm-app .customlefttopnav.visible-lg-block {
        display: inline-block !important;
    }
}

   .wm-app .customlefttopnav.navbar-default{
background-color: #005AB2 !important;
/*padding-left: 4em;*/
}
.wm-app .customlefttopnav.navbar-default li {
    border: none !important;
}
.wm-app .customlefttopnav.navbar-default li a{
    color: #fff !important;
}

.wm-app .customlefttopnav.navbar-default .navbar-nav > .active > a, .wm-app .customlefttopnav.navbar-default .navbar-nav > .active > a:hover, .wm-app .customlefttopnav.navbar-default .navbar-nav > .active > a:focus{
    background-color: inherit !important;
}
.wm-app .customlefttopnav.app-navbar .navbar-nav li a.active, .wm-app .customlefttopnav.app-navbar .navbar-nav li a:hover, .wm-app .customlefttopnav.app-navbar .navbar-nav li a:focus, .wm-app .customlefttopnav.app-navbar .navbar-nav li a:visited{
    background-color: inherit !important;
        border-bottom: 3px solid #7ABDFF ;
}


@media (min-width: 320px) and (max-width:736px){
.wm-app .TopNavRow .TopNav-LeftMenu.custompanelmobile.app-grid-column{
    display: none !important;
}
.wm-app .accordmobile .app-accordion-panel .panel-body .btn-dropdown .btn-caption{
    color: #333 !important;
}
.wm-app .mobiletopnav .btn-navigation{
    
} 
.wm-app .mobiletopnav .btn-settings{
    /*width: auto !important;*/
    z-index:11;
}
.wm-app .mobiletopnav .btn-navigation .btn-caption{
    color: #e8edf1 !important;
}
.wm-app .inspectmobilelogout .mobiletopnav .btn-navigation .btn-caption{
    color: inherit !important;
}
}
/*@media (min-width: 320px){*/
/*.accordmobile.app-accordion{*/
/*    max-width: 100px;*/
/*}*/
/*}*/
/*@media (min-width: 375px){*/
/*.accordmobile.app-accordion{*/
/*    max-width: 144px;*/
/*}*/
/*}*/
/*@media (min-width: 414px){*/
/*.accordmobile.app-accordion{*/
/*    max-width: 153px;*/
/*}*/
/*}*/