<wm-page data-ng-controller="AddEditPartyAgentPageController" pagetitle="Add Edit Party Agent" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-livefilter title="Party Agent" dataset="bind:Variables.PlatformPartyAgentData.dataSet" captionalign="left" captionposition="left" name="livefilter1" iconclass="" class="buyer-header">
                <wm-layoutgrid columns="2" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn1">
                            <wm-filter-field name="id" field="id" displayname="Id" widget="number" is-range="false" type="integer" is-primary-key="true" generator="identity" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn2">
                            <wm-filter-field name="careOf" field="careOf" displayname="Care Of" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn3">
                            <wm-filter-field name="class_" field="class_" displayname="Class" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn4">
                            <wm-filter-field name="city" field="city" displayname="City" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn5">
                            <wm-filter-field name="address" field="address" displayname="Address" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-filter-action key="filter" class="btn-primary" iconclass="wi wi-filter-list" action="filter()" display-name="Filter" show="true" type="button"></wm-filter-action>
                <wm-filter-action key="clear" class="btn-secondary" iconclass="wi wi-cancel" action="clearFilter()" display-name="Clear" show="true" type="button"></wm-filter-action>
            </wm-livefilter>
            <wm-livetable formlayout="dialog" name="livegrid1">
                <wm-table gridfirstrowselect="true" editmode="dialog" title="" dataset="bind:Widgets.livefilter1.result" navigation="Classic" name="grid1">
                    <wm-table-column binding="id" caption="Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" readonly="true"></wm-table-column>
                    <wm-table-column binding="class_" caption="Class" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                    <wm-table-column binding="careOf" caption="Care Of" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                    <wm-table-column binding="address" caption="Address" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                    <wm-table-column binding="city" caption="City" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                    <wm-table-column binding="state" caption="State" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                    <wm-table-column binding="zip" caption="Zip" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-table-row-action>
                    <wm-table-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-table-row-action>
                </wm-table>
                <wm-liveform novalidate="false" errormessage="" title="Add Party Agent" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Widgets.livefilter1.result" captionalign="left" captionposition="left" name="liveform1">
                    <wm-layoutgrid columns="1" name="layoutgrid2">
                        <wm-gridrow name="gridrow4">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                                <wm-form-field name="class_" displayname="Class" show="true" primary-key="false" generator="assigned" key="class_" type="string" readonly="false" required="true" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow5">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                                <wm-form-field name="careOf" displayname="Care Of" show="true" primary-key="false" generator="assigned" key="careOf" type="string" readonly="false" widget="text" maxchars="150" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow6">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                                <wm-form-field name="address" displayname="Address" show="true" primary-key="false" generator="assigned" key="address" type="string" readonly="false" widget="text" maxchars="100" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow7">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                                <wm-form-field name="city" displayname="City" show="true" primary-key="false" generator="assigned" key="city" type="string" readonly="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow8">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                                <wm-form-field name="stateByState" displayname="State" show="true" primary-key="false" generator="assigned" key="stateByState" type="list" is-related="true" readonly="false" required="false" widget="select" maxchars="2" dataset="bind:Variables.StateData.dataSet"
                                    datafield="All Fields" displayfield="state" defaultvalue="bind:Widgets.grid1.selecteditem.stateByState"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow9">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn11">
                                <wm-form-field name="zip" displayname="Zip" show="true" primary-key="false" generator="assigned" key="zip" type="string" readonly="false" widget="text" maxchars="10" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livetable>
        </wm-page-content>
    </wm-content>
</wm-page>