.wm-app .btn-pdf{
    background-color: inherit !important;
    border: none !important;
    padding: 5px !important;
}

.wm-app .app-grid.panel {
    padding: 0px !important;
    padding-top: 0px !important;
}

.wm-app .panel-body {
    padding: 1px;
}
.documents-list {
    height: 240px;
    overflow-y: auto !important;
}