<wm-partial data-ng-controller="DocumentPartialPageController" name="partial1">
    <wm-accordion name="accordion1">
        <wm-accordionpane name="accordionpane" title="Documents">
            <wm-list listclass="list-group documents-list" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list" name="DocumentLiveList" dataset="bind:Variables.PlatformPdfData.dataSet" navigation="Basic" on-tap="$event.stopPropagation()">
                <wm-listtemplate layout="inline" name="listtemplate1">
                    <wm-container class="media-body" name="container2">
                        <wm-label class="col-md-3 col-sm-3 col-xs-3" name="Name" caption="bind:Variables.PlatformPdfData.dataSet.pdfTemplate.name" fontunit="em" padding="0.4em unset unset 1.25em"></wm-label>
                        <wm-label padding="0.4em 0.5em unset 0.5em" name="fileName" class="col-md-5 col-sm-5 col-xs-5" caption="bind:Variables.PlatformPdfData.dataSet.data[$i].name"></wm-label>
                        <wm-label class="col-md-2 col-sm-2 col-xs-2" caption="bind:Variables.PlatformPdfData.dataSet.data[$i].createdTimestamp | toDate: 'MM/dd/yy'" fontunit="em" padding="0.4em unset unset 1.25em" name="label2"></wm-label>
                        <wm-anchor name="Link" iconurl="resources/images/imagelists/pdf__1_.png" caption="" target="_blank" hyperlink="bind:getEscapedUrl(item)" iconwidth="25px" iconheight="25px" class="col-md-1 col-sm-1 col-xs-1 btn-default btn-pdf"></wm-anchor>
                        <wm-button class="col-md-1 col-sm-1 col-xs-1 btn-default btn-pdf" caption="" type="button" name="button7" iconclass="" iconurl="resources/images/imagelists/trush.png" on-click="Widgets.deleteBlobFromAzure.open()"></wm-button>
                    </wm-container>
                </wm-listtemplate>
            </wm-list>
        </wm-accordionpane>
    </wm-accordion>
    <wm-view class="dialog-view" name="view1">
        <wm-confirmdialog name="deleteBlobFromAzure" title="Delete Template Document" message="Are you sure you want to delete the template document?" oktext="Delete" canceltext="Cancel" class="delete-dialog" showactions="false" on-ok="Variables.svDeleteBlobFromAzure.invoke()"
            on-cancel="Widgets.deleteBlobFromAzure.close()"></wm-confirmdialog>
    </wm-view>
    <wm-view class="dialog-view" name="view2">
        <wm-pagedialog name="UploadPdfDialog" title="Upload Pdf" oktext="Upload" content="UploadPdf" modal="true" showactions="false" keyboard="false" iconclass="wi wi-insert-drive-file" class="takephoto-modaldialog"></wm-pagedialog>
    </wm-view>
</wm-partial>