<wm-partial data-ng-controller="UploadPdfPageController" name="partial1">
    <wm-container name="container2" horizontalalign="left">
        <wm-label class="col-md-3 control-label" name="label1" caption="File Name" horizontalalign="right" padding="0.5em 1em unset unset" required="true"></wm-label>
        <wm-text name="textFileName" width="50%" required="true"></wm-text>
        <wm-fileupload name="fileupload1" service="FileService" operation="uploadFile" backgroundcolor="#4586ce" caption="Upload Pdf" maxfilesize="20" on-success="fileupload1Success($event, $scope)" mode="Upload" contenttype=".pdf" disabled="bind:!Widgets.textFileName.datavalue"
            margin="2em unset unset 4em" horizontalalign="center"></wm-fileupload>
    </wm-container>
</wm-partial>