.wm-app .takephoto-modaldialog .app-dialog-footer.modal-footer{
    text-align: center;
}
.wm-app .takephoto-modaldialog .btn{
    padding: 6px !important;
}
.wm-app .takephoto-modaldialog input[type="file"]{
    display: inline;
}
.wm-app .takephoto-modaldialog .app-dialog-body.modal-body{
    text-align: center;
    padding-top: 2em;
}
.wm-app .plusminuslayout{
    display: inline !important;
}
.wm-app .plusminuslayout-mobile{
    display: none !important;
}
.wm-app .btn-minus.btn{
    padding: 6px !important;
}
.wm-app .btn-view.btn-trans.btn-tags2.btn-custom-url.btn-tags.btn{
    margin:0px !important;
}

/* Btn Tags Style - Starts */
.btn-tag-unselected {
    background-color: #e2e9f1;
}
.btn-tag-selected {
    background-color: #315984 !important;
    color: #fff !important;
}
.wm-app .btn-custom-url.btn-tags.btn-tag-header.btn-tag-unselected {
    background-color: transparent;
    border: 0px solid transparent !important;
}
.wm-app .btn-custom-url.btn-tags.btn-tag-header.btn-tag-selected {
    background-color: #29E17F !important;
    border: 0px solid transparent !important;
}
/* Btn Tags Style - Ends*/

@media screen and (max-width: 1330px) and (min-width: 400px) and (orientation: landscape){
.wm-app .btn-tags-smalldevice.btn-trans.btn-tags2.btn-custom-url.btn-tags.btn{
    font-size: 0px !important;
    margin-right: 12px !important;
    padding-left: 8px !important;
    padding-right: 8px !important;
}
}
@media screen and (max-width: 1170px) and (min-width: 768px) {
    .wm-app .custom-container.custom-tags.tax-blue-header .firsthalf.col-sm-8{
width:58.333% !important;
}
.wm-app .custom-container.custom-tags.tax-blue-header .secondhalf.col-sm-4{
width:41.667% !important;
}
}

/* Offline Style */
.offline-ui.offline-ui-up .offline-ui-content:before {
 content: &quot;Your computer is connected to the internet.&quot;;
 }