<wm-partial data-ng-controller="TagsPageController" name="partial1">
    <wm-layoutgrid name="TotalTags_layout">
        <wm-gridrow name="gridrow1_1">
            <wm-gridcolumn name="gridcolumn1_1">
                <wm-layoutgrid name="layoutgrid3_1">
                    <wm-gridrow class="custom-container custom-tags tax-blue-header" name="gridrow5_1">
                        <wm-gridcolumn columnwidth="8" name="center_header" horizontalalign="left" class="col-xs-8 firsthalf">
                            <wm-button class="btn-tag-header btn-tags-smalldevice btn-trans btn-tags2 btn-custom-url btn-tags" id="btnReview" caption="Review" on-click="TagChange('Review')" height="100%" iconclass="" iconposition="left" iconurl="resources/images/imagelists/desktop-computer-screen-variant.png"
                                name="button14_1" iconwidth="18px" iconheight="18px"></wm-button>
                            <wm-button class="btn-tag-header btn-tags-smalldevice btn-trans btn-tags2 btn-custom-url btn-tags" id="btnInspect" caption="Inspect" on-click="TagChange('Inspect')" iconurl="resources/images/imagelists/facebook-placeholder-for-locate-places-on-maps.png"
                                iconposition="left" height="100%" name="button15_1" iconwidth="18px" iconheight="18px"></wm-button>
                            <wm-button class="btn-tag-header btn-tags-smalldevice btn-trans btn-tags2 btn-custom-url btn-tags" id="btnCheckCounty" caption="Research" on-click="TagChange('Check County')" iconurl="resources/images/imagelists/countyfinal.png"
                                iconposition="left" height="100%" name="button16_1" iconwidth="18px" iconheight="18px"></wm-button>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn5" class="col-xs-4 secondhalf">
                            <wm-layoutgrid name="Addnote_header">
                                <wm-gridrow name="gridrow4_2">
                                    <wm-gridcolumn name="gridcolumn6_1" horizontalalign="right" columnwidth="NaN">
                                        <wm-popover popoverwidth="240" popoverheight="160" margin="0.5em unset unset 0.5em" iconurl="resources/images/imagelists/AddNotes.png" caption="" contentsource="partial" content="AddNote" horizontalalign="center" popoverplacement="left"
                                            iconposition="top" class="plus-popover" name="popover1" iconwidth="20px" iconheight="20px"></wm-popover>
                                        <wm-picture name="TakePhoto" picturesource="resources/images/imagelists/Camera_Flat.png" shape="rounded" cursor="pointer" on-click="Widgets.TakePhotoDialog.open()" width="20px" height="20px" margin="unset unset unset 1em"></wm-picture>
                                        <wm-container name="plusminuslayout" horizontalalign="center" class="plusminuslayout">
                                            <wm-button id="minus_btn" class="btn-minus" caption="" type="button" margin="unset 0.5em unset unset" name="buttonminus" iconclass="wi wi-minus fa-lg" on-click="buttonminusClick('minus_btn')" horizontalalign="center"></wm-button>
                                            <wm-button id="plus_btn" class="btn-minus" caption="" type="button" margin="unset 0.5em" name="buttonplus" iconclass="wi wi-plus" on-click="buttonminusClick('plus_btn')"></wm-button>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-layoutgrid name="layoutgrid1" class="btn-tags-layout layoutgrid-outerborder" id="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn1">
                            <wm-layoutgrid name="layoutgrid3" class="layoutgrid-tag2">
                                <wm-gridrow name="gridrow3">
                                    <wm-gridcolumn name="gridcolumn7" horizontalalign="center">
                                        <wm-button class="btn-tags" id="btnGood" caption="Good" on-click="TagChange('Good')" name="button5"></wm-button>
                                        <wm-button class="btn-tags" id="btnMeh" caption="Meh" on-click="TagChange('Meh')" name="button6" horizontalalign="center"></wm-button>
                                        <wm-button class="btn-tags" id="btnPoor" caption="Poor" on-click="TagChange('Poor')" name="button7"></wm-button>
                                        <wm-button class="btn-tags" id="btnGone" caption="Gone" on-click="TagChange('Gone')" name="button10"></wm-button>
                                        <wm-button class="btn-tags" id="btnNG" caption="NG" on-click="TagChange('NG')" name="button11"></wm-button>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow4_1">
                                    <wm-gridcolumn name="gridcolumn6" padding=".2em unset unset unset" horizontalalign="center">
                                        <wm-button class="btn-tags" id="btnForSale" caption="For Sale" on-click="TagChange('For Sale')" name="button12"></wm-button>
                                        <wm-button class="btn-tags" id="btnVacant" caption="Vacant" on-click="TagChange('Vacant')" name="button19"></wm-button>
                                        <wm-button class="btn-tags" id="btnBoarded" caption="Boarded" on-click="TagChange('Boarded')" name="button9"></wm-button>
                                        <wm-button class="btn-tags" id="btnDivided" caption="Divided" on-click="TagChange('Divided')" name="button13"></wm-button>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow4">
                                    <wm-gridcolumn name="gridcolumn7" columnwidth="12" padding=".2em unset unset unset" horizontalalign="center">
                                        <wm-button class="btn-tags" id="btnBuildingCourt" caption="BV Court" on-click="TagChange('Building Court')" name="button15"></wm-button>
                                        <wm-button class="btn-tags" id="btnTaxValueIssue" caption="Tax/Val Issue" on-click="TagChange('Tax/Value Issue')" name="button14"></wm-button>
                                        <wm-button class="btn-tags" id="btnDemoOrder" caption="Demo Order" on-click="TagChange('Demo Order')" name="button17"></wm-button>
                                        <wm-button class="btn-tags" id="btnDemoLien" caption="Demo Lien" on-click="TagChange('Demo Lien')" name="button16"></wm-button>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
    <wm-view class="dialog-view" name="view1">
        <wm-pagedialog name="TakePhotoDialog" title="Take Photo" iconclass="wi wi-camera-enhance" content="TakePhoto" oktext="Upload" disabled="bind:Widgets.TakePhotoDialog.selecteditem.length === 0" class="takephoto-modaldialog" showactions="false" modal="true"
            keyboard="false"></wm-pagedialog>
    </wm-view>
    <wm-container name="AddNoteContainerHidden" show="false"></wm-container>
</wm-partial>