<wm-page data-ng-controller="AddEditInterestTypePageController" pagetitle="Add Edit Interest Type" name="page1"> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-livefilter title="Interest Type" dataset="bind:Variables.PlatformInterestTypeData.dataSet" captionalign="left" captionposition="left" name="livefilter2" show="true" class="buyer-header" iconclass="" expanded="true"> 
                <wm-layoutgrid columns="2" name="layoutgrid2"> 
                    <wm-gridrow name="gridrow3"> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn3"> 
                            <wm-filter-field name="code" field="code" displayname="Code" widget="text" is-range="false" type="string" is-primary-key="true" generator="assigned" show="true" inputtype="text" key="code" placeholder="Enter value" matchmode="start"></wm-filter-field> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn4"> 
                            <wm-filter-field name="name" field="name" displayname="Name" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="name" placeholder="Enter value" matchmode="start"></wm-filter-field> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
                <wm-filter-action key="filter" display-name="Filter" show="true" class="btn-primary" iconclass="wi wi-filter-list" title="Filter" action="filter()" disabled="false" type="button"></wm-filter-action> 
                <wm-filter-action key="clear" display-name="Clear" show="true" class="btn-secondary" iconclass="wi wi-cancel" title="Clear" action="clearFilter()" disabled="false" type="button"></wm-filter-action> 
            </wm-livefilter> 
            <wm-livetable formlayout="dialog" name="livegrid1"> 
                <wm-table gridfirstrowselect="true" editmode="dialog" title="" dataset="bind:Widgets.livefilter2.result" navigation="Classic" name="grid1"> 
                    <wm-table-column binding="code" caption="Code" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" primary-key="true"></wm-table-column> 
                    <wm-table-column binding="name" caption="Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column> 
                    <wm-table-column binding="_order" caption="Order" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-table-column> 
                    <wm-table-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-table-action> 
                    <wm-table-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-table-row-action> 
                    <wm-table-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-table-row-action> 
                </wm-table> 
                <wm-liveform novalidate="false" errormessage="" title="Add Interest Type" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Widgets.livefilter2.result" captionalign="left" captionposition="left" name="liveform1"> 
                    <wm-layoutgrid columns="1" name="layoutgrid2_1"> 
                        <wm-gridrow name="gridrow2"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn3_1"> 
                                <wm-form-field name="code" displayname="Code" required="true" show="true" generator="assigned" primary-key="true" key="code" type="string" is-related="false" maxchars="4" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow3_1"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn4_1"> 
                                <wm-form-field name="name" displayname="Name" required="true" show="true" generator="assigned" primary-key="false" key="name" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow4"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn5"> 
                                <wm-form-field name="order" displayname="Order" required="true" show="true" generator="assigned" primary-key="false" key="_order" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                    <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action> 
                    <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action> 
                </wm-liveform> 
            </wm-livetable> 
        </wm-page-content> 
    </wm-content> 
</wm-page>