<wm-partial data-ng-controller="AddNotePageController" name="partial1"> 
    <wm-form class="pop-form" captionposition="top" title="" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.supportedLocale.dataSet" captionalign="left" name="form1" on-submit="Variables.svAddNote.invoke()"> 
        <wm-layoutgrid name="layoutgrid2" class="popover-bg"> 
            <wm-gridrow name="gridrow3"> 
                <wm-gridcolumn columnwidth="12" name="gridcolumn5"> 
                    <wm-composite name="composite3" width="100%"> 
                        <wm-container class="col-md-12 popover-container-custom" name="container3"> 
                            <wm-textarea name="Note" placeholder="Add a note" class="popover-textarea" width="100%" required="true" autofocus="true"></wm-textarea> 
                        </wm-container> 
                    </wm-composite> 
                </wm-gridcolumn> 
            </wm-gridrow> 
            <wm-gridrow name="gridrow4"> 
                <wm-gridcolumn columnwidth="12" name="gridcolumn7" horizontalalign="center"> 
                    <wm-button class="btn-primary popover-btn" caption="Add Note" type="submit" margin="unset 0.5em" name="AddNoteBtn" width="50%"></wm-button> 
                </wm-gridcolumn> 
            </wm-gridrow> 
        </wm-layoutgrid> 
    </wm-form> 
</wm-partial>