.pop-form{
    margin-bottom: 0px !important;
         background-color: inherit !important; 
     border: none !important; 
    border-radius: 0;
     box-shadow: none !important; 
     }
     
/*.popover-textarea{*/
/*    margin: 1em !important;*/
/*    border: 1px solid #4586ce !important;*/
/*}*/
/*.popover-btn{*/
/*    padding: 0px !important;*/
/*}*/