<wm-partial data-ng-controller="LegalPageController" name="partial1">
    <wm-layoutgrid name="bin_header">
        <wm-gridrow name="gridrow11">
            <wm-gridcolumn columnwidth="12" name="gridcolumn36" padding=".5em unset unset unset" class="taxes bal-text" horizontalalign="left">
                <wm-label caption="Legal" fontweight="bold" name="label21" color="#2c65a8" fontsize="13" class="title_tab" horizontalalign="left" show="false"></wm-label>
                <wm-label caption="Matter" class="legal-content" name="label21_1" fontsize="12" color="#2c65a8" fontweight="bold"></wm-label>
                <wm-button caption="create matter" type="button" horizontalalign="right" class="btn-update pull-right title_tab title-tab1" iconposition="right" color="#2c65a8" fontweight="bold" fontsize="12" iconclass="wi wi-create" show="bind:Variables.svQryLegalDetails.firstRecord.id == undefined"
                    name="button3" on-click="button3Click($event, $scope)"></wm-button>
                <wm-button caption="close case" type="button" horizontalalign="right" class="btn-update pull-right title_tab title-tab1" iconposition="right" color="#2c65a8" fontweight="bold" fontsize="12" iconclass="fa fa-close" show="bind:Variables.svQryLegalDetails.firstRecord.id != undefined"
                    name="button4" iconwidth="13px" iconheight="13px" on-click="Widgets.confirmdialog1.open()"></wm-button>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
    <wm-layoutgrid name="layoutgridLegal" class="tax-year-grid layoutgridlegal">
        <wm-gridrow name="gridrow3">
            <wm-gridcolumn name="gridcolumn1">
                <wm-layoutgrid name="layoutgrid3">
                    <!--<wm-gridrow name="gridrow4" class="tax-grid-content">-->
                    <!--    <wm-gridcolumn columnwidth="6" name="gridcolumn14">-->
                    <!--        <wm-label caption="Attorney" name="label9" class="legal-content"></wm-label>-->
                    <!--    </wm-gridcolumn>-->
                    <!--    <wm-gridcolumn columnwidth="6" name="gridcolumn12">-->
                    <!--        <wm-label caption="bind:Variables.svQryLegalDetails.dataSet[$i].user" class="for-bold tax-columns" name="label22"></wm-label>-->
                    <!--    </wm-gridcolumn>-->
                    <!--</wm-gridrow>-->
                    <wm-gridrow name="gridrow9_1" class="tax-grid-content">
                        <wm-gridcolumn columnwidth="5" name="gridcolumn16" class="col-xs-5">
                            <wm-label caption="Court Case #" name="label11" class="legal-content"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="7" name="gridcolumn13" class="col-xs-7">
                            <wm-label caption="bind:Variables.svQryLegalDetails.dataSet[$i].matter_number" class="bold for-bold tax-columns" name="label23_1"></wm-label>
                            <wm-button caption="" type="button" horizontalalign="right" class="btn-update pull-right title_tab title-tab1" iconposition="right" color="#2c65a8" fontweight="bold" fontsize="12" iconclass="" show="bind:Variables.svQryLegalDetails.firstRecord.id != undefined"
                                on-click="UpdateCasebtnClick($event, $scope)" name="UpdateCasebtn" iconurl="resources/images/imagelists/edit.png" iconwidth="15px" iconheight="15px"></wm-button>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow10" class="tax-grid-content">
                        <wm-gridcolumn columnwidth="5" name="gridcolumn17" class="col-xs-5">
                            <wm-label caption="Petition" name="label13" class="legal-content"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="7" name="gridcolumn14_1" class="col-xs-7">
                            <wm-label caption="bind:'filed on <b>' + (Variables.svQryLegalDetails.dataSet[$i].filed_date | toDate: 'MM/dd/yy') + '</b>'" class="for-bold tax-columns" name="label24" fontweight="bold"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow11_1" class="tax-grid-content">
                        <wm-gridcolumn columnwidth="5" name="gridcolumn18_1" class="col-xs-5">
                            <wm-label caption="Last Work Day" name="label15" class="legal-content"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="7" name="gridcolumn15" class="col-xs-7">
                            <wm-label caption="bind:'<b>' + (Variables.svQryLegalDetails.dataSet[$i].last_work_date | toDate: 'MM/dd/yy') + '</b>'" class="for-bold tax-columns" name="label25" fontweight="bold"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow12" class="tax-grid-content">
                        <wm-gridcolumn columnwidth="5" name="gridcolumn19_1" class="col-xs-5">
                            <wm-label caption="1st Court" class="legal-content" name="label18_2"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="7" name="gridcolumn16_1" class="col-xs-7">
                            <wm-label caption="bind:'<b>' + (Variables.svQryLegalDetails.dataSet[$i].initial_court_date | toDate: 'MM/dd/yy') + '</b>'" class="for-bold tax-columns" name="courtDate" fontweight="bold"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow13" class="tax-grid-content">
                        <wm-gridcolumn columnwidth="5" name="gridcolumn20" class="col-xs-5">
                            <wm-label caption="Dismissed" name="label19" class="legal-content"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="7" name="gridcolumn17_1" class="col-xs-7">
                            <wm-label caption="bind:'<b>' + (Variables.svQryLegalDetails.dataSet[$i].closed_date | toDate: 'MM/dd/yy') + '</b>'" class="for-bold tax-columns" name="label27" fontweight="bold"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
    <wm-view class="dialog-view view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" name="UpdateCaseDialog" title="Add/Update Matter" class="custom-design-dialog custom-design-dialog-legal" iconclass="" on-opened="UpdateCaseDialogOpened($event, $scope)">
            <wm-form captionposition="top" name="formCaseDetails" backgroundcolor="rgba(0, 0, 0, 0)" on-submit="formCaseDetailsSubmit($event, $scope, $formData)">
                <wm-container name="container9">
                    <wm-layoutgrid name="layoutgrid14">
                        <wm-container name="container9_1" show="true">
                            <wm-gridrow name="gridrow33">
                                <!--<wm-gridcolumn columnwidth="6" name="gridcolumn52">-->
                                <!--    <wm-label padding="unset 0.5em" name="label24" caption="Certificate ID:" class="dialog-property-header"></wm-label>-->
                                <!--    <wm-label padding="unset 0.5em" name="labelCertificateID" caption="bind:Variables.svQryLegalDetails.dataSet[$i].certificate_id"></wm-label>-->
                                <!--</wm-gridcolumn>-->
                                <wm-gridcolumn columnwidth="12" name="gridcolumn64" horizontalalign="center">
                                    <wm-label padding="unset 0.5em" name="label26" class="dialog-property-header" caption="Matter ID :"></wm-label>
                                    <wm-label padding="unset 0.5em" name="labelMatterID" caption="bind:Variables.svQryLegalDetails.dataSet[$i].id"></wm-label>
                                    <wm-label padding="unset 0.5em" caption="bind:Variables.svQryLegalDetails.dataSet[$i].certificate_id" name="labelCertificateID" show="false"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-container>
                        <!--<wm-gridrow name="gridrow15">-->
                        <!--    <wm-gridcolumn columnwidth="5" name="gridcolumn27">-->
                        <!--        <wm-label padding="unset 0.5em" caption="Expiration Date" class="dialog-property-header legal-left-popup" name="label21"></wm-label>-->
                        <!--    </wm-gridcolumn>-->
                        <!--    <wm-gridcolumn columnwidth="7" name="gridcolumn28">-->
                        <!--        <wm-date datepattern="MM/dd/yyyy" outputformat="yyyy-MM-dd" datavalue="bind:Widgets.container17.Widgets.labelExpiration.caption" required="true" name="dateExpiration"></wm-date>-->
                        <!--    </wm-gridcolumn>-->
                        <!--</wm-gridrow>-->
                        <wm-gridrow name="gridrow16_1" class="row-height-top-legal">
                            <wm-gridcolumn columnwidth="5" name="gridcolumn31_2">
                                <wm-label padding="unset 0.5em" caption="Case Number" class="dialog-property-header legal-left-popup" name="label24_2" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="7" name="gridcolumn32_1">
                                <wm-text type="text" placeholder="Case Number" required="true" name="textCaseNumber" datavalue="bind:Variables.svQryLegalDetails.dataSet[$i].matter_number" width="76%" readonly="false" disabled="false" tabindex="1"></wm-text>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow17" class="row-height-top-legal">
                            <wm-gridcolumn columnwidth="5" name="gridcolumn33">
                                <wm-label padding="unset 0.5em" caption="Date Filed" class="dialog-property-header legal-left-popup" name="label25_1" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="7" name="gridcolumn34">
                                <wm-container width="76%" name="container3">
                                    <wm-date datepattern="MM/dd/yyyy" outputformat="yyyy-MM-dd" datavalue="bind:Variables.svQryLegalDetails.dataSet[$i].filed_date" required="true" name="dateCaseFiled" readonly="false" disabled="false" tabindex="2"></wm-date>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow18" class="row-height-top-legal">
                            <wm-gridcolumn columnwidth="5" name="gridcolumn35_1">
                                <wm-label padding="unset 0.5em" caption="1st Court" class="dialog-property-header legal-left-popup" name="label26_2" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="7" name="gridcolumn36_1">
                                <wm-container width="76%" name="container3">
                                    <wm-date datepattern="MM/dd/yyyy" outputformat="yyyy-MM-dd" datavalue="bind:Variables.svQryLegalDetails.dataSet[$i].initial_court_date" required="true" name="dateCourt" disabled="false" readonly="false" tabindex="3"></wm-date>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow18_1">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn32">
                                <wm-container name="container6" show="bind:Variables.svQryLegalDetails.dataSet[$i].id == undefined">
                                    <wm-gridrow name="gridrow16" class="row-height-top-legal">
                                        <wm-gridcolumn columnwidth="5" name="gridcolumn27">
                                            <wm-label name="label22" caption="Filling Cost" class="dialog-property-header legal-left-popup" show="true" required="true"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" name="gridcolumn28">
                                            <wm-text type="text" placeholder="Filling Cost" required="bind:Variables.svQryLegalDetails.dataSet[$i].id == undefined" width="76%" readonly="false" disabled="false" show="true" name="textFillingCost" datavalue="bind:Variables.svCountyCostDetails.dataSet[$i].filing_cost"
                                                tabindex="4"></wm-text>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow17_1" class="row-height-top-legal">
                                        <wm-gridcolumn columnwidth="5" name="gridcolumn29">
                                            <wm-label caption="Filling Revenue" class="dialog-property-header legal-left-popup" show="true" name="label23" required="true"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" name="gridcolumn30">
                                            <wm-text type="text" placeholder="Filling Revenue" required="bind:Variables.svQryLegalDetails.dataSet[$i].id == undefined" width="76%" readonly="false" disabled="false" show="true" name="textFillingRevenue" datavalue="bind:Variables.svCountyCostDetails.dataSet[$i].filing_revenue"
                                                tabindex="5"></wm-text>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow19_1">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn33_1">
                                <wm-container name="container7" show="bind:Variables.svQryLegalDetails.dataSet[$i].id != undefined">
                                    <wm-gridrow name="gridrow19" class="row-height-top-legal">
                                        <wm-gridcolumn columnwidth="5" name="gridcolumn37">
                                            <wm-label caption="Dismissal Date" class="dialog-property-header legal-left-popup" name="label27_1" show="true"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" name="gridcolumn38">
                                            <wm-container width="76%" name="container4">
                                                <wm-date datepattern="MM/dd/yyyy" outputformat="yyyy-MM-dd" datavalue="bind:Variables.svQryLegalDetails.dataSet[$i].closed_date" required="false" name="dateDismissal" readonly="false" disabled="false" show="true"
                                                    tabindex="4"></wm-date>
                                            </wm-container>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-container>
                <!--<wm-dialogactions name="dialogactions1" show="true" class="view">-->
                <!--    <wm-button class="btn-primary" caption="Save" name="saveCaseDetailsBtn" on-click="saveCaseDetailsBtnClick($event, $scope)"></wm-button>-->
                <!--</wm-dialogactions>-->
                <wm-layoutgrid name="layoutgrid7">
                    <wm-gridrow name="gridrow13">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn21_1" horizontalalign="center" padding="2em unset unset unset">
                            <wm-button type="submit" class="form-save btn-primary update-btn" caption="Save" name="saveCaseDetailsBtn" show="bind:Variables.svQryLegalDetails.dataSet[$i].id == undefined"></wm-button>
                            <wm-button class="form-save btn-primary update-btn" caption="SAVE" type="submit" margin="unset 0.5em" name="saveCaseDetailsBtn1" show="bind:Variables.svQryLegalDetails.dataSet[$i].id != undefined"></wm-button>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
    <wm-container name="legalGeneratePdfContainer" show="false"></wm-container>
    <wm-spinner show="false" name="spinnerCloseCase"></wm-spinner>
    <wm-view class="dialog-view" name="view2">
        <wm-confirmdialog name="confirmdialog1" message="Are you sure you want to close the case?" on-ok="Variables.svQryCloseMatter.invoke();confirmdialog1Ok($event, $scope)" on-cancel="Widgets.confirmdialog1.close()"></wm-confirmdialog>
    </wm-view>
</wm-partial>