.legal-content{
    padding-left:0.5em !important;
    padding-right:0.5em !important;
}
.wm-app .custom-design-dialog-legal.modal-dialog{
    width: 450px !important;
}
.row-height-top-legal{
    padding-top:1em !important;
}
.legal-left-popup{
    padding-top: 6px !important;
}
.wm-app .tax-year-grid .tax-grid-content .legal-content{
    margin-bottom: 8px !important;
}
.layoutgridlegal{
    padding-top: 1em !important;
}