.wm-app .tab-custom-service .tab-content .tab-body{
    padding: 0px !important;
}
.wm-app .media-body .app-label{
    margin-bottom:0px !important;
}
.wm-app .add-transaction-btn{
    position: absolute;
    right:0;
        z-index: 11;
    background-color: inherit;
    border: none;
}
.wm-app .add-transaction-btn.btn.app-button{
    padding: 3px !important;
}
.wm-app .tab-btn{
    position: absolute;
    right:0;
    margin-bottom: 1em !important;
}
.wm-app .tab-custom-service .add-transaction-btn:hover{
    background-color: none !important;
    
}
.wm-app .tab-custom-service .add-transaction-btn:focus{
    outline: none !important;
}
.wm-app .nav-tabs > .tab-header > a{
    padding : 8px !important;
    height: 35px !important;
}
.wm-app .service-addtransaction-popup-padding{
    padding: 0.8em !important;
}
.wm-app .app-dialog-form.disburse-form{
    margin-bottom: 0px !important;
}
.wm-app .gridrow_bg-color-service-popup{
     background-color: #cbcbcb !important;
}

/*from main page*/


.search-btn{
    background-color: inherit !important;
padding: 4px !important;
    padding-right: 12px !important;
    color: #fff !important;
}
.search-btn.search-btn1{
     padding-left: 10px !important;
}
.search-btn.filter-btn.filter-btn1{
        padding-right: 20px !important;
    padding-top: 2px !important;
}
@media screen and (min-width:1800px){
    .search-btn.filter-btn.filter-btn1{
        padding-right: 40px !important;
    padding-top: 2px !important;
}
}
@media screen and (min-width:1600px) and (max-width:1799px){
    .search-btn.filter-btn.filter-btn1{
        padding-right: 30px !important;
    padding-top: 2px !important;
}
}
.search-btn.search-btn1{
     padding-left: 10px !important;
}
.search-box{
    border-radius: 20px !important;
    color: #fff !important;
    padding-left:15px !important;
    padding-right: 30px !important;
}
.personal-info{
    /*padding-top: .6em !important;*/
}
.filter-btn-2{
        padding-top: 0px !important;
}
.filter-btn1{
        position: absolute;
    /* left: 0px; */
    right: 0px;
    color: #333 !important;
}
.filter-btn1.filter-custom.filter-padding{
    /*padding-right:20px !important;*/
}
@media (min-width:1800px){
    .filter-btn1.filter-custom.filter-padding{
    padding-right:30px !important;
}
}
@media (min-width:1600px) and (max-width:1799px){
    .filter-btn1.filter-custom.filter-padding{
    padding-right:25px !important;
}
} 
@media (min-width:768px) and  (max-width:1024px) and (orientation: landscape){
    .filter-btn1.filter-custom.filter-padding{
    padding-right:16px !important;
}
}
.resetfilter .fa-lg{
    vertical-align: 0% !important;
}
.filter-btn1.filter-custom{
    /*left:0px;*/
    padding: 6px !important;
    padding-top: 0px !important;
}
.search-box.searchbox-address{
    color: #fff !important;
}
.searchbox-address{
    display: inline-block !important;
    color: #fff !important;
}
.Filterlayoutgrid{
    /*border: 1px solid rgba(0,0,0,0.2);*/
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
    padding: 6px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

/*.search-btn{*/
/*    background-color: inherit !important;*/
/*    padding: 0px !important;*/
/*    color: #333 !important;*/
/*}*/
/*.search-btn.search-btn1{*/
/*     padding-left: 10px !important;*/
/*}*/
/*.search-box{*/
/*    border-radius: 20px !important;*/
/*}*/
/*.personal-info{*/
/*}*/
/*.filter-btn1{*/
/*        position: absolute;*/
/*    right: 0px;*/
/*    color: #333 !important;*/
/*}*/
/*.searchbox-address{*/
/*    display: inline-block !important;*/
/*}*/
/*.Filterlayoutgrid{*/
/*    border: 1px solid rgba(0,0,0,0.2);*/
/*    box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
/*    padding:6px;*/
/*}*/