<wm-page name="page1" data-ng-controller="servicePageController" pagetitle="Newline Portal - Service">
    <wm-spinner show="false" name="spCloseCase" caption="Closing the case..."></wm-spinner>
    <wm-header name="header1" content="header"></wm-header>
    <wm-content name="content">
        <wm-page-content name="mainContent" class="main-content-fixed" columnwidth="12" padding="unset 0px 0px 0px">
            <wm-layoutgrid name="layoutgrid2">
                <wm-gridrow name="gridrow5">
                    <wm-gridcolumn columnwidth="2" name="gridcolumn5" class="portrait-leftpanel left-panel-fixed">
                        <wm-container name="LeftPanel" class="AllContentRightTile">
                            <wm-layoutgrid name="LeftPanel_11" padding="1em 1em unset 1em" class="personal-info" show="true">
                                <wm-gridrow name="gridrow12">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn15">
                                        <wm-composite name="composite1" class="address">
                                            <wm-label class="col-md-3 control-label" name="label5" show="false"></wm-label>
                                            <wm-container class="col-md-12" name="container2">
                                                <wm-layoutgrid name="layoutgrid3_2">
                                                    <wm-gridrow name="gridrow4">
                                                        <wm-gridcolumn columnwidth="9" name="gridcolumn5_1" class="address">
                                                            <wm-composite class="col-md-12" name="composite2_1">
                                                                <wm-text name="Search" class="search-box searchbox-address col-md-9" placeholder="Address or ID" on-keypress="SearchKeypress($event, $scope)" updateon="default" datavalue="bind:pageParams.search" backgroundcolor="#9B9B9B" on-focus="SearchFocus($event, $scope)"></wm-text>
                                                                <wm-button caption="" type="button" name="filterbtn" class="cursor-pointer filter-btn filter-btn1 filter-btn-2 filter-custom filter-padding" on-click="toggleFilter()" iconposition="right" id="filterwhite" showindevice="all" iconclass="wi wi-search fa-lg"
                                                                    show="true" iconurl="resources/images/imagelists/filter-white.png" iconwidth="14px" iconheight="14px"></wm-button>
                                                            </wm-composite>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="3" name="gridcolumn4" padding="3px unset unset 25px" class="filtercolumn">
                                                            <wm-button type="button" caption="" color="#333" class="cursor-pointer  search-btn filter-btn filter-btn1" name="btnsearch" textalign="left" iconclass="" on-click="SearchBtnClick($event, $scope);btnsearchClick($event, $scope)" iconurl="resources/images/imagelists/search-black.png"
                                                                iconwidth="14px" iconheight="14px"></wm-button>
                                                            <wm-button class="cursor-pointer filter-btn filter-btn1 filter-btn-2 filter-custom resetfilter" type="button" caption="" name="ClearBtn" on-click="ClearBtnClick($event, $scope)" iconclass="wi wi-clear fa-lg" margin="5px" width="40%"></wm-button>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-layoutgrid>
                                            </wm-container>
                                        </wm-composite>
                                        <wm-layoutgrid name="FilterLayoutGrid" show="false" class="Filterlayoutgrid">
                                            <wm-gridrow name="gridrow7">
                                                <wm-gridcolumn name="gridcolumn9">
                                                    <wm-layoutgrid name="layoutgrid6_1">
                                                        <wm-gridrow name="gridrow6_1">
                                                            <wm-gridcolumn name="gridcolumn6_1" columnwidth="6">
                                                                <wm-composite name="composite16">
                                                                    <wm-label class="col-md-3 control-label" show="false" name="label7_1"></wm-label>
                                                                    <wm-container class="col-md-12" name="container27" padding="unset .3em unset unset">
                                                                        <wm-select name="State" placeholder="State" dataset="bind:Variables.svQryState.dataSet" datafield="All Fields" displayfield="state" on-change="Variables.svQryCounty.invoke()" orderby="state:asc"></wm-select>
                                                                    </wm-container>
                                                                </wm-composite>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="6" name="gridcolumn7">
                                                                <wm-composite name="composite3">
                                                                    <wm-label class="col-md-3 control-label" show="false" name="label7"></wm-label>
                                                                    <wm-container class="col-md-12" name="container4">
                                                                        <wm-select dataset="bind:Variables.svQryCounty.dataSet" datafield="county_name" placeholder="County" displayfield="county_name" name="County" orderby="county_name:asc"></wm-select>
                                                                    </wm-container>
                                                                </wm-composite>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                    <wm-composite name="composite4">
                                                        <wm-label class="col-md-3 control-label" show="false" name="label8"></wm-label>
                                                        <wm-container class="col-md-12" name="container5_1">
                                                            <wm-select dataset="bind:Variables.svTaxYear.dataSet" datafield="tax_year" placeholder="Tax Year" displayfield="tax_year" name="TaxYear"></wm-select>
                                                        </wm-container>
                                                    </wm-composite>
                                                    <wm-composite name="composite9" class="property">
                                                        <wm-label class="col-md-12 control-label label-whitebg" show="true" name="label8" caption="Status"></wm-label>
                                                        <wm-container class="col-md-12 custom-checkbox" name="container5_1">
                                                            <wm-checkboxset height="80px" name="CertificateStatus" dataset="bind:Variables.svCertificateStatus.dataSet" datafield="Status" displayfield="Status" orderby="Status:asc" class="filter-field-border"></wm-checkboxset>
                                                        </wm-container>
                                                    </wm-composite>
                                                    <wm-layoutgrid name="layoutgrid4" class="filter-field-space-2">
                                                        <wm-gridrow name="gridrow6">
                                                            <wm-gridcolumn columnwidth="4" name="gridcolumn10">
                                                                <wm-composite name="composite14">
                                                                    <wm-label class="col-md-3 control-label" show="false" name="label17"></wm-label>
                                                                    <wm-container class="col-md-12" name="container15">
                                                                        <wm-select dataset="<=,>=,=" placeholder="" name="ExpirationDateOperator" datavalue="

                                                                <="></wm-select>
                                                                    </wm-container>
                                                                </wm-composite>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="8" name="gridcolumn11">
                                                                <wm-composite name="composite9_1">
                                                                    <wm-label class="col-md-3 control-label" name="label16" show="false"></wm-label>
                                                                    <wm-container class="col-md-12" name="container19">
                                                                        <wm-select name="ExpirationDate" dataset="bind:Variables.svQryCertificateExpirationDate.dataSet" datafield="expiration_date" placeholder="Expiration Date

" displayexpression="bind:expiration_date | toDate: 'MM/dd/yyyy'"></wm-select>
                                                                    </wm-container>
                                                                </wm-composite>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                    <wm-layoutgrid name="layoutgrid23">
                                                        <wm-gridrow name="gridrow42">
                                                            <wm-gridcolumn columnwidth="4" name="gridcolumn67_1">
                                                                <wm-composite name="composite11">
                                                                    <wm-label class="col-md-3 control-label" show="false" name="label30"></wm-label>
                                                                    <wm-container class="col-md-12" name="container38_1">
                                                                        <wm-select dataset="=,<>" placeholder="" datavalue="=" name="TagOperator"></wm-select>
                                                                    </wm-container>
                                                                </wm-composite>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="8" name="gridcolumn68">
                                                                <wm-composite name="composite12">
                                                                    <wm-label class="col-md-3 control-label" show="false" name="label31"></wm-label>
                                                                    <wm-container class="col-md-12" name="container39">
                                                                        <wm-select dataset="bind:Variables.svQryTags.dataSet" placeholder="Tag" datafield="name" displayfield="name" orderby="name:desc" name="Tag"></wm-select>
                                                                    </wm-container>
                                                                </wm-composite>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                    <wm-layoutgrid name="layoutgrid9">
                                                        <wm-gridrow name="gridrow10_3">
                                                            <wm-gridcolumn name="gridcolumn14_3" padding="unset unset .5em unset" horizontalalign="center">
                                                                <wm-button class="btn-apply btn-primary" type="button" caption="Search" name="SearchBtn" on-click="SearchBtnClick($event, $scope);btnsearchClick($event, $scope)" margin="5px" width="40%"></wm-button>
                                                                <wm-button class="btn-clear-filter" type="button" caption="clear" name="ClearBtn" on-click="ClearBtnClick($event, $scope)" iconclass="wi wi-clear fa-lg" margin="5px" width="40%"></wm-button>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-layoutgrid name="layoutgrid7" class="pagination-custom">
                                <wm-gridrow name="gridrow10">
                                    <wm-gridcolumn name="gridcolumn14_1" horizontalalign="center" class="pagination-arrows">
                                        <wm-layoutgrid name="layoutgrid9">
                                            <wm-gridrow name="gridrow9">
                                                <wm-gridcolumn columnwidth="4" class="col-xs-4" name="gridcolumn12">
                                                    <wm-button class="btn-default btn-arrow btn-arrow-bg" caption="" type="button" iconclass="wi wi-angle-double-left fa-lg" on-click="PreviousPageClick($event, $scope)" disabled="true" name="PreviousPage" iconurl="resources/images/imagelists/back.png" iconwidth="14px"
                                                        iconheight="14px"></wm-button>
                                                    <wm-button class="btn-default btn-arrow btn-arrow-bg" caption="" type="button" name="PreviousRecord" iconclass="wi wi-keyboard-arrow-left fa-2x" on-click="PreviousRecordClick($event, $scope)" disabled="true" iconurl="resources/images/imagelists/left-arrow.png"
                                                        iconwidth="14px" iconheight="14px"></wm-button>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" class="col-xs-4  recordnumbers" name="gridcolumn12">
                                                    <wm-label name="CurrentRecordIndex" caption="0" fontsize="16" fontweight="bold" horizontalalign="center"></wm-label>
                                                    <wm-label caption="/&amp;nbsp;" fontsize="16" fontweight="bold" horizontalalign="center" name="RecordIndexSeparator"></wm-label>
                                                    <wm-label caption="bind:Variables.qryPortalServiceFilter.dataSet[0].total_count || 0" fontsize="16" fontweight="bold" horizontalalign="center" name="TotalRecordsIndex"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" class="col-xs-4" name="gridcolumn12">
                                                    <wm-button class="btn-default btn-arrow btn-arrow-bg" caption="" type="button" name="NextRecord" iconclass="wi wi-keyboard-arrow-right fa-2x" on-click="NextRecordClick($event, $scope)" disabled="true" iconwidth="14px" iconheight="14px" iconurl="resources/images/imagelists/right-arrow.png"></wm-button>
                                                    <wm-button class="btn-default btn-arrow btn-arrow-bg" caption="" type="button" iconclass="wi wi-angle-double-right fa-lg" on-click="NextPageClick($event, $scope)" disabled="true" name="NextPage" iconurl="resources/images/imagelists/next.png" iconwidth="14px"
                                                        iconheight="14px"></wm-button>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list list-template personal-info" dataset="bind:Variables.qryPortalServiceFilter.dataSet

" name="SearchResultLiveList" datafield="All Fields" on-click="SearchResultLiveListClick($event, $scope)" selectfirstitem="false" selectionlimit="1">
                                <wm-listtemplate layout="inline" name="listtemplate2" class="list-template">
                                    <wm-container class="media-body" padding="unset unset unset 1.25em" name="container5">
                                        <wm-label name="AddressLineLabel" class="h5 media-heading" caption="bind:item.address_line1" fontunit="em" whitespace="normal"></wm-label>
                                        <wm-label name="PinLabel" caption="bind:item.pin" class="p text-muted" whitespace="nowrap"></wm-label>
                                        <wm-label name="CertNumberLabel" caption="bind:item.certificate_number" class="p text-muted" whitespace="nowrap"></wm-label>
                                    </wm-container>
                                </wm-listtemplate>
                            </wm-list>
                        </wm-container>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="10" name="gridcolumn6" horizontalalign="left" class="portrait-rightpanel">
                        <wm-anchor margin="unset 0em" name="anchor2" iconclass="wi wi-angle-double-right fa-lg" caption="" on-click="anchor2Click($event, $scope)" fontsize="12" show="false" color="#000" borderwidth="1px" borderstyle="solid" bordercolor="#000"></wm-anchor>
                        <wm-anchor margin="unset 0em" fontsize="12" iconclass="wi wi-angle-double-left fa-lg" caption="" on-click="anchor3Click($event, $scope)" name="anchor3" color="#000" borderwidth="1px" borderstyle="solid" bordercolor="#000"></wm-anchor>
                        <wm-container name="MainSectionLabel" show="bind:(!Widgets.SearchResultLiveList.dataset || Widgets.SearchResultLiveList.dataset.length==0 )" horizontalalign="center" on-click="MainSectionLabelClick($event, $isolateScope)">
                            <wm-picture name="mainpic" picturesource="resources/images/imagelists/empty.png" margin="4em unset unset unset"></wm-picture>
                            <wm-label name="label21" width="100%" caption="No Results!" fontsize="38" color="#D0D0D0" margin="1em unset unset unset"></wm-label>
                            <wm-label name="label22_1" width="100%" caption="Please update your search ..." fontsize="16" color="#828282" margin="1em unset unset unset"></wm-label>
                        </wm-container>
                        <wm-container name="AllContentRightTile" class="AllContentRightTile" show="bind:(Widgets.SearchResultLiveList.dataset &amp;&amp; Widgets.SearchResultLiveList.dataset.length> 0)" on-click="AllContentRightTileClick($event, $isolateScope)">
                            <wm-tile name="all-content-tile" show="bind:(Widgets.SearchResultLiveList.dataset &amp;&amp; Widgets.SearchResultLiveList.dataset.length> 0)">
                                <wm-container name="container13" content="PropertyInfoHeader" class="property-header-container">
                                    <wm-param name="Property_Id" value="bind:Widgets.SearchResultLiveList.selecteditem.property_id" type="integer"></wm-param>
                                </wm-container>
                                <wm-container name="container38">
                                    <wm-anchor margin="0.8em 0.5em unset 0.5em" name="anchor1" class="pull-right" caption="View on Buy" color="#2c65a8" textdecoration="underline" hyperlink="bind:&quot;#/Main?search=&quot;+Variables.svQryPortalCertificateDataById.firstRecord.property_id"
                                        fontweight="bold"></wm-anchor>
                                    <wm-label name="label18" caption="bind:Widgets.SearchResultLiveList.selecteditem.certificate_number +&quot; &quot; + &quot; (&quot; + Variables.svQryPortalCertificateDataById.dataSet[$i].tax_year + &quot;) (Certificate ID: &quot; + Widgets.SearchResultLiveList.selecteditem.certificate_id + &quot;)&quot;"
                                        width="90%" class="h4" textalign="center" horizontalalign="center" fontweight="bold" color="#2c65a8"></wm-label>
                                </wm-container>
                                <wm-layoutgrid name="layoutgrid6">
                                    <wm-gridrow name="gridrow8">
                                        <wm-gridcolumn class="col-md-7 portrait-column" name="gridcolumn14">
                                            <wm-layoutgrid name="layoutgrid12_1">
                                                <wm-gridrow name="gridrow12_2">
                                                    <wm-gridcolumn name="gridcolumn21" class="status-and-photos col-md-5 portrait-column" padding="unset 1em 1em unset">
                                                        <wm-container name="container17" content="CertificateStatus"></wm-container>
                                                        <wm-container iconclass="" title="Notes" content="Legal" collapsible="true" class="custompanel" actions="Add Note" name="containerLegal"></wm-container>
                                                    </wm-gridcolumn>
                                                    <wm-gridcolumn name="gridcolumn15_1" class="portrait-column col-md-7" padding="unset 1em 1em unset">
                                                        <wm-container name="container18" content="PhotosAndLinks">
                                                            <wm-param name="PropertyID" value="bind:Widgets.SearchResultLiveList.selecteditem.property_id" type="integer"></wm-param>
                                                        </wm-container>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn class="col-md-5 portrait-column" name="gridcolumn17" padding="unset unset 1em unset">
                                            <wm-layoutgrid name="layoutgrid13">
                                                <wm-gridrow name="gridrow13">
                                                    <wm-gridcolumn name="gridcolumn16" class="portrait-column">
                                                        <wm-container iconclass="" name="panel2_1" title="Notes" content="Notes" collapsible="true" class="custompanel" actions="Add Note"></wm-container>
                                                        <wm-container name="container17_bal" content="Balances"></wm-container>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow12_1">
                                        <wm-gricolumn class="col-md-7">
                                            <wm-layoutgrid name="layoutgrid12">
                                                <wm-gridrow name="gridrow_Documents" padding="unset 1em unset unset">
                                                    <wm-gridcolumn class="col-md-12" name="gridcolumn23_1" padding="unset unset 1em unset">
                                                        <wm-container iconclass="" name="Documentpanel" title="Documents" content="Documents" collapsible="true" class="custompanel" actions="Add Note"></wm-container>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow18" padding="unset 1em unset unset">
                                                    <wm-gridcolumn class="col-md-12" name="gridcolumn23" padding="unset unset 1em unset">
                                                        <wm-container iconclass="" name="panel2_1" title="Notes" content="Parties" collapsible="true" class="custompanel" actions="Add Note"></wm-container>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                        </wm-gricolumn>
                                        <wm-gricolumn class="col-md-5">
                                            <wm-gridcolumn class="col-md-12 tab-custom tab-custom-service" name="gridcolumn19_1">
                                                <wm-button title="Add Transaction" class="add-transaction-btn" caption="&amp;nbsp;" type="button" name="button12" on-click="button12Click($event, $scope)" iconclass="" iconposition="right" iconwidth="25px" iconheight="25px" iconurl="resources/images/imagelists/add-square-button_grey1.png"></wm-button>
                                                <wm-tabs name="DisbursementTab" class="tab-btn">
                                                    <wm-tabpane name="tabpane1" title="Disbursements" content="Disbursements"></wm-tabpane>
                                                    <wm-tabpane name="tabpane2" title="Accruals" content="Accruals"></wm-tabpane>
                                                    <wm-tabpane name="tabpane3" title="Payments" content="Payments"></wm-tabpane>
                                                </wm-tabs>
                                            </wm-gridcolumn>
                                        </wm-gricolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-tile>
                        </wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Add Transaction" iconclass="" name="dialogAddTransaction" on-opened="dialogAddTransactionOpened($event, $scope)">
            <wm-composite name="composite10">
                <wm-gridrow name="gridrow45_1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn95_1">
                        <wm-switch datavalue="Disbursement" name="switchServiceType" dataset="Disbursement,Accruals,Payments" class="switch-party"></wm-switch>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow16_1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn20_1">
                        <wm-container name="container9" padding="unset unset 0em unset">
                            <wm-form errormessage="" captionposition="top" class="app-dialog-form disburse-form" name="formDisbursement" on-submit="Variables.svAddDisbursementTransaction.invoke()">
                                <wm-gridrow name="gridrow40">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn67"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-layoutgrid name="layoutgrid14" show="bind:Widgets.switchServiceType.datavalue == &quot;Disbursement&quot;">
                                    <wm-gridrow name="gridrow35" class="service-addtransaction-popup-padding">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn57">
                                            <wm-label padding="unset 0.5em" name="label22" caption="Type" required="true" class="bold"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" name="gridcolumn56">
                                            <wm-container name="container4">
                                                <wm-select name="selectDisbursementType" dataset="bind:Variables.svDisbursementTypesService.dataSet" datafield="All Fields" displayfield="type" placeholder="Select Type" required="true" autofocus="true"></wm-select>
                                            </wm-container>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow36" class="service-addtransaction-popup-padding">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn58">
                                            <wm-label padding="unset 0.5em" name="label24_1" caption="Tax Year" required="false" class="bold"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" name="gridcolumn59">
                                            <wm-container name="container6">
                                                <wm-layoutgrid name="layoutgrid6">
                                                    <wm-gridrow name="gridrow12">
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn31_1">
                                                            <wm-text type="number" name="textDisbTaxYear" placeholder="Enter Tax Year" required="false" width="90%"></wm-text>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn32">
                                                            <wm-select name="selectDispInstallment" placeholder="Installment" dataset="1,2,3,4" required="false"></wm-select>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-layoutgrid>
                                            </wm-container>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow37" class="service-addtransaction-popup-padding">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn60">
                                            <wm-label padding="unset 0.5em" caption="Payment Date" name="label26_1" required="true" class="bold"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" name="gridcolumn61">
                                            <wm-container name="container8">
                                                <wm-layoutgrid name="layoutgrid7">
                                                    <wm-gridrow name="gridrow14">
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn35">
                                                            <wm-container class="col-md-9" name="container10" width="100%">
                                                                <wm-date name="dateDisbursementPayment" datepattern="MM/dd/yyyy" outputformat="yyyy-MM-dd" required="true" width="90%"></wm-date>
                                                            </wm-container>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn36">
                                                            <wm-text type="text" placeholder="Reference" name="textDisbursementReference"></wm-text>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-layoutgrid>
                                            </wm-container>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow34" class="service-addtransaction-popup-padding">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn54">
                                            <wm-label padding="unset 0.5em" caption="Amount" name="label28_1" required="true" class="bold"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" name="gridcolumn55">
                                            <wm-text type="number" placeholder="Enter Amount" name="textDisbursementAmount" step="0.01" required="true"></wm-text>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow40_1">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn64" horizontalalign="center" padding="2em unset unset unset">
                                            <wm-button class="form-save btn-primary update-btn int-party-btn" caption="Add Disbursement" type="submit" margin="unset 0.5em" name="btnSaveDisbursement" width="50%" show="bind:Widgets.switchServiceType.datavalue == &quot;Disbursement&quot;" iconurl="resources/images/imagelists/plus.png"></wm-button>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-form>
                        </wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow24">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn36_1">
                        <wm-container name="container12" show="bind:Widgets.switchServiceType.datavalue == &quot;Accruals&quot;" padding="0em unset unset unset">
                            <wm-form errormessage="" captionposition="top" class="app-dialog-form" name="formAccural" on-submit="Variables.svAddAccrualTransaction.invoke()">
                                <wm-layoutgrid name="layoutgrid14">
                                    <wm-gridrow name="gridrow11" class="service-addtransaction-popup-padding">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn24">
                                            <wm-label padding="unset 0.5em" caption="Disbursement ID" name="label19" class="bold"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" name="gridcolumn25">
                                            <wm-text type="number" placeholder="Enter Disbursement ID" name="textDisbursementID"></wm-text>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow35" class="service-addtransaction-popup-padding">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn57">
                                            <wm-label padding="unset 0.5em" name="label22" caption="Type" required="true" class="bold"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" name="gridcolumn56">
                                            <wm-container name="container4">
                                                <wm-select name="selectAccrualType" datafield="id" placeholder="Select Type" dataset="bind:Variables.svAccrualTypesService.dataSet" displayfield="accrual_name" required="true"></wm-select>
                                            </wm-container>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow37" class="service-addtransaction-popup-padding">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn60">
                                            <wm-label padding="unset 0.5em" caption="Effective Date" name="label26_1" required="true" class="bold"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" name="gridcolumn61">
                                            <wm-container name="container8">
                                                <wm-layoutgrid name="layoutgrid7">
                                                    <wm-gridrow name="gridrow14">
                                                        <wm-gridcolumn columnwidth="7" name="gridcolumn35">
                                                            <wm-container class="col-md-9" name="container10" width="90%">
                                                                <wm-date name="dateEffective" width="100%" datepattern="MM/dd/yyyy" outputformat="yyyy-MM-dd" required="true"></wm-date>
                                                            </wm-container>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="5" name="gridcolumn36">
                                                            <wm-text type="number" placeholder="Enter PP" name="textPP" required="true"></wm-text>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-layoutgrid>
                                            </wm-container>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow36" class="service-addtransaction-popup-padding">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn58">
                                            <wm-label padding="unset 0.5em" name="label24_1" caption="Revenue Amount" class="bold"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" name="gridcolumn59">
                                            <wm-container name="container6">
                                                <wm-layoutgrid name="layoutgrid6">
                                                    <wm-gridrow name="gridrow12">
                                                        <wm-gridcolumn columnwidth="12" name="gridcolumn31_1">
                                                            <wm-text type="number" name="textRevenue" placeholder="Enter Revenue Amount" step="0.01"></wm-text>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-layoutgrid>
                                            </wm-container>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow34" class="service-addtransaction-popup-padding">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn54">
                                            <wm-label padding="unset 0.5em" caption="Principal Amount" name="label28_1" class="bold"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" name="gridcolumn55">
                                            <wm-text type="number" placeholder="Enter Principal Amount" name="textPrincipal" step="0.01"></wm-text>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow39">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn62" padding="2em unset unset unset" horizontalalign="center">
                                            <wm-button class="form-save btn-primary update-btn int-party-btn" caption="Add Accruals" type="submit" margin="unset 0.5em" name="btnSaveAccurals" width="50%" show="bind:Widgets.switchServiceType.datavalue == &quot;Accruals&quot;" iconurl="resources/images/imagelists/plus.png"></wm-button>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-form>
                        </wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow33_1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn53">
                        <wm-container name="container11" show="bind:Widgets.switchServiceType.datavalue == &quot;Payments&quot;" padding="0px unset unset unset">
                            <wm-form errormessage="" captionposition="top" class="app-dialog-form" name="formPayment" on-submit="Variables.svAddPaymentTransaction.invoke()">
                                <wm-layoutgrid name="layoutgrid14">
                                    <wm-gridrow name="gridrow35" class="service-addtransaction-popup-padding">
                                        <wm-gridcolumn columnwidth="5" name="gridcolumn57">
                                            <wm-label padding="unset 0.5em" name="label22" caption="Type" class="bold" required="true"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" name="gridcolumn56">
                                            <wm-container name="container4">
                                                <wm-select name="selectPaymentType" datafield="type" placeholder="Select Type" required="true" dataset="bind:Variables.svPaymentTypesService.dataSet" displayfield="type"></wm-select>
                                            </wm-container>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow37" class="service-addtransaction-popup-padding">
                                        <wm-gridcolumn columnwidth="5" name="gridcolumn60">
                                            <wm-label padding="unset 0.5em" class="bold" caption="Payment" name="label26_1" required="true"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" name="gridcolumn61">
                                            <wm-container name="container8">
                                                <wm-layoutgrid name="layoutgrid7">
                                                    <wm-gridrow name="gridrow14">
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn35">
                                                            <wm-container class="col-md-9" name="container10" width="100%">
                                                                <wm-date name="datePayment" width="90%" datepattern="MM/dd/yyyy" outputformat="yyyy-MM-dd" required="true"></wm-date>
                                                            </wm-container>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn36">
                                                            <wm-text type="number" placeholder="Amount" name="textAmount" step="0.01" required="true"></wm-text>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-layoutgrid>
                                            </wm-container>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow36" class="service-addtransaction-popup-padding gridrow_bg-color-service-popup">
                                        <wm-gridcolumn columnwidth="5" name="gridcolumn58">
                                            <wm-label padding="unset 0.5em" name="label24_1" class="bold" caption="Settlement"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="7" name="gridcolumn59">
                                            <wm-container name="container9_2">
                                                <wm-layoutgrid name="layoutgrid7_1">
                                                    <wm-gridrow name="gridrow13">
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn32">
                                                            <wm-container class="col-md-9" width="100%" name="container10_1">
                                                                <wm-date width="90%" datepattern="MM/dd/yyyy" outputformat="yyyy-MM-dd" required="false" name="dateSettlement"></wm-date>
                                                            </wm-container>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="6" name="gridcolumn33">
                                                            <wm-text type="text" placeholder="Reference" name="textReference" show="true"></wm-text>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-layoutgrid>
                                            </wm-container>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow38">
                                        <wm-gridcolumn columnwidth="12" name="gridcolumn60_1" horizontalalign="center" padding="2em unset unset unset">
                                            <wm-button class="form-save btn-primary update-btn int-party-btn" caption="Add Payments" type="submit" margin="unset 0.5em" name="btnSavePayments" width="50%" show="bind:Widgets.switchServiceType.datavalue == &quot;Payments&quot;" iconurl="resources/images/imagelists/plus.png"></wm-button>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-form>
                        </wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-composite>
        </wm-dialog>
    </wm-view>
</wm-page>