@media screen and (max-width: 450px) and (min-width: 299px){
    .wm-app .tile-columns{
         font-size: 11px !important;
         margin-top: 0px !important;
    }
}
@media screen and (max-width: 767px){
    .tile-columns{
         font-size: 11px !important;
    }
}
.tile-columns{
    border-right: 1px solid #e1e5e3;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    font-size: 11px !important;
    padding: 0.5em !important;
}
.tile-columns-first{
    border-right: 1px solid #e1e5e3;
    border-left: 1px solid #e1e5e3;
    margin-top: 1em !important;
    margin-bottom: 1em !important;
    font-size: 11px !important;
    padding: 0.5em !important;
}
.tile-border{
    border: 1px solid #e1e5e3 !important;
}
.tile-info{
    background-color: #fff !important;
}
.edit-btn{
    background-color: inherit !important;
}
.formfield{
    border:none !important;
}
.liveform{
    box-shadow: none !important;
    background-color: #e0e6eb !important;   
}
.liveform .panel-footer{
    background-color: #e0e6eb !important;   
}
.custom-design-dialog .modal-body{
background-color: #e0e6eb !important;    
}

/*borderradius*/
.wm-app .liveform .form-control{
    border-radius: 5px !important;
}
/*padding*/
.wm-app .liveform .live-field{
    padding: .5em !important;
}
.dialog-property-header{
    font-weight: bold !important;
    padding-left: 1em !important;
    padding-top: 1em !important;
}

.longtitude{
    margin-left: 1em !important;
}
.dialog-property-value{
 padding-top: 1em !important;
}
/*for save btn*/

.wm-app .liveform .basic-btn-grp{
    text-align: center;
}
.wm-app .liveform .basic-btn-grp .form-save{
    font-weight:bold !important;
    width: 30% !important;
    margin-top: 2em !important;
    padding: 0.5em !important;
}
.wm-app .tile-columns.column2{
    /*padding-left: 2em !important;*/
}

/*custom wave-icon*/

.custom-icon{
    background-image: url("resources/images/imagelists/editwhite.png");
    background-repeat: no-repeat;
    background-size: contain;
    color:transparent !important;
}
.system-info-box {
    background-color: #ccc;
}
.form-checkbox-style-1 .checkbox {
    margin-bottom: 0px;
}
.form-checkbox-style-1 input {
    margin-top: 0px !important;
}