<wm-partial data-ng-controller="PropertyInfoHeaderPageController" name="partial1">
    <wm-layoutgrid name="layoutgrid4" class="tile-border">
        <wm-gridrow name="gridrow4_1" class="tile-info">
            <wm-gridcolumn columnwidth="1" name="PropertyInfoGridColumn5" horizontalalign="center" class="col-xs-1 btn-left">
                <wm-button caption="" type="button" iconclass="wi wi-keyboard-arrow-left fa-2x" on-click="PropertyPreviousRecordBtnClick($event, $scope)" name="PropertyPreviousRecordBtn" margin="2em unset unset unset" show="bind:(!(activePageName ===&quot;PropertyDetails&quot;))"
                    backgroundrepeat="no-repeat" backgroundsize="cover" class="btn-default btn-arrow" disabled="bind:isPreviousRecordBtnDiabled()"></wm-button>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="2" name="PropertyInfoGridColumn1" show="bind:(activePageName === &quot;Main&quot; || activePageName === &quot;service&quot;)">
                <wm-label name="PropertyInfoLabel1" caption="" width="100%" class="tile-columns-first" height="65px" textalign="center" on-click="Widgets.PropertyInfoDialog.open()" show="bind:(activePageName ===&quot;Main&quot; || activePageName === &quot;service&quot; || activePageName === &quot;inspect&quot; || activePageName === &quot;PropertyDetails&quot; )"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="3" name="PropertyInfoGridColumn2" class="col-xs-4  col-sm-3">
                <wm-layoutgrid name="layoutgrid3">
                    <wm-gridrow name="gridrow3_1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn5_1">
                            <wm-label name="PropertyInfoLabel2" caption="" width="100%" class="tile-columns column2 tile-columns-first" height="65px" textalign="center" on-click="Widgets.PropertyInfoDialog.open()"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="3" name="PropertyInfoGridColumn3" class="col-xs-4  col-sm-3">
                <wm-layoutgrid name="layoutgrid4_1">
                    <wm-gridrow name="gridrow4_2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                            <wm-label name="PropertyInfoLabel3" caption="" width="100%" class="tile-columns" height="65px" textalign="center" on-click="Widgets.PropertyInfoDialog.open()"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="2" name="PropertyInfoGridColumn4" class="col-xs-2 col-sm-2 ">
                <wm-layoutgrid name="layoutgrid5">
                    <wm-gridrow name="gridrow5_1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn11">
                            <wm-label name="PropertyInfoLabel4" caption="" width="100%" class="tile-columns" height="65px" textalign="center" on-click="Widgets.PropertyInfoDialog.open()"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="1" name="PropertyInfoGridColumn5" horizontalalign="center" class="col-xs-1">
                <wm-button caption="" type="button" show="bind:(!(activePageName ===&quot;PropertyDetails&quot;))" iconclass="wi wi-keyboard-arrow-right fa-2x" on-click="PropertyNextRecordBtnClick($event, $scope)" name="PropertyNextRecordBtn" margin="2em unset unset unset"
                    backgroundrepeat="no-repeat" backgroundsize="cover" class="btn-default btn-arrow" disabled="bind:isNextRecordBtnDiabled()"></wm-button>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
    <wm-view class="dialog-view view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" name="PropertyInfoDialog" title="Update Property Info" class="custom-design-dialog" iconclass="wi wi-edit fa-lg custom-icon" on-opened="PropertyInfoDialogOpened($event, $scope)">
            <wm-form captionposition="top" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="PropertyInfoForm" on-submit="Variables.UpdatePropertyInfo.invoke()" backgroundcolor="#e0e6eb">
                <wm-layoutgrid name="layoutgrid2" show="true">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn1" columnwidth="12">
                            <wm-layoutgrid name="layoutgrid7_1" class="system-info-box">
                                <wm-gridrow name="gridrow7">
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn15" class="col-xs-6">
                                        <wm-label class="dialog-property-header" name="label5" caption="Property ID" margin=".2em unset 1em unset"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn16_1" class="col-xs-6">
                                        <wm-label class="dialog-property-value" name="propertyid" caption="bind:Variables.svPortalPropertyData.firstRecord.property_id" margin=".2em unset 1em unset"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn17_1" class="col-xs-6">
                                        <wm-label class="dialog-property-header" name="label5" caption="County ID" margin=".2em unset 1em unset"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn class="dialog-property-value col-xs-6" columnwidth="3" name="gridcolumn18">
                                        <wm-label name="countyid" caption="bind:Variables.svPortalPropertyData.firstRecord.county_id" margin=".2em unset 1em unset"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-layoutgrid name="layoutgrid13">
                                <wm-gridrow name="gridrow15_1">
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn31">
                                        <wm-label class="dialog-property-header" caption="Metes and Bounds" name="label16"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn32">
                                        <wm-composite name="composite1" margin="unset unset 0px unset">
                                            <wm-label class="col-md-3 control-label" name="label17" show="false"></wm-label>
                                            <wm-container class="dialog-property-value" name="container10">
                                                <wm-textarea name="MetesAndBounds" placeholder="" datavalue="bind:Variables.svPortalPropertyData.firstRecord.metes_and_bounds" tabindex="1"></wm-textarea>
                                            </wm-container>
                                        </wm-composite>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-layoutgrid name="layoutgrid8">
                                <wm-gridrow name="gridrow8">
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn19">
                                        <wm-label class="dialog-property-header" name="AddressLabel" caption="Address"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn name="gridcolumn2" columnwidth="6">
                                        <wm-container class="dialog-property-value" name="container1">
                                            <wm-text name="Address" datavalue="bind:Variables.svPortalPropertyData.firstRecord.address_line1" autofocus="true" placeholder="Enter Address" tabindex="2"></wm-text>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-layoutgrid name="layoutgrid9">
                                <wm-gridrow name="gridrow9">
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn21_2" class="col-xs-6">
                                        <wm-label class="dialog-property-header" name="UnitLabel" caption="" show="true"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn22_1">
                                        <wm-container class="dialog-property-value" name="container1">
                                            <wm-text name="Unit" datavalue="bind:Variables.svPortalPropertyData.firstRecord.address_line2" placeholder="Enter Unit" tabindex="3"></wm-text>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow14">
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn27_1">
                                        <wm-label class="dialog-property-header" caption="" name="label14" show="true"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn28_1">
                                        <wm-container class="dialog-property-value" name="container7">
                                            <wm-text datavalue="bind:Variables.svPortalPropertyData.firstRecord.address_city" autofocus="true" name="City" placeholder="Enter City" show="true" tabindex="4"></wm-text>
                                        </wm-container>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn30">
                                        <wm-container class="longtitude  dialog-property-value" name="container8">
                                            <wm-text datavalue="bind:Variables.svPortalPropertyData.dataSet[$i].address_zip" autofocus="true" placeholder="Enter Zip" name="Zip" tabindex="5"></wm-text>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <!-- <wm-gridrow name="gridrow15"><wm-gridcolumn columnwidth="3" name="gridcolumn29_1"><wm-label class="dialog-property-header" caption="Zip" name="label15"></wm-label></wm-gridcolumn><wm-gridcolumn columnwidth="6" name="gridcolumn30"><wm-container class="dialog-property-value" name="container8"><wm-text datavalue="bind:Variables.svPortalPropertyData.dataSet[$i].address_zip" autofocus="true" placeholder="Enter Zip" name="Zip"></wm-text></wm-container></wm-gridcolumn></wm-gridrow> --></wm-layoutgrid>
                            <wm-layoutgrid name="layoutgrid12">
                                <wm-gridrow name="gridrow12">
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn27">
                                        <wm-label class="dialog-property-header" name="LatLongLabel" caption="Lat/Long"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn28">
                                        <wm-container name="container1_1" class="dialog-property-value">
                                            <wm-text name="Lat" step="0.000001" datavalue="bind:Variables.svPortalPropertyData.firstRecord.latitude" type="number" tabindex="11"></wm-text>
                                        </wm-container>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn29">
                                        <wm-container name="container1_2" class="longtitude dialog-property-value">
                                            <wm-text name="Long" step="0.000001" datavalue="bind:Variables.svPortalPropertyData.firstRecord.longitude" type="number" tabindex="12"></wm-text>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-layoutgrid name="layoutgrid10">
                                <wm-gridrow name="gridrow10">
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn23_1">
                                        <wm-label class="dialog-property-header" name="PropertyTypeLabel" caption="Type"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn24">
                                        <wm-container class="dialog-property-value" name="container5">
                                            <wm-select name="PropertyType" datavalue="bind:Variables.svPortalPropertyData.firstRecord.property_type_id" datafield="id" dataset="bind:Variables.svQryPropertyType.dataSet" placeholder="Select Property Type" displayfield="type"
                                                tabindex="6"></wm-select>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-layoutgrid name="layoutgrid11">
                                <wm-gridrow name="gridrow11">
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn25">
                                        <wm-label class="dialog-property-header" name="ExteriorLabel" caption="Exterior"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn26">
                                        <wm-container class="dialog-property-value" name="container5_1">
                                            <wm-select name="Exterior" datavalue="bind:Variables.svPortalPropertyData.firstRecord.property_exterior_id" dataset="bind:Variables.svQryPropertyExterior.dataSet" datafield="id" displayfield="exterior" placeholder="Select Exterior"
                                                tabindex="7"></wm-select>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-layoutgrid name="layoutgrid16">
                                <wm-gridrow name="gridrow17">
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn37">
                                        <wm-label class="dialog-property-header" caption="Size" name="label18_1"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn40">
                                        <wm-container class="dialog-property-value" name="container14_1">
                                            <wm-text step="0.01" datavalue="bind:Variables.svPortalPropertyData.firstRecord.lot_size" type="number" tabindex="11" name="LotSize" placeholder="Lot"></wm-text>
                                        </wm-container>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn38">
                                        <wm-container class="dialog-property-value" name="container12">
                                            <wm-text step="1" datavalue="bind:Variables.svPortalPropertyData.firstRecord.sqft_total" type="number" tabindex="11" name="SqftTotal" placeholder="Building"></wm-text>
                                        </wm-container>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn39">
                                        <wm-container class="longtitude dialog-property-value" name="container13_1">
                                            <wm-text step="1" datavalue="bind:Variables.svPortalPropertyData.firstRecord.year_built" type="number" tabindex="12" name="YearBuilt" placeholder="Year Built"></wm-text>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-layoutgrid name="layoutgrid14">
                                <wm-gridrow name="gridrow16">
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn33">
                                        <wm-label class="dialog-property-header" caption="Verify" name="label18"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn36" padding="unset unset 0px unset">
                                        <wm-layoutgrid name="layoutgrid14_inside_box">
                                            <wm-gridrow name="gridrow16_inside_row" padding="unset unset 0px unset">
                                                <wm-gridcolumn columnwidth="1" name="gridcolumn34_col_1" padding="unset unset 0px unset">
                                                    <wm-composite name="composite3" class="dialog-property-value form-checkbox-style-1" margin="unset unset 0px unset">
                                                        <wm-checkbox caption="" name="Verify" show="true" datavalue="bind:Variables.svPortalPropertyData.firstRecord.address_verified" checkedvalue="true" uncheckedvalue="false" tabindex="8" margin="0px unset"></wm-checkbox>
                                                    </wm-composite>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="11" name="gridcolumn34_col_2" padding="unset unset 0px unset">
                                                    <wm-container class="longtitude dialog-property-value" name="container13">
                                                        <wm-select dataset="bind:Variables.lvSource.dataSet" datafield="code" displayfield="name" placeholder="Source 1" name="AddressSource1" orderby="name:asc" datavalue="bind:Variables.svPortalPropertyData.firstRecord.address_source1"
                                                            tabindex="9" width="auto"></wm-select>
                                                    </wm-container>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn35" padding="unset unset 0px unset">
                                        <wm-container class="longtitude  dialog-property-value" name="container14">
                                            <wm-select dataset="bind:Variables.lvSource.dataSet" datafield="code" displayfield="name" placeholder="Source 2" name="AddressSource2" orderby="name:asc" datavalue="bind:Variables.svPortalPropertyData.firstRecord.address_source2"
                                                tabindex="10" width="auto"></wm-select>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-layoutgrid name="layoutgrid7">
                    <wm-gridrow name="gridrow13">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn21_1" horizontalalign="center" padding="2em unset unset unset">
                            <wm-button type="submit" class="form-save btn-primary update-btn" caption="Save" name="SaveBtn" tabindex="13"></wm-button>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
            <wm-dialogactions name="dialogactions1" show="false" class="view">
                <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button2"></wm-button>
                <wm-button class="btn-primary" caption="Save" name="button3"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-partial>