<wm-partial data-ng-controller="AuctionStatPageController" name="partial1">
    <wm-layoutgrid name="layoutgrid1">
        <wm-gridrow name="gridrow11">
            <wm-gridcolumn columnwidth="12" name="gridcolumn36" padding=".5em unset unset unset">
                <wm-label caption="Stats" fontweight="bold" name="label21" color="#2c65a8" fontsize="13" showindevice="all" class="title_tab sub-title-ins-mobile"></wm-label>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
    <wm-layoutgrid name="layoutgrid2" class="stats-content stats-content-mobile">
        <wm-gridrow name="gridrow12" class="stats-single-column">
            <wm-gridcolumn columnwidth="5" name="gridcolumn38" class="col-xs-6">
                <wm-label caption="Status" name="label22" class="text-muted for-bold"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="7" name="gridcolumn39" horizontalalign="right" class="col-xs-6">
                <wm-label caption="bind:Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].auction_stat_summary || '-'" name="label17"></wm-label>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow13_2" class="stats-single-column">
            <wm-gridcolumn columnwidth="5" name="gridcolumn27" class="col-xs-6">
                <wm-label caption="Rules" class="text-muted for-bold" name="label23_1"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="7" name="gridcolumn28" horizontalalign="right" class="col-xs-6">
                <wm-label caption="bind:Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].rules || '-'" name="label24_1" class="ellpisis"></wm-label>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow13" class="stats-single-column">
            <wm-gridcolumn columnwidth="5" name="gridcolumn40" class="col-xs-6">
                <wm-label caption="Lifetime LTV" name="label24" class="text-muted for-bold"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="7" name="gridcolumn41" horizontalalign="right" class="col-xs-6">
                <wm-label caption="bind:(Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].lifetime_ltv) ? Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].lifetime_ltv + '%' : '-'" name="label23"></wm-label>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow14" class="stats-single-column">
            <wm-gridcolumn columnwidth="5" name="gridcolumn42" class="text-muted col-xs-6">
                <wm-label caption="Area Grade" name="label25" class="for-bold"></wm-label>
                <wm-button class="edit-btn-stat" caption="&amp;nbsp;" type="button" margin="unset 0.5em" name="button4" iconurl="resources/images/imagelists/edit.png" iconwidth="15" iconheight="15" iconposition="right" on-click="Variables.svGetGrade.invoke()"
                    cursor="pointer" fontsize="8"></wm-button>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="7" name="gridcolumn43" horizontalalign="right" class="col-xs-3">
                <wm-label caption="bind:Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].grade || '-'" name="label26"></wm-label>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow14_1" class="stats-single-column">
            <wm-gridcolumn columnwidth="5" name="gridcolumn29" class="text-muted col-xs-6">
                <wm-label caption="Pct Approved" class="for-bold" name="label24_2"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="7" name="gridcolumn30" horizontalalign="right">
                <wm-label caption="bind:(Variables.svGetGradePctApproved.dataSet[$i].pct_approved ? Variables.svGetGradePctApproved.dataSet[$i].pct_approved*100 +'%' : '-')" name="label25_1"></wm-label>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow15" class="stats-single-column">
            <wm-gridcolumn columnwidth="5" name="gridcolumn44" class="text-muted col-xs-6">
                <wm-label caption="Area Forfeiture" name="label27" class="for-bold"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="7" name="gridcolumn45" horizontalalign="right" class="col-xs-6">
                <wm-label caption="bind:Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].forfeit_stat || '-'" name="label28"></wm-label>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow16" class="stats-single-column">
            <wm-gridcolumn columnwidth="5" name="gridcolumn46" class="text-muted col-xs-6">
                <wm-label caption="Area Redemption" name="label29" class="for-bold"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="7" name="gridcolumn47" horizontalalign="right" class="col-xs-6">
                <wm-label caption="bind:Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].redemption_stat || '-'" name="label30"></wm-label>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow17" class="stats-single-column">
            <wm-gridcolumn columnwidth="5" name="gridcolumn48" class="text-muted col-xs-6">
                <wm-label caption="Area Bid Rate" name="label31" class="for-bold"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="7" name="gridcolumn49" horizontalalign="right" class="col-xs-6">
                <wm-label caption="bind:(Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].avg_bidrate) ? Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].avg_bidrate + '%' : '-'" name="label32"></wm-label>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow18" class="stats-single-column">
            <wm-gridcolumn columnwidth="5" name="gridcolumn50" class="text-muted col-xs-6">
                <wm-label caption="Est. Redemption" name="label33" class="for-bold"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="7" name="gridcolumn51" horizontalalign="right" class="col-xs-6">
                <wm-label caption="bind:(Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].pred_redemption_pct) ? Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].pred_redemption_pct + '%' : '-'" name="label34"></wm-label>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
    <wm-view class="dialog-view view" name="view2">
        <wm-dialog dialogtype="design-dialog" modal="true" name="UpdateAreaRatingDialog" title="Update Area Rating" class="custom-design-dialog" iconclass="wi wi-edit fa-lg custom-icon" on-opened="UpdateAreaRatingDialogOpened($event, $scope)">
            <wm-form captionposition="top" title="" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.supportedLocale.dataSet" captionalign="left" name="form1" on-submit="Variables.svUpdateGrade.invoke()" backgroundcolor="#e0e6eb">
                <wm-layoutgrid name="layoutgrid3">
                    <wm-gridrow name="gridrow9">
                        <wm-gridcolumn name="gridcolumn17_1">
                            <wm-layoutgrid name="layoutgrid7_1_1">
                                <wm-gridrow name="gridrow7_1">
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn15_1_1" class="col-xs-6">
                                        <wm-label class="dialog-property-header" name="label5" caption="ASH"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn16_1_1_1" class="col-xs-6">
                                        <wm-label class="dialog-property-value" name="PropertyIdLabel" caption="bind:Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].property_id"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn15_1" class="col-xs-6">
                                        <wm-label class="dialog-property-header" name="label5" caption="County ID"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn16_1_1" class="col-xs-6">
                                        <wm-label class="dialog-property-value" name="CountyIdLabel" caption="bind:Variables.svGetGrade.firstRecord.county_id"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn17_1_1" class="col-xs-6">
                                        <wm-label class="dialog-property-header" name="label5" caption="Township ID"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn class="dialog-property-value col-xs-6" columnwidth="2" name="gridcolumn18_1">
                                        <wm-label name="countyid" caption="bind:Variables.svGetGrade.firstRecord.township_id"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-layoutgrid name="layoutgrid11_1">
                                <wm-gridrow name="gridrow11_1">
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn26_1" class="col-xs-6">
                                        <wm-composite name="composite2_1">
                                            <wm-container class="dialog-property-value" name="container5_1_1">
                                                <wm-select name="Grade" placeholder="Grade" dataset="bind:Variables.GradeSource.dataSet" datafield="dataValue" displayfield="dataValue" required="false" datavalue="bind:Variables.svGetGrade.firstRecord.grade"
                                                    autofocus="true"></wm-select>
                                            </wm-container>
                                        </wm-composite>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="9" name="gridcolumn25_1_1" class="dialog-property-value col-xs-6" padding="unset unset unset 1em">
                                        <wm-text class="dialog-property-header update-area-enter-note" name="Note" caption="Enter note" placeholder="Enter Note" datavalue="bind:Variables.svGetGrade.firstRecord.note" required="false"></wm-text>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-layoutgrid name="layoutgrid7_1">
                    <wm-gridrow name="gridrow13_1">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn21_1_1" horizontalalign="center">
                            <wm-button type="submit" class="form-save btn-primary update-btn" caption="Update" name="UpdateBtn" margin="2em unset unset unset"></wm-button>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
            <wm-dialogactions name="dialogactions1_1" show="false" class="view">
                <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button2"></wm-button>
                <wm-button class="btn-primary" caption="Save" name="button3"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-partial>