<wm-partial data-ng-controller="HamburgerPageController" name="partial1"> 
    <wm-container name="HamburgerMenuContainer" class="col-md-2"> 
        <wm-button on-click="HamburgerMenuClick($event, $scope)" class="btn-hamburger" name="HamburgerMenu" iconclass="fa fa-bars fa-lg" disabled="false"></wm-button> 
    </wm-container> 
</wm-partial>