.btn-hamburger {
    position: absolute;
    /*top: 38px;*/
    /*right: -28px;*/
    z-index: 1;
}

.wm-app .btn-hamburger {
    padding: 6px !important;
    background-color: inherit;
    color: #fff !important;
    padding-top:1em !important;
    padding-left:20px !important;
}

.hamburger-empty-container {
    width: 1px;
}
.wm-app .btn-hamburger.btn:focus, .wm-app .btn-hamburger.btn:active:focus{
    outline:none !important;
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
   .wm-app .btn-hamburger{
padding-top: 6px !important;
}
}
@media screen and (max-width: 1024px) and (min-width: 768px) and (orientation:landscape) {
   .wm-app .btn-hamburger{
padding-top: 16px !important;
}
}