<wm-partial data-ng-controller="AuctionTaxPageController" name="partial1"> 
    <wm-layoutgrid name="Taxes_header"> 
        <wm-gridrow name="gridrow11"> 
            <wm-gridcolumn columnwidth="12" name="gridcolumn36" padding=".5em unset unset unset" class="taxes"> 
                <wm-label caption="Taxes" fontweight="bold" name="label21" color="#2c65a8" fontsize="13" class="title_tab sub-title-ins-mobile"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-layoutgrid name="layoutgridmain" class="tax-year-grid"> 
        <wm-gridrow name="gridrow3"> 
            <wm-gridcolumn name="gridcolumn1"> 
                <!--<wm-layoutgrid name="layoutgrid2" class="tax-grid-header" show="true">--> 
                <!--    <wm-gridrow name="gridrow3_1">--> 
                <!--        <wm-gridcolumn columnwidth="12" name="gridcolumn7">--> 
                <!--            <wm-label padding="unset 0.5em" name="label16_1" caption="&amp;nbsp;"></wm-label>--> 
                <!--            <wm-label caption="Sale Amounts" name="label19_1"></wm-label>--> 
                <!--        </wm-gridcolumn>--> 
                <!--    </wm-gridrow>--> 
                <!--</wm-layoutgrid>--> 
                <wm-layoutgrid name="layoutgrid3" class="tax-grid-content"> 
                    <wm-gridrow name="gridrow4"> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn11" class="text-muted col-xs-6"> 
                            <wm-label caption="Priors" name="label9" class="for-bold tax-columns tax-label"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn14" horizontalalign="right" class="col-xs-6"> 
                            <wm-label caption="bind:(Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].prior_years_due | toCurrency: '$') || '-'" name="label10" class="tax-columns" conditionalclass="bind:(Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].prior_years_due > 0) ? 'label label-warning' : ''"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
                <wm-layoutgrid name="layoutgrid4" class="tax-grid-content"> 
                    <wm-gridrow name="gridrow5"> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn15" class="text-muted col-xs-6"> 
                            <wm-label caption="Billed" name="label11" class="for-bold tax-columns"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn18" horizontalalign="right" class="col-xs-6"> 
                            <wm-label caption="bind:(Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].auction_year_billed | toCurrency: '$') || '-'" name="label12" class="tax-columns"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
                <wm-layoutgrid name="layoutgrid5" class="tax-grid-content"> 
                    <wm-gridrow name="gridrow6"> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn19" class="text-muted col-xs-6"> 
                            <wm-label caption="Due" name="label13" class="for-bold tax-columns"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn22" horizontalalign="right" class="col-xs-6"> 
                            <wm-label caption="" name="label14"></wm-label> 
                            <wm-label caption="bind:(Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].auction_year_due | toCurrency: '$') || '-'" name="label18" class="tax-columns"></wm-label> 
                            <wm-label caption="bind:(Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].auction_inst1_due &amp;&amp; Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].auction_inst2_due) ? &quot; (&quot; + (Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].auction_inst1_due | toCurrency: '$') + &quot; + &quot; + (Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].auction_inst2_due | toCurrency: '$') + &quot;)&quot; : &quot;&quot;" name="label16"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
                <wm-layoutgrid name="layoutgrid6" class="tax-grid-content"> 
                    <wm-gridrow name="gridrow7"> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn23" class="text-muted col-xs-6"> 
                            <wm-label caption="Other" name="label15" class="for-bold tax-columns"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn25" horizontalalign="right" class="col-xs-6"> 
                            <wm-label caption="bind:(Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].other_due | toCurrency: '$') || '-'" name="label17" class="tax-columns"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
                <wm-layoutgrid name="layoutgrid7" class="tax-grid-content"> 
                    <wm-gridrow name="gridrow8"> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn27" class="text-muted col-xs-6"> 
                            <wm-label caption="Sale Amount" class="for-bold tax-columns" name="label18_2"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn28" horizontalalign="right" class="col-xs-6"> 
                            <wm-label caption="bind:(Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].sale_amount | toCurrency: '$') || '-'" name="label19_2" class="tax-columns"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
                <wm-layoutgrid name="layoutgrid8" class="tax-grid-content-lastrow"> 
                    <wm-gridrow name="gridrow9"> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn30" class="text-muted"> 
                            <wm-label caption="Subs" name="label19" class="for-bold tax-columns"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="9" name="gridcolumn33" horizontalalign="right"> 
                            <wm-label caption="bind:(Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].sub_total | toCurrency: '$') || '-'" textalign="left" name="label20" class="tax-columns"></wm-label> 
                            <!--<wm-label padding="unset 0.5em" name="label17_1" caption="Edit" margin="unset unset unset 4px"></wm-label>--> 
                            <!--<wm-picture name="picture1" picturesource="resources/images/imagelists/edit.png" width="15px" height="15px"></wm-picture>--> 
                            <wm-label caption="bind:(Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].research_date) ? &quot; (As Of &quot; + (Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].research_date | toDate: 'MM/dd/yyyy') + &quot;)&quot; : &quot;&quot;" name="label17_1" class="tax-columns" margin="unset unset 0.2em unset"></wm-label> 
                            <wm-button class="btn-update title_tab title-tab1" caption="" type="button" name="updateSub" iconurl="resources/images/imagelists/edit.png" iconwidth="15px" iconheight="15px" iconposition="right" show="bind:Variables.svQryFetchAvailableSub.dataSet[$i].id != undefined" on-click="Widgets.UpdateSubDialog.open()" backgroundcolor="#ffffff" horizontalalign="right" padding="0px" margin="0px"></wm-button> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-view class="dialog-view" name="view1"> 
        <wm-dialog dialogtype="design-dialog" modal="true" title="Update Available Subs" iconclass="" name="UpdateSubDialog" class="custom-design-dialog" on-opened="UpdateSubDialogOpened($event, $scope)"> 
            <wm-form captionposition="top" title="" enctype="application/x-www-form-urlencoded" method="post" dataset="bind:Variables.supportedLocale.dataSet" captionalign="left" name="AuctionTaxSub" on-submit="Variables.svUpdateAvailableSub.invoke()" backgroundcolor="#e0e6eb"> 
                <wm-layoutgrid name="layoutgrid2" show="true"> 
                    <wm-gridrow name="gridrow1"> 
                        <wm-gridcolumn name="gridcolumn1" columnwidth="12"> 
                            <wm-gridrow name="gridrow7"> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn15" horizontalalign="right"> 
                                    <wm-label class="dialog-property-header" name="label5" caption="Tax Year" margin="unset 1em unset unset"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn16_1"> 
                                    <wm-label class="dialog-property-value" name="propertyid" caption=""></wm-label> 
                                    <wm-label padding="unset 0.5em" name="label20_1" caption="bind:Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].tax_year" class="dialog-property-value"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="1" name="gridcolumn17_1" horizontalalign="left"> 
                                    <wm-label class="dialog-property-header" name="label5" caption="ID"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="5" name="gridcolumn27_1" class="dialog-property-value" horizontalalign="left"> 
                                    <wm-label padding="unset 0.5em" name="label21_1" caption="bind:Variables.svPortalAuctionDataFromPropertyID.dataSet[$i].auction_id"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow8" padding="unset unset unset 2em"> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn23_1" horizontalalign="right" padding="1em unset"> 
                            <wm-text name="inst1" type="text" class="pull-right" datavalue="bind:Variables.svQryFetchAvailableSub.dataSet[$i].inst1" placeholder="Enter inst1"></wm-text> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="1" name="gridcolumn24" horizontalalign="center" padding="1.3em unset unset unset"> 
                            <wm-icon name="icon1" class="bold" iconclass="fa fa-plus" opacity="0.6" color="#000000"></wm-icon> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn22_1" padding="1em unset unset unset"> 
                            <wm-text type="text" name="inst2" datavalue="bind:Variables.svQryFetchAvailableSub.dataSet[$i].inst2" placeholder="Enter inst2"></wm-text> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="1" name="gridcolumn25_1" padding="1.3em unset unset unset" horizontalalign="center"> 
                            <wm-icon class="bold" iconclass="fa fa-pause fa-rotate-270" opacity="0.6" color="#000000" name="icon2"></wm-icon> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn name="gridcolumn2" columnwidth="3" class="col-xs-6" padding="1em unset"> 
                            <wm-text type="text" name="total" datavalue="bind:Variables.svQryFetchAvailableSub.dataSet[$i].total" placeholder="Enter total"></wm-text> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="1" name="gridcolumn28_1"></wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
                <wm-layoutgrid name="layoutgrid7"> 
                    <wm-gridrow name="gridrow13"> 
                        <wm-gridcolumn columnwidth="12" name="gridcolumn21_1" horizontalalign="center" padding="2em unset unset unset"> 
                            <wm-button type="submit" class="form-save btn-primary update-btn" caption="Save" name="SaveBtn"></wm-button> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-form> 
        </wm-dialog> 
    </wm-view> 
</wm-partial>