<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="leftnav"> 
    <wm-nav name="leftnavigation" type="pills" layout="stacked"> 
        <wm-nav-item name="list_latestUpdate"> 
            <wm-header name="header" content="header" height="auto"></wm-header> 
        </wm-nav-item> 
        <wm-nav-item name="list_latestUpdate"> 
            <wm-top-nav name="topnav" content="topnav"></wm-top-nav> 
        </wm-nav-item> 
        <wm-nav-item name="list_inTheNews"> 
            <wm-container class="personal-info personal-info-mobile" name="SearchContainer" id="buttonslideleft" content="InspectSearch"></wm-container> 
            <!--<wm-container class="personal-info" name="container1">--> 
            <!--    <wm-composite name="composite1">--> 
            <!--        <wm-container class="col-md-9 container-select" name="container4" horizontalalign="center" width="100%">--> 
            <!--            <wm-select name="selectDropDown" placeholder="Select Route" dataset="bind:Variables.svDropDownIDs.dataSet" datafield="All Fields" displayfield="drop_down" orderby="dropDown:asc,drop_down:asc" autofocus="true" on-change="selectDropDownChange($event, $scope, newVal, oldVal)"></wm-select>--> 
            <!--        </wm-container>--> 
            <!--    </wm-composite>--> 
            <!--    <wm-layoutgrid name="layoutgrid7" class="pagination-custom">--> 
            <!--        <wm-gridrow name="gridrow10">--> 
            <!--            <wm-gridcolumn name="gridcolumn14_1" horizontalalign="center" class="pagination-arrows">--> 
            <!--                <wm-button class="btn-default btn-arrow" caption="" type="button" iconclass="wi wi-angle-double-left fa-lg" on-click="PreviousPageClick($event, $scope)" disabled="bind:(Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet.first == undefined) ? true : Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet.first"--> 
            <!--                name="PreviousPage" show="true"></wm-button>--> 
            <!--                <wm-button class="btn-default btn-arrow" caption="" type="button" name="PreviousRecord" iconclass="wi wi-keyboard-arrow-left fa-2x" on-click="PreviousRecordClick($event, $scope)" disabled="true"></wm-button>--> 
            <!--                <wm-label name="CurrentRecordIndex" caption="0" fontsize="16" fontweight="bold" horizontalalign="center"></wm-label>--> 
            <!--                <wm-label caption="/&amp;nbsp;" fontsize="16" fontweight="bold" horizontalalign="center" name="RecordIndexSeparator"></wm-label>--> 
            <!--                <wm-label caption="bind:Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet[$i].total_count || 0" fontsize="16" fontweight="bold" horizontalalign="center" name="TotalRecordsIndex"></wm-label>--> 
            <!--                <wm-button class="btn-default btn-arrow" caption="" type="button" name="NextRecord" iconclass="wi wi-keyboard-arrow-right fa-2x" on-click="NextRecordClick($event, $scope)" disabled="true"></wm-button>--> 
            <!--                <wm-button class="btn-default btn-arrow" caption="" type="button" iconclass="wi wi-angle-double-right fa-lg" on-click="NextPageClick($event, $scope)" disabled="bind:(Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet.last == undefined) ? true : Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet.last"--> 
            <!--                name="NextPage" show="true"></wm-button>--> 
            <!--            </wm-gridcolumn>--> 
            <!--        </wm-gridrow>--> 
            <!--    </wm-layoutgrid>--> 
            <!--    <wm-livelist tabindex="1" class="media-list custom-livelist media-heading" name="SearchResultLiveList" horizontalalign="left" height="500px" dataset="bind:Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet" on-click="SearchResultLiveListClick($event, $scope)"--> 
            <!--    navigation="None" nodatamessage="No data found. Select route from above" showrecordcount="false" listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" selectfirstitem="false" selectionlimit="1">--> 
            <!--        <wm-listtemplate name="listtemplate2" layout="inline">--> 
            <!--            <wm-container class="media-body" name="container2" horizontalalign="left" padding="unset unset unset 1.25em">--> 
            <!--                <wm-label class="h5 media-heading" caption="bind:Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet[$i].order+' '+('-')+' '+Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet.address" name="Address" margin="0px unset unset unset"></wm-label>--> 
            <!--wm-label class="pull-right" show="false" caption="bind:Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet.drop_down" name="DropDown" margin="0px unset unset unset" whitespace="nowrap"></wm-label--> 
            <!--                <wm-label class="p text-muted media-heading" caption="bind:Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet.pin" name="PIN"></wm-label>--> 
            <!--                <wm-label class="media-heading pull-left" show="false" caption="bind:Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet.auction_id" name="PropertyID" width="42" whitespace="nowrap" fontunit="em"></wm-label>--> 
            <!--            </wm-container>--> 
            <!--        </wm-listtemplate>--> 
            <!--    </wm-livelist>--> 
            <!--</wm-container>--> 
        </wm-nav-item> 
        <!--<wm-nav-item name="list_share">--> 
        <!--    <wm-anchor caption="Inventory" name="inventoryLink" iconclass="glyphicon glyphicon-tags"></wm-anchor>--> 
        <!--</wm-nav-item>--> 
        <!--<wm-nav-item name="list_help">--> 
        <!--    <wm-anchor caption="Support Calls" name="supportLink" iconclass="glyphicon glyphicon-envelope"></wm-anchor>--> 
        <!--</wm-nav-item>--> 
    </wm-nav> 
</wm-partial>