<wm-partial data-ng-controller="ToolsPopoverPageController" type="popover" name="partial1">
    <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list toolslivelist" datafield="All Fields" dataset="bind:$parent.$parent.$parent.Variables.ToolsListDD.dataSet" navigation="None"
        name="livelist2" on-tap="livelist2Tap($event, $scope)">
        <wm-listtemplate layout="inline" name="listtemplate1">
            <wm-container class="media-body" name="container29">
                <wm-label class="p media-heading " id="toollabel" name="Name" caption="bind:item.name" fontunit="em" padding="unset unset unset unset" on-click="NameClick($event, $scope, item, currentItemWidgets)"></wm-label>
            </wm-container>
        </wm-listtemplate>
    </wm-list>
</wm-partial>