<wm-page data-ng-controller="AddEditInspectionRoutePageController" pagetitle="Add Edit Inspection Route" name="page1">
    <wm-content name="content1" class="pdfcontent">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-livefilter title="Inspection Route" dataset="bind:Variables.PlatformInspectionRouteData.dataSet" captionalign="left" captionposition="left" name="livefilter1" iconclass="" class="buyer-header">
                <wm-layoutgrid columns="1" name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn1">
                            <wm-filter-field name="id" field="id" displayname="Id" widget="number" is-range="false" type="integer" is-primary-key="true" generator="identity" show="true" inputtype="number" key="id" placeholder="Enter value"></wm-filter-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn2">
                            <wm-filter-field name="property" field="property" displayname="Property" widget="number" lookup-type="Property" lookup-field="id" is-related="true" related-entity-name="Property" is-range="false" type="integer" is-primary-key="false"
                                generator="assigned" show="true" inputtype="number" key="property" placeholder="Enter value"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn3">
                            <wm-filter-field name="inspectionName" field="inspectionName" displayname="Inspection Name" widget="select" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="search" key="inspectionName"
                                placeholder="Enter value" matchmode="start" dataset="bind:Variables.svInspectionName.dataSet" datafield="drop_down" displayfield="drop_down" orderby="drop_down:asc"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-filter-action key="filter" display-name="Filter" show="true" class="btn-primary" iconclass="wi wi-filter-list" title="Filter" action="filter()" disabled="false" type="button"></wm-filter-action>
                <wm-filter-action key="clear" display-name="Clear" show="true" class="btn-secondary" iconclass="wi wi-cancel" title="Clear" action="clearFilter()" disabled="false" type="button"></wm-filter-action>
            </wm-livefilter>
            <wm-livetable formlayout="dialog" name="livegrid1">
                <wm-table gridfirstrowselect="false" editmode="dialog" title="" dataset="bind:Widgets.livefilter1.result" navigation="Classic" name="grid1">
                    <wm-table-column binding="id" caption="Id" primary-key="true" edit-widget-type="number" type="integer" generator="identity" readonly="true" show="true"></wm-table-column>
                    <wm-table-column binding="inspectionName" caption="Inspection Name" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="property.id" caption="Property Id" primary-key="true" edit-widget-type="select" type="integer" generator="identity" datafield="id" displayfield="id" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="_order" caption="Order" primary-key="false" edit-widget-type="number" type="integer" generator="assigned" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRowAction($event);addNewRow()" shortcutkey="" disabled="false"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action>
                    <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
                </wm-table>
                <wm-liveform novalidate="false" errormessage="" title="Add Inspection Route" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Widgets.livefilter1.result" captionalign="left" captionposition="top" name="liveform1" on-success="Variables.svInspectionName.invoke()">
                    <wm-layoutgrid columns="1" name="layoutgrid2">
                        <wm-gridrow name="gridrow6">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn6">
                                <wm-form-field name="inspectionName" displayname="Inspection Name" show="true" primary-key="false" generator="assigned" key="inspectionName" type="string" required="required" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow7">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                                <wm-form-field name="property" displayname="Property" show="true" primary-key="false" generator="assigned" key="property" type="autocomplete" is-related="true" required="required" widget="autocomplete" placeholder="Select value"
                                    orderby="id:asc" dataset="bind:Variables.PropertyInspectionData.dataSet" displaylabel="addressLine1" datafield="All Fields" searchkey="addressLine1,id" defaultvalue="bind:Widgets.grid1.selecteditem.property"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow8">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn8">
                                <wm-form-field name="order" displayname="Order" show="true" primary-key="false" generator="assigned" key="_order" type="integer" required="required" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-field name="createdTimestamp" displayname="Created Timestamp" show="false" primary-key="false" generator="assigned" key="createdTimestamp" type="date" required="required" widget="date" defaultvalue="CURRENT_DATE" placeholder="Select date"
                        outputformat="yyyy-MM-dd"></wm-form-field>
                    <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="readonly" required="required" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livetable>
        </wm-page-content>
    </wm-content>
</wm-page>