.custompicture{
    /*width: auto !important;*/
    width: 520px !important;
    /*margin:1em !important;*/
}
.imagecontainer{
    text-align:center !important;
}
.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}
.inspect-btn.inspect-btn-photo{
     padding-right: 3em !important;   
}
.inspect-btn.inspect-btn-photo.accessor-photo-main{
    padding-right: 1em !important;
}
.inspect-btn.inspect-btn-photo .badge{
        top: 5px;
    right: 2px;
    font-size: 10px !important;
    padding: 3px 5px !important;  
    margin-right: 3px !important;
}
.slidearrow{
    /*background-color: #c3c1c1 !important;*/
    background-color: inherit !important;
    padding: 0px !important;
}
.wm-app .btn.slidearrow:focus{
    outline: none !important;
}
.inline{
    display: inline !important;
}

.thumbnail{
    display: inline !important;
}
.image.main-image{
    top: 50% !important;
    /*transform: translateY(-50%) !important;*/
    margin: auto ;
    width: auto !important;
    display: block !important;
}
.corosuel-image{
    min-height: 100px !important;
}

.main-image-parent{
        display: inline-block;
    vertical-align: middle !important;
    height: 100% !important;
    text-align: center !important;
    width: 100% !important;
    position: relative;
}
.photo-content-footer{
    /*margin-top: 10px;*/
    /*margin-left: 20px;*/
    margin-left: 60px;
    /*margin-bottom: 10px;*/
}
.photo-content-footer-text{
    margin-top: 0px;
    /*margin-left: 20px;*/
    /*margin-left: 65px;*/
    top: 40px;
    left: -58px;
    margin-bottom: 0px;
    font-size: 12px !important;
}
.photo-content-footer-text1{
    margin-top: 0px;
    /*margin-left: 20px;*/
    /*margin-left: 65px;*/
    top: 40px;
    left: -58px;
    margin-bottom: 0px;
    font-size: 12px !important;
}
.photo-content-footer1{
    /*margin-top: 10px;*/
    /*margin-left: 0px;*/
    margin-left: 50px;
    /*margin-bottom: 10px;*/
}
.photo-content-footer2{
    /*margin-top: 10px;*/
    /*margin-left: 0px;*/
    margin-left: 50px;
    /*margin-bottom: 10px;*/
}
.circle {
	width: 20px;
	height: 20px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	top:-27px;
	left:-10px;
	color: #fff;
    padding-left: 5px;
    padding-top: 2px;
    font-size: 10px;
}
.btn-inherit{
    background-color: inherit !important;
    color: #fff!important;
    border: 1px solid #fff!important;
    float: right;
    top: -70px;
    /*left: -90px;*/
    right:30px;
    padding: 3px !important;
    border-radius: 4px !important;
    text-transform: lowercase !important;
    font-size: 12px !important;
}
@media screen and (max-width: 1200px){
    .photo-content-footer{
        margin-left: 30px;
    }
    
}
@media screen and (max-width: 1050px){
    .photo-content-footer1{
        margin-left: 25px;
    }
    .photo-content-footer2{
        margin-left: 35px;
    }
    
}
@media screen and (max-width: 940px){
    .photo-content-footer{
        margin-left: 10px;
    }
    .photo-content-footer1{
        margin-left: 15px;
    }
    .photo-content-footer2{
        margin-left: 20px;
    }
}
@media screen and (max-width: 800px){
    .photo-content-footer{
        margin-left: 10px;
    }
    .photo-content-footer1{
        margin-left: 5px;
    }
    .photo-content-footer2{
        margin-left: 10px;
    }
}
@media screen and (max-width:768px){
    .btn-inherit{
       right: 80px; 
    }
    .custompicture{
        /*width:100% ;*/
    }
}
.inspect-btn{
    padding: 4px !important;
    margin: 0px !important;
    font-size: 12px !important;
    text-transform: capitalize !important;
    color: #333 !important;
    border: 1px solid #c9c0c0!important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    background-color: #e8edf1 !important;
}
.wm-app .inspect-btn.inspect-btn-photo{
    border-right: none !important;
}
.wm-app .inspect-btn.inspect-btn-number{
    border-left: none !important;
    padding-left: 0px !important;
}
.inspect-btn:hover{
    background-color: #f2f8f8 !important;
}
@media screen and (max-width: 1300px){
    .inspect-btn{
           padding-left: 20px !important;
    padding-right: 20px !important;
    }
}
@media screen and (max-width: 1180px){
    .inspect-btn{
           padding-left: 15px !important;
    padding-right: 15px !important;
    }
}
@media screen and (max-width: 1050px){
    .inspect-btn{
           padding-left: 10px !important;
    padding-right: 10px !important;
    }
}
@media screen and (max-width: 950px){
    .inspect-btn{
           padding-left: 6px !important;
    padding-right: 6px !important;
    }
}
@media screen and (max-width: 950px) {
    .inspect-btn{
           padding-left: 3px !important;
    padding-right: 3px !important;
    }
}
@media screen and (max-width: 767px) {
    .inspect-btn{
           padding-left: 50px !important;
    padding-right: 50px !important;
    }
}
@media screen and (max-width: 690px) {
    .inspect-btn{
           padding-left: 35px !important;
    padding-right: 35px !important;
    }
}
@media screen and (max-width: 570px) {
    .inspect-btn{
           padding-left:15px !important;
    padding-right: 15px !important;
    }
}
@media screen and (max-width: 410px) {
    .inspect-btn{
           padding-left:5px !important;
    padding-right: 5px !important;
    }
}
@media only screen and (max-width: 650px) and (min-width: 588px){
    .wm-app .photopicture-popup{
           max-width: 420px !important;
           max-height: 420px !important;
           min-width: 420px !important;
           min-height: 420px !important;
    }
}
@media only screen and (max-width: 587px) and (min-width: 516px){
    .wm-app .photopicture-popup{
           max-width: 350px !important;
           max-height: 350px !important;
           min-width: 350px !important;
           min-height: 350px !important;
    }
}
@media only screen and (max-width: 515px) and (min-width: 451px){
    .wm-app .photopicture-popup{
           max-width: 300px !important;
           max-height: 300px !important;
           min-width: 300px !important;
           min-height: 300px !important;
    }
    .thumbnail-pic{
        width: 40px !important; 
        height: 40px !important;
    }
}
@media only screen and (max-width: 450px) and (min-width: 400px){
    .wm-app .photopicture-popup{
           max-width: 250px !important;
           max-height: 250px !important;
           min-width: 250px !important;
           min-height: 250px !important;
    }
    .thumbnail-pic{
        width: 40px !important; 
        height: 40px !important;
    }
}
@media only screen and (max-width: 399px) and (min-width: 350px){
    .wm-app .photopicture-popup{
           max-width: 200px !important;
           max-height: 200px !important;
           min-width: 200px !important;
           min-height: 200px !important;
    }
    .thumbnail-pic{
        width: 30px !important; 
        height: 30px !important;
    }
}
@media only screen and (max-width: 349px) {
    .wm-app .photopicture-popup{
           max-width: 150px !important;
           max-height: 150px !important;
           min-width: 150px !important;
           min-height: 150px !important;
    }
    .thumbnail-pic{
        width: 20px !important; 
        height: 20px !important;
    }
}
@media only screen and (max-width: 767px) and (min-width: 520px){
    .wm-app .PhotoContainer .timestamp{
    position: absolute !important;
    bottom: 0 !important;
    right: 225px !important;
    color: #fff;
    /*font-weight: bold;*/
    background-color: #333;
    }
    .trashIcon{
    position: absolute !important;
    top: 0 !important;
    right: 200px !important;
    color: #fff;
    /*font-weight: bold;*/
    background-color: #333;
    }
}
@media only screen and (max-width: 500px) and (min-width: 350px){
    .wm-app .PhotoContainer .timestamp{
        font-size: 10px !important;
    }
}
@media only screen and (max-width: 400px) {
  .wm-app .PhotoContainer .timestamp{
    position: absolute !important;
    bottom: 0 !important;
    right: 90px !important;
    }
}
@media only screen and (max-width: 360px) {
  .wm-app .PhotoContainer .timestamp{
    position: absolute !important;
    bottom: 0 !important;
    right: 90px !important;
    font-size: 6px !important;
    }
}
.thumbnail-bin {
    overflow-x: hidden; white-space: nowrap;
}

.thumbnail-pic {
    width: 60px; height: 60px; margin: 20px;
    border: 2px solid transparent !important;
    opacity: .2;
}

.selected-thumbnail {
    /*border-color: #6e6e6e !important;*/
    opacity: 1;
    width: 80px;
    height: 80px;
}

.thumbnail-left-arrow {
    position: absolute;
    top: 40%;
    left: 0;
}

.thumbnail-right-arrow {
    position: absolute;
    top: 40%;
    right: 0;
}
.wm-app .thumbnail-bin .thumbnail-pic{
    margin-left: 1em !important;
}
.wm-app .app-html-container .btn-primary.thumbnail-left-arrow, .wm-app .app-html-container .btn-primary.thumbnail-right-arrow {
    /*background-color: inherit;*/
    /*color: #7c6666;*/
    /*border: none;*/
    /*font-size: 2em;*/
    background-color: inherit !important;
    border-color: inherit !important;
     color: #333 !important; 
}
.photopicture-popup{
    /*  min-width:150px;*/
    /*min-height:150px;*/
     min-width:480px;
    min-height:420px;
    max-width:480px;
    max-height:420px;
    /*width:300px;*/
    /*height:300px;*/

}
.wm-app .app-html-container .thumbnail-bin{
    margin-left: 2em !important;
    margin-right: 2em !important;
}
.wm-app .PhotoContainer .timestamp{
    position: absolute;
    bottom: 0;
    right: 160px;
    color: #fff;
    /*font-weight: bold;*/
    background-color: #333;
    }
.wm-app .photoDelete{
        float: right;
    position: absolute;
    bottom: 0px;
    right: 47px;
    padding:6px !important;
}
@media only screen and (max-width: 736px){
    .wm-app .photoDelete{
        float: right;
    position: absolute;
    bottom: 0px;
    right: 105px;
    padding:6px !important;
}
}
@media only screen and (max-width: 414px){
    .wm-app .photoDelete{
        float: right;
    position: absolute;
    bottom: 0px;
    right: 58px;
    padding:6px !important;
}
}