<wm-partial data-ng-controller="PhotosAndLinksPageController" name="partial1">
    <wm-layoutgrid name="layoutgrid1">
        <wm-gridrow name="PhotoHeader">
            <wm-gridcolumn name="gridcolumn10">
                <wm-layoutgrid name="layoutgrid2">
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn name="gridcolumn2" columnwidth="9" class="col-xs-9">
                            <wm-button class="inspect-btn inspect-btn-photo accessor-photo-main" caption="" type="button" margin="unset 0.5em" name="AssessorPictureBtnmain" on-click="AssessorPictureBtnmainClick($event, $scope)" iconurl="resources/images/imagelists/picture.png"
                                iconwidth="20px" iconheight="20px"></wm-button>
                            <wm-button class="inspect-btn inspect-btn-photo" caption="" type="button" margin="unset 0.5em" name="AssessorPictureBtn" iconclass="wi wi-open-in-new" iconposition="right" on-click="AssessorPictureBtnClick($event, $scope);"
                                badgevalue="bind:Variables.lvPhoto.dataSet.data.length" iconwidth="20px" iconheight="20px"></wm-button>
                            <wm-button class="inspect-btn" caption="" type="button" margin="unset 0.5em" name="StreetViewBtn" on-click="StreetViewBtnClick($event, $scope)" iconurl="resources/images/imagelists/street-view.png" iconwidth="20px"
                                iconheight="20px"></wm-button>
                            <wm-button class="inspect-btn" caption="" type="button" margin="unset 0.5em" name="MapBtn" on-click="MapBtnClick($event, $scope)" show="bind:activePageName != &quot;inspect&quot; &amp;&amp; activePageName != &quot;InspectMobile&quot;"
                                iconurl="resources/images/imagelists/placeholder.png" iconwidth="20px" iconheight="20px"></wm-button>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn3" columnwidth="3" class="col-xs-3">
                            <wm-select name="SelectLink" placeholder="Link" dataset="bind:Variables.PhotoMenu.dataSet" datafield="All Fields" displayfield="label" on-change="SelectLinkChange($event, $scope, newVal, oldVal)" orderby="label:desc" show="bind:Variables.PhotoMenu.dataSet.content.length > 0"></wm-select>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-gridcolumn>
        </wm-gridrow>
        <!--existing version-->
        <wm-gridrow name="PhotoContent" padding="10px unset unset unset">
            <wm-gridcolumn columnwidth="12" class="corosel-bg-image" name="gridcolumn1">
                <wm-container name="picture_main" class="imagecontainer">
                    <wm-picture pictureaspect="H " shape="thumbnail " name="AssessorPicture" class="custompicture"></wm-picture>
                    <wm-container name="StreetViewContainer" width="100%" height="412px" show="false"></wm-container>
                    <wm-container name="MapContainer" show="false" width="100%" height="412px"></wm-container>
                </wm-container>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
    <wm-view class="dialog-view view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" name="PhotoCoroselDialog" title="Property Images" class="custom-design-dialog" iconclass="wi wi-edit fa-lg custom-icon" on-opened="PhotoCoroselDialogOpened($event, $scope)">
            <wm-container name="PhotoContainer" horizontalalign="center" class="PhotoContainer">
                <wm-button caption="" type="button" name="PreviousPhotoBtn" iconclass="wi wi-chevron-left fa-3x" on-click="PreviousPhotoBtnClick($event, $scope)" class="slidearrow"></wm-button>
                <wm-picture name="PhotoPicture" class="photopicture-popup"></wm-picture>
                <wm-button caption="" type="button" name="NextPhotoBtn" iconclass="wi wi-keyboard-arrow-right fa-3x" on-click="NextPhotoBtnClick($event, $scope)" class="slidearrow"></wm-button>
                <wm-label padding="unset 0.5em" name="timeStamp" caption="bind:Variables.lvPhoto.dataSet.data[$i].createdTimestamp | toDate: 'yyyy-MM-ddTHH:mm:ss'" class="timestamp"></wm-label>
                <wm-button caption="" type="button" class="photoDelete" name="button9" iconclass="" iconposition="left" on-click="Widgets.deletePhotoFromAzure.open()" iconurl="resources/images/imagelists/delete.png"></wm-button>
            </wm-container>
            <wm-html name="html1"></wm-html>
            <wm-dialogactions name="dialogactions1" show="false" class="view">
                <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button2"></wm-button>
                <wm-button class="btn-primary" caption="Save" name="button3"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="view2">
        <wm-confirmdialog name="deletePhotoFromAzure" title="Delete Photo" message="Are you sure you want to delete the photo?" oktext="Delete" canceltext="Cancel" class="delete-dialog" showactions="false" on-ok="Variables.svDeletePhoto.invoke()" on-cancel="Widgets.deletePhotoFromAzure.close()"></wm-confirmdialog>
    </wm-view>
</wm-partial>