<wm-page data-ng-controller="DealsPageController" pagetitle="Deals" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-layoutgrid name="layoutgrid2_1"></wm-layoutgrid>
            <wm-layoutgrid name="layoutgrid3">
                <wm-gridrow name="gridrow9_2">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn19_3" height="30"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn23_1" horizontalalign="center">
                        <wm-label name="label1" caption="Deals" color="#000000" fontunit="em" fontweight="bold" fontsize="1.3" padding="unset unset unset .5em" margin="10px unset unset unset"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn20_2" height="30"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow7_1" padding=".5em 1em 1em 1em">
                    <wm-gridcolumn columnwidth="2" name="gridcolumn19_2" padding="0em unset unset unset" height="30"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="3" name="gridcolumn19_1" padding="0em unset unset unset">
                        <wm-search name="Address" type="autocomplete" placeholder="Address" width="200" searchkey="property.addressLine1" dataset="bind:Variables.AssetSearch.dataSet" displaylabel="property.addressLine1" datafield="id" on-submit="AddressSubmit($event, $scope)"
                            on-select="AddressSelect($event, $scope, selectedValue)"></wm-search>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="3" name="gridcolumn17_1" padding="0em unset unset unset">
                        <wm-select name="select_status" dataset="bind:Variables.DealStatus.dataSet" datafield="id" displayfield="status" placeholder="Status" on-change="select_statusChange($event, $scope, newVal, oldVal)" width="200"></wm-select>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn20_1" padding="0em unset unset unset">
                        <wm-button class="btn-primary btn-rounded pull-right" caption="Add Deal" type="button" margin="unset 0.5em" fontsize="0.875" fontunit="em" iconclass="wi wi-add" iconposition="right" iconmargin="2px" on-click="buttonClick($event, $scope)"
                            name="AddDeal"></wm-button>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow8_1">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn15_1">
                        <wm-table editmode="quickedit" shownewrow="false" title="" dataset="bind:Variables.PlatformDealData.dataSet" navigation="Basic" name="DealTable" showrecordcount="true">
                            <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true" rowactionsposition="0"></wm-table-column>
                            <wm-table-column binding="asset.property.addressLine1" caption="Property" width="250px" edit-widget-type="text" type="string" readonly="true" searchable="false" show="true"></wm-table-column>
                            <wm-table-column binding="contact.id" caption="Buyer" widget-type="label" primary-key="true" edit-widget-type="select" related-entity-name="Contact" type="integer" generator="identity" dataset="bind:Variables.ContactDetails.dataSet"
                                datafield="id" displayfield="name" displaylabel="name" searchkey="name" defaultvalue="bind:Widgets.DealTable.selecteditem.contact.id" show="true" readonly="false" required="true">
                                <wm-label caption="{{row.getProperty('contact.name')}}" class="" data-ng-class=""></wm-label>
                            </wm-table-column>
                            <wm-table-column binding="dealStatus.id" caption="Status" widget-type="label" primary-key="true" edit-widget-type="autocomplete" related-entity-name="DealStatus" type="integer" generator="identity" dataset="bind:Variables.DealStatus.dataSet"
                                datafield="id" placeholder="Status" displayfield="id" displaylabel="status" searchkey="status" defaultvalue="bind:Widgets.DealTable.selecteditem.dealStatus.id" show="true" readonly="false" required="true">
                                <wm-label caption="{{row.getProperty('dealStatus.status')}}" class="" data-ng-class=""></wm-label>
                            </wm-table-column>
                            <wm-table-column binding="optionByTypeId.id" caption="Type" widget-type="label" primary-key="true" edit-widget-type="select" related-entity-name="Option" type="integer" generator="identity" readonly="true" dataset="bind:Variables.Type.dataSet"
                                datafield="id" placeholder="" displayfield="name" defaultvalue="bind:Widgets.DealTable.selecteditem.optionByTypeId.name" show="true" required="true">
                                <wm-label caption="{{row.getProperty('optionByTypeId.name')}}" class="" data-ng-class=""></wm-label>
                            </wm-table-column>
                            <wm-table-column binding="price" caption="Price" width="100px" primary-key="false" edit-widget-type="number" type="big_decimal" generator="assigned" show="true" readonly="false" required="true"></wm-table-column>
                            <wm-table-column binding="note" caption="Notes" primary-key="false" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                            <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="updaterowAction($event)" disabled="false"></wm-table-row-action>
                            <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
                        </wm-table>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <!--<wm-button class="btn-primary pull-right" caption="Add" type="button" margin="unset 0.5em" name="button1" on-click="button1Click($event, $scope)"></wm-button>--></wm-page-content>
    </wm-content>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Add Deal" iconclass="wi wi-file-text" name="dialog_deal" showheader="true" width="80%" on-opened="dialog_dealOpened($event, $scope)" class="custom-design-dialog">
            <wm-liveform errormessage="" title="" iconclass="" defaultmode="Edit" dataset="bind:Variables.UpdatePlatformDeal.dataSet" captionalign="left" captionposition="left" name="DealLiveForm" on-success="Widgets.dialog_deal.close();Widgets.DealTable.refreshData()"
                formdata="bind:Widgets.DealTable.selecteditem" on-beforeservicecall="DealLiveFormBeforeservicecall($event, $operation, $data)" on-error="DealLiveFormError($event, $operation, $data)">
                <wm-layoutgrid columns="2" name="layoutgrid2">
                    <wm-gridrow name="gridrow7">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn13">
                            <wm-form-field name="dealStatus" displayname="Status" show="true" primary-key="false" generator="assigned" key="dealStatus" type="list" is-related="true" readonly="false" required="true" widget="select" maxchars="25" placeholder="Select value"
                                dataset="bind:Variables.DealStatus.dataSet" datafield="All Fields" displayfield="status" defaultvalue="bind:Widgets.DealTable.selecteditem.dealStatus"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn14">
                            <wm-form-field name="closingDate" displayname="Closing" show="true" primary-key="false" generator="assigned" key="closingDate" type="datetime" readonly="false" required="true" widget="datetime" placeholder="Select date time" outputformat="yyyy-MM-ddTHH:mm:ss"
                                mindate="CURRENT_DATE" datepattern="MM/dd/yy hh:mm a"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow8">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn15">
                            <wm-form-field name="asset" displayname="Property" show="true" primary-key="false" generator="assigned" key="asset" type="list" is-related="true" readonly="false" required="true" widget="autocomplete" defaultvalue="bind:Widgets.DealTable.selecteditem.asset"
                                searchkey="property.addressLine1" dataset="bind:Variables.AssetData.dataSet" displaylabel="property.addressLine1" datafield="All Fields" placeholder="Search"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn16" class="deal-buyer">
                            <wm-form-field name="contact" displayname="Buyer" show="true" primary-key="false" generator="assigned" key="contact" type="list" is-related="true" readonly="false" required="true" widget="select" placeholder="Select value" dataset="bind:Variables.ContactDetails.dataSet"
                                datafield="All Fields" displayfield="name" defaultvalue="bind:Widgets.DealTable.selecteditem.contact" orderby="name:desc"></wm-form-field>
                            <wm-icon name="icon1" iconclass="fa fa-user-plus fa-lg"></wm-icon>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn17">
                            <wm-form-field name="optionByType" displayname="Type" show="true" primary-key="false" generator="assigned" key="optionByTypeId" type="list" is-related="true" readonly="false" required="true" widget="select" maxchars="25" placeholder="Select value"
                                dataset="bind:Variables.Type.dataSet" datafield="All Fields" displayfield="name" defaultvalue="bind:Widgets.DealTable.selecteditem.optionByTypeId"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn18_1" class="custom-row deal-contract">
                            <wm-form-field name="contractUrl" displayname="Contract" show="true" primary-key="false" generator="assigned" key="contractUrl" type="string" readonly="false" required="false" widget="text" maxchars="250" inputtype="text" placeholder="Enter value"
                                class="contract"></wm-form-field>
                            <wm-anchor margin="unset 0.5em" name="anchor199" caption="" iconclass="wi wi-external-link" hyperlink="bind:Widgets.DealLiveForm.formWidgets.contractUrl.datavalue" target="_blank"></wm-anchor>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9_1">
                        <wm-gridcolumn columnwidth="3" name="gridcolumn19">
                            <wm-form-field name="price" displayname="Price" show="true" primary-key="false" generator="assigned" key="price" type="big_decimal" readonly="false" step="0.0001" widget="currency" inputtype="number" class="price-custom-row" required="true"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn18" horizontalalign="left" class="pull-left">
                            <wm-form-field name="taxProration" displayname="Proration" show="true" primary-key="false" generator="assigned" key="taxProration" type="byte" readonly="false" required="false" step="0" widget="number" inputtype="number" placeholder="%"
                                class="proration"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn17_2">
                            <wm-form-field name="deposit" displayname="Deposit" show="true" primary-key="false" generator="assigned" key="deposit" type="big_decimal" readonly="false" required="true" step="0.0001" widget="number" inputtype="number" placeholder=""
                                class="deposit-custom-row"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="2" name="gridcolumn16_1">
                            <wm-container name="container3_1" width="100%">
                                <wm-form-field name="depositType" show="true" primary-key="false" generator="assigned" key="optionByDepositTypeId" type="list" is-related="true" readonly="false" required="true" widget="select" maxchars="10" placeholder="Select value"
                                    dataset="bind:Variables.Deposit_Options.dataSet" datafield="All Fields" displayfield="name" orderby="name:desc" defaultvalue="bind:Widgets.DealTable.selecteditem.optionByDepositTypeId" width="69%" class="deposit-select"></wm-form-field>
                            </wm-container>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow8_2">
                        <wm-gridcolumn columnwidth="3" name="gridcolumn19_4">
                            <wm-form-field name="titleCommitment" displayname="Title" show="true" primary-key="false" generator="assigned" key="optionByTitleCommitmentId" type="list" is-related="true" readonly="false" required="true" widget="select" maxchars="10"
                                placeholder="Select value" dataset="bind:Variables.Title_Options.dataSet" defaultvalue="bind:Widgets.DealTable.selecteditem.optionByTitleCommitmentId" displayfield="name" datafield="All Fields" class="title-custom-row"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn20">
                            <wm-form-field name="optionByInspectionType" displayname="Inspection" show="true" primary-key="false" generator="assigned" key="optionByInspectionTypeId" type="list" is-related="true" readonly="false" required="false" widget="select"
                                maxchars="25" placeholder="Select value" dataset="bind:Variables.InspectionType.dataSet" datafield="All Fields" displayfield="name" defaultvalue="bind:Widgets.DealTable.selecteditem.optionByInspectionTypeId" validationmessage="bind:Widgets.DealTable.selecteditem.optionByInspectionTypeId"
                                class="custom-row inspection"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow12">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn23">
                            <wm-form-field name="note" displayname="Note" show="true" primary-key="false" generator="assigned" key="note" type="string" readonly="false" widget="textarea" maxchars="250" placeholder="Enter value" class="note-custom-row"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary btn-cancel-dialog" iconclass="wi wi-cancel" title="Cancel" action="Widgets.dialog_deal.close()" shortcutkey="" disabled="false"
                    type="button" update-mode="true"></wm-form-action>
                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-primary" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
        </wm-dialog>
    </wm-view>
</wm-page>