.custom-row .control-label + div {
    width: calc(100% - 130px);
}

.custom-row .control-label {
    width: 120px;
}


.custom-row-pro .control-label {
    width: 79px;
}
.custom-row-pro .control-label + div {
    width: calc(100% - 79px);
}


.custom-row-price .control-label {
    width: 84px;
}
.custom-row-price .control-label + div {
    width: calc(100% - 84px);
}


.price-custom-row .price-custom-row {
    padding-left: 16% !important;
}
.price-custom-row .price-custom-row.app-currency {
    width: 98% !important;
}
.price-custom-row .price-custom-row .input-group-addon {
    padding: 5px !important;
}
.price-custom-row .price-custom-row .app-textbox {
    padding-right: 0px !important;
}
.deal-buyer .app-select {
    width: 68% !important;
}

.deal-buyer span.app-icon-wrapper, .deal-contract .app-anchor {
    float: right !important;
    bottom: 30px !important;
    right: 18% !important;
}
.contract .app-textbox {
  width: 70% !important;
}
.deal-buyer .live-field, .deal-contract .live-field{
    margin-bottom: 0 !important;
}