<wm-partial data-ng-controller="TitleMoreInfoPageController" type="popover" name="partial1"> 
    <wm-layoutgrid name="layoutgrid1" class="layoutgrid-outerborder"> 
        <wm-gridrow name="gridrow2" class="title-table-header header-row"> 
            <wm-gridcolumn columnwidth="5" name="gridcolumn3" class="col-xs-5"> 
                <wm-label caption="Doc #" name="label2"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="2" class="col-xs-2"> 
                <wm-label caption="-"> 
                </wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="5" name="gridcolumn8" class="col-xs-5"> 
                <wm-label caption="bind:$parent.$parent.$parent.Variables.svQryPortalTitle.dataSet[$i].doc_number" name="label6"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <!--<wm-gridrow name="gridrow3">--> 
        <!--    <wm-gridcolumn columnwidth="12" name="gridcolumn6">--> 
        <!--        <wm-livelist class="media-list" dataset="bind:Variables.svQryPortalTitle.dataSet" navigation="Scroll" listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" name="livelist1">--> 
        <!--            <wm-listtemplate layout="inline" name="listtemplate1">--> 
        <!--                <wm-layoutgrid name="layoutgrid2">--> 
        <!--                    <wm-gridrow name="gridrow4" class="content-row title-table-content">--> 
        <!--                        <wm-gridcolumn columnwidth="2" name="gridcolumn8" class="col-xs-2">--> 
        <!--                            <wm-label caption="bind:$parent.$parent.$parent.Variables.svQryPortalTitle.dataSet[$i].doc_number" name="label6"></wm-label>--> 
        <!--                        </wm-gridcolumn>--> 
        <!--                    </wm-gridrow>--> 
        <!--                </wm-layoutgrid>--> 
        <!--            </wm-listtemplate>--> 
        <!--        </wm-livelist>--> 
        <!--    </wm-gridcolumn>--> 
        <!--</wm-gridrow>--> 
    </wm-layoutgrid> 
</wm-partial>