<wm-partial data-ng-controller="TakePhotoPageController" name="partial1"> 
    <wm-fileupload name="fileupload1" service="FileService" operation="uploadFile" contenttype=".jpeg .jpg .png" backgroundcolor="#4586ce" caption="Take / Upload Photo" maxfilesize="10" on-success="fileupload1Success($event, $scope)" on-select="fileupload1Select($event, $scope)" mode="Select" on-abort="fileupload1Abort($event, $scope)" on-error="fileupload1Error($event, $scope)"></wm-fileupload> 
    <!--<wm-html name="html1">--> 
    <!--    <input type="file" accept="image/*" id="capture" capture="camera">--> 
    <!--</wm-html>--> 
</wm-partial>