<wm-page data-ng-controller="ReportsPageController" pagetitle="Newline Portal - Reports" name="page1"> 
    <wm-header content="header" name="header1"></wm-header> 
    <wm-top-nav content="topnav" name="top_nav1"></wm-top-nav> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-iframe name="iframe1" width="1000px" height="1000px" iframesrc="https://www.periscopedata.com"></wm-iframe> 
        </wm-page-content> 
    </wm-content> 
</wm-page>