<wm-partial data-ng-controller="LogoutPageController" name="partial1"> 
    <wm-layoutgrid name="layoutgrid2" class="popover-bg"> 
        <wm-gridrow name="gridrow4"> 
            <wm-gridcolumn columnwidth="12" name="gridcolumn7" horizontalalign="center" padding="unset unset 10px unset"> 
                <wm-button class="popover-btn-logout" caption="logout" type="submit" margin=".8em unset unset unset" name="button1" on-click="Actions.logoutAction.invoke()"></wm-button> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow5" class="releasedate-border"> 
            <wm-gridcolumn columnwidth="12" name="gridcolumn8" horizontalalign="center"> 
                <wm-button class="popover-btn-logout releasedate" caption="bind:&quot;Released : &quot; + Variables.svGetBuildDate.dataSet.value" margin=".8em unset unset unset" name="button2"></wm-button> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-view class="dialog-view" name="view1"> 
        <wm-dialog dialogtype="design-dialog" modal="true" title="Release Date Information" iconclass="wi wi-file-text" name="BuildDialog" on-opened="BuildDialogOpened($event, $scope)"> 
            <wm-layoutgrid name="layoutgrid2_1"> 
                <wm-gridrow name="gridrow3"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn3"> 
                        <wm-label padding="unset 0.5em" caption="bind:Variables.svGetBuildDate.dataSet.value" name="label1"></wm-label> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
            <wm-dialogactions name="dialogactions1"> 
                <wm-button class="btn-primary" caption="Close" on-click="closeDialog()" name="button3"></wm-button> 
            </wm-dialogactions> 
        </wm-dialog> 
    </wm-view> 
    <!--<wm-view class="dialog-view" name="ReleaseDialog">--> 
    <!--    <wm-dialog dialogtype="design-dialog" modal="true" title="Release Date Information" iconclass="wi wi-file-text" name="ReleaseDialog" on-opened="ReleaseDialogOpened($event, $scope)">--> 
    <!--        <wm-layoutgrid name="layoutgrid3">--> 
    <!--            <wm-gridrow name="gridrow4_1">--> 
    <!--                <wm-gridcolumn columnwidth="6" name="gridcolumn4">--> 
    <!--                    <wm-label padding="unset 0.5em" caption="bind:Variables.svGetBuildDate.dataSet.value" name="label1"></wm-label>--> 
    <!--                </wm-gridcolumn>--> 
    <!--            </wm-gridrow>--> 
    <!--        </wm-layoutgrid>--> 
    <!--        <wm-dialogactions name="dialogactions2">--> 
    <!--            <wm-button class="btn-primary" caption="Close" on-click="closeDialog()" name="button4"></wm-button>--> 
    <!--        </wm-dialogactions>--> 
    <!--    </wm-dialog>--> 
    <!--</wm-view>--> 
</wm-partial>