<wm-page data-ng-controller="AddEditUserPageController" pagetitle="Add Edit User" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-livefilter title="User List" dataset="bind:Variables.PlatformUserData.dataSet" captionalign="left" captionposition="left" name="livefilter2" class="buyer-header" iconclass="">
                <wm-layoutgrid columns="2" name="layoutgrid3">
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn6">
                            <wm-filter-field name="id" field="id" displayname="Id" widget="number" is-range="false" type="integer" is-primary-key="true" generator="identity" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn7">
                            <wm-filter-field name="_group" field="_group" displayname="Group" widget="text" lookup-type="Group" lookup-field="groupName" is-related="true" related-entity-name="Group" is-range="false" type="string" is-primary-key="false" generator="assigned"
                                show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn8">
                            <wm-filter-field name="email" field="email" displayname="Email" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-filter-action key="filter" class="btn-primary" iconclass="wi wi-filter-list" action="filter()" display-name="Filter" show="true" type="button"></wm-filter-action>
                <wm-filter-action key="clear" class="btn-secondary" iconclass="wi wi-cancel" action="clearFilter()" display-name="Clear" show="true" type="button"></wm-filter-action>
            </wm-livefilter>
            <wm-livetable formlayout="dialog" name="livegrid2">
                <wm-table gridfirstrowselect="true" editmode="dialog" title="" dataset="bind:Widgets.livefilter2.result" navigation="Classic" name="grid2">
                    <wm-table-column binding="id" caption="Id" primary-key="true" edit-widget-type="number" type="integer" generator="identity" readonly="true" show="true"></wm-table-column>
                    <wm-table-column binding="email" caption="Email" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="_group.groupName" caption="Group Name" primary-key="true" edit-widget-type="select" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                    <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
                    <wm-table-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow();addNewRowAction($event)" shortcutkey="" disabled="false"></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow();updaterowAction($event)" disabled="false"></wm-table-row-action>
                    <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
                </wm-table>
                <wm-liveform novalidate="false" errormessage="" title="Add User" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Widgets.livefilter2.result" captionalign="left" captionposition="left" name="liveform2">
                    <wm-layoutgrid columns="1" name="layoutgrid4">
                        <wm-gridrow name="gridrow7">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn9">
                                <wm-form-field name="email" displayname="Email" required="true" show="true" generator="assigned" primary-key="false" key="email" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"
                                    inputtype="email"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow8">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                                <wm-form-field name="_group" displayname="Group" required="true" show="true" generator="assigned" primary-key="false" key="_group" type="list" is-related="true" maxchars="50" pc-display="true" mobile-display="true" widget="select"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                    <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livetable>
        </wm-page-content>
    </wm-content>
</wm-page>