<wm-page data-ng-controller="ContactsPageController" pagetitle="Contacts" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-layoutgrid name="layoutgrid2_1">
                <wm-gridrow name="gridrow9_2">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn21_1" height="40"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn22" horizontalalign="center">
                        <wm-label padding="0.5em 0.5em unset 0.5em" name="label1" color="#000000" fontweight="bold" caption="Contacts" fontsize="1.3" fontunit="em"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn23_1" height="40"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow7_1" padding="0.5em 0.5em 1em 0.5em">
                    <wm-gridcolumn columnwidth="2" name="gridcolumn22_1" padding="1em unset unset 0.8em" horizontalalign="right"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="3" name="gridcolumn17_1" padding="0em 1em unset unset" horizontalalign="left" class="hidden-xs">
                        <wm-search name="search_contacts" type="autocomplete" dataset="bind:Variables.SearchContact.dataSet" displaylabel="name" datafield="id" placeholder="Contact Name" searchkey="name" width="200" on-select="search_contactsSelect($event, $scope, selectedValue)"></wm-search>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="5" name="gridcolumn18" padding="0em unset unset unset" class="hidden-xs">
                        <wm-select name="select_type" placeholder="Type" dataset="bind:Variables.ContactType.dataSet" datafield="id" displayfield="name" on-change="select_typeChange($event, $scope, newVal, oldVal)" width="200" orderby="name:desc"></wm-select>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="2" name="gridcolumn23" padding="0em unset unset unset">
                        <wm-button class="btn-primary btn-rounded pull-right" caption="Add Contact" type="button" margin="unset 1em .5em 0.5em" fontunit="em" iconclass="wi wi-plus" iconposition="right" iconmargin="2px" on-click="button_contactClick($event, $scope)"
                            name="button_contact" fontsize="0.875"></wm-button>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow8">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn19">
                        <wm-table editmode="quickedit" shownewrow="false" title="" dataset="bind:Variables.PlatformContactData.dataSet" navigation="Basic" showrecordcount="true" name="ContactTable">
                            <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true" rowactionsposition="0"></wm-table-column>
                            <wm-table-column binding="option.id" caption="Type" widget-type="label" primary-key="true" edit-widget-type="select" related-entity-name="Option" type="integer" generator="identity" dataset="bind:Variables.ContactSearch.dataSet"
                                datafield="id" displayfield="name" defaultvalue="bind:Widgets.ContactTable.selecteditem.option.name" show="true" readonly="false" required="true">
                                <wm-label caption="{{row.getProperty('option.name')}}" class="" data-ng-class=""></wm-label>
                            </wm-table-column>
                            <wm-table-column binding="company" caption="Company" primary-key="false" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="name" caption="Name" primary-key="false" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="phone" caption="Phone" primary-key="false" edit-widget-type="number" type="long" generator="assigned" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="email" caption="Email" primary-key="false" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                            <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="updaterowAction($event)" disabled="false"></wm-table-row-action>
                        </wm-table>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Add Contact" iconclass="wi wi-contacts" name="dialog_contact" on-opened="dialog_contactOpened($event, $scope)" width="80%" class="custom-design-dialog">
            <wm-liveform errormessage="" title="" iconclass="" defaultmode="Edit" dataset="bind:Variables.UpdateContact.dataSet" captionalign="left" captionposition="left" name="ContactLiveForm" formdata="bind:Widgets.ContactTable.selecteditem" on-success="Widgets.dialog_contact.close();Widgets.ContactTable.refreshData()">
                <wm-layoutgrid columns="2" name="layoutgrid2">
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn5">
                            <wm-form-field name="option" displayname="Type" show="true" primary-key="false" generator="assigned" key="option" type="list" is-related="true" readonly="false" required="true" widget="select" maxchars="25" dataset="bind:Variables.ContactType.dataSet"
                                datafield="All Fields" displayfield="name" defaultvalue="bind:Widgets.ContactTable.selecteditem.option" placeholder="Select value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="5" name="gridcolumn6">
                            <wm-form-field name="email" displayname="Email" show="true" primary-key="false" generator="assigned" key="email" type="string" readonly="false" required="true" widget="text" maxchars="50" inputtype="email" placeholder="Enter Email"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="1" name="gridcolumn6">
                            <wm-anchor name="anchor_email" caption="" iconclass="wi wi-email fa-2x" hyperlink="bind:'mailto:'+Widgets.ContactTable.selecteditem.email"></wm-anchor>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn7">
                            <wm-form-field name="company" displayname="Company" show="true" primary-key="false" generator="assigned" key="company" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter Company"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="5" name="gridcolumn8">
                            <wm-form-field name="phone" displayname="Phone" show="true" primary-key="false" generator="assigned" key="phone" type="long" readonly="false" required="false" step="0" widget="number" inputtype="number" placeholder="Enter Phone number"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="1" name="gridcolumn_phone">
                            <wm-anchor name="anchor_phone" caption="" iconclass="wi wi-phone fa-2x" hyperlink="bind:'tel:'+Widgets.ContactTable.selecteditem.phone" show="false"></wm-anchor>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn9">
                            <wm-form-field name="name" displayname="Name" show="true" primary-key="false" generator="assigned" key="name" type="string" readonly="false" required="true" widget="text" maxchars="50" inputtype="text" placeholder="Enter Name"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="5" name="gridcolumn10">
                            <wm-form-field name="addressLine1" displayname="Address" show="true" primary-key="false" generator="assigned" key="addressLine1" type="string" readonly="false" required="false" widget="textarea" maxchars="250" placeholder="Enter Address"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="1" name="gridcolumn_map">
                            <wm-anchor name="anchor_map" caption="" iconclass="wi wi-map fa-2x" hyperlink="bind:'https://www.google.com/maps?q='+Widgets.ContactTable.selecteditem.addressLine1+', '
+Widgets.ContactTable.selecteditem.addressCity+', '
+Widgets.ContactTable.selecteditem.addressState+', '+Widgets.ContactTable.selecteditem.addressZip" target="_blank"></wm-anchor>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn11">
                            <wm-form-field name="appetite" displayname="Appetite" show="true" primary-key="false" generator="assigned" key="appetite" type="string" readonly="false" required="false" widget="text" maxchars="250" inputtype="text" placeholder="Enter Appetite"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn12">
                            <wm-layoutgrid name="layoutgrid3">
                                <wm-gridrow name="gridrow9_1">
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn249999" height="40"></wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn24">
                                        <wm-form-field name="addressCity" show="true" primary-key="false" generator="assigned" key="addressCity" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text" placeholder="City"
                                            width="100%" margin="unset unset unset 25%"></wm-form-field>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="3" name="gridcolumn20" horizontalalign="center">
                                        <wm-form-field name="state" show="true" primary-key="false" generator="assigned" key="state" type="list" is-related="true" readonly="false" required="false" widget="select" maxchars="2" placeholder="IL" displayexpression="state"
                                            defaultvalue="state" width="70" margin="unset unset unset 35px"></wm-form-field>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="5" name="gridcolumn21">
                                        <wm-form-field name="addressZip" show="true" primary-key="false" generator="assigned" key="addressZip" type="integer" readonly="false" required="false" step="0" widget="number" inputtype="number" placeholder="ZIP" width="70"></wm-form-field>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn17">
                            <wm-container name="container_deals" content="DealsPartial">
                                <wm-param name="Contact_ID" value="bind:Widgets.ContactTable.selecteditem.id" type="integer"></wm-param>
                            </wm-container>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary btn-cancel-dialog" iconclass="wi wi-cancel" title="Cancel" action="Widgets.dialog_contact.close()" shortcutkey="" disabled="false"
                    type="button" update-mode="true"></wm-form-action>
                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-primary" iconclass="wi wi-save" title="Save" action="" disabled="false" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
        </wm-dialog>
    </wm-view>
</wm-page>