<wm-page data-ng-controller="TaskPageController" pagetitle="Task" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-layoutgrid name="layoutgrid2_1">
                <wm-gridrow name="gridrow6_1">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn13" height="40"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn14" horizontalalign="center">
                        <wm-label padding="unset 0.5em" name="label_task" caption="Tasks" color="#000000" fontweight="bold" fontsize="1.3" fontunit="em" borderwidth="unset .5px" margin="10px unset unset unset"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn15_1" height="40"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow5" padding="0.5em 0.5em 1em 0.5em">
                    <wm-gridcolumn columnwidth="2" name="gridcolumn15" padding="0em unset unset .8em" height="40"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="2" name="gridcolumn12" padding="0em unset unset unset">
                        <wm-container class="col-md-9" name="container3_2">
                            <wm-search name="search_address" type="autocomplete" searchkey="property.addressLine1" dataset="bind:Variables.AssetData.dataSet" displaylabel="property.addressLine1" datafield="property.id" placeholder="Address" on-select="search_addressSelect($event, $scope, selectedValue)"></wm-search>
                        </wm-container>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="2" name="gridcolumn8" padding="0em unset unset unset">
                        <wm-container class="col-md-9" name="container3">
                            <wm-select name="select_type" placeholder="Type" dataset="bind:Variables.NoteTypeSearch.dataSet" datafield="id" displayfield="name" on-change="select_typeChange($event, $scope, newVal, oldVal)"></wm-select>
                        </wm-container>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="3" name="gridcolumn9" padding="0em unset unset unset">
                        <wm-composite name="composite1">
                            <wm-container class="col-md-9" name="container3_1">
                                <wm-select name="select_user" placeholder="User" dataset="bind:Variables.UserData.dataSet" datafield="id" displayfield="name" on-change="select_userChange($event, $scope, newVal, oldVal)" orderby="name:asc" on-tap="Variables.UserData.listRecords()"
                                    on-click="Variables.UserData.listRecords()"></wm-select>
                            </wm-container>
                        </wm-composite>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="3" name="gridcolumn14_1" padding="0em unset .5em unset">
                        <wm-button class="btn-primary btn-rounded pull-right" caption="Add Mutiple Tasks" type="button" margin="unset 0.5em" fontsize="0.875" fontunit="em" iconclass="wi wi-plus-circle" iconposition="right" iconmargin="2px" on-click="Widgets.dialog_tasks.open()"
                            name="button_task" show="false"></wm-button>
                        <wm-button class="btn-primary btn-rounded pull-right" caption="Add Task" type="button" margin="unset 1em unset 0.5em" fontsize="0.875" fontunit="em" iconclass="wi wi-plus" iconposition="right" iconmargin="2px" on-click="AddTaskClick($event, $scope)"
                            name="AddTask" disabled="false"></wm-button>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow6">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn10">
                        <wm-table editmode="quickedit" shownewrow="false" title="" dataset="bind:Variables.TaskData.dataSet" navigation="Basic" name="NoteTable" enablesort="true" enablecolumnselection="false" on-formrender="NoteTableFormrender($event, $scope, formWidgets, $operation)"
                            showrecordcount="true">
                            <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true" rowactionsposition="0"></wm-table-column>
                            <wm-table-column binding="property.addressLine1" caption="Property" primary-key="false" edit-widget-type="text" related-entity-name="Property" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
                            <wm-table-column binding="userByUserId.id" caption="User" widget-type="label" primary-key="true" edit-widget-type="select" related-entity-name="User" type="integer" generator="identity" dataset="bind:Variables.UserData.dataSet"
                                datafield="id" placeholder="" displayfield="name" displaylabel="name" searchkey="name" defaultvalue="bind:Widgets.NoteTable.selecteditem.userByUserId.id" show="true" readonly="false" on-click="Variables.UserData.listRecords()">
                                <wm-label caption="{{row.getProperty('userByUserId.name')}}" class="" data-ng-class=""></wm-label>
                            </wm-table-column>
                            <wm-table-column binding="noteType.id" caption="Task" widget-type="label" primary-key="true" edit-widget-type="select" related-entity-name="NoteType" type="integer" generator="identity" dataset="bind:Variables.NoteTypeSearch.dataSet"
                                datafield="id" displayfield="name" defaultvalue="bind:Widgets.NoteTable.selecteditem.noteType.id" show="true" readonly="false" required="true">
                                <wm-label caption="{{row.getProperty('noteType.name')}}" class="" data-ng-class=""></wm-label>
                            </wm-table-column>
                            <wm-table-column binding="comments" caption="Note" primary-key="false" edit-widget-type="text" type="string" generator="assigned" datepattern="MM/dd/yyyy" formatpattern="None" show="true" readonly="false"></wm-table-column>
                            <wm-table-column binding="dueTimestamp" caption="Due Date / Completed" primary-key="false" edit-widget-type="datetime" type="datetime" generator="assigned" datepattern="MM/dd/yyyy" formatpattern="toDate" defaultvalue="bind:Widgets.NoteTable.selecteditem.dueTimestamp"
                                show="true" editdatepattern="MM/dd/yy hh:mm a" readonly="false"></wm-table-column>
                            <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-edit" title="" action="updaterowAction($event)" disabled="false"></wm-table-row-action>
                            <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
                        </wm-table>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
</wm-page>