<wm-partial data-ng-controller="PaymentsPageController" name="partial1"> 
    <!--<wm-layoutgrid name="title_header_blue_bg">--> 
    <!--    <wm-gridrow class="custom-container" name="gridrow16">--> 
    <!--        <wm-gridcolumn name="gridcolumn31" columnwidth="5">--> 
    <!--            <wm-button caption="&amp;nbsp;" class="btn-disbursement" name="button1" horizontalalign="left" cursor="none"></wm-button>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="7" name="gridcolumn2_2" horizontalalign="right">--> 
    <!--            <wm-button caption="Add Payment" type="button" name="Disbursementbtn" on-click="addPaymentClick($event, $isolateScope)" horizontalalign="right" class="btn-disbursement" iconurl="resources/images/imagelists/plus.png" iconposition="right"></wm-button>--> 
    <!--        </wm-gridcolumn>--> 
    <!--    </wm-gridrow>--> 
    <!--</wm-layoutgrid>--> 
    <!--<wm-layoutgrid name="layoutgrid1">--> 
    <!--    <wm-gridrow name="gridrow2" class="title-table-header header-row grey-header title-disbursement">--> 
    <!--        <wm-gridcolumn columnwidth="1" name="gridcolumn17"></wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="3" name="gridcolumn2">--> 
    <!--            <wm-label caption="Type" name="label1" class="disburse-header"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="2" name="gridcolumn3">--> 
    <!--            <wm-label caption="Amount" name="label2" class="disburse-header"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="2" name="gridcolumn4">--> 
    <!--            <wm-label caption="Effective" height="24" name="label3" class="disburse-header"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="2" name="gridcolumn5">--> 
    <!--            <wm-label caption="Received" name="label4" class="disburse-header"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="2" name="gridcolumn12">--> 
    <!--            <wm-label padding="unset 0.5em" name="label11" caption="Reference" class="disburse-header"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--    </wm-gridrow>--> 
    <!--    <wm-gridrow name="gridrow3">--> 
    <!--        <wm-gridcolumn columnwidth="12" name="gridcolumn6">--> 
    <!--            <wm-livelist class="media-list" dataset="bind:Variables.svQryPayments.dataSet" navigation="None" listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" name="livelistPayments">--> 
    <!--                <wm-listtemplate layout="inline" name="listtemplate1">--> 
    <!--                    <wm-layoutgrid name="layoutgrid2">--> 
    <!--                        <wm-gridrow name="gridrow4" class="content-row payment-content">--> 
    <!--                            <wm-gridcolumn columnwidth="1" name="gridcolumn18">--> 
    <!--                                <wm-container name="containerEditPayment" on-click="containerEditPaymentClick($event, $isolateScope, item, currentItemWidgets)">--> 
    <!--                                    <wm-picture name="picture2" picturesource="resources/images/imagelists/edit.png" width="20px"></wm-picture>--> 
    <!--                                </wm-container>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                            <wm-gridcolumn columnwidth="3" name="gridcolumn7">--> 
    <!--                                <wm-label caption="bind:Variables.svQryPayments.dataSet[$i].payment_type" name="label5"></wm-label>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                            <wm-gridcolumn columnwidth="2" name="gridcolumn11">--> 
    <!--                                <wm-label name="label10" caption="bind:Variables.svQryPayments.dataSet[$i].amount | toCurrency: '$'"></wm-label>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                            <wm-gridcolumn columnwidth="2" name="gridcolumn12_1">--> 
    <!--                                <wm-label name="label11_1" caption="bind:Variables.svQryPayments.dataSet[$i].effective_date | toDate: 'MM/dd/yy'"></wm-label>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                            <wm-gridcolumn columnwidth="2" name="gridcolumn13_1">--> 
    <!--                                <wm-label name="label12_1" caption="bind:Variables.svQryPayments.dataSet[$i].received_date | toDate: 'MM/dd/yy'"></wm-label>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                            <wm-gridcolumn columnwidth="2" name="gridcolumn14">--> 
    <!--                                <wm-label padding="unset 0.5em" name="label13" caption="bind:Variables.svQryPayments.dataSet[$i].check_number"></wm-label>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                        </wm-gridrow>--> 
    <!--                    </wm-layoutgrid>--> 
    <!--                </wm-listtemplate>--> 
    <!--            </wm-livelist>--> 
    <!--        </wm-gridcolumn>--> 
    <!--    </wm-gridrow>--> 
    <!--</wm-layoutgrid>--> 
    <wm-layoutgrid name="layoutgrid-mobile"> 
        <wm-gridrow name="gridrow2" class="title-table-header header-row grey-header title-disbursement"> 
            <wm-gridcolumn columnwidth="1" name="gridcolumn17"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn2"> 
                <wm-label caption="Type" name="label1" class="disburse-header"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn3"> 
                <wm-label caption="Amount" name="label2" class="disburse-header"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn4"> 
                <wm-label caption="Effective" height="24" name="label3" class="disburse-header"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn5"> 
                <wm-label caption="Received" name="label4" class="disburse-header"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="3" name="gridcolumn12"> 
                <wm-label padding="unset 0.5em" name="label11" caption="Reference" class="disburse-header" showindevice="sm,lg"></wm-label> 
                <wm-label caption="Info" name="label25" class="disburse-header" showindevice="xs,md"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow3"> 
            <wm-gridcolumn columnwidth="12" name="gridcolumn6"> 
                <wm-list class="media-list" dataset="bind:Variables.svQryPayments.dataSet" navigation="None" listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" name="livelistPayments"> 
                    <wm-listtemplate layout="inline" name="listtemplate1"> 
                        <wm-layoutgrid name="layoutgrid2"> 
                            <wm-gridrow name="gridrow4" class="content-row payment-content"> 
                                <wm-gridcolumn columnwidth="1" name="gridcolumn18"> 
                                    <wm-container name="containerEditPayment" on-click="containerEditPaymentClick($event, $isolateScope, item, currentItemWidgets)"> 
                                        <wm-picture name="picture2" picturesource="resources/images/imagelists/edit.png" width="20px"></wm-picture> 
                                    </wm-container> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn7"> 
                                    <wm-label caption="bind:Variables.svQryPayments.dataSet[$i].payment_type" name="label5" class="disburse-header"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn11"> 
                                    <wm-label name="label10" caption="bind:Variables.svQryPayments.dataSet[$i].amount | toCurrency: '$'" class="disburse-header"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn12_1"> 
                                    <wm-label name="label11_1" caption="bind:Variables.svQryPayments.dataSet[$i].effective_date | toDate: 'MM/dd/yy'" class="disburse-header"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn13_1"> 
                                    <wm-label name="label12_1" caption="bind:Variables.svQryPayments.dataSet[$i].received_date | toDate: 'MM/dd/yy'" class="disburse-header"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="3" name="gridcolumn14"> 
                                    <wm-label padding="unset 0.5em" name="label13" caption="bind:Variables.svQryPayments.dataSet[$i].check_number" class="disburse-header" showindevice="sm,lg"></wm-label> 
                                    <wm-popover popoverwidth="240" margin="unset 0.5em" name="popover1" content="PaymentsMoreInfo" iconclass="resources/images/imagelists/information-button.png" iconwidth="20px" iconheight="20px" caption="" iconurl="resources/images/imagelists/information-button.png" showindevice="xs,md"></wm-popover> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-layoutgrid> 
                    </wm-listtemplate> 
                </wm-list> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-view class="dialog-view" name="view1"> 
        <wm-dialog dialogtype="design-dialog" modal="true" title="Payment" class="custom-design-dialog custom-design-dialog-payment" iconclass="" name="dialogAddEditPayment" on-opened="dialogAddEditPaymentOpened($event, $scope)"> 
            <wm-form captionposition="top" name="formPayment" backgroundcolor="rgba(0, 0, 0, 0)" on-submit="formPaymentSubmit($event, $scope, $formData)"> 
                <wm-container name="container9"> 
                    <wm-layoutgrid name="layoutgrid14"> 
                        <wm-container name="container9_1" show="bind:Variables.PaymentData.dataSet.mode == &quot;Edit&quot;"> 
                            <wm-gridrow name="gridrow33"> 
                                <wm-gridcolumn columnwidth="3" name="gridcolumn52"> 
                                    <wm-label padding="unset 0.5em" name="label24" caption="ID:" class="dialog-property-header"></wm-label> 
                                    <wm-label padding="unset 0.5em" name="label20" caption="bind:Widgets.livelistPayments.selecteditem.id"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="6" name="gridcolumn64"> 
                                    <wm-label padding="unset 0.5em" name="label26" class="dialog-property-header" caption="User:"></wm-label> 
                                    <wm-label padding="unset 0.5em" name="label27" caption="bind:Widgets.livelistPayments.selecteditem.user"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="3" name="gridcolumn65"> 
                                    <wm-label padding="unset 0.5em" name="label29" class="dialog-property-header label-arrows" caption="("></wm-label> 
                                    <wm-label padding="unset 0.5em" name="label28" caption="bind:Widgets.livelistPayments.selecteditem.created_timestamp | toDate: 'MM/dd/yyyy'"></wm-label> 
                                    <wm-label padding="unset 0.5em" name="label29" class="dialog-property-header label-arrows" caption=")"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-container> 
                        <wm-gridrow name="gridrow35" class="row-height-top-payment"> 
                            <wm-gridcolumn columnwidth="5" name="gridcolumn57"> 
                                <wm-label padding="unset 0.5em" name="label22" caption="Type" class="dialog-property-header payment-left-popup" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn56"> 
                                <wm-container name="container4"> 
                                    <wm-select name="selectPaymentType" datafield="type" placeholder="Select Type" required="true" datavalue="bind:Variables.PaymentData.dataSet.payment_type" dataset="bind:Variables.PaymentTypes.dataSet" displayfield="type"></wm-select> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow37" class="row-height-top-payment"> 
                            <wm-gridcolumn columnwidth="5" name="gridcolumn60"> 
                                <wm-label padding="unset 0.5em" class="dialog-property-header payment-left-popup payment-label" caption="Payment" name="label26_1" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn61"> 
                                <wm-container name="container8"> 
                                    <wm-layoutgrid name="layoutgrid7"> 
                                        <wm-gridrow name="gridrow14"> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn35"> 
                                                <wm-container class="col-md-9" name="container10" width="100%"> 
                                                    <wm-date name="datePayment" width="90%" datepattern="MM/dd/yyyy" outputformat="yyyy-MM-dd" datavalue="bind:Variables.PaymentData.dataSet.effective_date | toDate: 'MM/dd/yyyy'" required="true"></wm-date> 
                                                </wm-container> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn36"> 
                                                <wm-text type="number" placeholder="Amount" name="textAmount" step="0.01" required="true"></wm-text> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow36" class="row-height-top-payment gridrow_bg-color"> 
                            <wm-gridcolumn columnwidth="5" name="gridcolumn58"> 
                                <wm-label padding="unset 0.5em" name="label24_1" class="dialog-property-header payment-left-popup payment-label" caption="Settlement"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn59"> 
                                <wm-container name="container9_2"> 
                                    <wm-layoutgrid name="layoutgrid7_1"> 
                                        <wm-gridrow name="gridrow13"> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn32"> 
                                                <wm-container class="col-md-9" width="100%" name="container10_1"> 
                                                    <wm-date width="90%" datepattern="MM/dd/yyyy" outputformat="yyyy-MM-dd" datavalue="bind:Variables.PaymentData.dataSet.received_date | toDate: 'MM/dd/yyyy'" required="false" name="dateSettlement"></wm-date> 
                                                </wm-container> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn33"> 
                                                <wm-text type="text" placeholder="Reference" name="textReference" datavalue="bind:Variables.PaymentData.dataSet.check_number" show="true"></wm-text> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-container> 
                <!--<wm-dialogactions name="dialogactions1">--> 
                <!--    <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button1" show="false"></wm-button>--> 
                <!--    <wm-button class="btn-primary" caption="Save" name="buttonSavePayment" type="submit" on-click="buttonSavePaymentClick($event, $scope)"></wm-button>--> 
                <!--</wm-dialogactions>--> 
                <wm-layoutgrid name="layoutgrid7"> 
                    <wm-gridrow name="gridrow13"> 
                        <wm-gridcolumn columnwidth="12" name="gridcolumn21_1" horizontalalign="center" padding="2em unset unset unset"> 
                            <wm-button type="submit" class="form-save btn-primary update-btn" caption="Save" name="buttonSavePayment" on-click="buttonSavePaymentClick($event, $scope)"></wm-button> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-form> 
        </wm-dialog> 
    </wm-view> 
</wm-partial>