.wm-app .custom-design-dialog-payment.modal-dialog{
    width: 500px !important;
}
.row-height-top-payment{
    padding-top:1em !important;
    padding-bottom: 1em !important;
    /*padding-right: 1em !important;*/
}
/*.payment-left-popup{*/
/*    padding-top: 6px !important;*/
/*}*/
.payment-left-popup.payment-label{
    /*padding-top: 6px !important;*/
    margin-bottom: 0px !important;
}

.wm-app .payment-content.content-row .app-grid-column .app-label {
    font-size: 13px !important;
}
.wm-app .dialog-property-header.label-arrows{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.gridrow_bg-color{
    background-color: #cbcbcb !important;
    margin-top:15px !important;
}
.wm-app .more-info-payment a img {
    vertical-align: top !important;
}