<wm-page data-ng-controller="ReoPageController" pagetitle="Newline Portal - REO" name="page1"> 
    <wm-header content="header" name="header1"></wm-header> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-iframe name="iframe1" iframesrc="resources/files/zoho.html" width="100%" height="100%" class="reo-iframe-style"></wm-iframe> 
        </wm-page-content> 
    </wm-content> 
</wm-page>