<wm-page data-ng-controller="QBAuthPageController" pagetitle="Qb Auth" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-table name="getCompanyInfoTable1" title="QuickBooks - Company Info" dataset="bind:Variables.getQBCompanyInfo.dataSet" navigation="None">
                <wm-table-column binding="entities[0].companyName" caption="Company Name" edit-widget-type="text" type="string" searchable="false" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="entities[0].companyStartDate" caption="Start Date" edit-widget-type="datetime" type="datetime" datepattern="yyyy-MM-dd hh:mm a" formatpattern="toDate" searchable="false" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="entities[0].domain" caption="Domain" edit-widget-type="text" type="string" searchable="false" show="true" readonly="false"></wm-table-column>
            </wm-table>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>