<wm-page data-ng-controller="AddEditCountyPageController" pagetitle="Newline Portal - Admin" name="page1"> 
    <wm-content name="content1" class="pdfcontent"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-livefilter title="County List" dataset="bind:Variables.PlatformCountyData.dataSet" captionalign="left" captionposition="left" name="livefilter1" class="buyer-header" iconclass=""> 
                <wm-layoutgrid columns="1" name="layoutgrid2"> 
                    <wm-gridrow name="gridrow25"> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn25"> 
                            <wm-filter-field name="countyName" field="countyName" displayname="County" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="countyName" placeholder="Enter value" matchmode="start"></wm-filter-field> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn26"> 
                            <wm-filter-field name="state" field="state" displayname="State" widget="text" lookup-type="State" lookup-field="state" is-related="true" related-entity-name="State" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" key="state" placeholder="Enter value" inputtype="text" matchmode="start"></wm-filter-field> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <!--<wm-gridrow name="gridrow26">--> 
                    <!--    <wm-gridcolumn columnwidth="12" name="gridcolumn26">--> 
                    <!--        <wm-filter-field name="state" field="state" displayname="State" widget="text" lookup-type="State" lookup-field="state" is-related="true" related-entity-name="State" is-range="false" type="string" is-primary-key="false" generator="assigned"--> 
                    <!--        show="true" key="state" placeholder="Enter value" inputtype="text" matchmode="start"></wm-filter-field>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--</wm-gridrow>--> 
                </wm-layoutgrid> 
                <wm-filter-action key="filter" display-name="Filter" show="true" class="btn-primary" iconclass="wi wi-filter-list" title="Filter" action="filter()" disabled="false" type="button"></wm-filter-action> 
                <wm-filter-action key="clear" display-name="Clear" show="true" class="btn-secondary" iconclass="wi wi-cancel" title="Clear" action="clearFilter()" disabled="false" type="button"></wm-filter-action> 
            </wm-livefilter> 
            <wm-livetable formlayout="dialog" name="livegrid2"> 
                <wm-table gridfirstrowselect="true" editmode="dialog" title="" dataset="bind:Widgets.livefilter1.result" navigation="Classic" name="grid2"> 
                    <wm-table-column binding="countyName" caption="County" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-table-column> 
                    <wm-table-column binding="state.state" caption="State" type="string" generator="assigned" edit-widget-type="text" show="true" related-entity-name="State" readonly="false"></wm-table-column> 
                    <wm-table-column binding="gis" caption="Gis" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-table-column> 
                    <wm-table-column binding="assessor" caption="Assessor" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-table-column> 
                    <wm-table-column binding="assessorPhoto" caption="Assessor Photo" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-table-column> 
                    <wm-table-column binding="treasurer" caption="Treasurer" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-table-column> 
                    <wm-table-column binding="recorder" caption="Recorder" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-table-column> 
                    <wm-table-column binding="clerk" caption="Clerk" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-table-column> 
                    <wm-table-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column> 
                    <wm-table-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-table-action> 
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action> 
                    <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action> 
                </wm-table> 
                <wm-liveform novalidate="false" errormessage="" title="Add County" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Widgets.livefilter1.result" captionalign="left" captionposition="left" name="liveform2"> 
                    <wm-layoutgrid columns="1" name="layoutgrid3"> 
                        <wm-gridrow name="gridrow27"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn27"> 
                                <wm-form-field name="countyName" displayname="County Name" show="true" primary-key="false" generator="assigned" key="countyName" type="string" readonly="false" required="true" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow28"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn28"> 
                                <wm-form-field name="areaLookup" displayname="Area Lookup" show="true" primary-key="false" generator="assigned" key="areaLookup" type="string" readonly="false" required="true" widget="text" maxchars="10" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow29"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn29"> 
                                <wm-form-field name="areaLength" displayname="Area Length" show="true" primary-key="false" generator="assigned" key="areaLength" type="integer" readonly="false" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow30"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn30"> 
                                <wm-form-field name="gis" displayname="Gis" show="true" primary-key="false" generator="assigned" key="gis" type="string" readonly="false" widget="text" maxchars="100" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow31"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn31"> 
                                <wm-form-field name="assessor" displayname="Assessor" show="true" primary-key="false" generator="assigned" key="assessor" type="string" readonly="false" widget="text" maxchars="100" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow32"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn32"> 
                                <wm-form-field name="newlinePhoto" displayname="Newline Photo" show="true" primary-key="false" generator="assigned" key="newlinePhoto" type="string" readonly="false" widget="text" maxchars="100" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow33"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn33"> 
                                <wm-form-field name="treasurer" displayname="Treasurer" show="true" primary-key="false" generator="assigned" key="treasurer" type="string" readonly="false" widget="text" maxchars="100" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow34"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn34"> 
                                <wm-form-field name="recorder" displayname="Recorder" show="true" primary-key="false" generator="assigned" key="recorder" type="string" readonly="false" widget="text" maxchars="100" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow35"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn35"> 
                                <wm-form-field name="clerk" displayname="Clerk" show="true" primary-key="false" generator="assigned" key="clerk" type="string" readonly="false" widget="text" maxchars="100" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow36"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn36"> 
                                <wm-form-field name="clerkAddress" displayname="Clerk Address" show="true" primary-key="false" generator="assigned" key="clerkAddress" type="string" readonly="false" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow37"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn37"> 
                                <wm-form-field name="clerkCity" displayname="Clerk City" show="true" primary-key="false" generator="assigned" key="clerkCity" type="string" readonly="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow38"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn38"> 
                                <wm-form-field name="clerkPhone" displayname="Clerk Phone" show="true" primary-key="false" generator="assigned" key="clerkPhone" type="string" readonly="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow39"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn39"> 
                                <wm-form-field name="searchFee" displayname="Search Fee" show="true" primary-key="false" generator="assigned" key="searchFee" type="double" readonly="false" step="0.0001" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow40"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn40"> 
                                <wm-form-field name="takeNoticeAmount" displayname="Take Notice Amount" show="true" primary-key="false" generator="assigned" key="takeNoticeAmount" type="double" readonly="false" step="0.0001" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow41"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn41"> 
                                <wm-form-field name="takeNoticeAccrualAmount" displayname="Take Notice Accrual Amount" show="true" primary-key="false" generator="assigned" key="takeNoticeAccrualAmount" type="double" readonly="false" step="0.0001" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow42"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn42"> 
                                <wm-form-field name="redemptionFee" displayname="Redemption Fee" show="true" primary-key="false" generator="assigned" key="redemptionFee" type="double" readonly="false" step="0.0001" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow43"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn43"> 
                                <wm-form-field name="redemptionBillAmount" displayname="Redemption Bill Amount" show="true" primary-key="false" generator="assigned" key="redemptionBillAmount" type="double" readonly="false" step="0.0001" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow44"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn44"> 
                                <wm-form-field name="filingCost" displayname="Filing Cost" show="true" primary-key="false" generator="assigned" key="filingCost" type="double" readonly="false" step="0.0001" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow45"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn45"> 
                                <wm-form-field name="filingRevenue" displayname="Filing Revenue" show="true" primary-key="false" generator="assigned" key="filingRevenue" type="double" readonly="false" step="0.0001" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow46"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn46"> 
                                <wm-form-field name="sheriffCost" displayname="Sheriff Cost" show="true" primary-key="false" generator="assigned" key="sheriffCost" type="double" readonly="false" step="0.0001" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow47"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn47"> 
                                <wm-form-field name="clerkCost" displayname="Clerk Cost" show="true" primary-key="false" generator="assigned" key="clerkCost" type="double" readonly="false" step="0.0001" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow48"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn48"> 
                                <wm-form-field name="publicationCost" displayname="Publication Cost" show="true" primary-key="false" generator="assigned" key="publicationCost" type="double" readonly="false" step="0.0001" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow49"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn49"> 
                                <wm-form-field name="assessorPhoto" displayname="Assessor Photo" show="true" primary-key="false" generator="assigned" key="assessorPhoto" type="string" readonly="false" widget="text" maxchars="100" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow50"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn50"> 
                                <wm-form-field name="state" displayname="State" show="true" primary-key="false" generator="assigned" key="state" type="list" is-related="true" readonly="false" required="true" widget="select" placeholder="Select value" displayexpression="state"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow1"> 
                            <wm-gridcolumn name="gridcolumn1" columnwidth="12"> 
                                <wm-form-field name="redemptionInfo" displayname="Redemption Info" show="true" primary-key="false" generator="assigned" key="redemptionInfo" type="text" readonly="false" widget="richtext"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                    <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action> 
                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action> 
                </wm-liveform> 
            </wm-livetable> 
        </wm-page-content> 
    </wm-content> 
</wm-page>