<wm-partial data-ng-controller="rightnavPageController" name="rightnav" type="rightnav"> 
    <wm-content name="content"> 
        <wm-page-content padding="unset 15px" columnwidth="12" name="mainContent"> 
            <wm-html name="html1" autoscroll="true" width="100%" height="90%" backgroundsize="100%,100%"> 
                <div id="gMapsDiv" style="height: 90%;width:100%"> 
                    <h3>Maps loads here</h3> 
                </div> 
            </wm-html> 
            <wm-label name="pointLabel" caption="pointLabel"></wm-label> 
        </wm-page-content> 
    </wm-content> 
    <wm-nav name="rightnav" type="pills" layout="stacked"></wm-nav> 
</wm-partial>