<wm-page data-ng-controller="RichTextEditorNewController" name="page1"> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <!--<wm-html name="html1" on-mouseleave="html1Mouseleave($event, $scope)"><textarea name="editor11" id="editor1" rows="10" cols="80">Easy (and free!) You should check out our premium features.</textarea></wm-html>--> 
            <wm-textarea name="editor" id="editor1" updateon="default" placeholder="" required="false" autofocus="false" disabled="false" readonly="false" show="true" tabindex="1" datavalue="bind:editorvalue"></wm-textarea> 
        </wm-page-content> 
    </wm-content> 
</wm-page>