.wm-app .app-accordion .app-accordion-panel .panel-heading .panel-actions {
    right: 1em;
    top: 1em;
}
.wm-app .app-accordion .app-accordion-panel .panel-heading .panel-actions button {
    padding: 3px 5px;
    margin: 0 10px;
    background-color: transparent;
    border-radius: 10px;
    line-height: 1;
}

.wm-app .app-grid.panel {
    padding: 0px !important;
    padding-top: 0px !important;
}

.wm-app .panel-body {
    padding: 1px;
    overflow: hidden !important;
}
.customtable  .app-grid-header {
    height: 30px;
}
.customtable .app-grid-content {
    height: 220px !important;
    overflow-x: hidden !important;
}