<wm-partial data-ng-controller="TaskPartialPageController" name="partial1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1"></wm-page-content>
    </wm-content>
    <wm-view class="dialog-view" name="view_multiple_deal">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Add Tasks" iconclass="wi wi-file-text" name="dialog_task_multiple" width="90%">
            <wm-table editmode="quickedit" shownewrow="false" name="AddTasksTable" title="" dataset="bind:Variables.AddTasks.dataSet" navigation="None" radioselect="false" multiselect="true" on-datarender="AddTasksTableDatarender($scope, $data)" class="multiple-task-table">
                <wm-table-column binding="typeName" caption="Type" edit-widget-type="text" type="string" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="userName" caption="User" edit-widget-type="select" type="string" dataset="bind:Variables.UserData.dataSet" datafield="name" placeholder="" displayfield="name" displaylabel="name" searchkey="name"
                    show="true" readonly="false" on-select="userNameOnSelect($event, $scope, rowData)" on-change="userNameOnChange($event, $scope, rowData)" on-click="userNameOnClick($event, $scope, rowData)"></wm-table-column>
                <wm-table-column binding="note" caption="Note" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="userId" caption="User Id" edit-widget-type="text" type="string" placeholder="" show="false" readonly="false"></wm-table-column>
                <wm-table-action key="addNewRow" display-name="Add Tasks" show="true" class="btn-primary" iconclass="wi wi-plus" title="Add Tasks" action="addNewRowAction($event)" shortcutkey="" disabled="bind:(Widgets.AddTasksTable.selecteditem.length <= 0)"
                    position="header"></wm-table-action>
            </wm-table>
        </wm-dialog>
    </wm-view>
    <wm-accordion name="accordion1">
        <wm-accordionpane name="accordionpane_task" title="Tasks" height="250">
            <wm-table editmode="quickedit" shownewrow="false" title="" dataset="bind:Variables.Platform_Note.dataSet" navigation="None" name="table_task" spacing="condensed" gridclass="table-bordered table-striped table-hover" class="customtable" on-beforeformrender="table_taskBeforeformrender($event, $scope, $rowData, $operation)">
                <wm-table-column binding="rowOperations" caption="Actions" width="5%" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true" rowactionsposition="0"></wm-table-column>
                <wm-table-column binding="userByUserId.name" caption="User" primary-key="false" edit-widget-type="text" related-entity-name="User" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="noteType.name" caption="Task" width="18%" primary-key="false" edit-widget-type="text" related-entity-name="NoteType" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="comments" caption="Note" width="30%" primary-key="false" edit-widget-type="text" type="string" generator="assigned" readonly="true" datepattern="MM/dd/yyyy" formatpattern="None" placeholder="Add Note"
                    defaultvalue="bind:Widgets.table_task.selecteditem.comments" show="true"></wm-table-column>
                <wm-table-column binding="createdTimestamp" caption="Created" width="14%" primary-key="false" edit-widget-type="timestamp" type="timestamp" generator="assigned" readonly="true" datepattern="MM/dd/yyyy" formatpattern="toDate"
                    placeholder="Created Date" defaultvalue="bind:Widgets.table_task.selecteditem.createdTimestamp" show="true" editdatepattern="MM/dd/yy hh:mm a" required="true"></wm-table-column>
                <wm-table-column binding="doneTimestamp" caption="Done" width="14%" primary-key="false" edit-widget-type="timestamp" type="timestamp" generator="assigned" readonly="true" datepattern="MM/dd/yyyy" formatpattern="toDate"
                    placeholder="Done Date" defaultvalue="bind:Widgets.table_task.selecteditem.doneTimestamp" show="true" editdatepattern="MM/dd/yy hh:mm a"></wm-table-column>
                <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="updaterowAction($event)" disabled="false"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
            </wm-table>
        </wm-accordionpane>
    </wm-accordion>
</wm-partial>