.wm-app .app-grid .table tbody tr > td
{
    padding:0 !important;
}

.wm-app .custom-design-dialog-accrual.modal-dialog{
    width: 500px !important;
}
.row-height-top-accural{
    padding-top:1em !important;
}
.accrual-left-popup{
    padding-top: 6px !important;
}
.wm-app .accurals-content.content-row .app-grid-column .app-label {
    font-size: 13px !important;
}
.wm-app .more-info-accrual a img {
    vertical-align: top !important;
}