<wm-partial data-ng-controller="AccrualsPageController" name="partial1"> 
    <!--<wm-layoutgrid name="title_header_blue_bg">--> 
    <!--    <wm-gridrow class="custom-container" name="gridrow16">--> 
    <!--        <wm-gridcolumn name="gridcolumn31" columnwidth="5">--> 
    <!--            <wm-button caption="&amp;nbsp;" class="btn-disbursement" name="button1" horizontalalign="left" cursor="none"></wm-button>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="7" name="gridcolumn2_2" horizontalalign="right">--> 
    <!--            <wm-button caption="Add Accrual" type="button" name="Disbursementbtn" on-click="addAccrualClick($event, $isolateScope)" horizontalalign="right" class="btn-disbursement" iconurl="resources/images/imagelists/plus.png" iconposition="right"></wm-button>--> 
    <!--        </wm-gridcolumn>--> 
    <!--    </wm-gridrow>--> 
    <!--</wm-layoutgrid>--> 
    <!--<wm-layoutgrid name="layoutgrid1">--> 
    <!--    <wm-gridrow name="gridrow2" class="title-table-header header-row grey-header">--> 
    <!--        <wm-gridcolumn columnwidth="1" name="gridcolumn17"></wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="3" name="gridcolumn2">--> 
    <!--            <wm-label caption="Category - Type" name="label1" class="disburse-header"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="1" name="gridcolumn3">--> 
    <!--            <wm-label caption="PP" name="label2" class="disburse-header"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="3" name="gridcolumn4">--> 
    <!--            <wm-label caption="Effective Date" height="24" name="label3" class="disburse-header"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="2" name="gridcolumn5">--> 
    <!--            <wm-label caption="Principal" name="label4" class="disburse-header"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="2" name="gridcolumn12">--> 
    <!--            <wm-label padding="unset 0.5em" name="label11" caption="Revenue" class="disburse-header"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--    </wm-gridrow>--> 
    <!--    <wm-gridrow name="gridrow3">--> 
    <!--        <wm-gridcolumn columnwidth="12" name="gridcolumn6">--> 
    <!--            <wm-livelist class="media-list" dataset="bind:Variables.svQryAccruals.dataSet" navigation="None" listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" name="livelistAccruals">--> 
    <!--                <wm-listtemplate layout="inline" name="listtemplate1">--> 
    <!--                    <wm-layoutgrid name="layoutgrid2">--> 
    <!--                        <wm-gridrow name="gridrow4" class="content-row accurals-content">--> 
    <!--                            <wm-gridcolumn columnwidth="1" name="gridcolumn18">--> 
    <!--                                <wm-container name="containerEditAccrual" on-click="containerEditAccrualClick($event, $isolateScope, item, currentItemWidgets)">--> 
    <!--                                    <wm-picture name="picture2" picturesource="resources/images/imagelists/edit.png" width="20px"></wm-picture>--> 
    <!--                                </wm-container>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                            <wm-gridcolumn columnwidth="3" name="gridcolumn7">--> 
    <!--                                <wm-label caption="bind:Variables.svQryAccruals.dataSet[$i].disbursement_category + &quot; - &quot; + Variables.svQryAccruals.dataSet[$i].accrual_name" name="label5"></wm-label>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                            <wm-gridcolumn columnwidth="1" name="gridcolumn11">--> 
    <!--                                <wm-label name="label10" caption="bind:Variables.svQryAccruals.dataSet[$i].penalty_period"></wm-label>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                            <wm-gridcolumn columnwidth="3" name="gridcolumn12_1">--> 
    <!--                                <wm-label name="label11_1" caption="bind:Variables.svQryAccruals.dataSet[$i].effective_date | toDate: 'MM/dd/yy'"></wm-label>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                            <wm-gridcolumn columnwidth="2" name="gridcolumn13_1">--> 
    <!--                                <wm-label name="label12_1" caption="bind:Variables.svQryAccruals.dataSet[$i].principal_amount | toCurrency: '$'"></wm-label>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                            <wm-gridcolumn columnwidth="2" name="gridcolumn14">--> 
    <!--                                <wm-label padding="unset 0.5em" name="label13" caption="bind:Variables.svQryAccruals.dataSet[$i].revenue_amount | toCurrency: '$'"></wm-label>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                        </wm-gridrow>--> 
    <!--                    </wm-layoutgrid>--> 
    <!--                </wm-listtemplate>--> 
    <!--            </wm-livelist>--> 
    <!--        </wm-gridcolumn>--> 
    <!--<wm-grid title="" dataset="bind:Variables.svQryAccruals.dataSet" navigation="None" name="gridAccruals" enablesort="false" showheader="false">--> 
    <!--    <wm-grid-column binding="editField" type="custom" width="8%" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true">--> 
    <!--        <wm-picture name="picture2" picturesource="resources/images/imagelists/edit.png" width="20px"></wm-picture>--> 
    <!--    </wm-grid-column>--> 
    <!--    <wm-grid-column binding="categoryType" caption="Category - Type" type="custom" width="25%" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true">{{row.disbursement_category}} - {{row.accrual_name}}</wm-grid-column>--> 
    <!--    <wm-grid-column binding="penalty_period" caption="PP" type="string" width="8%" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>--> 
    <!--    <wm-grid-column binding="effective_date" caption="Effective Date" type="string" width="25%" readonly="true" datepattern="MM/dd/yyyy" formatpattern="toDate" edit-widget-type="text" show="true"></wm-grid-column>--> 
    <!--    <wm-grid-column binding="principal_amount" caption="Principal" type="string" readonly="true" formatpattern="toCurrency" currencypattern="USD" edit-widget-type="text" show="true"></wm-grid-column>--> 
    <!--    <wm-grid-column binding="revenue_amount" caption="Revenue" type="string" readonly="true" formatpattern="toCurrency" currencypattern="USD" edit-widget-type="text" show="true"></wm-grid-column>--> 
    <!--</wm-grid>--> 
    <!--    </wm-gridrow>--> 
    <!--</wm-layoutgrid>--> 
    <wm-layoutgrid name="layoutgrid_mobile"> 
        <wm-gridrow name="gridrow2" class="title-table-header header-row grey-header"> 
            <wm-gridcolumn columnwidth="1" name="gridcolumn17"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="3" name="gridcolumn2"> 
                <wm-label caption="Category-Type" name="label1" class="disburse-header"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="1" name="gridcolumn3"> 
                <wm-label caption="PP" name="label2" class="disburse-header"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="3" name="gridcolumn4"> 
                <wm-label caption="Effective Date" height="24" name="label3" class="disburse-header"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn5"> 
                <wm-label caption="Principal" name="label4" class="disburse-header" showindevice="sm,lg"></wm-label> 
                <wm-label caption="Revenue" class="disburse-header" name="label24_2" showindevice="xs,md"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn12"> 
                <wm-label name="label11" caption="Revenue" class="disburse-header" showindevice="sm,lg"></wm-label> 
                <wm-label caption="Info" name="label25" class="disburse-header" showindevice="xs,md"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow3"> 
            <wm-gridcolumn columnwidth="12" name="gridcolumn6"> 
                <wm-list class="media-list" dataset="bind:Variables.svQryAccruals.dataSet" navigation="None" listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" name="livelistAccruals"> 
                    <wm-listtemplate layout="inline" name="listtemplate1"> 
                        <wm-layoutgrid name="layoutgrid2"> 
                            <wm-gridrow name="gridrow4" class="content-row accurals-content"> 
                                <wm-gridcolumn columnwidth="1" name="gridcolumn18"> 
                                    <wm-container name="containerEditAccrual" on-click="containerEditAccrualClick($event, $isolateScope, item, currentItemWidgets)"> 
                                        <wm-picture name="picture2" picturesource="resources/images/imagelists/edit.png" width="20px"></wm-picture> 
                                    </wm-container> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="3" name="gridcolumn7"> 
                                    <wm-label caption="bind:Variables.svQryAccruals.dataSet[$i].disbursement_category + &quot; - &quot; + Variables.svQryAccruals.dataSet[$i].accrual_name" name="label5" class="disburse-header"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="1" name="gridcolumn11"> 
                                    <wm-label name="label10" caption="bind:Variables.svQryAccruals.dataSet[$i].penalty_period" class="disburse-header"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="3" name="gridcolumn12_1"> 
                                    <wm-label name="label11_1" caption="bind:Variables.svQryAccruals.dataSet[$i].effective_date | toDate: 'MM/dd/yy'" class="disburse-header"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn13_1"> 
                                    <wm-label name="label12_1" caption="bind:Variables.svQryAccruals.dataSet[$i].principal_amount | toCurrency: '$'" class="disburse-header" showindevice="sm,lg"></wm-label> 
                                    <wm-label caption="bind:Variables.svQryAccruals.dataSet[$i].revenue_amount | toCurrency: '$'" class="disburse-header" name="label26_2" showindevice="xs,md"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn14"> 
                                    <wm-label name="label13" caption="bind:Variables.svQryAccruals.dataSet[$i].revenue_amount | toCurrency: '$'" class="disburse-header" showindevice="sm,lg"></wm-label> 
                                    <wm-popover popoverwidth="240" margin="unset 0.5em" name="popover1" content="AccrualMoreInfo" iconclass="resources/images/imagelists/information-button.png" iconwidth="20px" iconheight="20px" caption="" iconurl="resources/images/imagelists/information-button.png" showindevice="xs,md"></wm-popover> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-layoutgrid> 
                    </wm-listtemplate> 
                </wm-list> 
            </wm-gridcolumn> 
            <!--<wm-grid title="" dataset="bind:Variables.svQryAccruals.dataSet" navigation="None" name="gridAccruals" enablesort="false" showheader="false">--> 
            <!--    <wm-grid-column binding="editField" type="custom" width="8%" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true">--> 
            <!--        <wm-picture name="picture2" picturesource="resources/images/imagelists/edit.png" width="20px"></wm-picture>--> 
            <!--    </wm-grid-column>--> 
            <!--    <wm-grid-column binding="categoryType" caption="Category - Type" type="custom" width="25%" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true">{{row.disbursement_category}} - {{row.accrual_name}}</wm-grid-column>--> 
            <!--    <wm-grid-column binding="penalty_period" caption="PP" type="string" width="8%" readonly="true" edit-widget-type="text" show="true"></wm-grid-column>--> 
            <!--    <wm-grid-column binding="effective_date" caption="Effective Date" type="string" width="25%" readonly="true" datepattern="MM/dd/yyyy" formatpattern="toDate" edit-widget-type="text" show="true"></wm-grid-column>--> 
            <!--    <wm-grid-column binding="principal_amount" caption="Principal" type="string" readonly="true" formatpattern="toCurrency" currencypattern="USD" edit-widget-type="text" show="true"></wm-grid-column>--> 
            <!--    <wm-grid-column binding="revenue_amount" caption="Revenue" type="string" readonly="true" formatpattern="toCurrency" currencypattern="USD" edit-widget-type="text" show="true"></wm-grid-column>--> 
            <!--</wm-grid>--> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-view class="dialog-view" name="view1"> 
        <wm-dialog dialogtype="design-dialog" modal="true" title="Accrual" class="custom-design-dialog custom-design-dialog-accrual" iconclass="wi wi-edit fa-lg custom-icon" name="dialogAddEditAccrual" on-opened="dialogAddEditAccrualOpened($event, $scope)"> 
            <wm-form captionposition="top" name="formAccrual" backgroundcolor="rgba(0, 0, 0, 0)" on-submit="formAccrualSubmit($event, $scope, $formData)"> 
                <wm-container name="container9"> 
                    <wm-layoutgrid name="layoutgrid14"> 
                        <wm-container name="container9_1" show="bind:Variables.AccrualData.dataSet.mode == &quot;Edit&quot;"> 
                            <wm-gridrow name="gridrow33"> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn52"> 
                                    <wm-label padding="unset 0.5em" name="label24" caption="ID:" class="dialog-property-header"></wm-label> 
                                    <wm-label padding="unset 0.5em" name="label20" caption="bind:Widgets.livelistAccruals.selecteditem.id"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn64"> 
                                    <wm-label padding="unset 0.5em" name="label26" class="dialog-property-header" caption="User:"></wm-label> 
                                    <wm-label padding="unset 0.5em" name="label27" caption="bind:Widgets.livelistAccruals.selecteditem.user"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn65"> 
                                    <wm-label padding="unset 0.5em" name="label29" class="dialog-property-header" caption="("></wm-label> 
                                    <wm-label padding="unset 0.5em" name="label28" caption="bind:Widgets.livelistAccruals.selecteditem.entered_timestamp | toDate: 'MM/dd/yyyy'"></wm-label> 
                                    <wm-label padding="unset 0.5em" name="label29" class="dialog-property-header" caption=")"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-container> 
                        <wm-gridrow name="gridrow11" class="row-height-top-accural"> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn24"> 
                                <wm-label padding="unset 0.5em" caption="Disbursement ID" class="dialog-property-header accrual-left-popup" name="label19"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn25"> 
                                <wm-text type="number" placeholder="Enter Disbursement ID" name="textDisbursementID"></wm-text> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow35" class="row-height-top-accural"> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn57"> 
                                <wm-label padding="unset 0.5em" name="label22" caption="Type" class="accrual-left-popup dialog-property-header" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn56"> 
                                <wm-container name="container4"> 
                                    <wm-select name="selectAccrualType" datafield="id" placeholder="Select Type" dataset="bind:Variables.svAccrualTypes.dataSet" displayfield="accrual_name" required="true" datavalue="bind:Variables.AccrualData.dataSet.accrual_type_id"></wm-select> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow37" class="row-height-top-accural"> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn60"> 
                                <wm-label padding="unset 0.5em" class="accrual-left-popup dialog-property-header" caption="Effective Date" name="label26_1" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn61"> 
                                <wm-container name="container8"> 
                                    <wm-layoutgrid name="layoutgrid7"> 
                                        <wm-gridrow name="gridrow14"> 
                                            <wm-gridcolumn columnwidth="7" name="gridcolumn35"> 
                                                <wm-container class="col-md-9" name="container10" width="90%"> 
                                                    <wm-date name="dateEffective" width="100%" datepattern="MM/dd/yyyy" outputformat="yyyy-MM-dd" datavalue="bind:Variables.AccrualData.dataSet.effective_date | toDate: 'MM/dd/yyyy'" required="true"></wm-date> 
                                                </wm-container> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="5" name="gridcolumn36"> 
                                                <!--<wm-select placeholder="PP" datavalue="bind:Variables.AccrualData.dataSet.penalty_period" dataset="1,2,3,4" name="selectPP"></wm-select>--> 
                                                <wm-text type="number" placeholder="Enter PP" name="textPP" required="true"></wm-text> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow36" class="row-height-top-accural"> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn58"> 
                                <wm-label padding="unset 0.5em" name="label24_1" class="accrual-left-popup dialog-property-header" caption="Revenue Amount"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn59"> 
                                <wm-container name="container6"> 
                                    <wm-layoutgrid name="layoutgrid6"> 
                                        <wm-gridrow name="gridrow12"> 
                                            <wm-gridcolumn columnwidth="12" name="gridcolumn31_1"> 
                                                <wm-text type="number" name="textRevenue" placeholder="Enter Revenue Amount" step="0.01"></wm-text> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow34" class="row-height-top-accural"> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn54"> 
                                <wm-label padding="unset 0.5em" class="accrual-left-popup dialog-property-header" caption="Principal Amount" name="label28_1"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn55"> 
                                <wm-text type="number" placeholder="Enter Principal Amount" name="textPrincipal" step="0.01"></wm-text> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-container> 
                <!--<wm-dialogactions name="dialogactions1">--> 
                <!--    <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button1" show="false"></wm-button>--> 
                <!--    <wm-button class="btn-primary" caption="Save" name="buttonSaveAccrual" type="submit" on-click="buttonSaveAccrualClick($event, $scope)"></wm-button>--> 
                <!--</wm-dialogactions>--> 
                <wm-layoutgrid name="layoutgrid7"> 
                    <wm-gridrow name="gridrow13"> 
                        <wm-gridcolumn columnwidth="12" name="gridcolumn21_1" horizontalalign="center" padding="2em unset unset unset"> 
                            <wm-button type="submit" class="form-save btn-primary update-btn" caption="Save" name="buttonSaveAccrual" on-click="buttonSaveAccrualClick($event, $scope)"></wm-button> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-form> 
        </wm-dialog> 
    </wm-view> 
</wm-partial>