<wm-partial data-ng-controller="BalancesPageController" name="partial1"> 
    <wm-layoutgrid name="bin_header"> 
        <wm-gridrow name="gridrow11"> 
            <wm-gridcolumn columnwidth="12" name="gridcolumn36" padding=".5em unset unset unset" class="taxes bal-text" horizontalalign="left"> 
                <wm-label caption="Balances" fontweight="bold" name="label21" color="#2c65a8" fontsize="12" class="title_tab sub-title-ins-mobile title-tab1" horizontalalign="left"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <!--<wm-layoutgrid class="tax-year-grid" name="layoutgrid2_1">--> 
    <!--    <wm-gridrow name="gridrow2">--> 
    <!--        <wm-gridcolumn name="gridcolumn2">--> 
    <!--            <wm-layoutgrid class="tax-grid-header" name="layoutgrid3_1">--> 
    <!--                <wm-gridrow name="gridrow3_2">--> 
    <!--                    <wm-gridcolumn columnwidth="3" name="gridcolumn3">--> 
    <!--                        <wm-label padding="unset 0.5em" name="label16_1_1" caption="&amp;nbsp;"></wm-label>--> 
    <!--                    </wm-gridcolumn>--> 
    <!--                    <wm-gridcolumn columnwidth="3" name="gridcolumn18_1">--> 
    <!--                        <wm-label caption="Balance Due" name="label20_1"></wm-label>--> 
    <!--                    </wm-gridcolumn>--> 
    <!--                    <wm-gridcolumn columnwidth="3" name="gridcolumn19_1">--> 
    <!--                        <wm-label caption="In Flight" name="label21_1"></wm-label>--> 
    <!--                    </wm-gridcolumn>--> 
    <!--                    <wm-gridcolumn columnwidth="3" name="gridcolumn20">--> 
    <!--                        <wm-label caption="After Settlement" name="label22"></wm-label>--> 
    <!--                    </wm-gridcolumn>--> 
    <!--                </wm-gridrow>--> 
    <!--            </wm-layoutgrid>--> 
    <!--        </wm-gridcolumn>--> 
    <!--    </wm-gridrow>--> 
    <!--</wm-layoutgrid>--> 
    <!--<wm-layoutgrid name="layoutgrid3">--> 
    <!--    <wm-gridrow name="gridrow4_1" class="tax-grid-content">--> 
    <!--        <wm-gridcolumn columnwidth="3" name="gridcolumn31_1" class="text-muted">--> 
    <!--            <wm-label caption="Total" name="label13_1" class="for-bold tax-columns"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="3" name="gridcolumn34">--> 
    <!--            <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.balance_due | toCurrency: '$') || '-'" name="label19_2"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="3" name="gridcolumn35">--> 
    <!--            <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.payment_in_transit | toCurrency: '$') || '-'" name="label17_1"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="3" name="gridcolumn36_1">--> 
    <!--            <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.due_after_settlement | toCurrency: '$') || '-'" name="label23"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--<wm-gridcolumn columnwidth="2" name="gridcolumn23_1"></wm-gridcolumn>--> 
    <!--<wm-gridcolumn columnwidth="2" name="gridcolumn24"></wm-gridcolumn>--> 
    <!--    </wm-gridrow>--> 
    <!--    <wm-gridrow name="gridrow5">--> 
    <!--        <wm-gridcolumn name="gridcolumn13">--> 
    <!--            <wm-label caption="&amp;nbsp;" name="label10_1"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--    </wm-gridrow>--> 
    <!--</wm-layoutgrid>--> 
    <wm-layoutgrid name="layoutgridmain" class="tax-year-grid"> 
        <wm-gridrow name="gridrow3"> 
            <wm-gridcolumn name="gridcolumn1"> 
                <wm-layoutgrid name="layoutgrid2" class="tax-grid-header"> 
                    <wm-gridrow name="gridrow3_1" class="grey-header"> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn7" class="col-xs-3"> 
                            <wm-label padding="unset 0.5em" name="label16_1" caption="&amp;nbsp;"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn16" class="col-xs-3"> 
                            <wm-label caption="Certificate" name="label19_1"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn17" class="col-xs-2"> 
                            <wm-label caption="Subs" name="label19_3"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn17" class="col-xs-2"> 
                            <wm-label caption="Fees" name="label19_3"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn17" class="col-xs-2"> 
                            <wm-label caption="Total" name="label19_3"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
                <wm-layoutgrid name="layoutgrid3"> 
                    <wm-gridrow name="gridrow4" class="tax-grid-content"> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn11" class="text-muted col-xs-3"> 
                            <wm-label caption="Principal" name="label9" class="for-bold tax-columns"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn14" class="col-xs-3"> 
                            <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.certificate_principal | toCurrency: '$') || '-'" name="label10"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn26" class="col-xs-2"> 
                            <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.sub_principal | toCurrency: '$') || '-'" textalign="left" name="label20"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn38" class="col-xs-2"> 
                            <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.fee_principal | toCurrency: '$') || '-'" name="label12"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn32" class="col-xs-2"> 
                            <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.principal | toCurrency: '$') || '-'" name="label18"></wm-label> 
                        </wm-gridcolumn> 
                        <!--<wm-gridcolumn columnwidth="3" name="gridcolumn21">--> 
                        <!--    <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.certificate_revenue | toCurrency: '$') || '-'" name="label15"></wm-label>--> 
                        <!--</wm-gridcolumn>--> 
                        <!--<wm-gridcolumn columnwidth="3" name="gridcolumn22_1" class="col-xs-3"></wm-gridcolumn>--> 
                        <!--<wm-gridcolumn columnwidth="2" name="gridcolumn23_1"></wm-gridcolumn>--> 
                        <!--<wm-gridcolumn columnwidth="2" name="gridcolumn24"></wm-gridcolumn>--> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow10" class="tax-grid-content"> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn25_1" class="text-muted col-xs-3"> 
                            <wm-label caption="Revenue" name="label19" class="for-bold tax-columns"></wm-label> 
                        </wm-gridcolumn> 
                        <!--<wm-gridcolumn columnwidth="3" name="gridcolumn26">--> 
                        <!--    <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.sub_principal | toCurrency: '$') || '-'" textalign="left" name="label20"></wm-label>--> 
                        <!--</wm-gridcolumn>--> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn21" class="col-xs-3"> 
                            <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.certificate_revenue | toCurrency: '$') || '-'" name="label15"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn27_1" class="col-xs-2"> 
                            <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.sub_revenue | toCurrency: '$') || '-'" name="label18_2"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn39" class="col-xs-2"> 
                            <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.fee_revenue | toCurrency: '$') || '-'" name="label16"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn33_1" class="col-xs-2"> 
                            <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.revenue | toCurrency: '$') || '-'" name="label17"></wm-label> 
                        </wm-gridcolumn> 
                        <!--<wm-gridcolumn columnwidth="3" name="gridcolumn28_1" class="col-xs-3"></wm-gridcolumn>--> 
                        <!--<wm-gridcolumn columnwidth="2" name="gridcolumn29"></wm-gridcolumn>--> 
                        <!--<wm-gridcolumn columnwidth="2" name="gridcolumn30_1"></wm-gridcolumn>--> 
                    </wm-gridrow> 
                    <!--<wm-gridrow>--> 
                    <!--    <wm-gridcolumn>--> 
                    <!--        <wm-label caption="&nbsp;">--> 
                    <!--        </wm-label>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--</wm-gridrow>--> 
                    <wm-gridrow name="gridrow10_11_1" class="tax-grid-content"> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn25_1_11_1" class="text-muted col-xs-3"> 
                            <wm-label caption="Redemption" name="label19_11_1" class="for-bold tax-columns"></wm-label> 
                        </wm-gridcolumn> 
                        <!--<wm-gridcolumn columnwidth="3" name="gridcolumn31_1" class="text-muted">--> 
                        <!--   <wm-label caption="Total" name="label13_1" class="for-bold tax-columns"></wm-label>--> 
                        <!--</wm-gridcolumn>--> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn21_1" class="col-xs-3"></wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn22" class="col-xs-2"></wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn23" class="col-xs-2"></wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn34" class="col-xs-2"> 
                            <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.redemption_amount | toCurrency: '$') || '-'" name="label19_2"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow10_11" class="tax-grid-content"> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn25_1_11" class="text-muted col-xs-3"> 
                            <wm-label caption="Due" name="label19_11" class="for-bold tax-columns"></wm-label> 
                        </wm-gridcolumn> 
                        <!--<wm-gridcolumn columnwidth="3" name="gridcolumn31_1" class="text-muted">--> 
                        <!--   <wm-label caption="Total" name="label13_1" class="for-bold tax-columns"></wm-label>--> 
                        <!--</wm-gridcolumn>--> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn21_1" class="col-xs-3"></wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn35" class="col-xs-2"> 
                            <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.balance_due | toCurrency: '$') || '-'" name="label19_2"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn36_1" class="col-xs-2"> 
                            <wm-label caption="bind:&quot;- &quot; + (Variables.svCertificateDataByPropertyID.firstRecord.payment_in_transit | toCurrency: '$') || '-'" name="label17_1"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn34" class="col-xs-2"> 
                            <wm-label caption="bind:&quot;= &quot;+(Variables.svCertificateDataByPropertyID.firstRecord.due_after_settlement | toCurrency: '$') || '-'" name="label23"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <!--<wm-gridrow name="gridrow10_12" class="tax-grid-content">--> 
                    <!--    <wm-gridcolumn columnwidth="3" name="gridcolumn25_1_12" class="text-muted col-xs-3">--> 
                    <!--        <wm-label caption="In Flight" name="label19_12" class="for-bold tax-columns"></wm-label>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--    <wm-gridcolumn columnwidth="3" name="gridcolumn26_1" class="col-xs-3"></wm-gridcolumn>--> 
                    <!--    <wm-gridcolumn columnwidth="2" name="gridcolumn27" class="col-xs-2"></wm-gridcolumn>--> 
                    <!--    <wm-gridcolumn columnwidth="2" name="gridcolumn28" class="col-xs-2"></wm-gridcolumn>--> 
                    <!--    <wm-gridcolumn columnwidth="2" name="gridcolumn35" class="col-xs-2">--> 
                    <!--        <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.payment_in_transit | toCurrency: '$') || '-'" name="label17_1"></wm-label>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--</wm-gridrow>--> 
                    <!--<wm-gridrow name="gridrow10_13" class="tax-grid-content">--> 
                    <!--    <wm-gridcolumn columnwidth="3" name="gridcolumn25_1_13" class="text-muted col-xs-3">--> 
                    <!--        <wm-label caption="After Settlement" name="label19_13" class="for-bold tax-columns"></wm-label>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--    <wm-gridcolumn columnwidth="3" name="gridcolumn31" class="col-xs-3"></wm-gridcolumn>--> 
                    <!--    <wm-gridcolumn columnwidth="2" name="gridcolumn32_1" class="col-xs-2"></wm-gridcolumn>--> 
                    <!--    <wm-gridcolumn columnwidth="2" name="gridcolumn33" class="col-xs-2"></wm-gridcolumn>--> 
                    <!--    <wm-gridcolumn columnwidth="2" name="gridcolumn36_1" class="col-xs-2">--> 
                    <!--        <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.due_after_settlement | toCurrency: '$') || '-'" name="label23"></wm-label>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--</wm-gridrow>--> 
                    <!--<wm-gridrow name="gridrow12" class="tax-grid-content">--> 
                    <!--    <wm-gridcolumn columnwidth="3" name="gridcolumn37" class="text-muted">--> 
                    <!--        <wm-label caption="Fees" name="label11" class="for-bold tax-columns"></wm-label>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--<wm-gridcolumn columnwidth="3" name="gridcolumn38">--> 
                    <!--    <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.fee_principal | toCurrency: '$') || '-'" name="label12"></wm-label>--> 
                    <!--</wm-gridcolumn>--> 
                    <!--<wm-gridcolumn columnwidth="3" name="gridcolumn39">--> 
                    <!--    <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.fee_revenue | toCurrency: '$') || '-'" name="label16"></wm-label>--> 
                    <!--</wm-gridcolumn>--> 
                    <!--    <wm-gridcolumn columnwidth="3" name="gridcolumn40"></wm-gridcolumn>--> 
                    <!--<wm-gridcolumn columnwidth="2" name="gridcolumn41"></wm-gridcolumn>--> 
                    <!--<wm-gridcolumn columnwidth="2" name="gridcolumn42"></wm-gridcolumn>--> 
                    <!--</wm-gridrow>--> 
                    <!--<wm-gridrow name="gridrow11_1" class="tax-grid-content">--> 
                    <!--    <wm-gridcolumn columnwidth="3" name="gridcolumn31" class="text-muted">--> 
                    <!--        <wm-label caption="Total" name="label13" class="for-bold tax-columns"></wm-label>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--<wm-gridcolumn columnwidth="3" name="gridcolumn32">--> 
                    <!--    <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.principal | toCurrency: '$') || '-'" name="label18"></wm-label>--> 
                    <!--</wm-gridcolumn>--> 
                    <!--<wm-gridcolumn columnwidth="3" name="gridcolumn33_1">--> 
                    <!--    <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.revenue | toCurrency: '$') || '-'" name="label17"></wm-label>--> 
                    <!--</wm-gridcolumn>--> 
                    <!--    <wm-gridcolumn columnwidth="3" name="gridcolumn22_1"></wm-gridcolumn>--> 
                    <!--<wm-gridcolumn columnwidth="2" name="gridcolumn23_1"></wm-gridcolumn>--> 
                    <!--<wm-gridcolumn columnwidth="2" name="gridcolumn24"></wm-gridcolumn>--> 
                    <!--</wm-gridrow>--> 
                </wm-layoutgrid> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>