<wm-partial data-ng-controller="DisbursementMoreInfoPageController"> 
    <wm-layoutgrid name="layoutgrid1" class="layoutgrid-outerborder"> 
        <wm-gridrow padding="unset unset unset unset" name="gridrow21"> 
            <wm-gridcolumn name="gridcolumn1"> 
                <wm-layoutgrid name="layoutgrid2_1" class="tax-and-history-table-header"> 
                    <!--<wm-gridrow name="gridrow2" class="header-row">--> 
                    <!--    <wm-gridcolumn columnwidth="5" name="gridcolumn56_1" class="col-xs-5">--> 
                    <!--        <wm-label caption="Amount" horizontalalign="center" name="label36"></wm-label>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--    <wm-gridcolumn columnwidth="2" class="col-xs-2">--> 
                    <!--        <wm-label caption="-">--> 
                    <!--        </wm-label>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--    <wm-gridcolumn columnwidth="5" name="gridcolumn60_1" class="col-xs-5">--> 
                    <!--        <wm-label caption="bind:$parent.$parent.$parent.Widgets.livelistDisbursement.selecteditem.amount | toCurrency: '$'" name="label40_2"></wm-label>--> 
                    <!--bind:$parent.$parent.$parent.Variables.svQryDisbursement.dataSet.content[$i].amount | toCurrency: '$'--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--</wm-gridrow>--> 
                    <wm-gridrow class="header-row"> 
                        <wm-gridcolumn columnwidth="5" name="gridcolumn56_2" class="col-xs-5"> 
                            <wm-label caption="Reference" horizontalalign="center" name="label36"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" class="col-xs-2"> 
                            <wm-label caption="-"> 
                            </wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="5" name="gridcolumn60_2" class="col-xs-5"> 
                            <wm-label caption="bind:$parent.$parent.$parent.Widgets.livelistDisbursement.selecteditem.reference" name="label40_3"></wm-label> 
                            <!--bind:$parent.$parent.$parent.Variables.svQryDisbursement.dataSet.content[$i].reference--> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>