<wm-partial data-ng-controller="PaymentsMoreInfoPageController" name="partial1"> 
    <wm-layoutgrid name="layoutgrid1" class="layoutgrid-outerborder"> 
        <wm-gridrow padding="unset unset unset unset" name="gridrow21"> 
            <wm-gridcolumn name="gridcolumn1"> 
                <wm-layoutgrid name="layoutgrid2_1" class="tax-and-history-table-header"> 
                    <!--<wm-gridrow name="gridrow2" class="header-row">--> 
                    <!--    <wm-gridcolumn columnwidth="5" name="gridcolumn56_1" class="col-xs-5">--> 
                    <!--        <wm-label caption="Received" horizontalalign="center" name="label36"></wm-label>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--    <wm-gridcolumn columnwidth="2" class="col-xs-2" name="gridcolumn3">--> 
                    <!--        <wm-label caption="-" name="label2"></wm-label>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--    <wm-gridcolumn columnwidth="5" name="gridcolumn60_1" class="col-xs-5">--> 
                    <!--        <wm-label caption="bind:$parent.$parent.$parent.Widgets.livelistPayments.selecteditem.received_date | toDate: 'MM/dd/yy'" name="label40_2"></wm-label>--> 
                    <!--bind:$parent.$parent.$parent.Variables.svQryPayments.dataSet.content[$i].received_date | toDate: 'MM/dd/yy'--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--</wm-gridrow>--> 
                    <wm-gridrow class="header-row" name="gridrow3"> 
                        <wm-gridcolumn columnwidth="5" name="gridcolumn56_2" class="col-xs-5"> 
                            <wm-label caption="Reference" horizontalalign="center" name="label36"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" class="col-xs-2" name="gridcolumn6"> 
                            <wm-label caption="-" name="label5"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="5" name="gridcolumn60_2" class="col-xs-5"> 
                            <wm-label caption="bind:$parent.$parent.$parent.Widgets.livelistPayments.selecteditem.check_number" name="label40_3"></wm-label> 
                            <!--bind:$parent.$parent.$parent.Variables.svQryPayments.dataSet.content[$i].check_number--> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>