<wm-page data-ng-controller="TestDataPageController" pagetitle="Test Data" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-table name="executeDealsDataTable1" title="" dataset="bind:Variables.PlatformExecuteDealsData.dataSet" navigation="Basic">
                <wm-table-column binding="taxProration" caption="Tax Proration" pcdisplay="true" mobiledisplay="true" type="byte"></wm-table-column>
                <wm-table-column binding="note" caption="Note" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="inspectionType" caption="Inspection Type" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="buyerId" caption="Buyer Id" pcdisplay="true" mobiledisplay="true" type="integer"></wm-table-column>
                <wm-table-column binding="type" caption="Type" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="closingDate" caption="Closing Date" pcdisplay="true" mobiledisplay="true" type="datetime"></wm-table-column>
                <wm-table-column binding="titleCommitment" caption="Title Commitment" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="contractUrl" caption="Contract Url" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                <wm-table-column binding="assetId" caption="Asset Id" pcdisplay="true" mobiledisplay="true" type="integer"></wm-table-column>
                <wm-table-column binding="price" caption="Price" pcdisplay="true" mobiledisplay="true" type="double"></wm-table-column>
            </wm-table>
            <wm-container name="container1" content="Documents"></wm-container>
        </wm-page-content>
    </wm-content>
</wm-page>