<wm-partial data-ng-controller="TaxAndHistoryDetailsPageController" name="partial1"> 
    <wm-table title="Auctions" dataset="bind:Variables.svAuctionResult.dataSet" navigation="None" name="AuctionsGrid" on-rowupdate="AuctionsGridRowupdate($event, $scope, $rowData)" class="taxandhistory-table" on-beforeformrender="AuctionsGridBeforeformrender($event, $scope, $rowData, $operation)"> 
        <wm-table-column binding="taxYear" caption="Tax Year" type="string" readonly="true" edit-widget-type="text" show="true"></wm-table-column> 
        <wm-table-column binding="auctionYearBilled" caption="Billed" type="string" readonly="true" edit-widget-type="text" show="true"></wm-table-column> 
        <wm-table-column binding="auctionYearDue" caption="Due" type="string" readonly="true" edit-widget-type="text" show="true"></wm-table-column> 
        <wm-table-column binding="priorYearsDue" caption="Prior" type="string" edit-widget-type="number" show="true" readonly="false"></wm-table-column> 
        <wm-table-column binding="saleAmount" caption="Sale Amount" type="string" edit-widget-type="number" show="true" readonly="false"></wm-table-column> 
        <wm-table-column binding="saleDate" caption="Sale Date" type="string" readonly="true" edit-widget-type="text" show="true"></wm-table-column> 
        <wm-table-column binding="bidRate" caption="Bid Rate" type="string" readonly="true" edit-widget-type="text" show="true"></wm-table-column> 
        <wm-table-column binding="buyerName" caption="Buyer" type="string" readonly="true" edit-widget-type="text" show="true"></wm-table-column> 
        <wm-table-column binding="status" caption="Status" type="string" edit-widget-type="select" dataset="bind:Variables.svQryStatus.dataSet" datafield="status" displayfield="status" defaultvalue="bind:Variables.svAuctionResult.dataSet[$i].status" show="true" readonly="false"></wm-table-column> 
        <wm-table-column binding="dispositionDate" caption="Date" type="string" edit-widget-type="date" show="true" readonly="false"></wm-table-column> 
        <wm-table-column binding="dispositionResearchDate" caption="Research Date" type="string" edit-widget-type="date" show="true" readonly="false" required="bind:row.showRecord == 'true'"></wm-table-column> 
        <wm-table-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-table-column> 
        <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action> 
    </wm-table> 
    <wm-livetable formlayout="dialog" name="livegrid1"> 
        <wm-table gridfirstrowselect="true" editmode="dialog" title="Assessments" dataset="bind:Variables.lvAssessment.dataSet" navigation="None" name="AssessmentsGrid" class="taxandhistory-table"> 
            <wm-table-column binding="taxYear" caption="Year" type="integer" generator="assigned" edit-widget-type="number" show="true" readonly="false"></wm-table-column> 
            <wm-table-column binding="customField" caption="Assessor Code" type="string" edit-widget-type="text" searchable="false" show="true" readonly="false">
                 {{row.getProperty('propertyClass.code')}} - {{row.getProperty('propertyClass.zoning')}} - {{row.getProperty('propertyClass.improvementLevel')}} 
                <br> {{row.getProperty('propertyClass.description')}} 
            </wm-table-column> 
            <wm-table-column binding="customField1" caption="Exemptions" type="string" edit-widget-type="text" searchable="false" show="true" readonly="false">
                 HO {{(row.getProperty('homeExemption') | toCurrency : '$') || '-'}} 
                <br>SR {{(row.getProperty('seniorExemption') | toCurrency : '$') || '-'}} 
                <br>{{row.getProperty('seniorFreeze')}} 
            </wm-table-column> 
            <wm-table-column binding="customField2" caption="Assessed Value" type="string" edit-widget-type="text" searchable="false" show="true" readonly="false">
                 Land {{(row.getProperty('assessedValuationLand') | toCurrency : '$') || '-' }} 
                <br>Impr {{(row.getProperty('assessedValuationBuilding') | toCurrency : '$') || '-' }} 
                <br>Total {{(row.getProperty('assessedValuationTotal') | toCurrency : '$') || '-' }} 
            </wm-table-column> 
            <wm-table-column binding="marketValue" caption="Assessed FMV" type="double" primary-key="false" generator="assigned" formatpattern="toCurrency" currencypattern="USD" edit-widget-type="number" show="true" readonly="false" required="true"></wm-table-column> 
            <wm-table-column binding="customField3" caption="Assessee" type="string" edit-widget-type="text" searchable="false" show="true" readonly="false">
                 {{row.getProperty('assesseeName')}} 
                <br>{{row.getProperty('assesseeAddressLine1')}} 
                <br>{{row.getProperty('assesseeAddressCity')}} {{row.getProperty('assesseeAddressState')}} {{row.getProperty('assesseeAddressZip')}} 
            </wm-table-column> 
            <wm-table-column binding="rowOperations" caption="Action" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-table-column> 
            <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action> 
        </wm-table> 
        <wm-liveform errormessage="" title="Assessee Info" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.lvAssessment.dataSet" captionalign="left" captionposition="left" name="AssessmentLiveForm" updatemessage="Assessee details updated successfully"> 
            <wm-layoutgrid columns="1" name="layoutgrid2"> 
                <wm-gridrow name="gridrow3"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn4"> 
                        <wm-form-field name="assesseeName" displayname="Name" show="true" primary-key="false" generator="assigned" key="assesseeName" type="string" readonly="false" required="false" widget="text" maxchars="100" inputtype="text" placeholder="Enter value"></wm-form-field> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow4"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn5"> 
                        <wm-form-field name="assesseeAddressLine1" displayname="Address" show="true" primary-key="false" generator="assigned" key="assesseeAddressLine1" type="string" readonly="false" required="false" widget="text" maxchars="100" inputtype="text" placeholder="Enter value"></wm-form-field> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow5"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn6"> 
                        <wm-form-field name="assesseeAddressCity" displayname="City" show="true" primary-key="false" generator="assigned" key="assesseeAddressCity" type="string" readonly="false" required="false" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow6"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn7"> 
                        <wm-form-field name="assesseeAddressState" displayname="State" show="true" primary-key="false" generator="assigned" key="assesseeAddressState" type="string" readonly="false" required="false" widget="text" maxchars="2" inputtype="text" placeholder="Enter value"></wm-form-field> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow7"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn8"> 
                        <wm-form-field name="assesseeAddressZip" displayname="Zip" show="true" primary-key="false" generator="assigned" key="assesseeAddressZip" type="string" readonly="false" required="false" widget="text" maxchars="10" inputtype="text" placeholder="Enter value"></wm-form-field> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
            <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
            <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action> 
            <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action> 
        </wm-liveform> 
    </wm-livetable> 
    <wm-layoutgrid name="layoutgrid1"> 
        <wm-gridrow name="gridrow1" class="tax-history-research-header"> 
            <wm-gridcolumn columnwidth="8" name="gridcolumn1" class="col-xs-5"> 
                <wm-label caption="Tax History Research" name="label1_1" class="h4 tax-research-label"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="4" name="gridcolumn2" class="tax-date-header col-xs-7" horizontalalign="right"> 
                <wm-composite name="composite1"> 
                    <wm-label class="col-md-5 col-xs-6 reserach-date-label" name="label1" caption="Research Date" horizontalalign="right"></wm-label> 
                    <wm-container class="col-md-5 col-xs-6" name="container1"> 
                        <wm-select name="ResearchDate" placeholder="Research Date" dataset="bind:Variables.svQryResearchDate.dataSet" datafield="date" displayfield="date" displayexpression="date | toDate : 'MM/dd/yyyy'" datavalue="bind:Variables.svQryResearchDate.firstRecord.date" on-change="Variables.svQryTaxHistoryResearch.invoke()"></wm-select> 
                    </wm-container> 
                </wm-composite> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow2" class="taxhistory-table taxresearch-table"> 
            <wm-gridcolumn name="gridcolumn3"> 
                <wm-table title="" dataset="bind:Variables.svQryTaxHistoryResearch.dataSet" navigation="None" name="TaxHistoryResearchGrid"> 
                    <wm-table-column binding="tax_year" caption="Year" type="string" readonly="true" edit-widget-type="text" show="true"></wm-table-column> 
                    <wm-table-column binding="scavenger_year" caption="Scavenger" type="string" readonly="true" edit-widget-type="text" show="true"></wm-table-column> 
                    <wm-table-column binding="open_status" caption="Status" type="string" readonly="true" edit-widget-type="text" show="true"></wm-table-column> 
                    <wm-table-column binding="inst1_due" caption="INST 1" type="string" readonly="true" formatpattern="toCurrency" currencypattern="USD" edit-widget-type="text" show="true"></wm-table-column> 
                    <wm-table-column binding="inst2_due" caption="INST 2" type="string" readonly="true" formatpattern="toCurrency" currencypattern="USD" edit-widget-type="text" show="true"></wm-table-column> 
                    <wm-table-column binding="total_due" caption="Total" type="string" readonly="true" formatpattern="toCurrency" currencypattern="USD" edit-widget-type="text" show="true"></wm-table-column> 
                    <wm-table-column binding="sale_type" caption="Sale Type" type="string" readonly="true" edit-widget-type="text" show="true"></wm-table-column> 
                    <wm-table-column binding="sale_status" caption="Sale Status" type="string" readonly="true" edit-widget-type="text" show="true"></wm-table-column> 
                    <wm-table-column binding="disposition_date" caption="Date" type="string" readonly="true" datepattern="MM/dd/yyyy" formatpattern="toDate" edit-widget-type="text" show="true"></wm-table-column> 
                    <wm-table-column binding="case_number" caption="Case #" type="string" readonly="true" edit-widget-type="text" show="true"></wm-table-column> 
                </wm-table> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>