.test-padding {
    padding: 5px !important;
}
.test-padding1{
    padding-left:5px !important;
    padding-right:5px !important;
}
.wm-app .test-padding .btn-date{
    height: 30px !important;
    padding: 4px !important;
}
.wm-app .taxandhistory-table .heading{
    padding-left: 1em !important;
}
.wm-app .taxandhistory-table th{
    padding:7px !important;
}
.wm-app .taxandhistory-table th span{
    font-size: 13px !important;
}
.tax-history-research-header{
    background-color: #4586ce !important;
}
.tax-research-label{
    color: #fff !important;
    padding-left:1em !important;
}
.reserach-date-label{
    color: #fff !important;
    padding-top: 5px !important;
    text-align:center !important;
}
.tax-date-header{
    padding-top: 12px !important;
    padding-right: 12px !important
}
.wm-app .taxhistory-table.taxresearch-table .app-grid.panel{
    padding-left:0px !important;
    padding-right:0px !important;
}
.wm-app .taxandhistory-table.app-grid.panel{
    padding-left:0px !important;
    padding-right:0px !important;
}