/*move to themes later*/

.wm-app .app-left-panel .nav li a.active, .wm-app .app-right-panel .nav li a.active, .wm-app .app-left-panel .nav li .btn.active, .wm-app .app-right-panel .nav li .btn.active, .wm-app .app-left-panel .nav li .dropdown a.active, .wm-app .app-right-panel .nav li .dropdown a.active, .wm-app .app-left-panel .nav li .dropdown a.dropdown-toggle.active, .wm-app .app-right-panel .nav li .dropdown a.dropdown-toggle.active, .wm-app .app-left-panel .nav li .app-popover a.active, .wm-app .app-right-panel .nav li .app-popover a.active, .wm-app .app-left-panel .nav li a:focus, .wm-app .app-right-panel .nav li a:focus, .wm-app .app-left-panel .nav li .btn:focus, .wm-app .app-right-panel .nav li .btn:focus, .wm-app .app-left-panel .nav li .dropdown a:focus, .wm-app .app-right-panel .nav li .dropdown a:focus, .wm-app .app-left-panel .nav li .dropdown a.dropdown-toggle:focus, .wm-app .app-right-panel .nav li .dropdown a.dropdown-toggle:focus, .wm-app .app-left-panel .nav li .app-popover a:focus, .wm-app .app-right-panel .nav li .app-popover a:focus{
    border-left-color: rgba(69, 206, 200, 0.33) !important;
}
.wm-app .app-left-panel .nav li a, .wm-app .app-right-panel .nav li a, .wm-app .app-left-panel .nav li .btn, .wm-app .app-right-panel .nav li .btn, .wm-app .app-left-panel .nav li .dropdown a, .wm-app .app-right-panel .nav li .dropdown a, .wm-app .app-left-panel .nav li .dropdown a.dropdown-toggle, .wm-app .app-right-panel .nav li .dropdown a.dropdown-toggle, .wm-app .app-left-panel .nav li .app-popover a, .wm-app .app-right-panel .nav li .app-popover a{
        letter-spacing: 0.08em !important;
            text-transform: capitalize !important;
            padding: 7px !important;
                font-size: 0.97em !important;
}
.wm-app .app-left-panel .submenu.app-anchor{
    padding-left: 25px !important;
}