<wm-partial data-ng-controller="LeftnavReportsPageController" type="leftnav" name="partial1"> 
    <wm-nav type="pills" layout="stacked" name="nav1" width="100%"> 
        <wm-nav-item name="Tables"> 
            <wm-anchor caption="Tables" iconclass="wi wi-list" name="TablesAnchorGroup" class="active" hyperlink="#/AddEditBuyer" target="WM_RUN_WINDOW" on-click="TablesAnchorGroupClick();AnchorClick('TablesAnchorGroup', 'anchor2')"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="Buyer"> 
            <wm-anchor caption="Buyer" iconclass="wi wi-edit" name="anchor2" class="submenu active" on-click="AnchorClick('TablesAnchorGroup', 'anchor2')" target="WM_RUN_WINDOW" hyperlink="#/AddEditBuyer"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="BuyerGroup"> 
            <wm-anchor caption="Buyer Group" iconclass="wi wi-edit" name="anchor3" class="submenu" on-click="AnchorClick('TablesAnchorGroup', 'anchor3')" target="WM_RUN_WINDOW" hyperlink="#/AddEditBuyerGroup"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="County"> 
            <wm-anchor name="anchor4" iconclass="wi wi-edit" caption="County" class="submenu" on-click="AnchorClick('TablesAnchorGroup', 'anchor4')" target="WM_RUN_WINDOW" hyperlink="#/AddEditCounty"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="Grade"> 
            <wm-anchor name="anchor5" iconclass="wi wi-edit" caption="Grade" class="submenu" on-click="AnchorClick('TablesAnchorGroup', 'anchor5')" target="WM_RUN_WINDOW" hyperlink="#/AddEditGrade"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="Group"> 
            <wm-anchor name="anchor21" iconclass="wi wi-edit" caption="Group" class="submenu" on-click="AnchorClick('TablesAnchorGroup', 'anchor21')" target="WM_RUN_WINDOW" hyperlink="#/AddEditGroup"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="Inspection"> 
            <wm-anchor name="anchor19" iconclass="wi wi-edit" caption="Inspection Route" class="submenu" on-click="AnchorClick('TablesAnchorGroup', 'anchor19')" target="WM_RUN_WINDOW" hyperlink="#/AddEditInspectionRoute"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="Interest"> 
            <wm-anchor name="anchor16" iconclass="wi wi-edit" caption="Interest Type" class="submenu" on-click="AnchorClick('TablesAnchorGroup', 'anchor16')" target="WM_RUN_WINDOW" hyperlink="#/AddEditInterestType"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="PartyAgent"> 
            <wm-anchor name="anchor17" iconclass="wi wi-edit" caption="Party Agent" class="submenu" on-click="AnchorClick('TablesAnchorGroup', 'anchor17')" target="WM_RUN_WINDOW" hyperlink="#/AddEditPartyAgent"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="States"> 
            <wm-anchor name="anchor6" iconclass="wi wi-edit" caption="States" class="submenu" on-click="AnchorClick('TablesAnchorGroup', 'anchor6')" target="WM_RUN_WINDOW" hyperlink="#/AddEditStates"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="Township"> 
            <wm-anchor name="anchor7" iconclass="wi wi-edit" caption="Township" class="submenu" on-click="AnchorClick('TablesAnchorGroup', 'anchor7')" target="WM_RUN_WINDOW" hyperlink="#/AddEditTownship"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="User"> 
            <wm-anchor name="anchor20" iconclass="wi wi-edit" caption="User" class="submenu" on-click="AnchorClick('TablesAnchorGroup', 'anchor20')" target="WM_RUN_WINDOW" hyperlink="#/AddEditUser"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="nav_item11"> 
            <wm-anchor caption="PDF Templates" iconclass="wi wi-picture-as-pdf" on-click="TemplatesAnchorGroupClick();AnchorClick('TemplatesAnchorGroup', 'anchor13')" name="TemplatesAnchorGroup" target="WM_RUN_WINDOW" hyperlink="#/TemplateForPdf"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="TemplateItem1"> 
            <wm-anchor caption="Templates" iconclass="wi wi-edit" class="submenu" name="anchor13" target="WM_RUN_WINDOW" hyperlink="#/TemplateForPdf" on-click="AnchorClick('TemplatesAnchorGroup', 'anchor13')"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="TemplateItem2"> 
            <wm-anchor caption="Generate PDF" iconclass="wi wi-magic" class="submenu" name="anchor14" target="WM_RUN_WINDOW" hyperlink="#/GeneratePdf" on-click="AnchorClick('TemplatesAnchorGroup', 'anchor14')"></wm-anchor> 
        </wm-nav-item> 
        <wm-nav-item name="TemplateItem3"> 
            <wm-anchor caption="List of PDF" iconclass="wi wi-magic" class="submenu" name="anchor15" target="WM_RUN_WINDOW" hyperlink="#/ListTemplatePdf" on-click="AnchorClick('TemplatesAnchorGroup', 'anchor15')"></wm-anchor> 
        </wm-nav-item> 
    </wm-nav> 
</wm-partial>