<wm-page data-ng-controller="AccessDeniedPageController" pagetitle="Access Denied" name="page1"> 
    <wm-header content="header" name="header1"></wm-header> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-layoutgrid name="layoutgrid1"> 
                <wm-gridrow name="gridrow1"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn1"> 
                        <wm-layoutgrid name="layoutgrid1"> 
                            <wm-gridrow name="gridrow1" padding="40px unset unset unset"> 
                                <wm-gridcolumn columnwidth="12" name="gridcolumn2" horizontalalign="center"> 
                                    <wm-label name="AccesLabel1" caption="bind:&quot;It looks you don’t have access to &quot;" width="auto" height="20" textalign="center" fontsize="18"></wm-label> 
                                    <wm-label caption="Newline Financial Portal" width="auto" height="40" textalign="left" fontsize="18" name="AccesLabel" fontweight="bold" margin="unset unset unset 5px" color="#4a4a4a"></wm-label> 
                                    <wm-label caption="Please contact Admin for more information" height="40" horizontalalign="right" name="AccessLabel2" width="100%" fontsize="12" textalign="center"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                            <wm-gridrow name="gridrow2"> 
                                <wm-gridcolumn columnwidth="1" name="gridcolumn5_1"></wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="6" name="gridcolumn6" horizontalalign="center" height="80"></wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn7"></wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-layoutgrid> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow2"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn52"></wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
    </wm-content> 
    <wm-footer content="footer" name="footer1"></wm-footer> 
</wm-page>