<wm-partial data-ng-controller="InspectSearchPageController" name="partial1"> 
    <wm-composite name="composite1" class="inspectsearch"> 
        <wm-container class="col-md-9 container-select" name="container4" horizontalalign="center" width="100%"> 
            <wm-select name="selectDropDown" placeholder="Select Route" dataset="bind:Variables.svDropDownIDs.dataSet" datafield="All Fields" displayfield="drop_down" orderby="dropDown:asc,drop_down:asc" autofocus="true" on-change="selectDropDownChange($event, $scope, newVal, oldVal)" width="85%" datavalue="bind:{&quot;drop_down&quot;: Variables.svQryInspectionNameById.firstRecord.inspection_name}" class="inspect-select"></wm-select> 
            <wm-button class="btn-default btn-arrow btn-refresh" caption="" type="button" iconclass="wi wi-refresh fa-lg" on-click="RefreshBtnClick($event, $scope)" disabled="bind:Widgets.selectDropDown.datavalue.drop_down == undefined" show="true" name="RefreshBtn"></wm-button> 
        </wm-container> 
    </wm-composite> 
    <wm-layoutgrid name="layoutgrid7" class="pagination-custom"> 
        <wm-gridrow name="gridrow10"> 
            <wm-gridcolumn name="gridcolumn14_1" horizontalalign="center" class="pagination-arrows"> 
                <wm-layoutgrid name="layoutgrid11"> 
                    <wm-gridrow name="gridrow11"> 
                        <wm-gridcolumn columnwidth="4" class="col-xs-4  col-md-4 col-sm-4 col-lg-4" name="gridcolumn15_2"> 
                            <wm-button class="btn-default btn-arrow btn-arrow-bg" caption="" type="button" iconclass="wi wi-angle-double-left fa-lg" on-click="PreviousPageClick($event, $scope)" disabled="bind:(Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet.first == undefined) ? true : Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet.first" name="PreviousPage" show="true" iconurl="resources/images/imagelists/back.png" iconwidth="14px" iconheight="14px"></wm-button> 
                            <wm-button class="btn-default btn-arrow btn-arrow-bg" caption="" type="button" name="PreviousRecord" iconclass="wi wi-keyboard-arrow-left fa-2x" on-click="PreviousRecordClick($event, $scope)" disabled="true" iconurl="resources/images/imagelists/left-arrow.png" iconwidth="14px" iconheight="14px"></wm-button> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="4" class="col-xs-4  col-md-4 col-sm-4 col-lg-4 recordnumbers" name="gridcolumn16_1"> 
                            <wm-label name="CurrentRecordIndex" caption="0" fontweight="bold" horizontalalign="center" class="inspect-number"></wm-label> 
                            <wm-label caption="/&amp;nbsp;" fontweight="bold" horizontalalign="center" name="RecordIndexSeparator" class="inspect-number"></wm-label> 
                            <wm-label caption="bind:Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet[$i].total_count || 0" fontweight="bold" horizontalalign="center" name="TotalRecordsIndex" class="inspect-number"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="4" class="col-xs-4  col-md-4 col-sm-4 col-lg-4" name="gridcolumn16_1"> 
                            <wm-button class="btn-default btn-arrow btn-arrow-bg" caption="" type="button" name="NextRecord" iconclass="wi wi-keyboard-arrow-right fa-2x" on-click="NextRecordClick($event, $scope)" disabled="true" iconwidth="14px" iconheight="14px" iconurl="resources/images/imagelists/right-arrow.png"></wm-button> 
                            <wm-button class="btn-default btn-arrow btn-arrow-bg" caption="" type="button" iconclass="wi wi-angle-double-right fa-lg" on-click="NextPageClick($event, $scope)" disabled="bind:(Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet.last == undefined) ? true : Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet.last" name="NextPage" show="true" iconwidth="14px" iconheight="14px" iconurl="resources/images/imagelists/next.png"></wm-button> 
                            <!--<wm-button class="btn-default btn-arrow btn-refresh" caption="" type="button" iconclass="wi wi-refresh fa-lg" on-click="RefreshBtnClick($event, $scope)" disabled="bind:Widgets.selectDropDown.datavalue.drop_down == undefined"--> 
                            <!--show="true" name="RefreshBtn"></wm-button>--> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-list tabindex="1" class="media-list custom-livelist media-heading" name="SearchResultLiveList" horizontalalign="left" height="500px" dataset="bind:Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet" on-click="SearchResultLiveListClick($event, $scope)" navigation="None" nodatamessage="No data found. Select route from above" showrecordcount="false" listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" selectfirstitem="false" selectionlimit="1"> 
        <wm-listtemplate name="listtemplate2" layout="inline"> 
            <wm-container class="media-body" name="container2" horizontalalign="left" padding="unset unset unset 1.25em"> 
                <wm-label class="h5 media-heading" caption="bind:Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet[$i].order+' '+('-')+' '+Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet.address" name="Address" margin="0px unset unset unset"></wm-label> 
                <!--wm-label class="pull-right" show="false" caption="bind:Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet.drop_down" name="DropDown" margin="0px unset unset unset" whitespace="nowrap"></wm-label--> 
                <wm-label class="p text-muted media-heading" caption="bind:Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet.pin" name="PIN"></wm-label> 
                <wm-label class="media-heading pull-left" show="false" caption="bind:Variables.svPlatformPortalInspectFilterDataByDropDownID.dataSet.auction_id" name="PropertyID" width="42" whitespace="nowrap" fontunit="em"></wm-label> 
            </wm-container> 
        </wm-listtemplate> 
    </wm-list> 
</wm-partial>