.btn-refresh {
    position: absolute;
    top: 6px;
    right: 8px;
}
.inspectsearch{
    margin-top: 0.833em !important;
        margin-left: 5px !important;
}
.inspect-select{
    background-color: #9B9B9B !important;
    color: #fff !important;
}
@media screen and (min-width:768px) and (max-width:1024px) and (orientation: landscape){
    .btn-refresh {
    position: absolute;
    top: 5px;
    right: 4px;
}
}
@media screen and (max-width:769px) and (orientation: portrait){
    .btn-refresh {
    position: absolute ;
    top: 6px !important;
    /*right: 1px !important;*/
    right: 8px !important;
}
}
@media screen and (min-width:768px) and (orientation: portrait){
       .btn-refresh {
    position: absolute ;
    top: 6px !important;
    /*right: 1px !important;*/
    right: 0px !important;
}
}
/*@media screen and (min-width:769px) and (max-width:1024px) {*/
/*.wm-app .inspect-number{*/
/*    font-size: 14px !important;*/
/*}*/
/*}*/
/*@media screen and (max-width:768px) {*/
/*.wm-app .inspect-number{*/
/*    font-size: 12px !important;*/
/*}*/
/*}*/