.wm-app .menucls {
    color: #ffffff!important;
    
}

.popovercls img{
      width: 25pt;
    height: 25pt;
    border-radius: 20px;
    margin-left: 5px;
    margin-top: -10px;
}
.popovercls i.app-icon {
    width: 10pt;
    height: 18pt;
    margin-top: 8px;
}

.wm-app .btn {
    text-transform: capitalize;
}
 
 
 .app-menu ul>li>a>i {
    margin-right: 0px;
}
 
 .btn-caret {
    margin-left: 0.7em !important;    
    margin-top: 0.3em;
}


.header-color{
    background-color: #4586ce;
}
.header-name .caption {
        max-width: 100px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
}


/*THEME*/

.wm-app .nav-pills > li > a, .wm-app .nav-pills > li .app-menu .dropdown-toggle.btn {
      background-color: transparent;
    padding: 15px 5px !important;
    margin-top: 2px !important;
    height: 54px;
    vertical-align: middle;
}
.wm-app .nav-pills > li > a .caret { 
    border: 0;
    width: auto;
    height: auto;
    
}
.app-menu .dropdown-toggle.btn:hover {
    color: #fff;
}