<wm-partial data-ng-controller="headerPageController" name="header" type="header">
    <wm-layoutgrid name="headerlayout">
        <wm-gridrow name="gridrow_header" class="header-color">
            <wm-gridcolumn columnwidth="2" name="gridcolumn_header" class="navbar-header">
                <wm-label caption="Newline Portal" name="label1_1" class="navbar-brand" fontsize="1.2" fontunit="em" fontweight="bold" height="55" padding="1.2em unset unset 1em" margin="unset unset 0px unset"></wm-label>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="7" name="gridcolumn_menu" class="hidden-xs links-column" horizontalalign="center">
                <wm-nav type="pills" autoclose="outsideClick" class="custom-nav" name="nav2" horizontalalign="center" layout="justified">
                    <wm-nav-item name="nav_item6">
                        <wm-menu caption="Property Tax" autoclose="outsideClick" name="property_menu" iconclass="" dataset="bind:Variables.PropertyTaxVar.dataSet" itemlabel="label" itemlink="link"></wm-menu>
                    </wm-nav-item>
                    <wm-nav-item name="nav_item7">
                        <wm-menu caption="Real Estate" autoclose="outsideClick" name="realestate_menu" iconclass="" dataset="bind:Variables.realEstateVar.dataSet" itemlabel="label" itemlink="link"></wm-menu>
                    </wm-nav-item>
                    <wm-nav-item name="nav_item8_2">
                        <wm-popover popoverwidth="250px" name="popover_tools" iconclass="fa fa-caret-down caret" caption="Tools" content="ToolsPopover" fontunit="em" title="" iconposition="right" class="tools-top"></wm-popover>
                    </wm-nav-item>
                    <wm-nav-item name="nav_item8">
                        <wm-menu caption="Administration" autoclose="outsideClick" name="admin_menu" iconclass="" dataset="bind:Variables.adminVar.dataSet" itemlabel="label" itemlink="link" on-select="admin_menuSelect($event, $scope, $item)" itemicon="icon"></wm-menu>
                    </wm-nav-item>
                    <wm-nav-item name="nav_item9">
                        <wm-anchor class="btn reports-top" caption="Reports" type="button" name="report_button" iconclass="wi wi-external-link" hyperlink="https://www.periscopedata.com/app" target="_blank" iconposition="right"></wm-anchor>
                    </wm-nav-item>
                </wm-nav>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="3" name="gridcolumn5" horizontalalign="right" padding="unset .5px unset unset" class="user-column">
                <!--<wm-menu autoclose="outsideClick" name="user_menu" caption="bind:Variables.UserInfo.dataSet.name" bordercolor="#ffffff" borderstyle="solid" borderwidth="0px" fontsize="1" fontunit="em" margin="unset 2em unset unset" menuclass="header-name" dataset="bind:Variables.userProfileActions.dataSet"-->
                <!--    itemlabel="label" itemicon="icon" backgroundcolor="transparent">-->
                <!--</wm-menu>-->
                <wm-popover popoverwidth="495px" popoverheight="fill" margin="1.5em .5em unset 0.5em" name="popoverUserDetails" color="#ffffff" caption="bind:Variables.UserInfo.dataSet.name" content="CalanderEvent" interaction="click" iconclass="wi wi-arrow-drop-down fa-pull-right"
                    iconposition="right" shape="circle" iconurl="bind:Variables.UserInfo.dataSet.picture" class="popovercls">
                    <wm-icon name="icon1" iconclass="wi wi-arrow-drop-down fa-pull-right"></wm-icon>
                </wm-popover>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
    <wm-view class="dialog-view view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" name="CompleteSaleDialog" title="Complete Sale" class="custom-design-dialog custom-design-dialog-disbursement topnav" iconclass="" on-opened="CompleteSaleDialogOpened($event, $scope)">
            <wm-form captionposition="top" name="formCompleteSale" backgroundcolor="rgba(0, 0, 0, 0)" on-submit="formCompleteSaleSubmit($event, $scope, $formData)">
                <wm-container name="container9">
                    <wm-layoutgrid name="layoutgrid14">
                        <wm-gridrow name="gridrow16">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn25_1" class="col-xs-4">
                                <wm-label padding="unset 0.5em" caption="Portfolio" class="dialog-property-header-tools" horizontalalign="left" name="label3" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="7" name="gridcolumn26_1" padding="1em unset unset unset" class="col-xs-8">
                                <wm-container name="container13">
                                    <wm-layoutgrid name="layoutgrid10">
                                        <wm-gridrow name="gridrow17_1">
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn66_1" class="col-xs-4">
                                                <wm-select name="selectStateSale" placeholder="State" dataset="bind:Variables.svQryStateSale.dataSet" datafield="All Fields" displayfield="state" on-change="Variables.svQryCountySale.invoke()" autofocus="true"
                                                    width="90%" orderby="state:asc"></wm-select>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn27" class="col-xs-4">
                                                <wm-select datafield="All Fields" placeholder="County" required="true" autofocus="true" name="selectCountySale" width="90%" dataset="bind:Variables.svQryCountySale.dataSet" displayfield="county_name" orderby="county_name:asc"></wm-select>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn28" class="col-xs-4">
                                                <wm-select datafield="tax_year" placeholder="Tax Year" required="true" autofocus="true" name="selectTaxYearSale" dataset="bind:Variables.svTaxYear.dataSet" displayfield="tax_year"></wm-select>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow19">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn31_1" class="col-xs-4">
                                <wm-label padding="unset 0.5em" caption="Volume" class="dialog-property-header-tools" horizontalalign="left" name="label4"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="7" name="gridcolumn32" padding="1em unset unset unset" class="col-xs-8">
                                <wm-container name="container14">
                                    <wm-layoutgrid name="layoutgrid11">
                                        <wm-gridrow name="gridrow20">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn33" class="col-xs-6">
                                                <wm-text type="number" placeholder="From" disabled="false" readonly="false" width="90%" name="textVolumeFromSale"></wm-text>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="6" horizontalalign="left" name="gridcolumn34" class="col-xs-6">
                                                <wm-text type="number" placeholder="To" disabled="false" readonly="false" name="textVolumeToSale"></wm-text>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow21">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn35" class="col-xs-4">
                                <wm-label padding="unset 0.5em" caption="Status" class="dialog-property-header-tools" horizontalalign="left" name="label5" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="7" name="gridcolumn36" padding="1em unset unset unset" class="col-xs-5">
                                <wm-container name="container13_1">
                                    <wm-select datafield="dataValue" placeholder="Storage Status" required="true" autofocus="true" name="selectStatusSale" dataset="bind:Variables.SaleStatus.dataSet" displayfield="name"></wm-select>
                                </wm-container>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="2" name="gridcolumn57" class="col-xs-3">
                                <!--<wm-button class="btn-primary update-btn int-searchFee-btn" caption="" type="submit" iconclass="wi wi-search fa-lg" show="true" iconposition="left" name="button9"></wm-button>-->
                                <wm-container horizontalalign="center" on-click="containerSearchSaleClick($event, $isolateScope)" name="containerSearchSale" class="topnav-search-btn">
                                    <wm-button class="btn-primary" caption="" type="submit" iconclass="wi wi-search fa-lg" show="true" name="buttonSearchSale" iconposition="left"></wm-button>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <!--<wm-gridrow name="gridrow22">-->
                        <!--    <wm-gridcolumn columnwidth="4" name="gridcolumn37">-->
                        <!--        <wm-container on-click="containerSearchSaleClick($event, $isolateScope)" name="containerSearchSale" padding="1.5em unset unset 1em">-->
                        <!--            <wm-button class="btn-searchSale" caption="" type="submit" margin="unset 0.5em" name="buttonSearchSale" iconclass="wi wi-search fa-2x"></wm-button>-->
                        <!--<wm-picture picturesource="resources/images/imagelists/search-icon.png" width="25px" height="25px" cursor="pointer" name="pictureSearch"></wm-picture>-->
                        <!--            </wm-container>-->
                        <!--    </wm-gridcolumn>-->
                        <!--    <wm-gridcolumn columnwidth="7" name="gridcolumn38" padding="1em unset unset unset">-->
                        <!--        <wm-container name="containerAfterSearchSale" class="complete-sale-bgcolor" borderwidth="0.5em" show="bind:showSearch">-->
                        <!--            <wm-text type="text" placeholder="" step="0.01" name="textCertificatesFound" disabled="true" readonly="true" width="100%"></wm-text>-->
                        <!--        </wm-container>-->
                        <!--    </wm-gridcolumn>-->
                        <!--</wm-gridrow>-->
                    </wm-layoutgrid>
                    <wm-layoutgrid name="layoutgrid9_1">
                        <!--<wm-gridrow name="gridrow15_1_1">-->
                        <!--    <wm-gridcolumn columnwidth="12" horizontalalign="center" padding="3em unset unset unset" name="gridcolumn26_2_1">-->
                        <!--        <wm-container horizontalalign="center" on-click="containerSearchSaleClick($event, $isolateScope)" name="containerSearchSale">-->
                        <!--            <wm-button class="btn-primary update-btn int-searchFee-btn" caption="Search" type="submit" iconclass="wi wi-search fa-lg" show="true" name="buttonSearchSale" iconposition="left"></wm-button>-->
                        <!--        </wm-container>-->
                        <!--    </wm-gridcolumn>-->
                        <!--</wm-gridrow>-->
                        <wm-gridrow name="gridrow15_1_1_1">
                            <wm-gridcolumn columnwidth="10" horizontalalign="center" padding="1em unset unset unset" name="gridcolumn26_2_1_1">
                                <wm-container horizontalalign="center" name="containerAfterSearchSale" show="bind:showSearch" class="complete-sale-bgcolor">
                                    <wm-text horizontalalign="center" type="text" placeholder="" step="0.01" name="textCertificatesFound" disabled="true" readonly="true" class="aftersearchtext"></wm-text>
                                </wm-container>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="2" name="gridcolumn57_2">
                                <wm-layoutgrid show="bind:showSearch &amp;&amp; certificatesFound > 0" name="layoutgrid6">
                                    <wm-gridrow name="gridrow8">
                                        <wm-gridcolumn name="gridcolumn16">
                                            <wm-container horizontalalign="center" on-click="containerSearchSaleClick($event, $isolateScope)" class="topnav-search-btn" name="container28">
                                                <wm-button class="form-save btn-primary" caption="" type="button" on-click="buttonUpdateSaleClick($event, $scope)" iconurl="resources/images/imagelists/editwhite.png" show="true" name="buttonUpdateSale" iconwidth="15px"
                                                    iconheight="15px"></wm-button>
                                            </wm-container>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-container>
                <!--<wm-layoutgrid name="layoutgrid7">-->
                <!--    <wm-gridrow name="gridrow13">-->
                <!--        <wm-gridcolumn columnwidth="12" name="gridcolumn21_1" horizontalalign="center" padding="2em unset unset unset">-->
                <!--            <wm-button type="button" class="form-save btn-primary update-btn" caption="Save" name="saveCompleteSaleBtn"></wm-button>-->
                <!--        </wm-gridcolumn>-->
                <!--    </wm-gridrow>-->
                <!--</wm-layoutgrid>-->
            </wm-form>
            <!--<wm-layoutgrid name="layoutgrid9" show="bind:showSearch &amp;&amp; certificatesFound > 0">-->
            <!--    <wm-gridrow name="gridrow15_1">-->
            <!--        <wm-gridcolumn columnwidth="12" horizontalalign="center" padding="unset unset 1em unset" name="gridcolumn26_2">-->
            <!--            <wm-container horizontalalign="center" name="container12">-->
            <!--                <wm-button class="form-save btn-primary update-btn int-searchFee-btn" caption="Pay Prior Search Fee" type="button" on-click="buttonPriorSearchClick($event, $scope)" iconurl="resources/images/imagelists/plus.png" show="true" width="50%"-->
            <!--                name="buttonPriorSearch" iconwidth="15px" iconheight="15px"></wm-button>-->
            <!--            </wm-container>-->
            <!--        </wm-gridcolumn>-->
            <!--    </wm-gridrow>-->
            <!--</wm-layoutgrid>-->
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view view" name="view2">
        <wm-dialog dialogtype="design-dialog" modal="true" name="PaySearchDialog" title="Pay Prior Search Fee" class="custom-design-dialog custom-design-dialog-disbursement topnav" iconclass="" on-opened="PaySearchDialogOpened($event, $scope)">
            <wm-form captionposition="top" name="formPaySearch" backgroundcolor="rgba(0, 0, 0, 0)" on-submit="formPaySearchSubmit($event, $scope, $formData)">
                <wm-container name="container9">
                    <wm-layoutgrid name="layoutgrid14">
                        <wm-gridrow name="gridrow16">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn25_1" class="col-xs-4">
                                <wm-label padding="1em 0.5em unset 0.5em" caption="Portfolio" class="dialog-property-header" horizontalalign="left" name="label3" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="7" name="gridcolumn26_1" padding="1em unset unset unset" class="col-xs-8">
                                <wm-container name="container13">
                                    <wm-layoutgrid name="layoutgrid10">
                                        <wm-gridrow name="gridrow17_1">
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn67_1">
                                                <wm-select name="selectStateFee" placeholder="State" dataset="bind:Variables.svQryStateFee.dataSet" datafield="All Fields" displayfield="state" on-change="Variables.svQryCountyFee.invoke()" autofocus="true"
                                                    width="90%" orderby="state:asc"></wm-select>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn27" class="col-xs-6">
                                                <wm-select datafield="All Fields" placeholder="County" required="true" autofocus="true" name="selectCountyFee" width="90%" dataset="bind:Variables.svQryCountyFee.dataSet" displayfield="county_name" orderby="county_name:asc"></wm-select>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn28" class="col-xs-6">
                                                <wm-select datafield="tax_year" placeholder="Tax Year" required="true" autofocus="true" name="selectTaxYearFee" dataset="bind:Variables.svTaxYear.dataSet" displayfield="tax_year"></wm-select>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow19">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn31_1" class="col-xs-4">
                                <wm-label padding="1em 0.5em unset 0.5em" caption="Volume" class="dialog-property-header" horizontalalign="left" name="label4"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="7" name="gridcolumn32" padding="1em unset unset unset" class="col-xs-8">
                                <wm-container name="container14">
                                    <wm-layoutgrid name="layoutgrid11">
                                        <wm-gridrow name="gridrow20">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn33" class="col-xs-6">
                                                <wm-text type="number" placeholder="From" disabled="false" readonly="false" width="90%" name="textVolumeFromFee"></wm-text>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="6" horizontalalign="left" name="gridcolumn34" class="col-xs-6">
                                                <wm-text type="number" placeholder="To" disabled="false" readonly="false" name="textVolumeToFee"></wm-text>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow21">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn35" class="col-xs-4">
                                <wm-label padding="1em 0.5em unset 0.5em" caption="Payment" class="dialog-property-header" horizontalalign="left" name="label5" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="7" name="gridcolumn36" padding="1em unset unset unset" class="col-xs-5">
                                <wm-container name="container15">
                                    <wm-layoutgrid name="layoutgrid10_1">
                                        <wm-gridrow name="gridrow31">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn61" class="col-xs-6">
                                                <wm-date name="datePaidFee" placeholder="Date Paid" datepattern="MM/dd/yyyy" required="true" width="90%"></wm-date>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn62" class="col-xs-6">
                                                <wm-text type="text" placeholder="Reference" disabled="false" readonly="false" name="textReferenceFee"></wm-text>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-container>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="2" name="gridcolumn57_1" class="col-xs-3">
                                <wm-container horizontalalign="center" name="containerSearchFee" class="topnav-search-btn">
                                    <wm-button class="btn-primary" caption="" type="submit" iconclass="wi wi-search fa-lg" show="true" name="buttonSearchFee" iconposition="left"></wm-button>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <!--<wm-gridrow name="gridrow22">-->
                        <!--    <wm-gridcolumn columnwidth="4" name="gridcolumn37">-->
                        <!--        <wm-container name="containerSearchFee" padding="1.5em unset unset 1em">-->
                        <!--            <wm-button class="btn-searchSale" caption="" type="submit" margin="unset 0.5em" name="buttonSearchFee" iconclass="wi wi-search fa-2x"></wm-button>-->
                        <!--        </wm-container>-->
                        <!--    </wm-gridcolumn>-->
                        <!--    <wm-gridcolumn columnwidth="7" name="gridcolumn38" padding="1em unset unset unset">-->
                        <!--        <wm-container name="containerAfterSearchFee" class="complete-sale-bgcolor" borderwidth="0.5em" show="bind:showSearch">-->
                        <!--            <wm-text type="text" placeholder="" step="0.01" name="textCertificatesFoundFee" disabled="true" readonly="true" width="100%"></wm-text>-->
                        <!--        </wm-container>-->
                        <!--    </wm-gridcolumn>-->
                        <!--</wm-gridrow>-->
                    </wm-layoutgrid>
                    <wm-layoutgrid name="layoutgrid9_11">
                        <wm-gridrow name="gridrow15_11">
                            <wm-gridcolumn columnwidth="10" horizontalalign="center" padding="1em unset unset unset" name="gridcolumn26_11">
                                <wm-container horizontalalign="center" name="containerAfterSearchFee" show="bind:showSearch" class="complete-sale-bgcolor">
                                    <wm-text horizontalalign="center" type="text" placeholder="" step="0.01" name="textCertificatesFoundFee" disabled="true" readonly="true" class="aftersearchtext"></wm-text>
                                </wm-container>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="2" name="gridcolumn31">
                                <wm-layoutgrid name="layoutgrid9" show="bind:showSearch &amp;&amp; certificatesFound > 0">
                                    <wm-gridrow name="gridrow15_1">
                                        <wm-gridcolumn columnwidth="12" horizontalalign="center" name="gridcolumn26_2">
                                            <wm-container horizontalalign="center" name="container12" class="topnav-search-btn">
                                                <wm-button class="form-save btn-primary" caption="" type="button" on-click="buttonPriorSearchClick($event, $scope)" iconurl="resources/images/imagelists/editwhite.png" show="true" name="buttonPriorSearch" iconwidth="15px"
                                                    iconheight="15px"></wm-button>
                                            </wm-container>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-container>
            </wm-form>
            <!--<wm-layoutgrid name="layoutgrid9" show="bind:showSearch &amp;&amp; certificatesFound > 0">-->
            <!--    <wm-gridrow name="gridrow15_1">-->
            <!--        <wm-gridcolumn columnwidth="12" horizontalalign="center" padding="unset unset 1em unset" name="gridcolumn26_2">-->
            <!--            <wm-container horizontalalign="center" name="container12">-->
            <!--                <wm-button class="form-save btn-primary update-btn int-searchFee-btn" caption="Pay Prior Search Fee" type="button" on-click="buttonPriorSearchClick($event, $scope)" iconurl="resources/images/imagelists/plus.png" show="true" width="50%" name="buttonPriorSearch"-->
            <!--                iconwidth="15px" iconheight="15px"></wm-button>-->
            <!--            </wm-container>-->
            <!--        </wm-gridcolumn>-->
            <!--    </wm-gridrow>-->
            <!--</wm-layoutgrid>-->
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view view" name="view3">
        <wm-dialog dialogtype="design-dialog" modal="true" name="PayTakeNoticeDialog" title="Pay Take Notice" class="custom-design-dialog custom-design-dialog-disbursement topnav" iconclass="" on-opened="PayTakeNoticeDialogOpened($event, $scope)">
            <wm-form captionposition="top" name="formPayTakeNotice" backgroundcolor="rgba(0, 0, 0, 0)" on-submit="formPayTakeNoticeSubmit($event, $scope, $formData);formPayTakeNoticeSubmit1($event, $scope, $formData)">
                <wm-container name="container9">
                    <wm-layoutgrid name="layoutgrid14">
                        <wm-gridrow name="gridrow16">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn25_1" class="col-xs-4">
                                <wm-label padding="1em 0.5em unset 0.5em" caption="Portfolio" class="dialog-property-header" horizontalalign="left" name="label3" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="7" name="gridcolumn26_1" padding="1em unset unset unset" class="col-xs-8">
                                <wm-container name="container13">
                                    <wm-layoutgrid name="layoutgrid10">
                                        <wm-gridrow name="gridrow17_1">
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn68_1">
                                                <wm-select datafield="All Fields" placeholder="State" required="false" autofocus="true" width="90%" dataset="bind:Variables.svQryStateNotice.dataSet" displayfield="state" name="selectStateNotice" orderby="state:asc"
                                                    on-change="Variables.svQryCountyNotice.invoke()"></wm-select>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn27" class="col-xs-6">
                                                <wm-select datafield="All Fields" placeholder="County" required="true" autofocus="true" name="selectCountyNotice" width="90%" dataset="bind:Variables.svQryCountyNotice.dataSet" displayfield="county_name" orderby="county_name:asc"></wm-select>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn28" class="col-xs-6">
                                                <wm-select datafield="tax_year" placeholder="Tax Year" required="true" autofocus="true" name="selectTaxYearNotice" dataset="bind:Variables.svTaxYear.dataSet" displayfield="tax_year"></wm-select>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow19">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn31_1" class="col-xs-4">
                                <wm-label padding="1em 0.5em unset 0.5em" caption="Volume" class="dialog-property-header" horizontalalign="left" name="label4"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="7" name="gridcolumn32" padding="1em unset unset unset" class="col-xs-8">
                                <wm-container name="container14">
                                    <wm-layoutgrid name="layoutgrid11">
                                        <wm-gridrow name="gridrow20">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn33" class="col-xs-6">
                                                <wm-text type="number" placeholder="From" disabled="false" readonly="false" width="90%" name="textVolumeFromNotice"></wm-text>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="6" horizontalalign="left" name="gridcolumn34" class="col-xs-6">
                                                <wm-text type="number" placeholder="To" disabled="false" readonly="false" name="textVolumeToNotice"></wm-text>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow21">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn35" class="col-xs-4">
                                <wm-label padding="1em 0.5em unset 0.5em" caption="Payment" class="dialog-property-header" horizontalalign="left" name="label5" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="7" name="gridcolumn36" padding="1em unset unset unset" class="col-xs-5">
                                <wm-container name="container15">
                                    <wm-layoutgrid name="layoutgrid10_1">
                                        <wm-gridrow name="gridrow16_1">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn29" class="col-xs-6">
                                                <wm-date name="datePaidNotice" placeholder="Date Paid" datepattern="MM/dd/yyyy" required="true" width="90%"></wm-date>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="6" horizontalalign="left" name="gridcolumn30" class="col-xs-6">
                                                <wm-text type="text" placeholder="Reference" disabled="false" readonly="false" name="textReferenceNotice"></wm-text>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-container>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="2" name="gridcolumn57_12" class="col-xs-3">
                                <wm-container horizontalalign="center" name="containerSearchNotice" class="topnav-search-btn">
                                    <wm-button class="btn-primary" caption="" type="submit" iconclass="wi wi-search fa-lg" show="true" name="buttonSearchNotice" iconposition="left"></wm-button>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <!--<wm-gridrow name="gridrow22">-->
                        <!--    <wm-gridcolumn columnwidth="4" name="gridcolumn37">-->
                        <!--        <wm-container name="containerSearchNotice" padding="1.5em unset unset 1em">-->
                        <!--            <wm-button class="btn-searchSale" caption="" type="submit" margin="unset 0.5em" name="buttonSearchNotice" iconclass="wi wi-search fa-2x"></wm-button>-->
                        <!--            </wm-container>-->
                        <!--    </wm-gridcolumn>-->
                        <!--    <wm-gridcolumn columnwidth="8" name="gridcolumn38" padding="1em unset unset unset">-->
                        <!--        <wm-container name="containerAfterSearchNotice" class="complete-sale-bgcolor" borderwidth="0.5em" show="bind:showSearch">-->
                        <!--            <wm-text type="text" placeholder="" step="0.01" name="textCertificatesFoundNotice" disabled="true" readonly="true" width="100%"></wm-text>-->
                        <!--        </wm-container>-->
                        <!--    </wm-gridcolumn>-->
                        <!--</wm-gridrow>-->
                    </wm-layoutgrid>
                    <wm-layoutgrid name="layoutgrid9_12">
                        <wm-gridrow name="gridrow15_121">
                            <wm-gridcolumn columnwidth="10" horizontalalign="center" padding="1em unset unset unset" name="gridcolumn26_12">
                                <wm-container horizontalalign="center" name="containerAfterSearchNotice" show="bind:showSearch" class="complete-sale-bgcolor">
                                    <wm-text horizontalalign="center" type="text" placeholder="" step="0.01" name="textCertificatesFoundNotice" disabled="true" readonly="true" class="aftersearchtext"></wm-text>
                                </wm-container>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="2" name="gridcolumn47">
                                <wm-layoutgrid name="layoutgrid9" show="bind:showSearch &amp;&amp; certificatesFound > 0">
                                    <wm-gridrow name="gridrow15_1">
                                        <wm-gridcolumn columnwidth="12" horizontalalign="center" name="gridcolumn26_2">
                                            <wm-container horizontalalign="center" name="container12" class="topnav-search-btn">
                                                <wm-button class="form-save btn-primary" caption="" type="button" on-click="buttonPayNoticeClick($event, $scope)" iconurl="resources/images/imagelists/editwhite.png" show="true" name="buttonPayNotice" iconwidth="15px"
                                                    iconheight="15px"></wm-button>
                                            </wm-container>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-container>
            </wm-form>
            <!--<wm-layoutgrid name="layoutgrid9" show="bind:showSearch &amp;&amp; certificatesFound > 0">-->
            <!--    <wm-gridrow name="gridrow15_1">-->
            <!--        <wm-gridcolumn columnwidth="12" horizontalalign="center" padding="unset unset 1em unset" name="gridcolumn26_2">-->
            <!--            <wm-container horizontalalign="center" name="container12">-->
            <!--                <wm-button class="form-save btn-primary update-btn int-searchFee-btn" caption="Pay Take Notice" type="button" on-click="buttonPayNoticeClick($event, $scope)" iconurl="resources/images/imagelists/plus.png" show="true" width="50%" name="buttonPayNotice"-->
            <!--                iconwidth="15px" iconheight="15px"></wm-button>-->
            <!--            </wm-container>-->
            <!--        </wm-gridcolumn>-->
            <!--    </wm-gridrow>-->
            <!--</wm-layoutgrid>-->
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view view" name="view4">
        <wm-dialog dialogtype="design-dialog" modal="true" name="PayPublicationDialog" title="Pay Publication" class="custom-design-dialog custom-design-dialog-disbursement topnav" iconclass="" closable="true" on-opened="PayPublicationDialogOpened($event, $scope)">
            <wm-form captionposition="top" name="formPayPublication" backgroundcolor="rgba(0, 0, 0, 0)" on-submit="formPayPublicationSubmit($event, $scope, $formData)">
                <wm-container name="container9">
                    <wm-layoutgrid name="layoutgrid14">
                        <wm-gridrow name="gridrow16">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn25_1" class="col-xs-4">
                                <wm-label padding="1em 0.5em unset 0.5em" caption="Portfolio" class="dialog-property-header" horizontalalign="left" name="label3" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="7" name="gridcolumn26_1" padding="1em unset unset unset" class="col-xs-8">
                                <wm-container name="container13">
                                    <wm-layoutgrid name="layoutgrid10">
                                        <wm-gridrow name="gridrow17_1">
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn69">
                                                <wm-select datafield="All Fields" placeholder="State" required="false" autofocus="true" width="90%" dataset="bind:Variables.svQryState.dataSet" displayfield="state" name="selectStatePublication" orderby="state:asc"
                                                    on-change="Variables.svQryCounty.invoke()"></wm-select>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn27" class="col-xs-6">
                                                <wm-select datafield="All Fields" placeholder="County" required="true" autofocus="true" name="selectCountyPublication" width="90%" dataset="bind:Variables.svQryCounty.dataSet" displayfield="county_name" orderby="county_name:asc"></wm-select>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn28" class="col-xs-6">
                                                <wm-select datafield="expiration_date" placeholder="Expiration Date" required="true" autofocus="true" name="selectExpirationPublication" dataset="bind:Variables.svExpirationDate.dataSet" displayfield="expiration_date"
                                                    displayexpression="bind:$[expiration_date] | toDate: 'MM/dd/yy'"></wm-select>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow21">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn35" class="col-xs-4">
                                <wm-label padding="1em 0.5em unset 0.5em" caption="Payment" class="dialog-property-header" horizontalalign="left" name="label5" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="7" name="gridcolumn36" padding="1em unset unset unset" class="col-xs-5">
                                <wm-container name="container15">
                                    <wm-layoutgrid name="layoutgrid10_1">
                                        <wm-gridrow name="gridrow16_1">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn29" class="col-xs-6">
                                                <wm-date name="datePaidPublication" placeholder="Date Paid" datepattern="MM/dd/yyyy" required="true" width="90%"></wm-date>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="6" horizontalalign="left" name="gridcolumn30" class="col-xs-6">
                                                <wm-text type="text" placeholder="Reference" disabled="false" readonly="false" name="textReferencePublication"></wm-text>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-container>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="2" name="gridcolumn57_13" class="col-xs-3">
                                <wm-container horizontalalign="center" name="containerSearchPublication" class="topnav-search-btn">
                                    <wm-button class="btn-primary" caption="" type="submit" iconclass="wi wi-search fa-lg" show="true" name="buttonSearchPublication" iconposition="left"></wm-button>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <!--<wm-gridrow name="gridrow22">-->
                        <!--    <wm-gridcolumn columnwidth="4" name="gridcolumn37">-->
                        <!--        <wm-container name="containerSearchPublication" padding="1.5em unset unset 1em">-->
                        <!--            <wm-button class="btn-searchSale" caption="" type="submit" margin="unset 0.5em" name="buttonSearchPublication" iconclass="wi wi-search fa-2x"></wm-button></wm-container>-->
                        <!--    </wm-gridcolumn>-->
                        <!--    <wm-gridcolumn columnwidth="7" name="gridcolumn38" padding="1em unset unset unset">-->
                        <!--        <wm-container name="containerAfterSearchPublication" class="complete-sale-bgcolor" borderwidth="0.5em" show="bind:showSearch">-->
                        <!--            <wm-text type="text" placeholder="" step="0.01" name="textCertificatesFoundPublication" disabled="true" readonly="true" width="100%"></wm-text>-->
                        <!--        </wm-container>-->
                        <!--    </wm-gridcolumn>-->
                        <!--</wm-gridrow>-->
                    </wm-layoutgrid>
                    <wm-layoutgrid name="layoutgrid9_13">
                        <wm-gridrow name="gridrow15_13">
                            <wm-gridcolumn columnwidth="10" horizontalalign="center" padding="1em unset unset unset" name="gridcolumn26_13">
                                <wm-container horizontalalign="center" name="containerAfterSearchPublication" show="bind:showSearch" class="complete-sale-bgcolor">
                                    <wm-text horizontalalign="center" type="text" placeholder="" step="0.01" name="textCertificatesFoundPublication" disabled="true" readonly="true" class="aftersearchtext"></wm-text>
                                </wm-container>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="2" name="gridcolumn59">
                                <wm-layoutgrid name="layoutgrid9" show="bind:showSearch &amp;&amp; certificatesFound > 0">
                                    <wm-gridrow name="gridrow15_1">
                                        <wm-gridcolumn columnwidth="12" horizontalalign="center" name="gridcolumn26_2">
                                            <wm-container horizontalalign="center" name="container12" class="topnav-search-btn">
                                                <wm-button class="form-save btn-primary" caption="" type="button" on-click="buttonPayPublicationClick($event, $scope)" iconurl="resources/images/imagelists/editwhite.png" show="true" width="%" name="buttonPayPublication"
                                                    iconwidth="15px" iconheight="15px"></wm-button>
                                            </wm-container>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-container>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-partial>