<wm-page data-ng-controller="AddEditBuyerGroupPageController" pagetitle="Newline Portal - Admin" name="page1"> 
    <wm-content name="content1" class="pdfcontent"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-livefilter title="Buyer Group List" dataset="bind:Variables.PlatformBuyerGroupData1.dataSet" captionalign="left" captionposition="left" name="livefilter2_1" class="buyer-header" iconclass=""> 
                <wm-layoutgrid columns="2" name="layoutgrid3_1"> 
                    <wm-gridrow name="gridrow5"> 
                        <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn6_1"> 
                            <wm-filter-field name="id" field="id" displayname="Id" widget="number" is-range="false" type="integer" is-primary-key="true" generator="identity" show="true" pc-display="true" mobile-display="true"></wm-filter-field> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn7_1"> 
                            <wm-filter-field name="groupName" field="groupName" displayname="Group Name" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow6_1"> 
                        <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn8_1"> 
                            <wm-filter-field name="forfeited" field="forfeited" displayname="Forfeited" widget="checkbox" is-range="false" type="boolean" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
                <wm-filter-action key="filter" class="btn-primary" iconclass="wi wi-filter-list" action="filter()" display-name="Filter" show="true" type="button"></wm-filter-action> 
                <wm-filter-action key="clear" class="btn-secondary" iconclass="wi wi-cancel" action="clearFilter()" display-name="Clear" show="true" type="button"></wm-filter-action> 
            </wm-livefilter> 
            <wm-livetable formlayout="dialog" name="livegrid2"> 
                <wm-table gridfirstrowselect="true" editmode="dialog" title="" dataset="bind:Widgets.livefilter2_1.result" navigation="Classic" name="grid2"> 
                    <wm-table-column binding="id" caption="Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" readonly="true"></wm-table-column> 
                    <wm-table-column binding="groupName" caption="Group Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column> 
                    <wm-table-column binding="forfeited" caption="Forfeited" generator="assigned" pcdisplay="true" mobiledisplay="true" type="boolean"></wm-table-column> 
                    <wm-table-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-table-action> 
                    <wm-table-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-table-row-action> 
                    <wm-table-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-table-row-action> 
                </wm-table> 
                <wm-liveform novalidate="false" errormessage="" title="Add Buyer Group" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Widgets.livefilter2_1.result" captionalign="left" captionposition="top" name="liveform2"> 
                    <wm-layoutgrid columns="1" name="layoutgrid4"> 
                        <wm-gridrow name="gridrow7"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn9"> 
                                <wm-form-field name="groupName" displayname="Group Name" required="true" show="true" generator="assigned" primary-key="false" key="groupName" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow8"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn10"> 
                                <wm-form-field name="forfeited" displayname="Forfeited" required="false" show="true" generator="assigned" primary-key="false" key="forfeited" type="boolean" is-related="false" pc-display="true" mobile-display="true" widget="checkbox" defaultvalue="false"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                    <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                    <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action> 
                    <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action> 
                </wm-liveform> 
            </wm-livetable> 
        </wm-page-content> 
    </wm-content> 
</wm-page>