<wm-partial data-ng-controller="CommonPageController" name="CommonPage">
    <wm-view name="loginDialogView" class="dialog-view">
        <wm-logindialog modal="true" name="CommonLoginDialog" on-error="CommonLoginDialogError($event, $scope)" on-success="CommonLoginDialogSuccess($event, $scope)" title="Login" iconclass="glyphicon glyphicon-log-in">
            <wm-form class="panel-default" name="loginform">
                <wm-message scopedataset="loginMessage" class="app-login-dialog-message" name="loginmessage"></wm-message>
                <wm-layoutgrid name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn1">
                            <wm-composite name="usernamefield">
                                <wm-label class="col-md-3" caption="Username" name="usernamelabel"></wm-label>
                                <wm-container class="col-md-9" name="container1">
                                    <wm-text placeholder="Enter username" class="col-md-8 app-login-dialog-username" name="usernametext" autocomplete="off" autocorrect="off" autocapitalize="off"></wm-text>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn name="gridcolumn2">
                            <wm-composite name="passwordfield">
                                <wm-label class="col-md-3" caption="Password" name="passwordlabel"></wm-label>
                                <wm-container class="col-md-9" name="container2">
                                    <wm-text type="password" placeholder="Enter password" class="col-md-8 app-login-dialog-password" name="passwordtext" autocomplete="off" autocorrect="off" autocapitalize="off"></wm-text>
                                </wm-container>
                            </wm-composite>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
            <wm-dialogactions name="loginactions">
                <wm-button class="btn-primary" caption="Sign in" name="loginbutton"></wm-button>
            </wm-dialogactions>
        </wm-logindialog>
    </wm-view>
    <wm-view class="dialog-view" name="view2">
        <wm-dialog dialogtype="design-dialog" modal="true" title="bind:(Variables.GlobalTaskData.dataSet.id === undefined) ? &quot;Task Details&quot; : &quot;Task Details (Task Id: &quot; + Variables.GlobalTaskData.dataSet.id + &quot;)&quot;" iconclass=""
            name="task_dialog" width="80%" class="custom-design-dialog" on-opened="task_dialogOpened($event, $scope)">
            <wm-liveform errormessage="" title="" iconclass="" defaultmode="Edit" dataset="bind:Variables.PlatformNoteData.dataSet" captionalign="left" captionposition="left" name="NoteLiveForms" on-success="NoteLiveFormsSuccess($event, $operation, $data)"
                on-beforeservicecall="NoteLiveFormsBeforeservicecall($event, $operation, $data)" formdata="bind:Variables.GlobalTaskData.dataSet">
                <wm-layoutgrid columns="2" name="layoutgrid2">
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn3">
                            <wm-form-field name="property" displayname="Property" show="true" primary-key="false" generator="assigned" key="property" type="list" is-related="true" readonly="false" required="true" widget="autocomplete" placeholder="Search"
                                dataset="bind:Variables.AssetData.dataSet" searchkey="property.addressLine1" displaylabel="property.addressLine1" datafield="All Fields" disabled="bind:Variables.TaskPartial.dataSet.partialPage  == 'TaskPartial'" defaultvalue="bind:(Variables.TaskPartial.dataSet.partialPage !=  'AddTaskPage') ? Variables.DefaultProperty.firstRecord :''"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn4">
                            <wm-form-field name="userByUserId" displayname="User" show="true" primary-key="false" generator="assigned" key="userByUserId" type="list" is-related="true" readonly="false" widget="select" orderby="name:asc" dataset="bind:Variables.UserData.dataSet"
                                datafield="All Fields" displayfield="name" placeholder="Select value" required="true" on-tap="Variables.UserData.listRecords()" on-click="Variables.UserData.listRecords()"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn5">
                            <wm-form-field name="noteType" displayname="Type" show="true" primary-key="false" generator="assigned" key="noteType" type="list" is-related="true" readonly="false" required="true" widget="autocomplete" dataset="bind:Variables.NoteType.dataSet"
                                searchkey="name" displaylabel="name" datafield="All Fields" placeholder="Search"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn6">
                            <wm-form-field name="dueTimestamp" displayname="Event" show="true" primary-key="false" generator="assigned" key="dueTimestamp" type="datetime" readonly="false" required="false" widget="datetime" placeholder="Select date time" outputformat="yyyy-MM-ddTHH:mm:ss"
                                datepattern="yyyy-MM-dd hh:mm a"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn9">
                            <wm-form-field name="comments" displayname="Notes" show="true" primary-key="false" generator="assigned" key="comments" type="string" readonly="false" widget="textarea" maxchars="256" placeholder="Enter value"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn name="gridcolumn1" columnwidth="6">
                            <wm-form-field name="TaskCompleted" key="TaskCompleted" displayname="Task Completed" show="true" type="boolean" widget="checkbox" placeholder="" checkedvalue="true" uncheckedvalue="false" defaultvalue="bind:(Variables.GlobalTaskData.dataSet.doneTimestamp === null || Variables.GlobalTaskData.dataSet.doneTimestamp === &quot;&quot; || Variables.GlobalTaskData.dataSet.doneTimestamp === undefined) ? false : true"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="doneTimestamp" displayname="Done Timestamp" show="false" primary-key="false" generator="assigned" key="doneTimestamp" type="timestamp" readonly="false" required="false" widget="timestamp" showbuttonbar="true" placeholder="Select date time"
                    outputformat="timestamp"></wm-form-field>
                <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                <wm-form-field name="user" displayname="User" show="false" primary-key="false" generator="assigned" key="user" type="string" readonly="false" required="true" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field>
                <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary btn-cancel-dialog" iconclass="wi wi-cancel" title="Cancel" action="Widgets.task_dialog.close()" shortcutkey="" disabled="false"
                    type="button" update-mode="true"></wm-form-action>
                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-primary" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
        </wm-dialog>
    </wm-view>
</wm-partial>