<wm-partial data-ng-controller="FinancialsPageController" name="partial1">
    <wm-container name="financialscontainer" height="250">
        <wm-layoutgrid name="layoutgrid2">
            <wm-gridrow name="gridrow2" class="panel-heading">
                <wm-gridcolumn columnwidth="6" name="gridcolumn3">
                    <wm-label padding="5px 0.5px unset unset" name="label1" caption="Financials" class="panel-title"></wm-label>
                </wm-gridcolumn>
                <wm-gridcolumn columnwidth="6" name="gridcolumn4">
                    <wm-select name="reoCustomer_select" width="250" class="pull-right" datafield="id" dataset="bind:Variables.REOCustomersData.dataSet" displayfield="displayName" on-change="reoCustomer_selectChange($event, $scope, newVal, oldVal)" placeholder="Select QBO Customer"
                        datavalue="bind:$parent.$parent.Variables.AssetData.dataSet.data[0].externalAssetId"></wm-select>
                </wm-gridcolumn>
            </wm-gridrow>
            <wm-gridrow name="gridrow3_1">
                <wm-gridcolumn columnwidth="6" name="gridcolumn9_1" padding="unset 2px unset unset">
                    <wm-table name="BalanceSheetDataTable1" title="" dataset="bind:Variables.BalanceSheetData.dataSet" navigation="None" showheader="false" spacing="condensed" rowngclass="{'info':row.key.includes('Total') || row.key === 'Assets' || row.key === 'Balance Sheet', 'textbold':row.key === '1302 REO Taxes'}"
                        height="100%" subheading="Balance Sheet (Assets)">
                        <wm-table-column binding="key" caption="Key" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="value" caption="Value" width="100px" textalignment="right" edit-widget-type="text" type="string" formatpattern="toCurrency" currencypattern="USD" show="true" readonly="false"></wm-table-column>
                    </wm-table>
                </wm-gridcolumn>
                <wm-gridcolumn columnwidth="6" name="gridcolumn10_1" padding="unset unset unset 2px">
                    <wm-table title="" dataset="bind:Variables.ProfitAndLossData.dataSet" navigation="None" showheader="false" spacing="condensed" rowngclass="{'info':row.key.includes('Total') || row.key === '4100 REO Net Gain on Sale' || row.key === 'Income'  || row.key === 'Cost of Goods Sold' || row.key === 'Gross Profit'}"
                        name="table2" height="100%" subheading="Income">
                        <wm-table-column binding="key" caption="Key" edit-widget-type="text" type="string" show="true" readonly="false"></wm-table-column>
                        <wm-table-column binding="value" caption="Value" width="100px" textalignment="right" edit-widget-type="text" type="string" formatpattern="toCurrency" currencypattern="USD" show="true" readonly="false"></wm-table-column>
                    </wm-table>
                </wm-gridcolumn>
            </wm-gridrow>
        </wm-layoutgrid>
    </wm-container>
</wm-partial>