<wm-page data-ng-controller="TemplateForPdfPageController" pagetitle="Newline Portal - Admin" name="page1"> 
    <wm-content name="content1" class="pdfcontent"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-livetable formlayout="dialog" name="livegrid1"> 
                <wm-table gridfirstrowselect="true" editmode="dialog" title="PDF Template List" dataset="bind:Variables.PlatformPdfTemplateData.dataSet" navigation="Classic" name="grid1" gridclass="table-bordered table-striped table-hover"> 
                    <wm-table-column binding="id" caption="Id" type="integer" primary-key="true" generator="identity" readonly="true" show="true"></wm-table-column> 
                    <wm-table-column binding="name" caption="Name" type="string" generator="assigned" show="true" readonly="false"></wm-table-column> 
                    <wm-table-column binding="query" caption="Query" type="string" generator="assigned" col-class="dataHide" show="true" readonly="false"></wm-table-column> 
                    <wm-table-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column> 
                    <wm-table-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-table-action> 
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action> 
                    <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action> 
                </wm-table> 
                <wm-liveform novalidate="false" errormessage="" title="Add/Edit PDF Template" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Variables.PlatformPdfTemplateData.dataSet" captionalign="left" captionposition="top" name="liveform1" width="95%" on-beforeservicecall="liveform1Beforeservicecall($event, $operation, $data)"> 
                    <wm-layoutgrid columns="1" name="layoutgrid1"> 
                        <wm-gridrow name="gridrow1"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn1"> 
                                <wm-form-field name="name" displayname="Name" show="true" primary-key="false" generator="assigned" key="name" type="string" required="required" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow2"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn2"> 
                                <wm-form-field name="query" displayname="Query" show="true" primary-key="false" generator="assigned" key="query" type="string" widget="textarea" maxchars="4000" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow3"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn3"> 
                                <wm-form-field name="template" displayname="Template" show="true" primary-key="false" generator="assigned" key="template" type="string" widget="textarea" maxchars="6000" placeholder="Enter value"></wm-form-field> 
                                <wm-prefab prefabname="RichTextEditorNew" name="textEditor" show="true" on-load="textEditorLoad($scope)"></wm-prefab> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                    <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="readonly" required="required" step="0" widget="number" inputtype="number" placeholder=""></wm-form-field> 
                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action> 
                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" action="saveAction($event)" disabled="false" type="submit" update-mode="true"></wm-form-action> 
                </wm-liveform> 
            </wm-livetable> 
        </wm-page-content> 
    </wm-content> 
</wm-page>