.dataHide {
            max-width: 200px;
            max-height: 240px;
            white-space: nowrap;
            /*overflow: hidden;*/
            padding: 5px;
            text-overflow: ellipsis;
        }
        .wm-app .app-content{
            /*height: 100% !important;*/
        }
        .wm-app .app-left-panel.custom-page-content{
            /*height: 100% !important;*/
        }
        .wm-app .pdfgrid{
            padding-top: 75px !important;
        }
     