<wm-partial data-ng-controller="DealsPartialPageController" name="partial1">
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Add Deal" iconclass="wi wi-file-text" name="dialog_deal" width="80%" on-opened="dialog_dealOpened($event, $scope);Variables.SelectedContact.listRecords();Variables.DefaultAsset.listRecords()" class="custom-design-dialog">
            <wm-liveform errormessage="" title="" iconclass="" defaultmode="Edit" dataset="bind:Variables.AddDeal.dataSet" captionalign="left" captionposition="left" name="DealLiveForm1" on-success="Widgets.dealtable.refreshData();Widgets.dialog_deal.close()" on-beforeservicecall="DealLiveForm1Beforeservicecall($event, $operation, $data)"
                formdata="bind:Widgets.dealtable.selecteditem" on-error="DealLiveForm1Error($event, $operation, $data)">
                <wm-layoutgrid columns="2" name="layoutgrid2">
                    <wm-gridrow name="gridrow7">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn13">
                            <wm-form-field name="dealStatus" displayname="Status" show="true" primary-key="false" generator="assigned" key="dealStatus" type="list" is-related="true" readonly="false" required="true" widget="select" maxchars="25" placeholder="Select value" dataset="bind:Variables.DealStatus.dataSet"
                                datafield="All Fields" displayfield="status" defaultvalue="bind:Widgets.dealtable.selecteditem.dealStatus"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn14">
                            <wm-form-field name="closingDate" displayname="Closing" show="true" primary-key="false" generator="assigned" key="closingDate" type="datetime" readonly="false" required="true" widget="datetime" placeholder="Select date time" outputformat="yyyy-MM-ddTHH:mm:ss"
                                mindate="CURRENT_DATE" datepattern="MM/dd/yy hh:mm a"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow8">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn15">
                            <wm-form-field name="asset" displayname="Property" show="true" primary-key="false" generator="assigned" key="asset" type="list" is-related="true" readonly="false" required="true" widget="autocomplete" searchkey="id,property.addressLine1" dataset="bind:Variables.AssetData.dataSet"
                                displaylabel="property.addressLine1" datafield="All Fields" placeholder="Search" disabled="bind:$parent.$parent.$parent.$parent.$parent.activePageName == 'PropertyDetails'" defaultvalue="bind:(pageParams.Asset_ID || Widgets.dealtable.selecteditem.assetId) ? Variables.DefaultAsset.firstRecord : ''"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn16" class="deal-buyer">
                            <wm-form-field name="contact" displayname="Buyer" show="true" primary-key="false" generator="assigned" key="contact" type="list" is-related="true" readonly="false" required="true" widget="select" placeholder="Select value" dataset="bind:Variables.ContactDetails.dataSet"
                                datafield="All Fields" displayfield="name" defaultvalue="bind:(Variables.DealPartial.dataSet.dataValue = &quot;AddDeal&quot;) ? '' : Variables.SelectedContact.firstRecord" disabled="bind:$parent.$parent.$parent.$parent.$parent.activePageName == 'Contacts'"></wm-form-field>
                            <wm-icon name="icon1" iconclass="fa fa-user-plus fa-lg"></wm-icon>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9">
                        <wm-gridcolumn columnwidth="6" name="gridcolumn17">
                            <wm-form-field name="optionByType" displayname="Type" show="true" primary-key="false" generator="assigned" key="optionByTypeId" type="list" is-related="true" readonly="false" required="true" widget="select" maxchars="25" placeholder="Select value" dataset="bind:Variables.DealType.dataSet"
                                datafield="All Fields" displayfield="name" defaultvalue="bind:Widgets.dealtable.selecteditem.optionByTypeId"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="6" name="gridcolumn18_1" class="deal-contract">
                            <wm-form-field name="contractUrl" displayname="Contract" show="true" primary-key="false" generator="assigned" key="contractUrl" type="string" readonly="false" class="contract" required="false" widget="text" maxchars="250" inputtype="text" placeholder="Enter value"></wm-form-field>
                            <wm-anchor margin="unset 0.5em" name="anchor199" caption="" iconclass="wi wi-external-link" hyperlink="bind:Widgets.DealLiveForm1.formWidgets.contractUrl.datavalue" target="_blank"></wm-anchor>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow9_1">
                        <wm-gridcolumn columnwidth="3" name="gridcolumn19">
                            <wm-form-field name="price" displayname="Price" show="true" primary-key="false" generator="assigned" key="price" type="big_decimal" readonly="false" step="0.0001" widget="currency" class="price-custom-row" inputtype="number"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn18" horizontalalign="left" class="pull-left">
                            <wm-form-field name="taxProration" displayname="Proration" show="true" primary-key="false" generator="assigned" key="taxProration" type="byte" readonly="false" required="false" step="0" widget="number" inputtype="number" placeholder="%" class="proration"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="4" name="gridcolumn17_2">
                            <wm-form-field name="deposit" displayname="Deposit" show="true" primary-key="false" generator="assigned" key="deposit" type="big_decimal" readonly="false" required="false" step="0.0001" widget="number" inputtype="number" placeholder="" class="deposit-custom-row"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="2" name="gridcolumn16_1">
                            <wm-container name="container3_1">
                                <wm-form-field name="depositType" show="true" primary-key="false" generator="assigned" key="optionByDepositTypeId" type="list" is-related="true" readonly="false" required="true" widget="select" maxchars="10" placeholder="Select value" dataset="bind:Variables.deposit_type.dataSet"
                                    datafield="All Fields" displayfield="name" orderby="name:desc" defaultvalue="bind:Widgets.dealtable.selecteditem.optionByDepositTypeId" class="deposit-select" width="69%"></wm-form-field>
                            </wm-container>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="3" name="gridcolumn15_1">
                            <wm-form-field name="titleCommitment" displayname="Title" show="true" primary-key="false" generator="assigned" key="optionByTitleCommitmentId" type="list" is-related="true" readonly="false" required="true" widget="select" maxchars="10" placeholder="Select value"
                                dataset="bind:Variables.title_options.dataSet" defaultvalue="bind:Widgets.dealtable.selecteditem.optionByTitleCommitmentId" displayfield="name" datafield="All Fields" class="title-custom-row"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="3" name="gridcolumn14_1">
                            <wm-form-field name="optionByInspectionType" displayname="Inspection" show="true" primary-key="false" generator="assigned" key="optionByInspectionTypeId" type="list" is-related="true" readonly="false" required="false" widget="select" maxchars="25" placeholder="Select value"
                                dataset="bind:Variables.InspectionType.dataSet" datafield="All Fields" displayfield="name" defaultvalue="bind:Widgets.dealtable.selecteditem.optionByInspectionTypeId" validationmessage="bind:Widgets.DealTable.selecteditem.optionByInspectionTypeId"
                                class="custom-row inspection"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow12">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn23">
                            <wm-form-field name="note" displayname="Note" show="true" primary-key="false" generator="assigned" key="note" type="string" readonly="false" required="false" widget="textarea" maxchars="250" placeholder="Enter value" class="note-custom-row"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="true" required="true" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field>
                <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary btn-cancel-dialog" iconclass="wi wi-cancel" title="Cancel" action="Widgets.dialog_deal.close()" shortcutkey="" disabled="false" type="button" update-mode="true"></wm-form-action>
                <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-primary" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
        </wm-dialog>
    </wm-view>
    <wm-accordion name="accordion1">
        <wm-accordionpane name="accordionpane_deals" title="Deals" height="250">
            <wm-table editmode="quickedit" shownewrow="false" title="" dataset="bind:Variables.PlatformDealData.dataSet" navigation="None" showheader="true" name="dealtable" iconclass="" class="customtable" spacing="condensed">
                <wm-table-column binding="rowOperations" caption="Actions" width="5%" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true" rowactionsposition="0"></wm-table-column>
                <wm-table-column binding="contact.name" caption="Contact" primary-key="false" edit-widget-type="text" related-entity-name="Contact" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="dealStatus.id" caption="Status" widget-type="label" primary-key="true" edit-widget-type="autocomplete" related-entity-name="DealStatus" type="integer" generator="identity" readonly="true" dataset="bind:Variables.DealStatus.dataSet"
                    datafield="id" placeholder="Status" displayfield="id" displaylabel="status" searchkey="status" defaultvalue="bind:Widgets.dealtable.selecteditem.dealStatus.id" show="true" required="true">
                    <wm-label caption="{{row.getProperty('dealStatus.status')}}" class="" data-ng-class=""></wm-label>
                </wm-table-column>
                <wm-table-column binding="price" caption="Price" primary-key="false" edit-widget-type="number" type="big_decimal" generator="assigned" readonly="true" formatpattern="toCurrency" currencypattern="USD" show="true" required="true"></wm-table-column>
                <wm-table-column binding="optionByTypeId.name" caption="Type" primary-key="false" edit-widget-type="text" related-entity-name="Option" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="closingDate" caption="Closing Date" primary-key="false" edit-widget-type="datetime" type="datetime" generator="assigned" readonly="true" datepattern="MM/dd/yyyy" formatpattern="toDate" show="true" editdatepattern="MM/dd/yy hh:mm a"
                    required="true"></wm-table-column>
                <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="updaterowAction($event)" disabled="false"></wm-table-row-action>
                <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
            </wm-table>
        </wm-accordionpane>
    </wm-accordion>
</wm-partial>