/*.fa-pull-right, .pull-right {*/
/*    float: right;*/
/*    padding-top: .35em;*/
/*    padding-left: .3em;*/
/*}*/

.wm-app .panel-body {
    padding: 1px;
    overflow: hidden !important;
}
.customtable  .app-grid-header {
    height: 30px;
}
.customtable .app-grid-content {
    height: 220px !important;
    overflow-x: hidden !important;
}





.wm-app .app-accordion .app-accordion-panel .panel-heading .panel-actions {
    right: 1em;
    top: 1em;
}
.wm-app .app-accordion .app-accordion-panel .panel-heading .panel-actions button {
    padding: 3px 5px;
    margin: 0 10px;
    background-color: transparent;
    border-radius: 10px;
    line-height: 1;
}

.wm-app .app-grid.panel {
    padding: 0px !important;
    padding-top: 0px !important;
}

.wm-app .panel-body {
    padding: 1px;
}


.custom-row .control-label {
    width: 120px;
}
.custom-row .control-label + div {
    width: calc(100% - 130px);
}


.custom-row-pro .control-label {
    width: 79px;
}
.custom-row-pro .control-label + div {
    width: calc(100% - 79px);
}


.custom-row-price .control-label {
    width: 84px;
}
.custom-row-price .control-label + div {
    width: calc(100% - 84px);
}


.price-custom-row .price-custom-row {
    padding-left: 16% !important;
}
.price-custom-row .price-custom-row.app-currency {
    width: 98% !important;
}
.price-custom-row .price-custom-row .input-group-addon {
    padding: 5px !important;
}
.price-custom-row .price-custom-row .app-textbox {
    padding-right: 0px !important;
}
.deal-buyer .app-select {
    width: 68% !important;
}

.deal-buyer span.app-icon-wrapper, .deal-contract .app-anchor {
    float: right !important;
    bottom: 30px !important;
    right: 18% !important;
}
.contract .app-textbox {
  width: 67.5% !important;
}
.deal-buyer .live-field, .deal-contract .live-field{
    margin-bottom: 0 !important;
}