.cert-status{
    text-align: left !important;
}
.btn-update{
    padding: 0px !important;
    background-color: transparent !important;
    text-transform: capitalize !important;
}
.wm-app .tax-year-grid .tax-grid-content .tax-label{
    margin-bottom: 8px !important;
}
.statustext{
    padding: 0px !important;
    margin-bottom: 5px !important;
    background-color: transparent !important;
    text-transform: capitalize !important;
    cursor: auto !important;
}
@media only screen and (min-width:500px){
.wm-app .custom-design-dialog.custom-design-dialog-update{
    width: 450px !important;
}
}