<wm-partial data-ng-controller="CertificateStatusPageController" name="partial1"> 
    <wm-layoutgrid name="layoutgrid1"> 
        <wm-gridrow name="gridrow1"> 
            <wm-gridcolumn name="gridcolumn1_1"> 
                <wm-label name="certificate_status" caption="bind:Variables.svCertificateDataByPropertyID.dataSet[$i].certificate_number + &quot; &quot; + &quot; (&quot; + Variables.svCertificateDataByPropertyID.dataSet[$i].tax_year + &quot;) (Certificate ID: &quot; + Variables.svCertificateDataByPropertyID.dataSet[$i].certificate_id + &quot;)&quot;" width="100%" class="h4 title_tab main-title-ins-mobile" textalign="center" horizontalalign="center" fontweight="bold" color="#2c65a8" showindevice="all" fontsize="14"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-layoutgrid name="bin_header"> 
        <wm-gridrow name="gridrow11"> 
            <!--<wm-gridcolumn columnwidth="12" name="gridcolumn36" padding=".5em unset" class="taxes title_tab">--> 
            <wm-gridcolumn name="gc36" padding="unset unset"> 
                <!--<wm-label caption="Status" fontweight="bold" name="label21" color="#2c65a8" class="title_tab cert-status pull-left" horizontalalign="left" textalign="left"></wm-label>--> 
                <wm-button caption="Status" type="button" name="updateCertificateStatusBtn" horizontalalign="left" class="sub-title-ins-mobile btn-update pull-left title_tab statustext title-tab1" color="#2c65a8" fontweight="bold" fontsize="12"></wm-button> 
                <wm-button caption="Update Certificate" type="button" name="updateCertificateStatusBtn" horizontalalign="right" class="btn-update pull-right title_tab title-tab1" iconposition="right" color="#2c65a8" fontweight="bold" fontsize="12" iconclass="" show="bind:activePageName === &quot;service&quot;" on-click="updateCertificateStatusBtnClick($event, $scope)" iconurl="resources/images/imagelists/edit.png" iconwidth="15px" iconheight="15px"></wm-button> 
                <wm-spinner show="false" name="CertificateSpinner" caption="Loading Certificate Details..." animation="spin"></wm-spinner> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-layoutgrid name="layoutgridmain" class="tax-year-grid"> 
        <wm-gridrow name="gridrow3"> 
            <wm-gridcolumn name="gridcolumn1"> 
                <wm-layoutgrid name="layoutgrid3"> 
                    <wm-gridrow name="gridrow4" class="tax-grid-content"> 
                        <wm-gridcolumn columnwidth="5" name="gridcolumn14" class="col-xs-5"> 
                            <wm-label caption="Sold by&amp;nbsp;" name="label9" class="for-bold tax-columns  tax-label"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="7" name="gridcolumn4" horizontalalign="left" class="col-xs-7"> 
                            <wm-label caption="bind:Variables.svCertificateDataByPropertyID.firstRecord.county_name.length > 0 ? (Variables.svCertificateDataByPropertyID.firstRecord.county_name) +' on ' + (Variables.svCertificateDataByPropertyID.firstRecord.date_sold | toDate : 'MM/dd/yy') : '-'" name="label10" class="bold certificat_status_padding"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <!--<wm-gridrow name="gridrow9_1" class="tax-grid-content">--> 
                    <!--    <wm-gridcolumn columnwidth="6" name="gridcolumn16">--> 
                    <!--        <wm-label caption="Sold on&amp;nbsp;" name="label11" class="for-bold tax-columns"></wm-label>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--    <wm-gridcolumn columnwidth="6" name="gridcolumn6" horizontalalign="left">--> 
                    <!--        <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.date_sold | toDate : 'MM/dd/yyyy') || '-'" name="label12" class="bold certificat_status_padding"></wm-label>--> 
                    <!--        <wm-label caption="at&amp;nbsp;" class="for-bold tax-columns certificat_status_padding" name="label19_1"></wm-label>--> 
                    <!--        <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.bid_rate) ? (Variables.svCertificateDataByPropertyID.firstRecord.bid_rate + '%') : '-'" class="bold certificat_status_padding" name="label20_1"></wm-label>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--</wm-gridrow>--> 
                    <wm-gridrow name="gridrow9_1" class="tax-grid-content"> 
                        <wm-gridcolumn columnwidth="5" name="gridcolumn16" class="col-xs-5"> 
                            <wm-label caption="Rate" name="label11" class="for-bold tax-columns  tax-label"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="7" name="gridcolumn6" horizontalalign="left" class="col-xs-7"> 
                            <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.bid_rate != null) ? (Variables.svCertificateDataByPropertyID.firstRecord.bid_rate + '%') : '-'" class="bold certificat_status_padding" name="label20_1"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow10" class="tax-grid-content"> 
                        <wm-gridcolumn columnwidth="5" name="gridcolumn17" class="col-xs-5"> 
                            <wm-label caption="Funded by&amp;nbsp;" name="label13" class="for-bold tax-columns  tax-label"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="7" name="gridcolumn8" horizontalalign="left" class="col-xs-7"> 
                            <wm-label caption="bind:Variables.svCertificateDataByPropertyID.firstRecord.bank || '-'" name="label18" class="bold certificat_status_padding"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow11_1" class="tax-grid-content"> 
                        <wm-gridcolumn columnwidth="5" name="gridcolumn18_1" class="col-xs-5"> 
                            <wm-label caption="Status is&amp;nbsp;" name="label15" class="for-bold tax-columns  tax-label"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="7" name="gridcolumn10" horizontalalign="left" class="col-xs-7"> 
                            <wm-label caption="bind:Variables.svCertificateDataByPropertyID.firstRecord.status || '-'" name="label16" class="bold certificat_status_padding"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <!--<wm-gridrow name="gridrow12" class="tax-grid-content">--> 
                    <!--    <wm-gridcolumn columnwidth="6" name="gridcolumn19_1">--> 
                    <!--        <wm-label caption="Last changed on&amp;nbsp;" class="for-bold tax-columns" name="label18_2"></wm-label>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--    <wm-gridcolumn columnwidth="6" name="gridcolumn12" horizontalalign="left">--> 
                    <!--        <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.status_change_date | toDate: 'MM/dd/yyyy') || '-'" name="label17" class="bold certificat_status_padding"></wm-label>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--</wm-gridrow>--> 
                    <wm-gridrow name="gridrow13" class="tax-grid-content"> 
                        <wm-gridcolumn columnwidth="5" name="gridcolumn20" class="col-xs-5"> 
                            <wm-label caption="Certificates is" name="label19" class="for-bold tax-columns  tax-label"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="7" name="gridcolumn14_1" horizontalalign="left" class="col-xs-7"> 
                            <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.storage_status ? Variables.svCertificateDataByPropertyID.firstRecord.storage_status : '-') + 
(Variables.svCertificateDataByPropertyID.firstRecord.released_date ? ' (' + Variables.svCertificateDataByPropertyID.firstRecord.released_date + ')' : '')" name="label19_2" class="bold certificat_status_padding"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <!--<wm-gridrow name="gridrow14" class="tax-grid-content">--> 
                    <!--    <wm-gridcolumn columnwidth="6" name="gridcolumn21">--> 
                    <!--        <wm-label caption="Target Filing Date is&amp;nbsp;" class="for-bold tax-columns" name="label17_2"></wm-label>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--    <wm-gridcolumn columnwidth="6" name="gridcolumn16_1" horizontalalign="left">--> 
                    <!--        <wm-label caption="bind:(Variables.svCertificateDataByPropertyID.firstRecord.filed_date | toDate: 'MM/dd/yyyy') || '-'" textalign="left" name="label20" class="bold certificat_status_padding"></wm-label>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--</wm-gridrow>--> 
                    <wm-gridrow name="gridrow15" class="tax-grid-content"> 
                        <wm-gridcolumn columnwidth="5" name="gridcolumn22" class="col-xs-5"> 
                            <wm-label caption="Expires" class="for-bold tax-columns  tax-label" name="label18_1"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="7" name="gridcolumn18" horizontalalign="left" class="col-xs-7"> 
                            <wm-label caption="bind: 'on ' + (Variables.svCertificateDataByPropertyID.firstRecord.expiration_date | toDate: 'MM/dd/yy') || '-'" name="labelExpiration" class="bold certificat_status_padding"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-view class="dialog-view view" name="view1"> 
        <wm-dialog dialogtype="design-dialog" modal="true" name="UpdateCertificateStatusDialog" title="Update Certificate" class="custom-design-dialog custom-design-dialog-update" iconclass="" on-opened="UpdateCertificateStatusDialogOpened($event, $scope)"> 
            <wm-form captionposition="top" name="formCertificateDetails" backgroundcolor="rgba(0, 0, 0, 0)" on-submit="Variables.svUpdateCertificateStatus.invoke()"> 
                <wm-container name="container9"> 
                    <wm-layoutgrid name="layoutgrid14"> 
                        <wm-container name="container9_1" show="true"> 
                            <wm-gridrow name="gridrow33"> 
                                <!--<wm-gridcolumn columnwidth="6" name="gridcolumn52">--> 
                                <!--    <wm-label padding="unset 0.5em" name="label24" caption="Certificate ID:" class="dialog-property-header"></wm-label>--> 
                                <!--    <wm-label padding="unset 0.5em" name="labelCertificateID" caption="bind:Variables.svQryLegalDetails.dataSet[$i].certificate_id"></wm-label>--> 
                                <!--</wm-gridcolumn>--> 
                                <wm-gridcolumn columnwidth="12" name="gridcolumn64" horizontalalign="center"> 
                                    <wm-label padding="unset 0.5em" name="label26" class="dialog-property-header" caption="Certificate ID :"></wm-label> 
                                    <!--<wm-label padding="unset 0.5em" name="labelMatterID" caption="bind:Variables.svQryLegalDetails.dataSet[$i].id"></wm-label>--> 
                                    <wm-label padding="unset 0.5em" caption="bind:Variables.svCertificateDataByPropertyID.dataSet[$i].certificate_id" name="labelCertificateID"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-container> 
                        <!--<wm-gridrow name="gridrow15">--> 
                        <!--    <wm-gridcolumn columnwidth="5" name="gridcolumn27">--> 
                        <!--        <wm-label padding="unset 0.5em" caption="Expiration Date" class="dialog-property-header legal-left-popup" name="label21"></wm-label>--> 
                        <!--    </wm-gridcolumn>--> 
                        <!--    <wm-gridcolumn columnwidth="7" name="gridcolumn28">--> 
                        <!--        <wm-date datepattern="MM/dd/yyyy" outputformat="yyyy-MM-dd" datavalue="bind:Widgets.container17.Widgets.labelExpiration.caption" required="true" name="dateExpiration"></wm-date>--> 
                        <!--    </wm-gridcolumn>--> 
                        <!--</wm-gridrow>--> 
                        <wm-gridrow name="gridrow18_1" class="row-height-top-legal"> 
                            <wm-gridcolumn columnwidth="5" name="gridcolumn30"> 
                                <wm-label padding="unset 0.5em" caption="Certificate Number" class="dialog-property-header legal-left-popup" name="certificateNumber" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn31"> 
                                <wm-text type="text" placeholder="Certificate Number" width="76%" datavalue="bind:Variables.svCertificateDataByPropertyID.dataSet[$i].certificate_number" name="certificateNo" required="true"></wm-text> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow16_1" class="row-height-top-legal "> 
                            <wm-gridcolumn columnwidth="5" name="gridcolumn31_2" class="col-xs-6"> 
                                <wm-label padding="unset 0.5em" caption="Status" class="dialog-property-header legal-left-popup" name="label24_2" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn32_1" class="col-xs-6"> 
                                <wm-select name="selectCertificateStatus" width="76%" placeholder="Select Status" required="true" datafield="status" dataset="bind:Variables.svCertificateStatus.dataSet" displayfield="status" datavalue="bind:Variables.svCertificateDataByPropertyID.dataSet[$i].status.toLowerCase()" orderby="status:asc"></wm-select> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow17" class="row-height-top-legal"> 
                            <wm-gridcolumn columnwidth="5" name="gridcolumn33" class="col-xs-6"> 
                                <wm-label padding="unset 0.5em" caption="Storage Status" class="dialog-property-header legal-left-popup" name="label25_1" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn34" class="col-xs-6"> 
                                <wm-select width="76%" name="selectStorageStatus" placeholder="Select Storage Status" required="true" dataset="bind:Variables.StorageStatusSource.dataSet" datafield="dataValue" displayfield="name" datavalue="bind:Variables.svCertificateDataByPropertyID.dataSet[$i].storage_status.toLowerCase()"></wm-select> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow18" class="row-height-top-legal"> 
                            <wm-gridcolumn columnwidth="5" name="gridcolumn35_1" class="col-xs-6"> 
                                <wm-label padding="unset 0.5em" caption="Expiration Date" class="dialog-property-header legal-left-popup" name="label26_2" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn36_1" class="col-xs-6"> 
                                <wm-container width="76%" name="container3"> 
                                    <wm-date datepattern="MM/dd/yyyy" outputformat="yyyy-MM-dd" datavalue="bind:Variables.svCertificateDataByPropertyID.dataSet[$i].expiration_date" required="true" name="dateExpiration" disabled="bind:Variables.svQryLegalDetails.dataSet.numberOfElements == 0" readonly="bind:Variables.svQryLegalDetails.dataSet.numberOfElements == 0" width="100%"></wm-date> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow19" class="row-height-top-legal"> 
                            <wm-gridcolumn columnwidth="5" name="gridcolumn37" class="col-xs-6"> 
                                <wm-label padding="unset 0.5em" caption="Override Tax Year" class="dialog-property-header legal-left-popup" name="label27_1"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn38" class="col-xs-6"> 
                                <wm-text name="textOverrideTaxYear" type="text" placeholder="Tax Year" width="76%" datavalue="bind:Variables.svCertificateDataByPropertyID.dataSet[$i].tax_year_notices"></wm-text> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow20" class="row-height-top-legal"> 
                            <wm-gridcolumn columnwidth="5" name="gridcolumn39"> 
                                <wm-label caption="Override PIN" class="dialog-property-header legal-left-popup" name="label28" show="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn40"> 
                                <wm-text type="text" placeholder="PIN Override" required="false" name="textPIN" width="76%" readonly="false" disabled="false" show="true" tabindex="5" datavalue="bind:Variables.svCertificateDataByPropertyID.dataSet[$i].pin_override"></wm-text> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow21" class="row-height-top-legal"> 
                            <wm-gridcolumn columnwidth="5" name="gridcolumn41"> 
                                <wm-label caption="Override Address" class="dialog-property-header legal-left-popup" name="label29" show="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn42"> 
                                <wm-composite name="composite1"> 
                                    <wm-label class="col-md-3 control-label" name="label22" show="false"></wm-label> 
                                    <wm-container class="col-md-12" name="container4"> 
                                        <wm-textarea name="textAddress" placeholder="Address Override" datavalue="bind:Variables.svCertificateDataByPropertyID.dataSet[$i].address_override" width="76%" tabindex="6"></wm-textarea> 
                                    </wm-container> 
                                </wm-composite> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-container> 
                <!--<wm-dialogactions name="dialogactions1" show="true" class="view">--> 
                <!--    <wm-button class="btn-primary" caption="Save" name="saveCaseDetailsBtn" on-click="saveCaseDetailsBtnClick($event, $scope)"></wm-button>--> 
                <!--</wm-dialogactions>--> 
                <wm-layoutgrid name="layoutgrid7"> 
                    <wm-gridrow name="gridrow13"> 
                        <wm-gridcolumn columnwidth="12" name="gridcolumn21_1" horizontalalign="center" padding="2em unset unset unset"> 
                            <wm-button type="submit" class="form-save btn-primary update-btn" caption="Save" name="saveCertificateStatusBtn"></wm-button> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-form> 
        </wm-dialog> 
    </wm-view> 
</wm-partial>