<wm-page data-ng-controller="testcalendarPageController" pagetitle="Testcalendar" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-layoutgrid name="layoutgrid1">
                <wm-gridrow name="gridrow1">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn1"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn2"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow2">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn3"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn4"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
            <wm-composite name="composite1">
                <wm-label class="col-md-3 control-label" name="label1" caption="Summary"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-text name="summary"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-composite name="composite2">
                <wm-label class="col-md-3 control-label" name="label2" caption="Description"></wm-label>
                <wm-container class="col-md-9" name="container2">
                    <wm-text name="description"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-composite name="composite3">
                <wm-label class="col-md-3 control-label" name="label3" caption="Location"></wm-label>
                <wm-container class="col-md-9" name="container3">
                    <wm-text name="location"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-composite name="composite4">
                <wm-label class="col-md-3 control-label" name="label4" caption="Start DateTime"></wm-label>
                <wm-container class="col-md-9" name="container4">
                    <wm-datetime name="startdatetime"></wm-datetime>
                </wm-container>
            </wm-composite>
            <wm-composite name="composite5">
                <wm-label class="col-md-3 control-label" name="label5" caption="End DateTime"></wm-label>
                <wm-container class="col-md-9" name="container5">
                    <wm-datetime name="enddatetime"></wm-datetime>
                </wm-container>
            </wm-composite>
            <wm-button class="btn-default" caption="Button" type="button" margin="unset 0.5em" name="button1" on-click="Variables.InsertOrUpdateEvent.invoke()"></wm-button>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>