.wm-app .app-left-panel.buttonslideleft{
    /*display:block !important;*/
}
@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: portrait){

.wm-app .app-left-panel {
    display: block;
    height: 100%;
     width: 100%!important; 
    /* overflow: auto; */
     position: relative; 
    /* top: 0; */
    /* z-index: 666; */
}
    
}
@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: portrait){
    .wm-app .adminpage .app-header+.app-content, .wm-app .adminpage .app-header+.app-top-nav {
    margin-top: 32pt;
}
}

.run-window{
    overflow-y: scroll !important;
}