<wm-page data-ng-controller="AdminTasksPageController" pagetitle="Newline Portal - Admin" name="page1" class="adminpage"> 
    <wm-header content="header" name="header1"></wm-header> 
    <!--<wm-top-nav content="topnav" name="top_nav1"></wm-top-nav>--> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <!--<wm-container name="HamburgerContainer" content="Hamburger"></wm-container>--> 
            <wm-layoutgrid name="layoutgrid_page"> 
                <wm-gridrow name="gridrow2"> 
                    <wm-gridcolumn name="LeftGridColumn" columnwidth="2" class="Mobile-left" id="Mobile-left"> 
                        <wm-container class="app-left-panel buttonslideleft" name="SearchContainer" id="buttonslideleft" content="LeftnavReports" overflow="auto"></wm-container> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn name="MainGridColumn" columnwidth="10" class="Mobile-right mobile-right-onclick" id="Mobile-right"> 
                        <wm-iframe name="WM_RUN_WINDOW" iframesrc="#/AddEditBuyer" width="100%" height="150px" class="run-window"></wm-iframe> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
    </wm-content> 
</wm-page>