.wm-app .custom-design-dialog-disbursement.modal-dialog{
    width: 500px !important;
}
.row-height-top{
    padding-top:0.5em !important;
}

.wm-app .disbursement-content.content-row .app-grid-column .app-label {
    font-size: 12px !important;
}
.btn-disbursement {
    padding: 0px !important;
    font-size: 13px !important;
}
.tab-custom-service .tab-header{
    font-size: 13px !important;
}
.wm-app .more-info-disburse a img {
    vertical-align: top !important;
}
.wm-app  .app-popover.popover{
    min-height: auto !important;
}
