<wm-partial data-ng-controller="DisbursementsPageController" name="partial1"> 
    <!--<wm-layoutgrid name="title_header_blue_bg">--> 
    <!--    <wm-gridrow class="custom-container" name="gridrow16">--> 
    <!--        <wm-gridcolumn name="gridcolumn31" columnwidth="5">--> 
    <!--            <wm-button caption="&amp;nbsp;" class="btn-disbursement" name="button1" horizontalalign="left" cursor="none"></wm-button>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="7" name="gridcolumn2_2" horizontalalign="right">--> 
    <!--            <wm-button caption="Add Disbursement" type="button" name="Disbursementbtn" on-click="container1Click($event, $isolateScope)" horizontalalign="right" class="btn-disbursement" iconurl="resources/images/imagelists/plus.png" iconposition="right"></wm-button>--> 
    <!--        </wm-gridcolumn>--> 
    <!--    </wm-gridrow>--> 
    <!--</wm-layoutgrid>--> 
    <wm-layoutgrid name="title_header_plain" show="false"> 
        <wm-gridrow name="gridrow2_1"> 
            <wm-gridcolumn name="gridcolumn2_1"> 
                <wm-label caption="Disbursement" fontweight="bold" name="label21" color="#2c65a8" fontsize="16"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <!--<wm-layoutgrid name="layoutgrid1">--> 
    <!--<wm-gridrow name="gridrow1">--> 
    <!--    <wm-gridcolumn columnwidth="12" name="gridcolumn1"></wm-gridcolumn>--> 
    <!--</wm-gridrow>--> 
    <!--    <wm-gridrow name="gridrow2" class="title-table-header header-row grey-header title-disbursement">--> 
    <!--        <wm-gridcolumn columnwidth="1" name="gridcolumn17"></wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="3" name="gridcolumn2">--> 
    <!--            <wm-label caption="Category - Type" name="label1" class="disburse-header"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="2" name="gridcolumn3">--> 
    <!--            <wm-label caption="Year - INST" name="label2" class="disburse-header"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="2" name="gridcolumn4">--> 
    <!--            <wm-label caption="Pay Date" height="24" name="label3" class="disburse-header"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="2" name="gridcolumn5">--> 
    <!--            <wm-label caption="Amount" name="label4" class="disburse-header"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--        <wm-gridcolumn columnwidth="2" name="gridcolumn12">--> 
    <!--            <wm-label padding="unset 0.5em" name="label11" caption="Reference" class="disburse-header"></wm-label>--> 
    <!--        </wm-gridcolumn>--> 
    <!--    </wm-gridrow>--> 
    <!--    <wm-gridrow name="gridrow3">--> 
    <!--        <wm-gridcolumn columnwidth="12" name="gridcolumn6">--> 
    <!--            <wm-livelist class="media-list" dataset="bind:Variables.svQryDisbursement.dataSet" navigation="None" listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" name="livelistDisbursement">--> 
    <!--                <wm-listtemplate layout="inline" name="listtemplate1">--> 
    <!--                    <wm-layoutgrid name="layoutgrid2">--> 
    <!--                        <wm-gridrow name="gridrow4" class="content-row disbursement-content">--> 
    <!--                            <wm-gridcolumn columnwidth="1" name="gridcolumn18">--> 
    <!--                                <wm-container name="container2" on-click="container2Click($event, $isolateScope, item, currentItemWidgets)">--> 
    <!--                                    <wm-picture name="picture2" picturesource="resources/images/imagelists/edit.png" width="20px"></wm-picture>--> 
    <!--                                </wm-container>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                            <wm-gridcolumn columnwidth="3" name="gridcolumn7">--> 
    <!--                                <wm-label caption="bind:Variables.svQryDisbursement.dataSet[$i].category + &quot; - &quot; + Variables.svQryDisbursement.dataSet[$i].type" name="label5"></wm-label>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                            <wm-gridcolumn columnwidth="2" name="gridcolumn11">--> 
    <!--                                <wm-label name="label10" caption="bind:Variables.svQryDisbursement.dataSet[$i].tax_year_paid != null ? Variables.svQryDisbursement.dataSet[$i].tax_year_paid + &quot; - &quot; + Variables.svQryDisbursement.dataSet[$i].installment : &quot;&quot;"></wm-label>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                            <wm-gridcolumn columnwidth="2" name="gridcolumn12_1">--> 
    <!--                                <wm-label name="label11_1" caption="bind:Variables.svQryDisbursement.dataSet[$i].payment_date | toDate: 'MM/dd/yy'"></wm-label>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                            <wm-gridcolumn columnwidth="2" name="gridcolumn13_1">--> 
    <!--                                <wm-label name="label12_1" caption="bind:Variables.svQryDisbursement.dataSet[$i].amount | toCurrency: '$'"></wm-label>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                            <wm-gridcolumn columnwidth="2" name="gridcolumn14">--> 
    <!--                                <wm-label padding="unset 0.5em" name="label13" caption="bind:Variables.svQryDisbursement.dataSet[$i].reference"></wm-label>--> 
    <!--                            </wm-gridcolumn>--> 
    <!--                        </wm-gridrow>--> 
    <!--                    </wm-layoutgrid>--> 
    <!--                </wm-listtemplate>--> 
    <!--            </wm-livelist>--> 
    <!--        </wm-gridcolumn>--> 
    <!--    </wm-gridrow>--> 
    <!--</wm-layoutgrid>--> 
    <wm-layoutgrid name="layoutgrid_mobile"> 
        <!--<wm-gridrow name="gridrow1">--> 
        <!--    <wm-gridcolumn columnwidth="12" name="gridcolumn1"></wm-gridcolumn>--> 
        <!--</wm-gridrow>--> 
        <wm-gridrow name="gridrow2" class="title-table-header header-row grey-header title-disbursement"> 
            <wm-gridcolumn columnwidth="1" name="gridcolumn17"></wm-gridcolumn> 
            <wm-gridcolumn columnwidth="3" name="gridcolumn2"> 
                <wm-label caption="Category - Type" name="label1" class="disburse-header"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn3"> 
                <wm-label caption="Year - Inst" name="label2" class="disburse-header"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn4"> 
                <wm-label caption="Pay Date" height="24" name="label3" class="disburse-header"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn5" horizontalalign="center"> 
                <wm-label caption="Amount" name="label4" class="disburse-header"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn12"> 
                <wm-label name="label11" caption="Reference" class="disburse-header" showindevice="sm,lg"></wm-label> 
                <wm-label caption="Info" name="label25" class="disburse-header" showindevice="xs,md"></wm-label> 
            </wm-gridcolumn> 
            <!--
            <wm-gridcolumn columnwidth="2" name="gridcolumn12" class="moreinfo-none-ipad refcolumn-none-ipad"><wm-label name="label11" caption="Reference" class="disburse-header"></wm-label></wm-gridcolumn><wm-gridcolumn class="col-xs-2 col-md-1 moreinfo-none-desktop" name="gridcolumn28" horizontalalign="left"><wm-label caption="Info" name="label25" class="disburse-header"></wm-label></wm-gridcolumn>
            --> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow3"> 
            <wm-gridcolumn columnwidth="12" name="gridcolumn6"> 
                <wm-list class="media-list" dataset="bind:Variables.svQryDisbursement.dataSet" navigation="None" listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" name="livelistDisbursement"> 
                    <wm-listtemplate layout="inline" name="listtemplate1"> 
                        <wm-layoutgrid name="layoutgrid2"> 
                            <wm-gridrow name="gridrow4" class="content-row disbursement-content"> 
                                <wm-gridcolumn columnwidth="1" name="gridcolumn18"> 
                                    <wm-container name="container2" on-click="container2Click($event, $isolateScope, item, currentItemWidgets)"> 
                                        <wm-picture name="picture2" picturesource="resources/images/imagelists/edit.png" width="20px"></wm-picture> 
                                    </wm-container> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="3" name="gridcolumn7"> 
                                    <wm-label caption="bind:Variables.svQryDisbursement.dataSet[$i].category + &quot; - &quot; + Variables.svQryDisbursement.dataSet[$i].type" name="label5" class="disburse-header"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn11"> 
                                    <wm-label name="label10" caption="bind:Variables.svQryDisbursement.dataSet[$i].tax_year_paid != null ? Variables.svQryDisbursement.dataSet[$i].tax_year_paid + &quot; - &quot; + Variables.svQryDisbursement.dataSet[$i].installment : &quot;&quot;" class="disburse-header"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn12_1"> 
                                    <wm-label name="label11_1" caption="bind:Variables.svQryDisbursement.dataSet[$i].payment_date | toDate: 'MM/dd/yy'" class="disburse-header"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn13_1" horizontalalign="center"> 
                                    <wm-label name="label12_1" caption="bind:Variables.svQryDisbursement.dataSet[$i].amount | toCurrency: '$'" class="disburse-header"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn14" horizontalalign="center"> 
                                    <wm-label name="label13" caption="bind:Variables.svQryDisbursement.dataSet[$i].reference" class="disburse-header" showindevice="sm,lg"></wm-label> 
                                    <wm-picture name="picture2" picturesource="resources/images/imagelists/information-button.png" width="20px" height="20px" show="false"></wm-picture> 
                                    <wm-popover class="moreinfo-popover" popoverwidth="240" margin="unset 0.5em" name="popover1" content="DisbursementMoreInfo" iconclass="resources/images/imagelists/information-button.png" iconwidth="20px" iconheight="20px" caption="" iconurl="resources/images/imagelists/information-button.png" showindevice="xs,md"></wm-popover> 
                                </wm-gridcolumn> 
                                <!--
                                <wm-gridcolumn columnwidth="2" name="gridcolumn14" class="moreinfo-none-ipad refcolumn-none-ipad" horizontalalign="center"><wm-label name="label13" caption="bind:Variables.svQryDisbursement.dataSet[$i].reference" class="disburse-header"></wm-label></wm-gridcolumn><wm-gridcolumn class="col-xs-2 col-md-1 more-info-disburse moreinfo-none-desktop" name="gridcolumn35" horizontalalign="center"><wm-picture name="picture2" picturesource="resources/images/imagelists/information-button.png" width="20px" height="20px" show="false"></wm-picture><wm-popover class="moreinfo-popover" popoverwidth="240" margin="unset 0.5em" name="popover1" content="DisbursementMoreInfo" iconclass="resources/images/imagelists/information-button.png" iconwidth="20px"
                                    iconheight="20px" caption="" iconurl="resources/images/imagelists/information-button.png"></wm-popover></wm-gridcolumn>
                                --> 
                            </wm-gridrow> 
                        </wm-layoutgrid> 
                    </wm-listtemplate> 
                </wm-list> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-view class="dialog-view view" name="view1"> 
        <wm-dialog dialogtype="design-dialog" modal="true" name="DisbursementAddEditDialog" title="Disbursement" class="custom-design-dialog custom-design-dialog-disbursement" iconclass="" on-opened="DisbursementAddEditDialogOpened($event, $scope)"> 
            <wm-form captionposition="top" name="formDisbursement" backgroundcolor="rgba(0, 0, 0, 0)" on-submit="formDisbursementSubmit($event, $scope, $formData)"> 
                <wm-container name="container9"> 
                    <wm-layoutgrid name="layoutgrid14"> 
                        <wm-container name="container9_1" show="bind:Variables.DisbursementData.dataSet.mode == &quot;Edit&quot;"> 
                            <wm-gridrow name="gridrow33"> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn52"> 
                                    <wm-label padding="unset 0.5em" name="label24" caption="ID:" class="dialog-property-header"></wm-label> 
                                    <wm-label padding="unset 0.5em" name="label25" caption="bind:Widgets.livelistDisbursement.selecteditem.id"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn64"> 
                                    <wm-label padding="unset 0.5em" name="label26" class="dialog-property-header" caption="User:"></wm-label> 
                                    <wm-label padding="unset 0.5em" name="label27" caption="bind:Variables.DisbursementData.dataSet.user"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="4" name="gridcolumn65"> 
                                    <wm-label padding="unset 0.5em" name="label29" class="dialog-property-header" caption="("></wm-label> 
                                    <wm-label padding="unset 0.5em" name="label28" caption="bind:Variables.DisbursementData.dataSet.created_timestamp | toDate: 'MM/dd/yyyy'"></wm-label> 
                                    <wm-label padding="unset 0.5em" name="label29" class="dialog-property-header" caption=")"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-container> 
                        <wm-gridrow name="gridrow35"> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn57"> 
                                <wm-label padding="unset 0.5em" name="label22" caption="Type" class="dialog-property-header" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn56"> 
                                <wm-container name="container4" class="dialog-property-value"> 
                                    <wm-select name="selectType" dataset="bind:Variables.DisbursementTypes.dataSet" datafield="id" displayfield="type" placeholder="Select Type" datavalue="bind:Variables.DisbursementData.dataSet.disbursement_type_id" required="true" autofocus="true"></wm-select> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow36" class="row-height-top"> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn58"> 
                                <wm-label padding="unset 0.5em" name="label24_1" class="dialog-property-header" caption="Tax Year" required="false"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn59"> 
                                <wm-container name="container6"> 
                                    <wm-layoutgrid name="layoutgrid6"> 
                                        <wm-gridrow name="gridrow12"> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn31_1" class="dialog-property-value"> 
                                                <wm-text type="number" name="textTaxYear" placeholder="Enter Tax Year" required="false" width="90%"></wm-text> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn32" class="dialog-property-value"> 
                                                <wm-select name="selectInstallment" placeholder="Installment" datavalue="bind:Variables.DisbursementData.dataSet.installment" dataset="1,2,3,4" required="false"></wm-select> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow37" class="row-height-top"> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn60"> 
                                <wm-label padding="unset 0.5em" class="dialog-property-header" caption="Payment Date" name="label26_1" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn61"> 
                                <wm-container name="container8"> 
                                    <wm-layoutgrid name="layoutgrid7"> 
                                        <wm-gridrow name="gridrow14"> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn35" class="dialog-property-value"> 
                                                <wm-container class="col-md-9" name="container10" width="100%"> 
                                                    <wm-date name="date2" datepattern="MM/dd/yyyy" outputformat="yyyy-MM-dd" datavalue="bind:Variables.DisbursementData.dataSet.payment_date | toDate: 'MM/dd/yyyy'" required="true" width="90%"></wm-date> 
                                                </wm-container> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn36" class="dialog-property-value"> 
                                                <wm-text type="text" placeholder="Reference" name="textReference" datavalue="bind:Variables.DisbursementData.dataSet.reference"></wm-text> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow34" class="row-height-top"> 
                            <wm-gridcolumn columnwidth="4" name="gridcolumn54"> 
                                <wm-label padding="unset 0.5em" class="dialog-property-header" caption="Amount" name="label28_1" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn55" class="dialog-property-value"> 
                                <wm-text type="number" placeholder="Enter Amount" name="textAmount" step="0.01" required="true"></wm-text> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-container> 
                <!--<wm-dialogactions name="dialogactions1" show="true" class="view">--> 
                <!--    <wm-button class="btn-primary" caption="Save" name="saveDisbursementBtn" on-click="saveDisbursementBtnClick($event, $scope)"></wm-button>--> 
                <!--</wm-dialogactions>--> 
                <wm-layoutgrid name="layoutgrid7"> 
                    <wm-gridrow name="gridrow13"> 
                        <wm-gridcolumn columnwidth="12" name="gridcolumn21_1" horizontalalign="center" padding="2em unset unset unset"> 
                            <wm-button type="submit" class="form-save btn-primary update-btn" caption="Save" name="saveDisbursementBtn" on-click="saveDisbursementBtnClick($event, $scope)"></wm-button> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-form> 
        </wm-dialog> 
    </wm-view> 
</wm-partial>