.wm-app .inspectmobilelogout .app-popover.popover.bottom>.arrow.left{
    left:4em !important;
}
@media screen and (min-width: 299px) and (max-width: 750px){
    .wm-app .topnav-custom .TopNavRow .lefttopnav.customlefttopnav{
display: none !important
}
}
.personal-info{
    /*margin-top:1em !important;*/
}
.wm-app .tab-custom .tab-header a{
    font-size: 12px !important;
}
.hamburger{
    
width: 6px;
    height: 6px;
    border-radius: 50% !important;
    background-color: #333;
    box-shadow: 0px 8px 0px black, 0px 16px 0px black;
}

.mobile-left-hide{
    display: none !important;
}
.mobile-left-show{
    display: block !important;
      position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    /*z-index: 9999;*/
    z-index: 112;
}
.mobile-shadow-true{
    opacity: 0.5;
}
.mobile-shadow-none{
    opacity: 1 !important;
}
@media only screen and (max-device-width: 480px) and (min-device-width: 299px){
    .wm-app #gMapsDiv{
        height: 300px!important;
    }
    .wm-app .app-header{
        display: block !important;
    }
    .wm-app .all-content-tile.tile-mobile{
        padding: 0em !important;
    }
.tile-mobile{
        position: absolute !important;
    right: 0;
    /*top: 84px;*/
}
.wm-app .photo-mobile .app-container .app-picture{
    height: 250px !important;
}
.mobile-nav{
        position: absolute !important;
    z-index: 999999 !important;
    /*right: -8% !important;*/
    /*top: 4% !important;*/
    left: 100% !important;
    top: 30px !important;
    padding: 0px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    background-color: #dbdddf !important;
    border: 1px solid #d0c9c9 !important;
    border-radius: 3px !important; 
}
.mobile-nav-right{
     position: absolute !important;
    z-index: 999999 !important;
    left: 0px !important;
    top: 36px !important;
    padding: 0px !important;
    background-color: #dbdddf !important;
    border: 1px solid #d0c9c9 !important;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
    border-radius: 4px !important;
}
.Totaldiv-Mobile{
    position: absolute !important;
    left: 0;
    top: 0;
}
.personal-info-mobile .form-group{
    /*margin-bottom: 0px !important;*/
    margin-bottom: 5px !important;
}
.wm-app .personal-info.personal-info-mobile{
 /*height: 500px;   */
 background-color: #fff !important;
}
.Mobile-left{
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    /*z-index: 9999;*/
    z-index: 112;
    /*display: none;*/
    transition:all 0.5s ease-in-out;
}
.Mobile-left.mobile-left-onclick{
    left: -100%;
    transition:all 0.5s ease-in-out;
}
.Mobile-right{
    position: absolute !important;
    top: 0;
    /*right: 0;*/
    width: 100%;
    left:-2px;
    z-index: 111;
    /*top:-100px;*/
    /*left:100%;*/
    transition:all 0.5s ease-in-out;
    
}
.Mobile-right.mobile-right-onclick{
    left: 0%;
    transition:all 0.5s ease-in-out;
    opacity: 0.5;
    /*background-color: grey;*/
}
.topnav-mobile{
    z-index:99999;
}
.add{
    display: none !important;
}

.wm-app .tab-container-custom .tab-custom .tab-content .tab-body {
    height: 300px !important;
}
}
@media only screen and (max-width: 767px) and (min-width: 481px){
.wm-app .Mobile-left .app-header+.app-content, .wm-app .Mobile-left .app-header+.app-top-nav {
     margin-top: 0px; 
}
}
@media only screen and (max-width: 750px) and (min-width: 299px){
.wm-app .app-header {
    position: relative !important;
}
}
@media only screen and (max-width: 480px) and (min-width: 299px){
.wm-app .app-header {
    position: relative !important;
}

.wm-app .tab-custom .tab-header a{
    background-color: #4586ce;
    color: #fff !important;
    border: none !important;
    border-color: inherit;
    margin-right: -3px !important;
}
.wm-app .tab-custom .tab-header.active a, .wm-app .tab-custom .tab-header.active a:hover {
    background-color: #4586ce !important;
    color: #fff !important;
    border: none !important;
    border-color: inherit;
    border-bottom: 3px solid #565252 !important;
}
.wm-app .tab-custom .tab-content .tab-body{
    padding: 1em !important;
}
.wm-app .tab-custom .tab-content .map-mobile .tab-body{
    padding: 0em !important;
}
.wm-app .nav > .tab-header > a:hover, .wm-app .nav > .tab-header > a:focus {
    background: #4586ce none repeat scroll 0 0 !important;
}
    
}

@media only screen and (max-width: 480px) and (min-width: 299px){
.wm-app .app-header+.app-content, .wm-app .app-header+.app-top-nav {
     margin-top: 0px !important; 
}
.wm-app .topnavmobile{
        background-color: #e5e5e5 !important;
}
.wm-app .tab-custom .nav.nav-tabs {
    /* overflow: scroll; */
     overflow-y: scroll !important; 
}
}