.navigation{
    display: block !important;
    font-size: 11px !important;
    margin-bottom: 0px !important;
}
.wm-app .navigationheader .heading{
    font-size: 10px !important;
}
.wm-app .navigation-btn .btn{
        padding: 1px 6px !important;
        text-transform: capitalize !important;
        background-color: inherit !important;
        font-weight: bold !important;
}
.wm-app .custompanelmobile .app-accordion .app-accordion-panel .panel-heading .panel-actions .panel-action{
    opacity: 0 !important;
}
.wm-app .custompanelmobile .app-accordion.panel-group{
    margin-bottom: 0px !important;
}
.wm-app .custompanelmobile .panel-heading .panel-title .pull-left{
    float: right !important;
}
.wm-app .custompanelmobile .panel-heading{
        background-color: #c5c5c5 !important;
}
.wm-app .navigationheader .btn-dropdown.btn{
        background-color: inherit !important;
    cursor: pointer !important;
    padding: 0px 6px !important;
    text-transform: capitalize !important;
}
.wm-app .custompanelmobile .btn-dropdown.btn{
        background-color: inherit !important;
    cursor: pointer !important;
    padding: 0px 6px !important;
    text-transform: capitalize !important;
}