<wm-partial data-ng-controller="HistoryMoreInfoPageController" type="popover" name="partial1"> 
    <wm-layoutgrid name="layoutgrid1" class="layoutgrid-outerborder"> 
        <wm-gridrow padding="unset unset unset unset" name="gridrow21"> 
            <wm-gridcolumn name="gridcolumn1"> 
                <wm-layoutgrid name="layoutgrid2_1" class="tax-and-history-table-header"> 
                    <wm-gridrow name="gridrow2" class="header-row"> 
                        <wm-gridcolumn columnwidth="5" name="gridcolumn56_1" class="col-xs-5"> 
                            <wm-label caption="Code" horizontalalign="center" name="label36"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" class="col-xs-2"> 
                            <wm-label caption="-"> 
                            </wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="5" name="gridcolumn60_1" class="col-xs-5"> 
                            <wm-label caption="bind:$parent.$parent.$parent.Widgets.livelist1.selecteditem.code || '-'" name="label40_2"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow class="header-row"> 
                        <wm-gridcolumn columnwidth="5" name="gridcolumn56_2" class="col-xs-5"> 
                            <wm-label caption="Market" horizontalalign="center" name="label36"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" class="col-xs-2"> 
                            <wm-label caption="-"> 
                            </wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="5" name="gridcolumn60_2" class="col-xs-5"> 
                            <wm-label caption="bind:$parent.$parent.$parent.Variables.svPortalAuctionHistoryFromPropertyID.dataSet.content[$i].market_value | toCurrency: '$' : '0'" name="label40_3"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow class="header-row"> 
                        <wm-gridcolumn columnwidth="5" name="gridcolumn18" class="reserach-date col-xs-5"> 
                            <wm-label caption="Research Date" name="label14"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" class="col-xs-2"> 
                            <wm-label caption="-"> 
                            </wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="5" name="gridcolumn20" class="col-xs-5"> 
                            <wm-label caption="bind:$parent.$parent.$parent.Variables.svPortalAuctionHistoryFromPropertyID.dataSet.content[$i].disposition_research_date | toDate: 'MM/dd/yy'" name="label15"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>