<wm-partial data-ng-controller="PartiesPageController" name="partial1">
    <wm-layoutgrid name="title_header_blue_bg">
        <wm-gridrow class="custom-container partyheader tax-blue-header" name="gridrow16">
            <wm-gridcolumn name="gridcolumn31" columnwidth="10">
                <wm-button caption="Parties" class="btn-disbursement" name="button1" horizontalalign="left" cursor="none"></wm-button>
                <wm-button caption="Control Sheet" type="button" name="printbtn" margin="unset unset unset 0.5em" horizontalalign="center" class="btn-disbursement pull-right" iconurl="resources/images/imagelists/print.png" iconposition="right"
                    on-click="printbtnClick($event, $scope)"></wm-button>
                <wm-button caption="Pay Fees" type="button" margin="unset 0.5em" horizontalalign="center" class="btn-disbursement pull-right" iconposition="right" name="AddCourtFeebtn" iconclass="" on-click="AddCourtFeebtnClick($event, $scope)"
                    iconurl="resources/images/imagelists/mon_1.png"></wm-button>
                <wm-button caption="Add Party" type="button" name="AppPartybtn" margin="unset 0.5px unset unset" on-click="AppPartybtnClick($event, $scope)" horizontalalign="center" class="btn-disbursement pull-right" iconurl="resources/images/imagelists/add_person.png"
                    iconposition="right"></wm-button>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="2" name="gridcolumn8" horizontalalign="center">
                <wm-layoutgrid name="plusminuslayout">
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn name="gridcolumn7_1" horizontalalign="center" columnwidth="NaN">
                            <!--<wm-container name="plusminuslayout">-->
                            <wm-button id="minus_btnParty" class=" btn-disbursement" caption="" type="button" margin="unset 0.5em" name="buttonMinusParties" iconclass="wi wi-minus fa-lg" on-click="buttonMinusPartiesClick('minus_btnParty')" horizontalalign="center"></wm-button>
                            <wm-button id="plus_btnParty" class=" btn-disbursement" caption="" type="button" margin="unset 0.5em" name="buttonPlusParties" iconclass="wi wi-plus" on-click="buttonMinusPartiesClick('plus_btnParty')" style="display:none;"></wm-button>
                            <!--</wm-container>-->
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
    <wm-layoutgrid name="layoutgrid1">
        <wm-gridrow name="gridrow2">
            <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                <wm-layoutgrid name="layoutgrid2" class="layoutgrid-outerborder">
                    <wm-gridrow name="gridrow3" class="notes-table-header header-row grey-header">
                        <wm-gridcolumn columnwidth="1" name="gridcolumn14"></wm-gridcolumn>
                        <wm-gridcolumn columnwidth="5" name="gridcolumn3_1">
                            <wm-label caption="Contact" name="label1"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="2" name="gridcolumn4">
                            <wm-label caption="Interests" name="label2"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="2" name="gridcolumn5">
                            <wm-label caption="Prompts" height="24" name="label3"></wm-label>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="2" name="gridcolumn6">
                            <wm-label caption="Service" name="label4"></wm-label>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4"></wm-gridrow>
                    <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                        <wm-list class="media-list" dataset="bind:Variables.svQryParties.dataSet" navigation="None" listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" name="PartiesLiveList">
                            <wm-listtemplate layout="inline" name="listtemplate1">
                                <wm-layoutgrid name="layoutgrid3">
                                    <wm-gridrow name="gridrow5" class="content-row parties-content">
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn15">
                                            <wm-layoutgrid name="layoutgrid5">
                                                <wm-gridrow name="gridrow6">
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn17">
                                                        <wm-container name="containerUpdateParty" on-click="containerUpdatePartyClick($event, $isolateScope, item, currentItemWidgets)">
                                                            <wm-picture picturesource="resources/images/imagelists/account.png" width="15px" height="15px" cursor="pointer" name="pictureAccount"></wm-picture>
                                                        </wm-container>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow7">
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn19" padding="5px unset unset unset">
                                                        <wm-container name="containerUpdateInterest" on-click="containerUpdateInterestClick($event, $isolateScope, item, currentItemWidgets)">
                                                            <wm-picture picturesource="resources/images/imagelists/link.png" width="15px" height="15px" cursor="pointer" name="pictureLink"></wm-picture>
                                                        </wm-container>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                                <wm-gridrow name="gridrow46" padding="5px unset unset unset">
                                                    <wm-gridcolumn columnwidth="12" name="gridcolumn94_1">
                                                        <wm-container on-click="containerDeleteInterestClick($event, $isolateScope, item, currentItemWidgets)" name="containerDeleteInterest">
                                                            <wm-picture picturesource="resources/images/imagelists/delete.png" width="15px" height="15px" cursor="pointer" name="picture4"></wm-picture>
                                                        </wm-container>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="5" name="gridcolumn8">
                                            <wm-label padding="unset 0.5em" name="label13" caption="bind:(Variables.svQryParties.dataSet[$i].class + &quot;<br ></wm-label>&quot;) + (Variables.svQryParties.dataSet[$i].name + &quot;<br />&quot;) + (Variables.svQryParties.dataSet[$i].care_of != null ? Variables.svQryParties.dataSet[$i].care_of + &quot;<br />&quot; : &quot;&quot;) + (Variables.svQryParties.dataSet[$i].address != null ? Variables.svQryParties.dataSet[$i].address + &quot;<br />&quot; : &quot;&quot;) + (Variables.svQryParties.dataSet[$i].city != null ? Variables.svQryParties.dataSet[$i].city + &quot; &quot; : &quot;&quot;) + (Variables.svQryParties.dataSet[$i].state != null ? Variables.svQryParties.dataSet[$i].state + &quot; &quot; : &quot;&quot;) + (Variables.svQryParties.dataSet[$i].zip != null ? Variables.svQryParties.dataSet[$i].zip : &quot;&quot;)"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn9">
                                            <wm-label caption="bind:(Variables.svQryParties.dataSet[$i].interest_type1 != null ? (Variables.svQryParties.dataSet[$i].interest_type1 + &quot;<br ></wm-label>&quot;) : &quot;&quot;) + (Variables.svQryParties.dataSet[$i].interest_type2 != null ? (Variables.svQryParties.dataSet[$i].interest_type2 + &quot;<br />&quot;) : &quot;&quot;) + (Variables.svQryParties.dataSet[$i].interest_type3 != null ? Variables.svQryParties.dataSet[$i].interest_type3 : &quot;&quot;)"
                                                name="label6"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn10">
                                            <wm-label caption="bind:(Variables.svQryParties.dataSet[$i].letter1 != null ? &quot;Prompt #1 - &quot; + Variables.svQryParties.dataSet[$i].letter1 + &quot;<br ></wm-label>&quot; : &quot;&quot;) + (Variables.svQryParties.dataSet[$i].letter2 != null ? &quot;Prompt #2 - &quot; + Variables.svQryParties.dataSet[$i].letter2 : &quot;&quot;)"
                                                name="label7"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn11">
                                            <wm-label caption="bind:(Variables.svQryParties.dataSet[$i].service_type != null ? Variables.svQryParties.dataSet[$i].service_type + &quot;<br ></wm-label>&quot; : &quot;&quot;) + (Variables.svQryParties.dataSet[$i].service1_status != null ? &quot;Service #1 - &quot; + Variables.svQryParties.dataSet[$i].service1_status + (Variables.svQryParties.dataSet[$i].service1_reference != null ? &quot; (&quot; + Variables.svQryParties.dataSet[$i].service1_reference + &quot;)<br />&quot; : &quot;<br />&quot; ) : &quot;&quot;) + (Variables.svQryParties.dataSet[$i].service2_status != null ? &quot;Service #2 - &quot; + Variables.svQryParties.dataSet[$i].service2_status + (Variables.svQryParties.dataSet[$i].service2_reference != null ? &quot; (&quot; + Variables.svQryParties.dataSet[$i].service2_reference + &quot;)<br />&quot; : &quot;<br />&quot; ) : &quot;&quot;) + (Variables.svQryParties.dataSet[$i].service3_status != null ? &quot;Service #3 - &quot; + Variables.svQryParties.dataSet[$i].service3_status + (Variables.svQryParties.dataSet[$i].service3_reference != null ? &quot; (&quot; + Variables.svQryParties.dataSet[$i].service3_reference + &quot;)<br />&quot; : &quot;<br />&quot; ) : &quot;&quot;)"
                                                name="label8"></wm-label>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-listtemplate>
                        </wm-list>
                    </wm-gridcolumn>
                </wm-layoutgrid>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Update Party Details" class="custom-design-dialog custom-design-dialog-update-party-details" iconclass="" name="dialogUpdateParty" on-opened="dialogUpdatePartyOpened($event, $scope)">
            <wm-form captionposition="top" name="formPartyDetails" backgroundcolor="rgba(0, 0, 0, 0)" on-submit="Variables.svUpdateParty.invoke()">
                <wm-container name="container9" class="party-details-padding">
                    <wm-layoutgrid name="layoutgrid14">
                        <wm-container name="container9_1" show="true">
                            <wm-gridrow name="gridrow33">
                                <wm-gridcolumn columnwidth="4" name="gridcolumn52"></wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn64">
                                    <wm-label padding="unset 0.5em" class="dialog-property-header" caption="Party ID:" name="label15_1"></wm-label>
                                    <wm-label padding="unset 0.5em" name="labelPartyID" caption="bind:selectedParty.party_id"></wm-label>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="4" name="gridcolumn65"></wm-gridcolumn>
                            </wm-gridrow>
                        </wm-container>
                        <wm-gridrow name="gridrow35" class="row-height-top-party">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn57">
                                <wm-label padding="unset 0.5em" name="label22" caption="Party" class="dialog-property-header" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="9" name="gridcolumn56">
                                <wm-container name="container4">
                                    <wm-layoutgrid name="layoutgrid9">
                                        <wm-gridrow name="gridrow14_1" class="party-class">
                                            <wm-gridcolumn columnwidth="12" name="gridcolumn32_1">
                                                <wm-text type="text" placeholder="Enter Party Name" step="0.01" required="true" name="textPartyName" datavalue="bind:selectedParty.name"></wm-text>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow15" class="party-class">
                                            <wm-gridcolumn columnwidth="12" name="gridcolumn34">
                                                <wm-text type="text" placeholder="Enter Care of" step="0.01" required="false" name="textCO" datavalue="bind:selectedParty.care_of"></wm-text>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow16_1" class="party-class">
                                            <wm-gridcolumn columnwidth="7" name="gridcolumn35_1">
                                                <wm-select datafield="dataValue" placeholder="Select Class" required="true" name="selectClass" datavalue="bind:selectedParty.class" dataset="bind:Variables.ClassTypes.dataSet" displayfield="name"></wm-select>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="5" name="gridcolumn36_1" horizontalalign="right">
                                                <wm-checkbox caption="PIQ" class="col-md-push-3 col-md-9 piq custom-checkbox" name="checkboxPIQ" datavalue="bind:selectedParty.piq" checkedvalue="true" uncheckedvalue="false" on-change="checkboxPIQChange($event, $scope, newVal, oldVal)"></wm-checkbox>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow17" class="row-height-top-party">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn35_2">
                                <wm-label padding="unset 0.5em" caption="Address" class="dialog-property-header" name="label17" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="9" name="gridcolumn36_2">
                                <wm-container name="container12">
                                    <wm-layoutgrid name="layoutgrid10">
                                        <wm-gridrow name="gridrow18" class="party-class">
                                            <wm-gridcolumn columnwidth="12" name="gridcolumn37">
                                                <wm-text type="text" placeholder="Enter Address" step="0.01" required="true" name="textAddress" datavalue="bind:selectedParty.address"></wm-text>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow20" class="party-class">
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn39">
                                                <wm-text type="text" placeholder="City" step="0.01" required="true" name="textCity" datavalue="bind:selectedParty.city" width="90%"></wm-text>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn40">
                                                <wm-select datafield="state" placeholder="Select State" required="true" name="selectState" datavalue="bind:selectedParty.state" dataset="bind:Variables.StatesDD.dataSet" displayfield="state" width="90%"></wm-select>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="4" name="gridcolumn41">
                                                <wm-text type="text" placeholder="Zipcode" required="true" name="textZip" datavalue="bind:selectedParty.zip" updateon="default" maxchars="5"></wm-text>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow37" class="row-height-top-party">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn60">
                                <wm-label padding="unset 0.5em" class="dialog-property-header" caption="Source" name="label26_1" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="9" name="gridcolumn61">
                                <wm-container name="container8">
                                    <wm-layoutgrid name="layoutgrid7">
                                        <wm-gridrow name="gridrow14" class="party-class">
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn35">
                                                <wm-select datafield="code" placeholder="Source 1" required="true" name="selectSource1" datavalue="bind:selectedParty.source1" dataset="bind:Variables.SourcesDD.dataSet" displayfield="name" width="90%"></wm-select>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn36">
                                                <wm-select datafield="code" placeholder="Source 2" required="false" name="selectSource2" datavalue="bind:selectedParty.source2" dataset="bind:Variables.SourcesDD.dataSet" displayfield="name"></wm-select>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-container>
                <!--<wm-dialogactions name="dialogactions1">-->
                <!--    <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button1" show="false"></wm-button>-->
                <!--    <wm-button class="btn-primary" caption="Save" name="buttonUpdateParty" type="submit" on-click="buttonUpdatePartyClick($event, $scope)"></wm-button>-->
                <!--</wm-dialogactions>-->
                <wm-layoutgrid name="layoutgrid7">
                    <wm-gridrow name="gridrow13">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn21_1" horizontalalign="center" padding="2em unset unset unset">
                            <wm-button type="submit" class="form-save btn-primary update-btn" caption="Save" name="buttonUpdateParty" on-click="buttonUpdatePartyClick($event, $scope)"></wm-button>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="view2">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Update Party Interest" class="custom-design-dialog custom-design-dialog-update-party-interest" iconclass="" name="dialogUpdatePartyInterest" on-opened="dialogUpdatePartyInterestOpened($event, $scope)">
            <wm-form captionposition="top" name="formPartyInterest" backgroundcolor="rgba(0, 0, 0, 0)" on-submit="formPartyInterestSubmit($event, $scope, $formData)">
                <wm-container name="container9">
                    <wm-layoutgrid name="layoutgrid14">
                        <wm-container name="container9_1" show="true">
                            <wm-gridrow name="gridrow33">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn52">
                                    <wm-container name="container15" horizontalalign="right">
                                        <wm-label padding="unset 0.5em" class="dialog-property-header" caption="Certificate ID:" name="label22_1"></wm-label>
                                        <wm-label padding="unset 0.5em" caption="bind:selectedPartyInterest.certificate_id" name="PartyInterestCertificateID"></wm-label>
                                    </wm-container>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" name="gridcolumn64">
                                    <wm-label padding="unset 0.5em" class="dialog-property-header" caption="Party ID:" name="label15_1"></wm-label>
                                    <wm-label padding="unset 0.5em" name="PartyInterestPartyID" caption="bind:selectedPartyInterest.party_id"></wm-label>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-container>
                        <wm-gridrow name="gridrow28" class="row-height-top-party-interest">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn56_1">
                                <wm-label padding="unset 0.5em" caption="Interests" class="row-height-top-party-interest dialog-property-header" name="label24"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="9" name="gridcolumn57_1">
                                <wm-layoutgrid name="layoutgrid14_1">
                                    <wm-gridrow name="gridrow29">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn62">
                                            <wm-select datafield="code" placeholder="Interest 1" required="false" datavalue="bind:selectedPartyInterest.interest_type1" dataset="bind:Variables.InterestDD.dataSet" displayfield="name" name="selectPartyInterestType1"
                                                width="90%"></wm-select>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn58">
                                            <wm-select datafield="code" placeholder="Interest 2" required="false" datavalue="bind:selectedPartyInterest.interest_type2" dataset="bind:Variables.InterestDD.dataSet" displayfield="name" name="selectPartyInterestType2"
                                                width="90%"></wm-select>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn59">
                                            <wm-select datafield="code" placeholder="Interest 3" required="false" datavalue="bind:selectedPartyInterest.interest_type3" dataset="bind:Variables.InterestDD.dataSet" displayfield="name" name="selectPartyInterestType3"></wm-select>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow31" class="row-height-top-party-interest">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn63">
                                <wm-label padding="unset 0.5em" caption="Letter Batch" class="row-height-top-party-interest dialog-property-header dialog-property-header" name="label25"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="9" name="gridcolumn64_1">
                                <wm-layoutgrid name="layoutgrid15">
                                    <wm-gridrow name="gridrow32">
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn65_1"></wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn66">
                                            <wm-date width="90%" datepattern="MM/dd/yyyy" outputformat="yyyy-MM-dd" datavalue="bind:selectedPartyInterest.letter1" required="false" name="PartyInterestLetter1"></wm-date>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn67">
                                            <wm-date width="100%" datepattern="MM/dd/yyyy" outputformat="yyyy-MM-dd" datavalue="bind:selectedPartyInterest.letter2" required="false" name="PartyInterestLetter2"></wm-date>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow32_1" class="update-party-bgcolor">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn65_2">
                                <wm-container name="container16">
                                    <wm-layoutgrid name="layoutgrid16">
                                        <!--<wm-gridrow name="gridrow33_1" class="row-height-top-party-interest">-->
                                        <!--<wm-gridcolumn columnwidth="3" name="gridcolumn67_1">-->
                                        <!--    <wm-label padding="unset 0.5em" caption="Service" class="row-height-top-party-interest dialog-property-header dialog-property-header" name="label27"></wm-label>-->
                                        <!--</wm-gridcolumn>-->
                                        <!--    <wm-gridcolumn columnwidth="9" name="gridcolumn68">-->
                                        <!--        <wm-layoutgrid name="layoutgrid17">-->
                                        <!--            <wm-gridrow name="gridrow38">-->
                                        <!--                <wm-gridcolumn columnwidth="4" name="gridcolumn77"></wm-gridcolumn>-->
                                        <!--                <wm-gridcolumn columnwidth="4" name="gridcolumn78">-->
                                        <!--                    <wm-select datafield="dataValue" placeholder="Select Type" required="true" datavalue="bind:selectedPartyInterest.service_type.toUpperCase()" dataset="bind:Variables.ServiceTypes.dataSet" displayfield="name" name="PartyInterestServiceType" width="90%"></wm-select>-->
                                        <!--                </wm-gridcolumn>-->
                                        <!--                <wm-gridcolumn columnwidth="4" name="gridcolumn79"></wm-gridcolumn>-->
                                        <!--            </wm-gridrow>-->
                                        <!--        </wm-layoutgrid>-->
                                        <!--    </wm-gridcolumn>-->
                                        <!--</wm-gridrow>-->
                                        <wm-gridrow name="gridrow41" class="row-height-top-party-interest">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn86"></wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn87">
                                                <wm-layoutgrid name="layoutgrid19">
                                                    <wm-gridrow name="gridrow42">
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn88"></wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn89">
                                                            <wm-label padding="unset 0.5em" name="label30" caption="Status"></wm-label>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn90">
                                                            <wm-label padding="unset 0.5em" caption="Reference" name="label31"></wm-label>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-layoutgrid>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow35_1" class="row-height-top-party-interest">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn71">
                                                <wm-label padding="unset 0.5em" caption="Service 1" class="row-height-top-party-interest dialog-property-header dialog-property-header" name="label28" required="true"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn72">
                                                <wm-layoutgrid name="layoutgrid18">
                                                    <wm-gridrow name="gridrow39">
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn78_1">
                                                            <wm-select datafield="dataValue" placeholder="Select Type" required="true" datavalue="bind:selectedPartyInterest.service_type.toUpperCase()" dataset="bind:Variables.ServiceTypes.dataSet" displayfield="name"
                                                                name="PartyInterestServiceType_1" width="90%"></wm-select>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn81">
                                                            <wm-select datafield="dataValue" placeholder="Select Status" required="false" datavalue="bind:selectedPartyInterest.service1_status.toLowerCase()" name="PartyInterestStatus1" dataset="bind:Variables.ServiceStatusDD.dataSet"
                                                                displayfield="name" width="90%"></wm-select>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn82">
                                                            <wm-text type="text" placeholder="Reference" step="0.01" required="false" datavalue="bind:selectedPartyInterest.service1_reference" name="PartyInterestReference1"></wm-text>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-layoutgrid>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow36" class="row-height-top-party-interest">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn73">
                                                <wm-label padding="unset 0.5em" caption="Service 2" class="row-height-top-party-interest dialog-property-header dialog-property-header" name="label32"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn74">
                                                <wm-layoutgrid name="layoutgrid20">
                                                    <wm-gridrow name="gridrow43">
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn91">
                                                            <!--<wm-checkbox caption="Send" class="col-md-push-3 col-md-9 custom-checkbox" datavalue="bind:selectedPartyInterest.service2_flag" name="PartyInterestFlag2"></wm-checkbox>-->
                                                            <wm-select datafield="dataValue" placeholder="Select Flag" required="false" datavalue="bind:selectedPartyInterest.service2_flag" dataset="bind:Variables.ServiceFlag.dataSet" displayfield="name"
                                                                name="PartyInterestServiceType_2" width="90%"></wm-select>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn92">
                                                            <wm-select datafield="dataValue" placeholder="Select Status" required="false" datavalue="bind:selectedPartyInterest.service2_status.toLowerCase()" name="PartyInterestStatus2" dataset="bind:Variables.ServiceStatusDD.dataSet"
                                                                displayfield="name" width="90%"></wm-select>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn93">
                                                            <wm-text type="text" placeholder="Reference" step="0.01" required="false" datavalue="bind:selectedPartyInterest.service2_reference" name="PartyInterestReference2"></wm-text>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-layoutgrid>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                        <wm-gridrow name="gridrow37_1" class="row-height-top-party-interest">
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn75">
                                                <wm-label padding="unset 0.5em" caption="Service 3" class="row-height-top-party-interest dialog-property-header dialog-property-header" name="label33"></wm-label>
                                            </wm-gridcolumn>
                                            <wm-gridcolumn columnwidth="9" name="gridcolumn76">
                                                <wm-layoutgrid name="layoutgrid21">
                                                    <wm-gridrow name="gridrow44">
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn94">
                                                            <!--<wm-checkbox caption="Send" class="col-md-push-3 col-md-9 custom-checkbox" datavalue="bind:selectedPartyInterest.service2_flag" name="PartyInterestFlag3"></wm-checkbox>-->
                                                            <wm-select datafield="dataValue" placeholder="Select Flag" required="false" datavalue="bind:selectedPartyInterest.service3_flag" dataset="bind:Variables.ServiceFlag.dataSet" displayfield="name"
                                                                name="PartyInterestServiceType_3" width="90%"></wm-select>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn95">
                                                            <wm-select datafield="dataValue" placeholder="Select Status" required="false" datavalue="bind:selectedPartyInterest.service3_status.toLowerCase()" name="PartyInterestStatus3" dataset="bind:Variables.ServiceStatusDD.dataSet"
                                                                displayfield="name" width="90%"></wm-select>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="4" name="gridcolumn96">
                                                            <wm-text type="text" placeholder="Reference" step="0.01" required="false" datavalue="bind:selectedPartyInterest.service3_reference" name="PartyInterestReference3"></wm-text>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-layoutgrid>
                                            </wm-gridcolumn>
                                        </wm-gridrow>
                                    </wm-layoutgrid>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-container>
                <wm-dialogactions name="dialogactions1">
                    <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button1" show="false"></wm-button>
                    <wm-container name="container17">
                        <wm-layoutgrid name="layoutgrid22">
                            <wm-gridrow name="gridrow45">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn97" horizontalalign="left">
                                    <wm-container name="containerDeleteLink" horizontalalign="left" width="80px" on-click="containerDeleteLinkClick($event, $isolateScope)" show="false">
                                        <wm-anchor margin="unset 0.5em" name="anchor3" caption="Delete"></wm-anchor>
                                        <wm-picture picturesource="resources/images/imagelists/delete.png" width="15px" height="15px" cursor="pointer" name="picture6"></wm-picture>
                                    </wm-container>
                                </wm-gridcolumn>
                                <!--<wm-gridcolumn columnwidth="6" name="gridcolumn98">-->
                                <!--    <wm-button class="btn-primary" caption="Save" name="buttonUpdatePartyInterest" type="submit" on-click="buttonUpdatePartyInterestClick($event, $scope)"></wm-button>-->
                                <!--</wm-gridcolumn>-->
                            </wm-gridrow>
                        </wm-layoutgrid>
                        <wm-layoutgrid name="layoutgrid7">
                            <wm-gridrow name="gridrow13">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn21_1" horizontalalign="center" padding="2em unset unset unset">
                                    <wm-button type="submit" class="form-save btn-primary update-btn" caption="Save" name="buttonUpdatePartyInterest" on-click="buttonUpdatePartyInterestClick($event, $scope)"></wm-button>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                    </wm-container>
                </wm-dialogactions>
            </wm-form>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="view3">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Add Interested Party" class="custom-design-dialog" iconclass="" name="dialogAddInterestParty" on-opened="dialogAddInterestPartyOpened($event, $scope)" on-close="dialogAddInterestPartyClose($event, $scope);Widgets.dialogAddInterestParty.close()">
            <wm-form captionposition="top" name="formAddInterestParty" backgroundcolor="rgba(0, 0, 0, 0)" on-submit="formAddInterestPartySubmit($event, $scope, $formData)">
                <wm-container name="container9">
                    <wm-layoutgrid name="layoutgrid14">
                        <wm-container name="container9_1" show="true">
                            <wm-gridrow name="gridrow45_1">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn95_1">
                                    <wm-switch datavalue="Add New Party" name="switchPartyType" dataset="Link Existing Party, Add New Party" class="switch-party"></wm-switch>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow45_2" class="row-addparty">
                                <wm-gridcolumn columnwidth="12" name="gridcolumn93_1">
                                    <wm-container name="containerExistingParty" show="bind:Widgets.switchPartyType.datavalue == &quot;Link Existing Party&quot;">
                                        <wm-layoutgrid name="layoutgrid24">
                                            <wm-gridrow name="gridrow47">
                                                <wm-gridcolumn columnwidth="12" name="gridcolumn95_2">
                                                    <!--<wm-container name="container26">-->
                                                    <!--    <wm-text placeholder="Search for Existing Party" name="searchExistingParty" class="searchIconWithTextBox"></wm-text>-->
                                                    <!--</wm-container>-->
                                                    <!--                <wm-container class="col-md-12 input-group" name="container3_1"> -->
                                                    <!--    <span class="input-group-addon"> -->
                                                    <!--        <wm-icon name="icon1" iconclass="glyphicon glyphicon-envelope"></wm-icon></span> -->
                                                    <!--    <wm-text placeholder="Email" name="usernametext" class="app-login-username" updateon="default"></wm-text> -->
                                                    <!--</wm-container> -->
                                                    <!--<wm-search name="searchExistingParty" placeholder="Search for Existing Party" datafield="All Fields" on-submit="searchExistingPartySubmit($event, $scope)"></wm-search>-->
                                                    <div class="app-search input-group ng-scope ng-isolate-scope custom-search-btn-row" style="width: 100%;">
                                                        <wm-text placeholder="Search for Existing Party" name="searchExistingParty" class="app-textbox form-control list-of-objs" updateon="default"></wm-text><span class="input-group-addon custom-search-paties" ng-class="{'disabled': disabled}"><button title="Search" ng-disabled="disabled" type="button" class="  app-search-button wi wi-search" ng-click="searchExistingPartySubmit()"></button></span>
                                                        <!-- end ngIf: showSearchIcon -->
                                                    </div>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow60">
                                                <wm-gridcolumn columnwidth="12" name="gridcolumn119_1">
                                                    <wm-table title="" navigation="Basic" name="gridExistingParties" showheader="true" enablesort="false" dataset="bind:Variables.ExistingParties.dataSet" gridclass="table-bordered table-striped table-hover add-new-party-panel"
                                                        class="link-existing-party-pager">
                                                        <wm-table-column binding="id" caption="ID" type="string" width="10%" readonly="true" edit-widget-type="text" show="true"></wm-table-column>
                                                        <wm-table-column binding="class" caption="Class" type="string" width="20%" readonly="true" edit-widget-type="text" show="true"></wm-table-column>
                                                        <wm-table-column binding="name" caption="Name" type="string" width="30%" readonly="true" edit-widget-type="text" show="true">
                                                            <wm-label caption="{{(row.name != null ? row.name + '<br ></wm-label>' : '') + (row.care_of != null ? row.care_of : '')}}" name="labelExistingName"></wm-label>
                                                        </wm-table-column>
                                                        <wm-table-column binding="address" caption="Address" type="string" width="40%" readonly="true" edit-widget-type="text" show="true">
                                                            <wm-label caption="{{(row.address != null ? row.address + '<br ></wm-label>' : '') + (row.city != null ? row.city + ' ' : '') + (row.state != null ? row.state + ' ' : '') + (row.zip != null ?row.zip : '')}}"
                                                                name="labelExistingAddress"></wm-label>
                                                        </wm-table-column>
                                                    </wm-table>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <!--<wm-gridrow name="gridrow48">-->
                                            <!--    <wm-gridcolumn columnwidth="12" name="gridcolumn97_1">-->
                                            <!--        <wm-layoutgrid name="layoutgrid25">-->
                                            <!--            <wm-gridrow name="gridrow49">-->
                                            <!--                <wm-gridcolumn columnwidth="12" name="gridcolumn97_2">-->
                                            <!--                    <wm-layoutgrid class="layoutgrid-outerborder" name="layoutgrid26">-->
                                            <!--                        <wm-gridrow class="notes-table-header header-row" name="gridrow50">-->
                                            <!--                            <wm-gridcolumn columnwidth="1" name="gridcolumn98_1">-->
                                            <!--                                <wm-label caption="ID" name="label37"></wm-label>-->
                                            <!--                            </wm-gridcolumn>-->
                                            <!--                            <wm-gridcolumn columnwidth="2" name="gridcolumn99">-->
                                            <!--                                <wm-label caption="Class" name="label29"></wm-label>-->
                                            <!--                            </wm-gridcolumn>-->
                                            <!--                            <wm-gridcolumn columnwidth="4" name="gridcolumn100">-->
                                            <!--                                <wm-label caption="Name" name="label30_1"></wm-label>-->
                                            <!--                            </wm-gridcolumn>-->
                                            <!--                            <wm-gridcolumn columnwidth="5" name="gridcolumn101">-->
                                            <!--                                <wm-label caption="Address" height="24" name="label31_1"></wm-label>-->
                                            <!--                            </wm-gridcolumn>-->
                                            <!--                        </wm-gridrow>-->
                                            <!--                        <wm-gridrow name="gridrow51">-->
                                            <!--                            <wm-gridcolumn columnwidth="12" name="gridcolumn103">-->
                                            <!--                                <wm-livelist class="media-list" dataset="bind:Variables.ExistingParties.dataSet" navigation="None" listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1"-->
                                            <!--                                name="livelistExistingParties">-->
                                            <!--                                    <wm-listtemplate layout="inline" name="listtemplate2">-->
                                            <!--                                        <wm-layoutgrid name="layoutgrid27">-->
                                            <!--                                            <wm-gridrow class="content-row" name="gridrow52">-->
                                            <!--                                                <wm-gridcolumn columnwidth="1" name="gridcolumn104">-->
                                            <!--                                                    <wm-label padding="unset 0.5em" caption="bind:Variables.ExistingParties.dataSet[$i].id" name="labelExistingID"></wm-label>-->
                                            <!--                                                </wm-gridcolumn>-->
                                            <!--                                                <wm-gridcolumn columnwidth="2" name="gridcolumn108">-->
                                            <!--                                                    <wm-label padding="unset 0.5em" caption="bind:Variables.ExistingParties.dataSet[$i].class" name="labelExistingClass"></wm-label>-->
                                            <!--                                                </wm-gridcolumn>-->
                                            <!--                                                <wm-gridcolumn columnwidth="4" name="gridcolumn109">-->
                                            <!--                                                    <wm-label caption="bind:(Variables.ExistingParties.dataSet[$i].name != null ? Variables.ExistingParties.dataSet[$i].name + &quot;<br ></wm-label>&quot; : &quot;&quot;) + (Variables.ExistingParties.dataSet[$i].care_of != null ? Variables.ExistingParties.dataSet[$i].care_of : &quot;&quot;)"-->
                                            <!--                                                    name="labelExistingName"></wm-label>-->
                                            <!--                                                </wm-gridcolumn>-->
                                            <!--                                                <wm-gridcolumn columnwidth="5" name="gridcolumn110">-->
                                            <!--                                                    <wm-label caption="bind:(Variables.ExistingParties.dataSet[$i].address != null ? Variables.ExistingParties.dataSet[$i].address + &quot;<br ></wm-label>&quot; : &quot;&quot;) + (Variables.ExistingParties.dataSet[$i].city != null ? Variables.ExistingParties.dataSet[$i].city + &quot; &quot; : &quot;&quot;) + (Variables.ExistingParties.dataSet[$i].state != null ? Variables.ExistingParties.dataSet[$i].state + &quot; &quot; : &quot;&quot;) + (Variables.ExistingParties.dataSet[$i].zip != null ? Variables.ExistingParties.dataSet[$i].zip : &quot;&quot;)"-->
                                            <!--                                                    name="labelExistingAddress"></wm-label>-->
                                            <!--                                                </wm-gridcolumn>-->
                                            <!--                                            </wm-gridrow>-->
                                            <!--                                        </wm-layoutgrid>-->
                                            <!--                                    </wm-listtemplate>-->
                                            <!--                                </wm-livelist>-->
                                            <!--                            </wm-gridcolumn>-->
                                            <!--                        </wm-gridrow>-->
                                            <!--                    </wm-layoutgrid>-->
                                            <!--                </wm-gridcolumn>-->
                                            <!--            </wm-gridrow>-->
                                            <!--        </wm-layoutgrid>-->
                                            <!--    </wm-gridcolumn>-->
                                            <!--</wm-gridrow>-->
                                        </wm-layoutgrid>
                                    </wm-container>
                                    <wm-container name="containerNewParty" show="bind:Widgets.switchPartyType.datavalue == &quot;Add New Party&quot;">
                                        <wm-layoutgrid name="layoutgrid26_1">
                                            <wm-gridrow name="gridrow55">
                                                <wm-gridcolumn columnwidth="12" name="gridcolumn105_1" padding="unset unset unset 1em">
                                                    <wm-select datafield="All Fields" placeholder="Select an Agent" required="false" name="selectPartyAgent" dataset="bind:Variables.lvPartyAgent.dataSet" displayfield="careOf" on-change="selectPartyAgentChange($event, $scope, newVal, oldVal)"
                                                        datavalue="''"></wm-select>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow45_3">
                                                <wm-gridcolumn columnwidth="3" name="gridcolumn93_2">
                                                    <wm-label padding="unset 0.5em" caption="Party" class="dialog-property-header" name="label35" required="true"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="9" name="gridcolumn94_2">
                                                    <wm-container name="container21">
                                                        <wm-layoutgrid name="layoutgrid27_1">
                                                            <wm-gridrow name="gridrow47_1" class="row-addparty">
                                                                <wm-gridcolumn columnwidth="12" name="gridcolumn97_3">
                                                                    <wm-text type="text" placeholder="Enter Party Name" step="0.01" required="true" datavalue="bind:selectedExistingParty.name" name="textExistingPartyName"></wm-text>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                            <wm-gridrow name="gridrow48_1" class="row-addparty">
                                                                <wm-gridcolumn columnwidth="12" name="gridcolumn98_2">
                                                                    <wm-text type="text" placeholder="Enter Care of" step="0.01" required="false" datavalue="bind:selectedExistingParty.care_of" name="textExistingPartyCO"></wm-text>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                            <wm-gridrow name="gridrow49_1" class="row-addparty">
                                                                <wm-gridcolumn columnwidth="6" name="gridcolumn99_1">
                                                                    <wm-select datafield="dataValue" placeholder="Select Class" required="true" datavalue="bind:selectedExistingParty.class.toLowerCase()" dataset="bind:Variables.ClassTypes.dataSet" displayfield="name"
                                                                        name="selectExistingPartyClass"></wm-select>
                                                                </wm-gridcolumn>
                                                                <wm-gridcolumn columnwidth="6" name="gridcolumn100_1">
                                                                    <wm-checkbox caption="PIQ" class="col-md-push-3 col-md-9 custom-checkbox" datavalue="bind:(selectedExistingParty.piq == null || selectedExistingParty.piq == undefined) ? false : selectedExistingParty.piq"
                                                                        name="checkboxExistingPIQ" checkedvalue="true" uncheckedvalue="false" on-change="checkboxExistingPIQChange($event, $scope, newVal, oldVal)"></wm-checkbox>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                        </wm-layoutgrid>
                                                    </wm-container>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow50_1" class="row-addparty custom-search-btn-row">
                                                <wm-gridcolumn columnwidth="3" name="gridcolumn101_1">
                                                    <wm-label padding="unset 0.5em" caption="Address" class="dialog-property-header" name="label36" required="true"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="9" name="gridcolumn102">
                                                    <wm-container name="container22">
                                                        <wm-layoutgrid name="layoutgrid28">
                                                            <wm-gridrow name="gridrow51_1" class="row-addparty">
                                                                <wm-gridcolumn columnwidth="12" name="gridcolumn103_1">
                                                                    <wm-text type="text" placeholder="Enter Address" step="0.01" required="true" datavalue="bind:selectedExistingParty.address" name="textExistingPartyAddress"></wm-text>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                            <wm-gridrow name="gridrow52_1" class="row-addparty">
                                                                <wm-gridcolumn columnwidth="4" name="gridcolumn104_1">
                                                                    <wm-text type="text" placeholder="City" step="0.01" required="true" datavalue="bind:selectedExistingParty.city" name="textExistingPartyCity" width="90%"></wm-text>
                                                                </wm-gridcolumn>
                                                                <wm-gridcolumn columnwidth="4" name="gridcolumn105">
                                                                    <wm-select datafield="state" placeholder="Select State" required="true" datavalue="bind:selectedExistingParty.state" dataset="bind:Variables.StatesDD.dataSet" displayfield="state" name="selectExistingPartyState"
                                                                        width="90%"></wm-select>
                                                                </wm-gridcolumn>
                                                                <wm-gridcolumn columnwidth="4" name="gridcolumn106">
                                                                    <wm-text type="text" placeholder="Zipcode" required="true" datavalue="bind:selectedExistingParty.zip" updateon="default" maxchars="5" name="textExistingPartyZip"></wm-text>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                        </wm-layoutgrid>
                                                    </wm-container>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow53" class="row-addparty custom-search-btn-row">
                                                <wm-gridcolumn columnwidth="3" name="gridcolumn107">
                                                    <wm-label padding="unset 0.5em" caption="Source" class="row-height-top-party-int dialog-property-header" name="label37_1" required="true"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="9" name="gridcolumn108_1">
                                                    <wm-container name="container23">
                                                        <wm-layoutgrid name="layoutgrid29">
                                                            <wm-gridrow name="gridrow54">
                                                                <wm-gridcolumn columnwidth="6" name="gridcolumn109_1">
                                                                    <wm-select datafield="code" placeholder="Source 1" required="true" datavalue="bind:selectedExistingParty.source1" dataset="bind:Variables.SourcesDD.dataSet" displayfield="name" name="ExistingPartySource1"
                                                                        width="90%"></wm-select>
                                                                </wm-gridcolumn>
                                                                <wm-gridcolumn columnwidth="6" name="gridcolumn110_1">
                                                                    <wm-select datafield="code" placeholder="Source 2" required="false" datavalue="bind:selectedExistingParty.source2" dataset="bind:Variables.SourcesDD.dataSet" displayfield="name" name="ExistingPartySource2"></wm-select>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                        </wm-layoutgrid>
                                                    </wm-container>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-container>
                                    <wm-container name="containerCommon">
                                        <wm-layoutgrid name="layoutgrid31">
                                            <wm-gridrow name="gridrow57" class="custom-search-btn-row row-addparty">
                                                <wm-gridcolumn columnwidth="3" name="gridcolumn116">
                                                    <wm-label padding="unset 0.5em" caption="Service" class="row-height-top-party-int dialog-property-header" name="label39" required="true"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="9" name="gridcolumn117">
                                                    <wm-container name="container24_1">
                                                        <wm-layoutgrid name="layoutgrid31_1">
                                                            <wm-gridrow name="gridrow57_1">
                                                                <wm-gridcolumn columnwidth="6" name="gridcolumn116_1"></wm-gridcolumn>
                                                                <wm-gridcolumn columnwidth="6" name="gridcolumn118_1">
                                                                    <wm-select datafield="dataValue" placeholder="Select Type" required="true" datavalue="bind:selectedExistingParty.service_type.toLowerCase()" dataset="bind:Variables.ServiceTypes.dataSet"
                                                                        displayfield="name" name="selectExistingPartyService"></wm-select>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                        </wm-layoutgrid>
                                                    </wm-container>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                            <wm-gridrow name="gridrow58" class="custom-search-btn-row row-addparty">
                                                <wm-gridcolumn columnwidth="3" name="gridcolumn118">
                                                    <wm-label padding="unset 0.5em" caption="Interests" class="row-height-top-party-int dialog-property-header" name="label40" required="true"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="9" name="gridcolumn119">
                                                    <wm-container name="container24">
                                                        <wm-layoutgrid name="layoutgrid30">
                                                            <wm-gridrow name="gridrow56">
                                                                <wm-gridcolumn columnwidth="4" name="gridcolumn113">
                                                                    <!--<wm-select datafield="code" placeholder="Interest 1" required="false" datavalue="bind:selectedExistingParty.interest_type1" dataset="bind:Variables.InterestDD.dataSet" displayfield="name" name="ExistingPartyInterest1"></wm-select>-->
                                                                    <wm-select datafield="code" placeholder="Interest 1" required="true" datavalue="bind:selectedExistingParty.interest_type1" dataset="bind:Variables.InterestDD.dataSet" displayfield="name"
                                                                        name="ExistingPartyInterest1" width="90%"></wm-select>
                                                                </wm-gridcolumn>
                                                                <wm-gridcolumn columnwidth="4" name="gridcolumn114">
                                                                    <wm-select datafield="code" placeholder="Interest 2" required="false" datavalue="bind:selectedExistingParty.interest_type2" dataset="bind:Variables.InterestDD.dataSet" displayfield="name"
                                                                        name="ExistingPartyInterest2" width="90%"></wm-select>
                                                                    <!--<wm-select datafield="code" placeholder="Interest 2" required="false" datavalue="bind:selectedExistingParty.interest_type2" dataset="bind:Variables.InterestDD.dataSet" displayfield="name" name="ExistingPartyInterest2"></wm-select>--></wm-gridcolumn>
                                                                <wm-gridcolumn columnwidth="4" name="gridcolumn115">
                                                                    <wm-select datafield="code" placeholder="Interest 3" required="false" datavalue="bind:selectedExistingParty.interest_type3" dataset="bind:Variables.InterestDD.dataSet" displayfield="name"
                                                                        name="ExistingPartyInterest3"></wm-select>
                                                                </wm-gridcolumn>
                                                            </wm-gridrow>
                                                        </wm-layoutgrid>
                                                    </wm-container>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-container>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-container>
                    </wm-layoutgrid>
                </wm-container>
                <!--<wm-dialogactions name="dialogactions1">-->
                <!--    <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button1" show="false"></wm-button>-->
                <!--    <wm-button class="btn-primary" caption="Add Interested Party" name="buttonAddInterestParty" type="submit" on-click="buttonAddInterestPartyClick($event, $scope)" iconurl="resources/images/imagelists/plus.png" show="bind:Widgets.switchPartyType.datavalue == &quot;Add New Party&quot;"></wm-button>-->
                <!--    <wm-button class="btn-primary" caption="Add Interested Party" type="button" on-click="buttonLinkExistingClick($event, $scope)" iconurl="resources/images/imagelists/plus.png" show="bind:Widgets.switchPartyType.datavalue == &quot;Link Existing Party&quot;"-->
                <!--    name="buttonLinkExisting"></wm-button>-->
                <!--</wm-dialogactions>-->
                <wm-layoutgrid name="layoutgrid7">
                    <wm-gridrow name="gridrow13">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn21_1" horizontalalign="center" padding="2em unset unset unset">
                            <wm-button class="form-save btn-primary update-btn int-party-btn" caption="Add Interested Party" name="buttonAddInterestParty" type="submit" on-click="buttonAddInterestPartyClick($event, $scope)" iconurl="resources/images/imagelists/plus.png"
                                show="bind:Widgets.switchPartyType.datavalue == &quot;Add New Party&quot;" width="50%"></wm-button>
                            <wm-button class="form-save btn-primary update-btn int-party-btn" caption="Add Interested Party" type="button" on-click="buttonLinkExistingClick($event, $scope)" iconurl="resources/images/imagelists/plus.png" show="bind:Widgets.switchPartyType.datavalue == &quot;Link Existing Party&quot;"
                                name="buttonLinkExisting" width="50%"></wm-button>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="view4">
        <wm-confirmdialog name="dialogDeletePartyInterest" title="Delete Party Interest" message="Are you sure you want to delete the party interest?" oktext="Delete" canceltext="Cancel" iconclass="" on-ok="dialogDeletePartyInterestOk($event, $scope)" class="delete-dialog"></wm-confirmdialog>
    </wm-view>
    <wm-view class="dialog-view" name="view6">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Pay Court Fees" iconclass="" name="dialogPayCourtFees" showheader="true">
            <wm-form captionposition="top" name="formPayCourtFees" backgroundcolor="rgba(0, 0, 0, 0)" on-submit="formPayCourtFeesSubmit($event, $scope, $formData)">
                <wm-container name="container9">
                    <wm-layoutgrid name="layoutgrid14">
                        <wm-gridrow name="gridrow35">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn57">
                                <wm-label padding="unset 0.5em" name="label22" caption="Type" class="dialog-property-header" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="8" name="gridcolumn56" padding="1em unset unset unset">
                                <wm-select datafield="dataValue" placeholder="Select Type" required="true" dataset="bind:Variables.svPayType.dataSet" displayfield="dataValue" name="selectType"></wm-select>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="1" name="gridcolumn117_1"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow37">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn60">
                                <wm-label padding="unset 0.5em" class="dialog-property-header" caption="Service" name="label26_1" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="8" name="gridcolumn61" padding="1em unset unset unset">
                                <wm-select datafield="dataValue" placeholder="Select Service" required="true" dataset="bind:Variables.svService.dataSet" displayfield="dataValue" name="selectService"></wm-select>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="1" name="gridcolumn116_3"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow37">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn60">
                                <wm-label padding="unset 0.5em" class="dialog-property-header" caption="Payment Date" name="label26_1" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="7" name="gridcolumn61" padding="1em unset unset unset">
                                <wm-date name="paymentDate" placeholder="Payment Date" datepattern="MM/dd/yyyy" width="100%" datavalue="CURRENT_DATE"></wm-date>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="2" name="gridcolumn115_1"></wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow37">
                            <wm-gridcolumn columnwidth="3" name="gridcolumn60">
                                <wm-label padding="unset 0.5em" class="dialog-property-header" caption="Amount" name="label26_1" required="true"></wm-label>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="7" name="gridcolumn61" padding="1em unset unset unset">
                                <wm-text name="textAmount" placeholder="Amount" type="number" step="0.01"></wm-text>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="2" name="gridcolumn116_2">
                                <wm-container horizontalalign="left" name="containerSearchPublication" class="topnav-search-btn">
                                    <wm-button class="btn-primary update-btn int-searchFee-btn" caption="" name="btnSearch" type="submit" show="true" on-click="btnSearchClick($event, $scope)" iconclass="wi wi-calculator fa-lg" iconposition="left"></wm-button>
                                </wm-container>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow61">
                            <wm-gridcolumn columnwidth="12" name="gridcolumn119_2" horizontalalign="center" padding="1em unset unset unset">
                                <wm-button class="form-save btn-primary update-btn" caption="Add Fees" type="submit" show="true" name="btnAddFees" width="40%" iconposition="right" iconclass="" margin="unset unset unset 1em" on-click="btnAddFeesClick($event, $scope)"
                                    iconurl="resources/images/imagelists/plus.png"></wm-button>
                            </wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                </wm-container>
            </wm-form>
        </wm-dialog>
    </wm-view>
    <wm-view class="dialog-view" name="view6_1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Pay Court Fees" iconclass="" name="dialog5">
            <wm-form errormessage="" captionposition="left" title="" enctype="application/x-www-form-urlencoded" method="post" captionalign="left" name="form1">
                <wm-layoutgrid name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn name="gridcolumn1" columnwidth="11">
                            <wm-form-field name="selectType1" key="Type" displayname="Type" show="true" type="string" widget="select" placeholder="Select value" required="true" margin="unset unset unset 1em" dataset="bind:Variables.svPayType.dataSet" datafield="dataValue"
                                displayfield="dataValue"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="1" name="gridcolumn124"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn name="gridcolumn2" columnwidth="11">
                            <wm-form-field name="selectService1" key="Service" displayname="Service" show="true" type="string" widget="select" placeholder="Select value" required="true" margin="unset unset unset 1em" dataset="bind:Variables.svService.dataSet"
                                datafield="dataValue" displayfield="dataValue"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="1" name="gridcolumn125"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn name="gridcolumn3" columnwidth="11">
                            <wm-form-field name="paymentDate1" key="Payment Date" displayname="Payment Date" show="true" type="date" widget="date" placeholder="Select date" required="true" margin="unset unset unset 1em" defaultvalue="CURRENT_DATE" datepattern="MM/dd/yyyy"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="1" name="gridcolumn126"></wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn name="gridcolumn4" columnwidth="10">
                            <wm-form-field name="textAmount1" key="Amount" displayname="Amount" show="true" type="float" widget="text" inputtype="number" placeholder="Enter value" required="true" margin="unset unset unset 1.7em"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="2" name="gridcolumn118_2">
                            <wm-container horizontalalign="left" name="containerSearchPublication">
                                <wm-button class="btn-primary update-btn int-searchFee-btn" caption="" name="btnSearch1" type="button" show="true" iconclass="wi wi-calculator fa-lg" iconposition="left" on-click="btnSearch1Click($event, $scope)"></wm-button>
                            </wm-container>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow61_2">
                        <wm-gridcolumn columnwidth="12" name="gridcolumn119_2" horizontalalign="center" padding="1em unset unset unset">
                            <wm-button class="form-save btn-primary update-btn" caption="Add Fees" type="button" show="true" name="btnAddFees2" width="40%" iconposition="right" iconclass="" margin="unset unset unset 1em" iconurl="resources/images/imagelists/plus.png"
                                on-click="btnAddFees2Click($event, $scope)"></wm-button>
                            <wm-button class="btn-default" caption="Button" type="submit" margin="unset 0.5em" name="btnTest11" show="false"></wm-button>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-form>
        </wm-dialog>
    </wm-view>
</wm-partial>