<wm-partial data-ng-controller="CreateTaskPageController" name="partial1">
    <wm-table editmode="quickedit" name="NoteTable1" title="My Open Tasks" dataset="bind:Variables.CreateTask.dataSet" navigation="Pager">
        <wm-table-column binding="property.addressLine1" caption="Property" primary-key="false" edit-widget-type="text" related-entity-name="Property" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
        <wm-table-column binding="noteType.name" caption="Type" primary-key="false" edit-widget-type="text" related-entity-name="NoteType" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
        <wm-table-column binding="dueTimestamp" caption="Due" primary-key="false" edit-widget-type="datetime" type="datetime" generator="assigned" show="true" readonly="false"></wm-table-column>
        <wm-table-column binding="rowOperations" caption="Actions" width="120px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true"></wm-table-column>
        <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action>
    </wm-table>
</wm-partial>