<wm-partial data-ng-controller="AssessmentPageController" name="partial1"> 
    <wm-layoutgrid name="layoutgrid1" class="tax-year-grid1"> 
        <wm-gridrow name="gridrow1" class="assessment-colmns"> 
            <wm-gridcolumn columnwidth="8" name="gridcolumn1"> 
                <wm-label padding="unset 0.5em" name="label1" caption="Equalived Valuation" class="text-muted for-bold"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="4" name="gridcolumn2" horizontalalign="right"> 
                <wm-label padding="unset 0.5em" name="label2" caption="bind:(Variables.svPortalAuctionData.dataSet[$i].equalized_valuation | toCurrency: '$') || '-'"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow2" class="assessment-colmns"> 
            <wm-gridcolumn columnwidth="8" name="gridcolumn3"> 
                <wm-label padding="unset 0.5em" name="label3" caption="(+) Senior Excemption" class="text-muted for-bold"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="4" name="gridcolumn4" horizontalalign="right"> 
                <wm-label padding="unset 0.5em" name="label4" caption="bind:(Variables.svPortalAuctionData.dataSet[$i].senior_exemption | toCurrency: '$') || '-'"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow3" class="assessment-colmns"> 
            <wm-gridcolumn columnwidth="8" name="gridcolumn5"> 
                <wm-label padding="unset 0.5em" caption="(+) Homeowner Excemption" name="label5" class="text-muted for-bold"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="4" name="gridcolumn6" horizontalalign="right"> 
                <wm-label padding="unset 0.5em" caption="bind:(Variables.svPortalAuctionData.dataSet[$i].home_exemption | toCurrency: '$') || '-'" name="label6"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow4" class="assessment-colmns"> 
            <wm-gridcolumn columnwidth="8" name="gridcolumn7"> 
                <wm-label padding="unset 0.5em" caption="(x) Equalization Factor" name="label7" class="text-muted for-bold"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="4" name="gridcolumn8" horizontalalign="right"> 
                <wm-label padding="unset 0.5em" caption="bind:(Variables.svPortalAuctionData.dataSet[$i].equalization_factor | toCurrency: '$') || '-'" name="label8"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow5" class="assessment-colmns"> 
            <wm-gridcolumn columnwidth="8" name="gridcolumn9"> 
                <wm-label padding="unset 0.5em" caption="= Assessed Valuation" name="label9" class="text-muted for-bold"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="4" name="gridcolumn10" horizontalalign="right"> 
                <wm-label padding="unset 0.5em" caption="bind:(Variables.svPortalAuctionData.dataSet[$i].assessed_valuation_total | toCurrency: '$') || '-'" name="label10"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow6" class="assessment-colmns"> 
            <wm-gridcolumn columnwidth="8" name="gridcolumn11"> 
                <wm-label padding="unset 0.5em" caption="(x) Assessment Level" name="label11" class="text-muted for-bold"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="4" name="gridcolumn12" horizontalalign="right"> 
                <wm-label padding="unset 0.5em" caption="" name="label12"></wm-label> 
                <wm-label padding="unset 0.5em" caption="TBD" name="label15"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow7" class="assessment-colmns"> 
            <wm-gridcolumn columnwidth="8" name="gridcolumn13"> 
                <wm-label padding="unset 0.5em" caption="= Assessor Market Value" name="label13" class="text-muted for-bold"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="4" name="gridcolumn14" horizontalalign="right"> 
                <wm-label padding="unset 0.5em" caption="bind:(Variables.svPortalAuctionData.dataSet[$i].market_value | toCurrency: '$') || '-'" name="label14"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>