.tax-year-grid1{
    border: 1px solid #ebeeef;
    padding: .25em;
    /*font-family: Roboto-bold;*/
    /*font-weight: bold !important;*/
    background-color: #fff !important;
}
.tax-grid-header1{
        background-color: #cdcbcd;
}
.assessment-colmns{
    padding: .25em;
}
/*.for-bold{*/
/*    font-weight: bold !important;*/
/*}*/