<wm-partial data-ng-controller="TopnavtoolsPageController" name="topnav" type="topnav"> 
    <wm-layoutgrid name="layoutgrid1" class="topnav-custom topnav-custom-fixed"> 
        <wm-gridrow name="gridrow1" class="TopNavRow"> 
            <wm-gridcolumn columnwidth="12" name="gridcolumn1" class="col-xs-12 TopNav-LeftMenu custompanelmobile"> 
                <wm-navbar name="navbar1" showindevice="sm,md,lg" class="lefttopnav customlefttopnav"> 
                    <wm-nav name="leftTopLinks" type="navbar" class="navbar-left"> 
                        <wm-nav-item name="nav_item7_1" class="Toolsclass"> 
                            <wm-popover name="popover1" title="Tools" caption="Tools" contentsource="inline" iconurl="resources/images/imagelists/white-wrench.png" iconclass="wi wi-keyboard-arrow-down fa-lg fa-pull-right" iconwidth="14px" iconheight="14px" class="Toolspopoverdown" popoverwidth="250px"> 
                                <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list toolslivelist" datafield="All Fields" dataset="bind:Variables.ToolsListDD.dataSet" navigation="None" name="livelist2"> 
                                    <wm-listtemplate layout="inline" name="listtemplate1"> 
                                        <wm-container class="media-body" name="container29"> 
                                            <wm-label class="p media-heading " id="toollabel" name="Name" caption="bind:Variables.ToolsListDD.dataSet[$i].name" fontunit="em" padding="unset unset unset unset" on-click="NameClick($event, $scope, item, currentItemWidgets)" on-mouseenter="NameMouseenter($event, $scope, item, currentItemWidgets)"></wm-label> 
                                        </wm-container> 
                                    </wm-listtemplate> 
                                </wm-list> 
                            </wm-popover> 
                        </wm-nav-item> 
                    </wm-nav> 
                </wm-navbar> 
                <wm-accordion name="accordion1" showindevice="sm,md,lg"> 
                    <wm-accordionpane name="accordionpane1" title="Navigation" iconclass="wi wi-chevron-down fa-pull-right" class="navigationheader" showindevice="xs" isdefaultpane="false" show="true" style="display:none"> 
                        <wm-layoutgrid name="layoutgrid24"> 
                            <wm-gridrow name="gridrow31_1"> 
                                <wm-gridcolumn columnwidth="6" name="gridcolumn60"> 
                                    <wm-button name="button1" caption="Buy" on-click="Variables.goToPage_Main.invoke()" class="btn-dropdown"></wm-button> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                            <wm-gridrow name="gridrow32"> 
                                <wm-gridcolumn columnwidth="6" name="gridcolumn62_1"> 
                                    <wm-button name="button2" caption="Service" on-click="Variables.goToPage_service.invoke()" class="btn-dropdown"></wm-button> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                            <wm-gridrow name="gridrow35"> 
                                <wm-gridcolumn columnwidth="6" name="gridcolumn65"> 
                                    <wm-button name="button3" caption="Inspect" on-click="Variables.goToPage_InspectMobile1.invoke()" class="btn-dropdown"></wm-button> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                            <wm-gridrow name="gridrow36"> 
                                <wm-gridcolumn columnwidth="6" name="gridcolumn66"> 
                                    <wm-button name="button4" caption="Admin" on-click="Variables.goToPage_Issues.invoke()" class="btn-dropdown"></wm-button> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                            <wm-gridrow name="gridrow38"> 
                                <wm-gridcolumn columnwidth="6" name="gridcolumn68"> 
                                    <wm-button name="reports" caption="Reports" on-click="Variables.goToPage_Reports.invoke()" class="btn-dropdown"></wm-button> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                            <wm-gridrow name="gridrow37"> 
                                <wm-gridcolumn columnwidth="6" name="gridcolumn67"> 
                                    <wm-button name="button5" caption="Import" on-click="Variables.goToPage_import.invoke()" class="btn-dropdown"></wm-button> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-layoutgrid> 
                    </wm-accordionpane> 
                </wm-accordion> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-buttongroup name="buttongroup1" width="100%" showindevice="xs" class="mobiletopnav"> 
        <wm-button class="btn-navigation" type="button" caption="Navigation" name="button4" width="50%" on-click="button4Click($event, $scope)" iconclass="wi wi-chevron-down fa-pull-right"></wm-button> 
        <wm-button type="button" caption="" name="button6" width="50%" on-click="button6Click($event, $scope)" iconurl="resources/images/imagelists/adjust.png" iconwidth="15px" iconheight="15px" class="btn-settings"></wm-button> 
    </wm-buttongroup> 
    <wm-accordion name="accordion1" showindevice="xs" class="accordmobile"> 
        <wm-accordionpane name="accordionpane1" title="" showindevice="all"> 
            <wm-button name="button1" caption="Buy" on-click="Variables.goToPage_Main.invoke()" class="btn-dropdown"></wm-button> 
            <wm-button name="button2" caption="Service" on-click="Variables.goToPage_service.invoke()" class="btn-dropdown"></wm-button> 
            <wm-button name="button3" caption="Inspect" on-click="Variables.goToPage_InspectMobile.invoke()" class="btn-dropdown"></wm-button> 
            <wm-button name="buton4" caption="Admin" on-click="Variables.goToPage_AdminTasks.invoke()" class="btn-dropdown"></wm-button> 
            <wm-button name="Repots_btn" caption="Reports" on-click="Reports_btnClick($event, $scope)" class="btn-dropdown"></wm-button> 
            <wm-button name="Import_btn" caption="Import" on-click="Import_btnClick($event, $scope)" class="btn-dropdown"></wm-button> 
        </wm-accordionpane> 
        <wm-accordionpane name="accordionpane3" title=""> 
            <wm-button class="btn-dropdown" caption="Underwriting - Run" on-click="Widgets.CompleteSaleDialog.open()" name="button13"></wm-button> 
            <wm-button class="btn-dropdown" caption="Purchase - Complete Sale" name="button14"></wm-button> 
            <wm-button class="btn-dropdown" caption="Service - Process Payments" name="button15"></wm-button> 
            <wm-button class="btn-dropdown" caption="Service - Pay Prior Search Fee" on-click="Widgets.PaySearchDialog.open()" name="button16"></wm-button> 
            <wm-button class="btn-dropdown" caption="Service - Pay Take Notice" on-click="Widgets.PayTakeNoticeDialog.open()" name="button17"></wm-button> 
            <wm-button class="btn-dropdown" caption="Legal - Pay Publication" on-click="Widgets.PayPublicationDialog.open()" name="button18"></wm-button> 
        </wm-accordionpane> 
    </wm-accordion> 
    <wm-view class="dialog-view view" name="view1"> 
        <wm-dialog dialogtype="design-dialog" modal="true" name="CompleteSaleDialog" title="Complete Sale" class="custom-design-dialog custom-design-dialog-disbursement topnav" iconclass="" on-close="CompleteSaleDialogClose($event, $scope);Widgets.CompleteSaleDialog.close()"> 
            <wm-form captionposition="top" name="formCompleteSale" backgroundcolor="rgba(0, 0, 0, 0)" on-submit="formCompleteSaleSubmit($event, $scope, $formData)"> 
                <wm-container name="container9"> 
                    <wm-layoutgrid name="layoutgrid14"> 
                        <wm-gridrow name="gridrow16"> 
                            <wm-gridcolumn columnwidth="3" name="gridcolumn25_1" class="col-xs-4"> 
                                <wm-label padding="unset 0.5em" caption="Portfolio" class="dialog-property-header-tools" horizontalalign="left" name="label3" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn26_1" padding="1em unset unset unset" class="col-xs-8"> 
                                <wm-container name="container13"> 
                                    <wm-layoutgrid name="layoutgrid10"> 
                                        <wm-gridrow name="gridrow17_1"> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn27" class="col-xs-6"> 
                                                <wm-select datafield="county_name" placeholder="County" required="true" autofocus="true" name="selectCountySale" width="90%" dataset="bind:Variables.svQryCounty.dataSet" displayfield="county_name"></wm-select> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn28" class="col-xs-6"> 
                                                <wm-select datafield="tax_year" placeholder="Tax Year" required="true" autofocus="true" name="selectTaxYearSale" dataset="bind:Variables.svTaxYear.dataSet" displayfield="tax_year"></wm-select> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow19"> 
                            <wm-gridcolumn columnwidth="3" name="gridcolumn31_1" class="col-xs-4"> 
                                <wm-label padding="unset 0.5em" caption="Volume" class="dialog-property-header-tools" horizontalalign="left" name="label4"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn32" padding="1em unset unset unset" class="col-xs-8"> 
                                <wm-container name="container14"> 
                                    <wm-layoutgrid name="layoutgrid11"> 
                                        <wm-gridrow name="gridrow20"> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn33" class="col-xs-6"> 
                                                <wm-text type="number" placeholder="From" disabled="false" readonly="false" width="90%" name="textVolumeFromSale"></wm-text> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="6" horizontalalign="left" name="gridcolumn34" class="col-xs-6"> 
                                                <wm-text type="number" placeholder="To" disabled="false" readonly="false" name="textVolumeToSale"></wm-text> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow21"> 
                            <wm-gridcolumn columnwidth="3" name="gridcolumn35" class="col-xs-4"> 
                                <wm-label padding="unset 0.5em" caption="Status" class="dialog-property-header-tools" horizontalalign="left" name="label5" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn36" padding="1em unset unset unset" class="col-xs-5"> 
                                <wm-container name="container13_1"> 
                                    <wm-select datafield="dataValue" placeholder="Storage Status" required="true" autofocus="true" name="selectStatusSale" dataset="bind:Variables.SaleStatus.dataSet" displayfield="name"></wm-select> 
                                </wm-container> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="2" name="gridcolumn57" class="col-xs-3"> 
                                <wm-container horizontalalign="center" on-click="containerSearchSaleClick($event, $isolateScope)" name="containerSearchSale" class="topnav-search-btn"> 
                                    <wm-button class="btn-primary update-btn int-searchFee-btn " caption="" type="submit" iconclass="wi wi-search fa-lg" show="true" name="buttonSearchSale" iconposition="left"></wm-button> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                    <wm-layoutgrid name="layoutgrid9_1"> 
                        <wm-gridrow name="gridrow15_1_1_1"> 
                            <wm-gridcolumn columnwidth="10" horizontalalign="center" padding="1em unset unset unset" name="gridcolumn26_2_1_1"> 
                                <wm-container horizontalalign="center" name="containerAfterSearchSale" show="bind:showSearch" class="complete-sale-bgcolor"> 
                                    <wm-text horizontalalign="center" type="text" placeholder="" step="0.01" name="textCertificatesFound" disabled="true" readonly="true" class="aftersearchtext"></wm-text> 
                                </wm-container> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="2" name="gridcolumn57_2"> 
                                <wm-layoutgrid show="bind:showSearch &amp;&amp; certificatesFound > 0" name="layoutgrid6"> 
                                    <wm-gridrow name="gridrow8"> 
                                        <wm-gridcolumn name="gridcolumn16"> 
                                            <wm-container horizontalalign="center" on-click="containerSearchSaleClick($event, $isolateScope)" class="topnav-search-btn" name="container28"> 
                                                <wm-button class="form-save btn-primary update-btn int-searchFee-btn" caption="" type="button" on-click="buttonUpdateSaleClick($event, $scope)" iconurl="resources/images/imagelists/editwhite.png" show="true" name="buttonUpdateSale" iconwidth="15px" iconheight="15px"></wm-button> 
                                            </wm-container> 
                                        </wm-gridcolumn> 
                                    </wm-gridrow> 
                                </wm-layoutgrid> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-container> 
            </wm-form> 
        </wm-dialog> 
    </wm-view> 
    <wm-view class="dialog-view view" name="view2"> 
        <wm-dialog dialogtype="design-dialog" modal="true" name="PaySearchDialog" title="Pay Prior Search Fee" class="custom-design-dialog custom-design-dialog-disbursement topnav" iconclass="" on-close="PaySearchDialogClose($event, $scope);Widgets.PaySearchDialog.close()"> 
            <wm-form captionposition="top" name="formPaySearch" backgroundcolor="rgba(0, 0, 0, 0)" on-submit="formPaySearchSubmit($event, $scope, $formData)"> 
                <wm-container name="container9"> 
                    <wm-layoutgrid name="layoutgrid14"> 
                        <wm-gridrow name="gridrow16"> 
                            <wm-gridcolumn columnwidth="3" name="gridcolumn25_1" class="col-xs-4"> 
                                <wm-label padding="1em 0.5em unset 0.5em" caption="Portfolio" class="dialog-property-header" horizontalalign="left" name="label3" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn26_1" padding="1em unset unset unset" class="col-xs-8"> 
                                <wm-container name="container13"> 
                                    <wm-layoutgrid name="layoutgrid10"> 
                                        <wm-gridrow name="gridrow17_1"> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn27" class="col-xs-6"> 
                                                <wm-select datafield="county_name" placeholder="County" required="true" autofocus="true" name="selectCountyFee" width="90%" dataset="bind:Variables.svQryCounty.dataSet" displayfield="county_name"></wm-select> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn28" class="col-xs-6"> 
                                                <wm-select datafield="tax_year" placeholder="Tax Year" required="true" autofocus="true" name="selectTaxYearFee" dataset="bind:Variables.svTaxYear.dataSet" displayfield="tax_year"></wm-select> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow19"> 
                            <wm-gridcolumn columnwidth="3" name="gridcolumn31_1" class="col-xs-4"> 
                                <wm-label padding="1em 0.5em unset 0.5em" caption="Volume" class="dialog-property-header" horizontalalign="left" name="label4"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn32" padding="1em unset unset unset" class="col-xs-8"> 
                                <wm-container name="container14"> 
                                    <wm-layoutgrid name="layoutgrid11"> 
                                        <wm-gridrow name="gridrow20"> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn33" class="col-xs-6"> 
                                                <wm-text type="number" placeholder="From" disabled="false" readonly="false" width="90%" name="textVolumeFromFee"></wm-text> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="6" horizontalalign="left" name="gridcolumn34" class="col-xs-6"> 
                                                <wm-text type="number" placeholder="To" disabled="false" readonly="false" name="textVolumeToFee"></wm-text> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow21"> 
                            <wm-gridcolumn columnwidth="3" name="gridcolumn35" class="col-xs-4"> 
                                <wm-label padding="1em 0.5em unset 0.5em" caption="Payment" class="dialog-property-header" horizontalalign="left" name="label5" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn36" padding="1em unset unset unset" class="col-xs-5"> 
                                <wm-container name="container15"> 
                                    <wm-layoutgrid name="layoutgrid10_1"> 
                                        <wm-gridrow name="gridrow31"> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn61" class="col-xs-6"> 
                                                <wm-date name="datePaidFee" placeholder="Date Paid" datepattern="MM/dd/yyyy" required="true" width="90%"></wm-date> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn62" class="col-xs-6"> 
                                                <wm-text type="text" placeholder="Reference" disabled="false" readonly="false" name="textReferenceFee"></wm-text> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="2" name="gridcolumn57_1" class="col-xs-3"> 
                                <wm-container horizontalalign="center" name="containerSearchFee" class="topnav-search-btn"> 
                                    <wm-button class="btn-primary update-btn int-searchFee-btn" caption="" type="submit" iconclass="wi wi-search fa-lg" show="true" name="buttonSearchFee" iconposition="left"></wm-button> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                    <wm-layoutgrid name="layoutgrid9_11"> 
                        <wm-gridrow name="gridrow15_11"> 
                            <wm-gridcolumn columnwidth="10" horizontalalign="center" padding="1em unset unset unset" name="gridcolumn26_11"> 
                                <wm-container horizontalalign="center" name="containerAfterSearchFee" show="bind:showSearch" class="complete-sale-bgcolor"> 
                                    <wm-text horizontalalign="center" type="text" placeholder="" step="0.01" name="textCertificatesFoundFee" disabled="true" readonly="true" class="aftersearchtext"></wm-text> 
                                </wm-container> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="2" name="gridcolumn31"> 
                                <wm-layoutgrid name="layoutgrid9" show="bind:showSearch &amp;&amp; certificatesFound > 0"> 
                                    <wm-gridrow name="gridrow15_1"> 
                                        <wm-gridcolumn columnwidth="12" horizontalalign="center" name="gridcolumn26_2"> 
                                            <wm-container horizontalalign="center" name="container12" class="topnav-search-btn"> 
                                                <wm-button class="form-save btn-primary update-btn int-searchFee-btn" caption="" type="button" on-click="buttonPriorSearchClick($event, $scope)" iconurl="resources/images/imagelists/editwhite.png" show="true" name="buttonPriorSearch" iconwidth="15px" iconheight="15px"></wm-button> 
                                            </wm-container> 
                                        </wm-gridcolumn> 
                                    </wm-gridrow> 
                                </wm-layoutgrid> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-container> 
            </wm-form> 
        </wm-dialog> 
    </wm-view> 
    <wm-view class="dialog-view view" name="view3"> 
        <wm-dialog dialogtype="design-dialog" modal="true" name="PayTakeNoticeDialog" title="Pay Take Notice" class="custom-design-dialog custom-design-dialog-disbursement topnav" iconclass="" on-close="PayTakeNoticeDialogClose($event, $scope);Widgets.PayTakeNoticeDialog.close()"> 
            <wm-form captionposition="top" name="formPayTakeNotice" backgroundcolor="rgba(0, 0, 0, 0)" on-submit="formPayTakeNoticeSubmit($event, $scope, $formData)"> 
                <wm-container name="container9"> 
                    <wm-layoutgrid name="layoutgrid14"> 
                        <wm-gridrow name="gridrow16"> 
                            <wm-gridcolumn columnwidth="3" name="gridcolumn25_1" class="col-xs-4"> 
                                <wm-label padding="1em 0.5em unset 0.5em" caption="Portfolio" class="dialog-property-header" horizontalalign="left" name="label3" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn26_1" padding="1em unset unset unset" class="col-xs-8"> 
                                <wm-container name="container13"> 
                                    <wm-layoutgrid name="layoutgrid10"> 
                                        <wm-gridrow name="gridrow17_1"> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn27" class="col-xs-6"> 
                                                <wm-select datafield="county_name" placeholder="County" required="true" autofocus="true" name="selectCountyNotice" width="90%" dataset="bind:Variables.svQryCounty.dataSet" displayfield="county_name"></wm-select> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn28" class="col-xs-6"> 
                                                <wm-select datafield="tax_year" placeholder="Tax Year" required="true" autofocus="true" name="selectTaxYearNotice" dataset="bind:Variables.svTaxYear.dataSet" displayfield="tax_year"></wm-select> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow19"> 
                            <wm-gridcolumn columnwidth="3" name="gridcolumn31_1" class="col-xs-4"> 
                                <wm-label padding="1em 0.5em unset 0.5em" caption="Volume" class="dialog-property-header" horizontalalign="left" name="label4"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn32" padding="1em unset unset unset" class="col-xs-8"> 
                                <wm-container name="container14"> 
                                    <wm-layoutgrid name="layoutgrid11"> 
                                        <wm-gridrow name="gridrow20"> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn33" class="col-xs-6"> 
                                                <wm-text type="number" placeholder="From" disabled="false" readonly="false" width="90%" name="textVolumeFromNotice"></wm-text> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="6" horizontalalign="left" name="gridcolumn34" class="col-xs-6"> 
                                                <wm-text type="number" placeholder="To" disabled="false" readonly="false" name="textVolumeToNotice"></wm-text> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow21"> 
                            <wm-gridcolumn columnwidth="3" name="gridcolumn35" class="col-xs-4"> 
                                <wm-label padding="1em 0.5em unset 0.5em" caption="Payment" class="dialog-property-header" horizontalalign="left" name="label5" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn36" padding="1em unset unset unset" class="col-xs-5"> 
                                <wm-container name="container15"> 
                                    <wm-layoutgrid name="layoutgrid10_1"> 
                                        <wm-gridrow name="gridrow16_1"> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn29" class="col-xs-6"> 
                                                <wm-date name="datePaidNotice" placeholder="Date Paid" datepattern="MM/dd/yyyy" required="true" width="90%"></wm-date> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="6" horizontalalign="left" name="gridcolumn30" class="col-xs-6"> 
                                                <wm-text type="text" placeholder="Reference" disabled="false" readonly="false" name="textReferenceNotice"></wm-text> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="2" name="gridcolumn57_12" class="col-xs-3"> 
                                <wm-container horizontalalign="center" name="containerSearchNotice" class="topnav-search-btn"> 
                                    <wm-button class="btn-primary update-btn int-searchFee-btn" caption="" type="submit" iconclass="wi wi-search fa-lg" show="true" name="buttonSearchNotice" iconposition="left"></wm-button> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                    <wm-layoutgrid name="layoutgrid9_12"> 
                        <wm-gridrow name="gridrow15_121"> 
                            <wm-gridcolumn columnwidth="10" horizontalalign="center" padding="1em unset unset unset" name="gridcolumn26_12"> 
                                <wm-container horizontalalign="center" name="containerAfterSearchNotice" show="bind:showSearch" class="complete-sale-bgcolor"> 
                                    <wm-text horizontalalign="center" type="text" placeholder="" step="0.01" name="textCertificatesFoundNotice" disabled="true" readonly="true" class="aftersearchtext"></wm-text> 
                                </wm-container> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="2" name="gridcolumn47"> 
                                <wm-layoutgrid name="layoutgrid9" show="bind:showSearch &amp;&amp; certificatesFound > 0"> 
                                    <wm-gridrow name="gridrow15_1"> 
                                        <wm-gridcolumn columnwidth="12" horizontalalign="center" name="gridcolumn26_2"> 
                                            <wm-container horizontalalign="center" name="container12" class="topnav-search-btn"> 
                                                <wm-button class="form-save btn-primary update-btn int-searchFee-btn" caption="" type="button" on-click="buttonPayNoticeClick($event, $scope)" iconurl="resources/images/imagelists/editwhite.png" show="true" name="buttonPayNotice" iconwidth="15px" iconheight="15px"></wm-button> 
                                            </wm-container> 
                                        </wm-gridcolumn> 
                                    </wm-gridrow> 
                                </wm-layoutgrid> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-container> 
            </wm-form> 
        </wm-dialog> 
    </wm-view> 
    <wm-view class="dialog-view view" name="view4"> 
        <wm-dialog dialogtype="design-dialog" modal="true" name="PayPublicationDialog" title="Pay Publication" class="custom-design-dialog custom-design-dialog-disbursement topnav" iconclass="" on-close="PayPublicationDialogClose($event, $scope);Widgets.PayPublicationDialog.close()"> 
            <wm-form captionposition="top" name="formPayPublication" backgroundcolor="rgba(0, 0, 0, 0)" on-submit="formPayPublicationSubmit($event, $scope, $formData)"> 
                <wm-container name="container9"> 
                    <wm-layoutgrid name="layoutgrid14"> 
                        <wm-gridrow name="gridrow16"> 
                            <wm-gridcolumn columnwidth="3" name="gridcolumn25_1" class="col-xs-4"> 
                                <wm-label padding="1em 0.5em unset 0.5em" caption="Portfolio" class="dialog-property-header" horizontalalign="left" name="label3" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn26_1" padding="1em unset unset unset" class="col-xs-8"> 
                                <wm-container name="container13"> 
                                    <wm-layoutgrid name="layoutgrid10"> 
                                        <wm-gridrow name="gridrow17_1"> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn27" class="col-xs-6"> 
                                                <wm-select datafield="county_name" placeholder="County" required="true" autofocus="true" name="selectCountyPublication" width="90%" dataset="bind:Variables.svQryCounty.dataSet" displayfield="county_name"></wm-select> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn28" class="col-xs-6"> 
                                                <wm-select datafield="expiration_date" placeholder="Expiration Date" required="true" autofocus="true" name="selectExpirationPublication" dataset="bind:Variables.svExpirationDate.dataSet" displayfield="expiration_date"></wm-select> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow21"> 
                            <wm-gridcolumn columnwidth="3" name="gridcolumn35" class="col-xs-4"> 
                                <wm-label padding="1em 0.5em unset 0.5em" caption="Payment" class="dialog-property-header" horizontalalign="left" name="label5" required="true"></wm-label> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="7" name="gridcolumn36" padding="1em unset unset unset" class="col-xs-5"> 
                                <wm-container name="container15"> 
                                    <wm-layoutgrid name="layoutgrid10_1"> 
                                        <wm-gridrow name="gridrow16_1"> 
                                            <wm-gridcolumn columnwidth="6" name="gridcolumn29" class="col-xs-6"> 
                                                <wm-date name="datePaidPublication" placeholder="Date Paid" datepattern="MM/dd/yyyy" required="true" width="90%"></wm-date> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="6" horizontalalign="left" name="gridcolumn30" class="col-xs-6"> 
                                                <wm-text type="text" placeholder="Reference" disabled="false" readonly="false" name="textReferencePublication"></wm-text> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-container> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="2" name="gridcolumn57_13" class="col-xs-3"> 
                                <wm-container horizontalalign="center" name="containerSearchPublication" class="topnav-search-btn"> 
                                    <wm-button class="btn-primary update-btn int-searchFee-btn" caption="" type="submit" iconclass="wi wi-search fa-lg" show="true" name="buttonSearchPublication" iconposition="left"></wm-button> 
                                </wm-container> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                    <wm-layoutgrid name="layoutgrid9_13"> 
                        <wm-gridrow name="gridrow15_13"> 
                            <wm-gridcolumn columnwidth="10" horizontalalign="center" padding="1em unset unset unset" name="gridcolumn26_13"> 
                                <wm-container horizontalalign="center" name="containerAfterSearchPublication" show="bind:showSearch" class="complete-sale-bgcolor"> 
                                    <wm-text horizontalalign="center" type="text" placeholder="" step="0.01" name="textCertificatesFoundPublication" disabled="true" readonly="true" class="aftersearchtext"></wm-text> 
                                </wm-container> 
                            </wm-gridcolumn> 
                            <wm-gridcolumn columnwidth="2" name="gridcolumn59"> 
                                <wm-layoutgrid name="layoutgrid9" show="bind:showSearch &amp;&amp; certificatesFound > 0"> 
                                    <wm-gridrow name="gridrow15_1"> 
                                        <wm-gridcolumn columnwidth="12" horizontalalign="center" name="gridcolumn26_2"> 
                                            <wm-container horizontalalign="center" name="container12" class="topnav-search-btn"> 
                                                <wm-button class="form-save btn-primary update-btn int-searchFee-btn" caption="" type="button" on-click="buttonPayPublicationClick($event, $scope)" iconurl="resources/images/imagelists/editwhite.png" show="true" width="%" name="buttonPayPublication" iconwidth="15px" iconheight="15px"></wm-button> 
                                            </wm-container> 
                                        </wm-gridcolumn> 
                                    </wm-gridrow> 
                                </wm-layoutgrid> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                </wm-container> 
            </wm-form> 
        </wm-dialog> 
    </wm-view> 
</wm-partial>