/*START - default Theme*/

.wm-app {

 @import "less/bootstrap.less";
 @import url(http://fonts.googleapis.com/css?family=Open+Sans);

 font-size: @font-size-base;
 color: @text-color;
 font-family: @font-family-base;
 background-color: @wm-body-bg;

 //Variables
 @wm-brand-default: #AEABAB;
 @wm-body-bg: #f2f8f8;

 //Panel
/* @panel-box-shadow: 1px 1px 1px 0px  @panel-inner-border; */
 @wm-panel-title-font-size: 1.2em;
 @wm-panel-action-color: lighten(@text-color, 30%);
 @wm-panel-action-font-size: 0.833em;

 //Header
 @wm-header-bg: #fff;
 @wm-header-color: inherit;
 @wm-app-header-container-border-color: rgba(0, 0, 0, 0.1);
 @wm-header-text-color: #fff;
 @wm-header-bg-color: #4586ce;
 
 @wm-navbar-toggle-text-color: #fff;
 @wm-navbar-toggle-hover-text-color: #fff;

 //Side panels
 @wm-panels-border-color: #CFDBE2;
 @wm-left-panel-btn-color: @wm-header-text-color;
 @wm-left-panel-bg: #3b6186;
 @wm-left-panel-list-border: 1px #e6e5e5 solid;



 @wm-right-panel-bg: #4072A1;
 @wm-right-panel-btn-color: @wm-header-text-color;
 @wm-right-panel-list-border: 1px #e6e5e5 solid;

 //Tabset
 @wm-tab-color-normal: @wm-brand-default;
 @wm-tab-color-hover: @brand-primary;
 @wm-tab-bg-hover: #fff;
 @wm-tab-color-active: #233e9e;
 @wm-tab-bg-active: #fff;

 //Breadcrumb
 @wm-breadcrumb-color : @brand-primary;

 //Grid
 @wm-app-grid-sort-icon-color: #ccc;

 //Tile
 @wm-tile-border-color: #f0f0f0;


 //Secondary button
 @wm-btn-secondary-bg-color: #999;
 @wm-btn-secondary-hover-bg-color: #666;

 //Calendar
  @wm-calendar-header-color: #adadad;
  @wm-calendar-text-color: #ccc;
  @wm-datepicker-text-color: #000;
  @wm-datepicker-header-bg: #128ff2;
  @wm-datepicker-btn-hover-bg: #f0f0f0;
  @wm-checked-color: #fff;
    

 @wm-dropdown-toggle-tbody-btn-text-color: #fff;

 //Left Panel
 @wm-left-panel-anchor-hover-bg-color: rgba(0, 0, 0, 0.34);
 @wm-left-panel-dropdown-menu-border-color: #ccc;
 @wm-left-panel-dropdown-menu-bg-color: transparent;

 //Footer
 @wm-footer-bg-color: #F5F7FA;

 //Search
 @wm-search-input-group-addon-hover-bg-color: #e7e7e7;


 //Datetime, Timeinput
 @wm-datetime-em-text-color: #ccc;
 @wm-datetime-btn-hover-color: #fff;

 //Rich Text Editor
 @wm-richtexteditor-btn-bg-color: #f7f7f7;
 @wm-richtexteditor-btn-border-color: #ccc;
 @wm-richtexteditor-btn-text-color: #666;
 @wm-richtexteditor-btn-disabled-bg-color: #eee;
 @wm-richtexteditor-btn-disabled-border-color: #ccc;
 @wm-richtexteditor-btn-disabled-text-color: #333;


 //Switch widget
 @wm-app-switch-btn-hover-bg-color: darken(@btn-default-bg, 10%);
 @wm-app-switch-btn-hover-text-color: #fff;
 @wm-app-switch-btn-default-bg-color: transparent;

 //Livelist
 @wm-app-livelist-li-btn-bg-color: rgba(0, 0, 0, 0);
 @wm-app-livelist-li-active-btn-bg-color: transparent;
 @wm-app-livelist-li-active-btn-text-color: #fff;

 //File Upload
 @wm-fileupload-btn-hover-color: #fff;
 @wm-fileupload-path-holder-bg-color: #fff;

 //Buttons
 @wm-btn-hover-color: #fff;
 @wm-btn-group-active-btn-bg-color: #fff;

 //Tree
 @app-tree-node-color: darken(@gray-base, 25%);

 //Table
 @wm-table-header-bg-color: #e2e9f1;

 //Buttons
 @wm-btn-default-text-color: #fff;
 @wm-btn-default-hover-text-color: #fff;

 .img-rounded {
  border-radius: 6px;
}

//page
/******Label: overiding the label class as bootstrap is making all the labels bold***/
label {
  font-weight: normal;
}

/***Tabs Widget: Styling for the tabs widget comes here********/
//Tab Content
.tab-content {
  background-color: #f1fbfd;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  .tab-body {
    border-color: #ced9dc;
    padding: 1.333em;
  }
}
//navigation
.app-tabs .nav.nav-tabs{
  overflow: visible;
}
.nav-tabs > li > a:hover{
  border-color: #ced9dc #ced9dc transparent #ced9dc !important;
}

.nav-tabs {
  > li {
    margin-right: 2px;
    > a, .app-menu a {
      color: @wm-tab-color-normal;
      background-color: @nav-tabs-active-link-hover-bg;
      border-radius: @border-radius-base;
      box-shadow: none;
      margin-right: 0;
      border-color: transparent;
      text-transform: none !important;
      border: 1px solid #ced9dc;
      border-width: 1px !important;
      &:hover, &:focus {
        color: @wm-tab-color-hover;
        background-color: #f1fbfd;
      }
    }
    &.active {
      > a, .app-menu a {
        border-color: #ced9dc #ced9dc transparent #ced9dc !important;
        color: @wm-tab-color-hover;
        border-width: 1px !important;
        background-color: #f1fbfd;

        &:hover {
          border-color: #ced9dc #ced9dc transparent #ced9dc !important;
          background-color: #f1fbfd;
          color: @wm-tab-color-hover;
          border-width: 1px !important;

        }
      }
    }
  }
}
/***Tabs Widget: Styling for the tabs widget comes here********/
.list-group-item-separator {
  margin-bottom: 0.16em;
  border-radius: 0.16em;
  .form-group {
    padding: 0 1em;
  }
}
.list-group-item{
    background-color: #f0f0f0 !important;
    border: none !important;
    &.active:hover, &.active:focus{
        background-color: #f0f0f0 !important;
    border: none !important;
    }    
}
/***Button Style: Defining the sixe of the button for bootstrap classes********/
.btn {
  text-transform: uppercase;
  &.btn-lg {
    font-size: 1.4em;
  }
  &.btn-xs {
    padding: 0 0.5em;
  }
  .caret {
    margin-left: 0.7em;
  }
  &.active, &:active {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.btn-default {
  color: @wm-btn-default-text-color;
  &:hover, &:focus &:active {
    color: @wm-btn-default-hover-text-color;
    background-color: darken(@btn-default-bg, 10%); 
   
    border-color: darken(@btn-default-bg, 10%);
    span {
      color: @btn-primary-color;
    }
  }

  i {
    color: @wm-btn-default-text-color;
  }
}

/***Modal Dialog Style: There is no property in bootstrap variable so setting it here********/
.modal-header {
  background-color: @navbar-default-bg;
  color: @navbar-default-color;
}

//Breadcrumb
.breadcrumb {
  li {
    a {
      color: @wm-breadcrumb-color;
      text-transform: none;
    }
  }
}


//Progress Bar
.progress {
  border-radius: 0;
  box-shadow: none;
  height: 1.667em;
}

//Table
.table {
  > thead {
    > tr {
      th {
        text-transform: none;
        background-color: @wm-table-header-bg-color;
        .sort-buttons-container{
          display:  none;
        }
      }
    }
  }
  tbody{
    tr{
      td{
        font-size: 14px;
        border-right: 1px solid transparent;
      }
    }
  }
}

/*****************************************************************************************************************************************/
/*********************************************************Layout**************************************************************************/
/*****************************************************************************************************************************************/
.app-content-column {
  background-color: @wm-body-bg;
}

//Header
.app-header, .app-mobile-header {
  background-color: @wm-header-bg-color;
  color: @wm-header-text-color;
  /*border-bottom: 1px solid @wm-app-header-container-border-color;*/

  a {
    color: @wm-header-text-color;
  }

  .app-mobile-header {
    background-color: @navbar-default-bg;
    color: @navbar-default-color;
    a {
      color: @navbar-default-color;
    }
  }
}
//Top Nav Bar
.app-navbar {
  border-radius: 0;
  background-color: @navbar-default-bg;
  color: @navbar-default-color;
  border:none;

  //Mobile Specific button
  .navbar-toggle {
    margin-right: 1.2em;
    color: @wm-navbar-toggle-text-color;
    &:hover, &:focus {
      color: @wm-navbar-toggle-hover-text-color;
    }
  }

  //navbar section
  .navbar-collapse{
  border-bottom: @navbar-default-border;
  }
  .navbar-nav {
  
    li {
     border-left: @navbar-default-border;
          border-right: @navbar-default-border;
      a {
        font-size: 1em;
        padding-left: 3em;
        padding-right: 3em;
        text-transform: uppercase;
        font-weight: normal;
        text-decoration: none;
        word-spacing: .4em;
        i {
          margin-right: 0.417em;
        }
        &:hover, &:focus, &.active {
          color: @navbar-default-link-hover-color;
          background-color: @navbar-default-hover-bg;
         
        }
      }

      > .dropdown .dropdown-menu {
        margin: 0;
        background-color: @navbar-default-bg;
        a {
          color: inherit;
          padding: .65em 1em;
          &:hover {
            background-color: @navbar-default-hover-bg;
          }
        }
      }
    }

    .app-nav-item {

      > .dropdown, > .app-popover {
        a.dropdown-toggle, a.app-popover-link {
          padding-left: 3em;
          padding-right: 3em;
          color: inherit;
          &:hover {
            background-color: @navbar-default-hover-bg;
          }
        }
      }
    }
  }
  .popover {
    min-width: 16.667em;
    .popover-content {
      padding: 0;
    }
  }
}

//Left & Right Panels
.app-left-panel, .app-right-panel {
  background-color: @wm-left-panel-bg;
  #gradient.vertical(#4586ce; #4586ce);
  .nav {
    li {
      margin-top: 0;
      /*border-bottom: @wm-left-panel-list-border;*/

      a, .btn, .dropdown a, .dropdown a.dropdown-toggle, .app-popover a {
        font-size: 0.91em;
        text-transform: uppercase;
        letter-spacing: .15em;
        font-weight: 400;
        padding: 1em;
        padding-left: 1.5em;
        position: relative;
        border-radius: 0;
        line-height: 2;
        color: #C8D4DE;
        border-left: 0.5em solid transparent;
        transition: color .5s ease, background .5s ease;
        -webkit-transition: color .5s ease, background .5s ease;
        -moz-transition: color .5s ease, background .5s ease;
        -ms-transition: color .5s ease, background .5s ease;
        -o-transition: color .5s ease, background .5s ease;
        &:hover {
          color: #fff;
          text-decoration: none;
          background-color: @wm-left-panel-anchor-hover-bg-color;
          border-left-color: rgba(0, 0, 0, 0);
          transition: color .5s ease, background .5s ease;
          -webkit-transition: color .5s ease, background .5s ease;
          -moz-transition: color .5s ease, background .5s ease;
          -ms-transition: color .5s ease, background .5s ease;
          -o-transition: color .5s ease, background .5s ease;
        }
        &.active, &:focus {
          background-color: @wm-left-panel-anchor-hover-bg-color;

          border-left-color: #ff3333;
          color: #ffffff;
        }
        .app-icon {
          margin-left: 0.833em;
          margin-right: 0.417em;
        }
      }

      > .dropdown.open {
        > .dropdown-menu {
          position: relative;
          padding: 0.833em 0;
          margin: 0 0 1.333em;
          border: 0;
          border-bottom: 1px solid @wm-left-panel-dropdown-menu-border-color;
          box-shadow: none;
          background-color: @wm-left-panel-dropdown-menu-bg-color;
          li {
            a {
              padding: 0.667em 1.667em;
            }
          }
        }
      }
    }
  }
  .app-nav {
    .app-nav-item {
    
      > .dropdown {
        > a {
          padding: 1.333em;
        }
      }
    }
  }
}

//Left Panel
.app-left-panel {
  border-right: 1px solid @wm-panels-border-color;
}

//Right Panel
.app-right-panel {
  border-left: 1px solid @wm-panels-border-color;
}

//Footer
.app-footer {
  padding: 1em 1.5em;
  background-color: @wm-footer-bg-color;
}

.btn-group {
  .btn.active {
    box-shadow: none;
    background-color: @wm-btn-group-active-btn-bg-color;
    border-color: @brand-primary;
    color: @text-color;
  }
}
.nav > li > a:hover, .nav > li > a:focus{
  background: transparent;
}
a:focus{
  outline: 0;
}
/******************************************************************************************************************************************/
/***************************************************Widgets styling************************************************************************/
/******************************************************************************************************************************************/
.form-group {
  margin-bottom: 0.833em;
}
//for text, select controls
.form-control {
  box-shadow: none;

  &:focus {
    border: 1px solid @input-border-focus;
    box-shadow: none;
  }
}
.form-control-static {
  padding-bottom: 0;
}

//for the datagrid and pagination
.app-datanavigator > ul {
  > li {
    > span, > a {
      height: 2.750em;
      padding: 3px;
      font-size: 19px;
      &.active, &:hover, &:focus {
        background-color: @brand-primary;
        color: @pagination-active-color;
      }
      i {
        top: 0.2em;
        font-size: 28px;
      }
    }
  }
  .pager, > .pagination{
        margin: 10px 0px 0px 0px;
    }
  .pagecount {
    .form-control {
      font-size: 0.833em;
      height: 3.3em;
    }
   
  }
}
//form widgets
.app-form, .app-liveform {
  //for labels in the form
  .control-label {
    padding: 10px 10px 0 10px;
  }
  //action buttons in the form
  .form-action {
    .btn {
      margin: 0 0.333em;
      border-radius: @border-radius-base;
    }
  }

  //Styling File Upload in IE
  input[type="file"] {
    padding: 0;
    //Browse textbox
    &::-ms-value {
      border: 1px solid @input-border;
      background-color: @wm-fileupload-path-holder-bg-color;
    }

    //Browse button
    &::-ms-browse {
      border: 1px solid @input-border;
    }
  }
}

/***search widget****/
.app-search {
  .input-group-addon {
    padding: 0.667em;
    &:hover {
      background: @wm-search-input-group-addon-hover-bg-color;
    }
  }
}
//switch button styles
.app-switch {
  .btn-group {
    .btn {
      background-color: @btn-default-bg;
      &:hover, &:focus {
        background-color: @wm-app-switch-btn-hover-bg-color;
        color: @wm-app-switch-btn-hover-text-color;
      }
    }
  }
  .btn-default {
    background-color: @wm-app-switch-btn-default-bg-color;
  }
}
/******grid styles*******/
.app-grid {
  background: #f1fbfd;
  &.panel{
    box-shadow: none;
    .panel-heading{
      padding-left:0px;
    }
  }
  .form-search {
    .input-sm, .input-group-sm {
      font-size: @font-size-base;
    }
    .app-select {
      padding: 0 0.833em;
    }

    .input-group-sm {
      .form-control {
        font-size: 1em;
        height: auto;
        padding: 0.417em 0.833em;
      }
    }
  }
  .table {
    tbody{
      tr{
       
          & > td {
        font-family: Roboto-Regular;
        font-size: 14px;
        font-weight: normal;
        letter-spacing: 0.6px;
        color: #777777;
        vertical-align: middle;
        border: none;
          &.active{
          background-color: #fff;
          }

          }
        &:hover{
          background-color: #fff;
          }
          &:active{
          background-color: #fff;
          }
          border-collapse:none;
        }
      }
  
    thead {
      th {
        .header-data {
          border-collapse: none;
         
            font-family: Roboto-Regular;
  font-size: 14px;
  color: #333;
  font-style: normal;
  font-stretch: normal;
  
  text-align: left;
  
        }

        .sort-buttons-container {
          .sort-button {
            .sort-icon {
              color: @wm-app-grid-sort-icon-color;
            }
            .up {
              border-width: 0 0.333em 0.333em;
              bottom: -0.167em;
            }
            .down {
              border-width: 0.333em 0.333em 0;
              top: 0.250em;
            }
          }
        }
      }
    }
  }
  .panel-footer{
    background: #f4f6f9;
  }
}
//carousel styling: removing the left and right background image
.carousel-control {
  &.left, &.right {
    background-image: none;
  }
}

/****accordion classes****/
.app-accordion {
  .app-accordion-panel {
    .panel-heading {
      .panel-actions {
        right: 1em;
        top: 1.5em;
      }
    }
  }
}

.input-group-sm {
  > .form-control, > .input-group-addon, > .input-group-btn > .btn {
    height: 2.750em;
    padding: 0.833em 0.833em 0.583em;
  }
}

//file upload button
.app-single-file-upload {
  .glyphicon {
    margin-right: 0.500em;
  }
}


 /*Date, DateTime & Dropdown widgets*/
  .app-calendar, .app-date, .app-datetime, .app-timeinput {
     //setting the margin for the group button so that it shows up over the input
    .input-group-btn:last-child {
        > .btn, .btn-group {
          margin-left: 0;
        }
    }
    //setting the base font color for the popup content
    .dropdown-menu {
      color: @text-color;
    }

    thead {
      tr {
        th {
          .btn.uib-left, .btn.uib-right, .btn.uib-title {
            color: @component-active-color;
            background: transparent;
            border-color: transparent;
            box-shadow: none;
            font-size: 1.24em;
            padding: 1.4em 1em;
            text-transform: uppercase;
            &:hover, &:focus, &:active, &:active:hover, &:active:focus {
               color: @component-active-color;
               background-color: rgba(0,0,0,.01);
               border-color: transparent;
            }
          }
          .uib-left {
            text-align: left;
          }
          .uib-right {
            text-align: right;
          }
        }
      }
    }

    tbody {
      .btn-default, .btn {
        background-color: @gray-lighter;
        border-color: @gray-lighter;
        color: @wm-datepicker-text-color;
        width: auto;
        box-shadow: none;
        padding: @padding-base-horizontal;
        &.btn-info {
          background-color: transparent;
          color: @brand-primary;
        }
        &:hover, &:focus, &.active:hover, &:focus:hover {
          background-color: #dadada;
          border-color: transparent;
          color: #666666;
          .text-info {
            color: inherit;
          }
        }
        .text-info {
          color: @brand-primary;
        }
      }
        .tr{
            &:last-child{
                .td{
                    padding-bottom: 0px;
                }
            }
        }
    }
    small {
      font-size: .85em;
      text-transform: uppercase;
      color: @component-active-color;
    }
    .uib-monthpicker, .uib-yearpicker {
      tbody {
        .btn-default, .btn {
          padding: @padding-base-horizontal 4px;
        }
      }
    }
  }

  //styling for the popup calendar actions
  .app-date, .app-datetime {
    .dropdown-menu {
      border: 1px solid transparent;
      padding: 0;
      li {
        &:last-child {
          padding: 1.2em;
          overflow: auto !important;
        }
      }
    }

    strong {
      font-weight: normal;
    }

    table {
      outline: none;
    }

    thead {
       background-color: @component-active-bg;
       tr:nth-child(2) {
         background-color: @wm-datepicker-header-bg;
         th {
             &:first-child {
                padding: 10px 0 10px 20px;
             }
             &:last-child {
                padding: 10px 20px 10px 0;
             }
         }
      }
    }

    .uib-daypicker {
      tbody{
        .btn-default {
          border-radius: 50%;
          min-width: 0;
          height: 24pt;
          width: 24pt;
          vertical-align: middle;
          text-align: center;
          padding: 0;
        }
      }
    }

    tbody {
        tr {
           td {
              &:first-child {
                 padding-left: 20px;
              }
              &:last-child {
                 padding-right: 20px;
              }
           }
           &:first-child {
             td {
                padding-top: 15px;
             }
           }
          &:last-child {
            td {
              padding-bottom: 15px;
            }
          }
        }
        .btn-default {
           &.active, &:focus {
              background-color: @component-active-bg;
              color: @component-active-color;
              &:hover {
                background-color: @component-active-bg;
              }
              .text-info {
                 color: @component-active-color;
              }
           }
           &:hover {
              background-color: @wm-datepicker-btn-hover-bg;
              border-color: transparent;
              color: @text-color;
           }
        }
        .btn-sm {
          font-size: 1em;
        }
    }

    .btn-group {
      box-shadow: none;
      .btn , & + .btn {
         background-color: transparent;
         border-color: transparent;
         color: @brand-primary;
         font-size: 1.1em;
         box-shadow: none;
      }
    }
  }

 //Time Widget classes for styling the buttons
.app-timeinput, .app-datetime {
  tbody {
    .btn:not(.btn-link) {
      border: 1px solid @input-border;
    }
    .btn-link {
      width: 100%;
      background-color: transparent;
      &:hover {
        background-color: @btn-primary-bg;
        color: @btn-primary-color;
      }
    }
  }
}

  //Calendar Specific
  .app-calendar {
    background-color: @body-bg;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
    .fc {
      .fc-state-default {
        background: rgba(0,0,0,.05);
        border: 1px solid rgba(0,0,0,.05);
        color: @component-active-color;
        text-shadow: none;
        &.fc-state-hover, &:focus, &.fc-state-active {
          color: @btn-default-color;
          background: @btn-default-bg;
          border: 1px solid @btn-default-border ;
        }
      }
    }
    .fc-state-highlight {
      &.fc-today {
        background-color: transparent;
        color: @brand-primary;
      }
    }
    .fc {
      .fc-toolbar {
        margin-bottom: 0;
        padding: 1.82em;
        background-color: @brand-primary;
        h2 {
          color: @component-active-color;
          text-transform: uppercase;
        }
      }
    }
    .fc-widget-header {
      background-color: transparent;
      color: @wm-calendar-header-color;
      font-weight: normal;
      font-size: 1.03em;
    }
    .fc-body {
      .fc-row {
        min-height: 3em;
        .fc-content-skeleton {
          padding: .5em 0 2.2em .5em;
          color: @wm-calendar-text-color;
          font-size: 1.52em;
          td {
            text-align: left;
          }
        }
      }
    }
  }


/*********************************************************************************************************************************************/
/****************************************************Advanced editors******************************************************************************/
/*********************************************************************************************************************************************/
.app-richtexteditor {
  .btn-default {
    background: @wm-richtexteditor-btn-bg-color;
    border-color: @wm-richtexteditor-btn-border-color;
    color: @wm-richtexteditor-btn-text-color;
    &.disabled, &[disabled], &.disabled:hover, &[disabled]:hover, &.disabled:focus, &[disabled]:focus,
    &.disabled.focus, &.focus[disabled], &.disabled:active, &[disabled]:active, &.disabled.active, &.active[disabled],
    &.disabled.active, &.active[disabled] {
      background: @wm-richtexteditor-btn-disabled-bg-color;
      border-color: @wm-richtexteditor-btn-disabled-border-color;
      color: @wm-richtexteditor-btn-disabled-text-color;
    }
  }

  .ta-root .ta-toolbar .btn-group .btn {
    height: 2.917em;
    padding: 0.833em;
  }
}

fieldset[disabled] {
  .app-richtexteditor {
    .btn-default, .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
      background: @wm-richtexteditor-btn-disabled-bg-color;
      border-color: @wm-richtexteditor-btn-disabled-border-color;
      color: @wm-richtexteditor-btn-disabled-text-color;
    }
  }
}

//Tree
.app-tree {
  ul {
    li {
      span {
        &:hover {
          color: @app-tree-node-color;
        }
      }
      &.selected {
        > i, > span {
          color: @brand-primary;
        }
      }
    }
  }
}

/***color picker class: adding the default size and padding to the addon*******/
.app-colorpicker {
  &.input-group {
    width: 13em;
  }
  .input-group-addon {
    padding: 0.833em 1.333em;
  }
}
/***popover class: removing the radius*******/
.popover {
  border-radius: 0;
  padding: 0;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  color: @text-color;
}

.app-fileupload .app-multi-file-upload, .app-fileupload .app-single-file-upload {
  height: auto;
  min-height: 3em;
}

.app-files-upload-status {
  padding-top: 0.833em;
  &.multiple {
    padding-top: 0.333em;
    font-size: 1.2em;
  }
}

.app-fileupload {
  .btn-default {
    &:hover {
      color: @wm-fileupload-btn-hover-color;
      background-color: @brand-primary;
    }
  }
}

.btn-info {
  &:hover, &:focus, &:active, &.active {
    background-color: #37a5a2 !important;
  }
}

}