.logout-popover{
 text-decoration : none !important;   
 /*position: absolute !important;*/
}

@media screen and (max-width: 768px) and (min-width: 481px)  and (orientation : portrait) {
    .Newline-header{
        max-width: 235px !important;
        /*padding-top: 0.5;*/
    }
}

@media only screen and (max-width: 767px) and (min-width: 481px) and (orientation : portrait)  {

    .header-layout{
        padding-top: 0.5em !important;
    }
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: portrait){
     .header-layout{
        padding-top: 0.5em !important;
    }
}
@media only screen and (max-device-width: 480px) and (min-device-width: 299px){
     .BrandNameMobile{
        top: 13px !important;
        font-size: 12px !important;
    }
    .NameSectionMobile{
        top: 5px !important;
    }
    /*.loginname{*/
    /*    max-width: 50px !important;*/
    /*text-overflow: ellipsis;*/
    /*overflow-x: auto;*/
    /*position: absolute;*/
    /*bottom: -10px;*/
    /*left: 45px;*/
    /*}*/
      .loginname{
           max-width: 80px !important;
    text-overflow: ellipsis;
    overflow-x: auto;
    position: absolute;
    bottom: 10px;
    left: 35px;
    }
    
.wm-app .app-header .application-name{
    font-size: 12px !important;
    top: 15px !important;
}
}
@media only screen and (max-device-width: 750px) and (min-device-width: 299px){
.wm-app .app-header .application-name{
    max-width: 200px !important;
}
/*.wm-app .headerleftmobile {*/
/*    max-width: 66% !important;*/
/*}*/
}