<wm-partial data-ng-controller="headermobilePageController" name="header" type="header"> 
    <wm-layoutgrid name="headerlayout" class="header-layout header-layout-fixed"> 
        <wm-gridrow name="headerrow"> 
            <wm-gridcolumn name="headerleft" verticalalign="middle" columnwidth="8" padding=".8em unset unset 1em" class="headerleftmobile col-xs-8 col-md-8 col-sm-8"> 
                <wm-label caption="Newline Portal" class="application-name Newline-header" name="AppName" fontsize="20" showindevice="all"></wm-label> 
                <!--<wm-label caption="Newline Portal" class="BrandNameMobile" name="AppName" fontsize="14" showindevice="xs" show="false"></wm-label>--> 
            </wm-gridcolumn> 
            <wm-gridcolumn name="logout" horizontalalign="right" verticalalign="middle" columnwidth="4" padding="unset 1em unset unset" class="NameSectionMobile col-xs-4 col-md-4 col-sm-4"> 
                <wm-layoutgrid name="layoutgrid2"> 
                    <wm-gridrow name="gridrow2" padding=".5em unset"> 
                        <wm-gridcolumn name="gridcolumn3"> 
                            <wm-picture name="picture1" shape="rounded" picturesource="bind:Variables.UserInfo.dataSet.picture" width="35px" height="35px" margin="unset 10px unset unset"></wm-picture> 
                            <!--</wm-gridcolumn>--> 
                            <!--<wm-gridcolumn columnwidth="6" name="gridcolumn4" horizontalalign="center">--> 
                            <!--<wm-popover popoverwidth="100" popoverheight="50" name="popover1" iconclass="" caption="logout of" color="#fff" contentsource="partial" class="logout-popover" content="Logout" fontsize="12"></wm-popover>--> 
                            <wm-popover popoverwidth="100" popoverheight="50" name="popover1" iconclass="" color="#fff" caption="bind:Variables.UserInfo.dataSet.name" contentsource="partial" class="logout-popover loginname" content="Logout" fontsize="12"></wm-popover> 
                            <!--<wm-label name="label2" caption="bind:Variables.UserInfo.dataSet.name" horizontalalign="center" textalign="center" color="#fff" fontsize="12" margin="unset 2px 10px unset" class="loginname"></wm-label>--> 
                            <!--</wm-gridcolumn>--> 
                            <!--<wm-gridcolumn columnwidth="2" name="gridcolumn5" horizontalalign="left">--> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
                <!--<wm-nav name="headerlinks" type="pills" class="navbar-right">--> 
                <!--    <wm-nav-item name="logout">--> 
                <!--        <wm-anchor caption="Logout" iconclass="glyphicon glyphicon-log-out" on-click="Actions.logoutAction.invoke()" name="anchor1"></wm-anchor>--> 
                <!--    </wm-nav-item>--> 
                <!--</wm-nav>--> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>