<wm-page data-ng-controller="AddEditTownshipPageController" pagetitle="Newline Portal - Admin" name="page1"> 
    <wm-content name="content1" class="pdfcontent"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-livefilter title="Township List" dataset="bind:Variables.PlatformTownshipData.dataSet" captionalign="left" captionposition="left" name="livefilter1" iconclass="" class="buyer-header"> 
                <wm-layoutgrid columns="1" name="layoutgrid2"> 
                    <wm-gridrow name="gridrow6"> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn6"> 
                            <wm-filter-field name="id" field="id" displayname="Id" widget="number" is-range="false" type="integer" is-primary-key="true" generator="identity" show="true" inputtype="number" key="id" placeholder="Enter value"></wm-filter-field> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn7"> 
                            <wm-filter-field name="county" field="county" displayname="County" widget="text" lookup-type="County" lookup-field="countyName" is-related="true" related-entity-name="County" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" key="county" placeholder="Enter value"></wm-filter-field> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <!--<wm-gridrow name="gridrow7">--> 
                    <!--    <wm-gridcolumn columnwidth="6" name="gridcolumn7">--> 
                    <!--        <wm-filter-field name="county" field="county" displayname="County" widget="text" lookup-type="County" lookup-field="countyName" is-related="true" related-entity-name="County" is-range="false" type="string" is-primary-key="false"--> 
                    <!--        generator="assigned" show="true" key="county" placeholder="Enter value"></wm-filter-field>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--</wm-gridrow>--> 
                    <wm-gridrow name="gridrow8"> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn8"> 
                            <wm-filter-field name="townshipName" field="townshipName" displayname="Township" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="townshipName" placeholder="Enter value" matchmode="start"></wm-filter-field> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn9"> 
                            <wm-filter-field name="volumeLow" field="volumeLow" displayname="Volume Low" widget="number" is-range="false" type="integer" is-primary-key="false" generator="assigned" show="true" inputtype="number" key="volumeLow" placeholder="Enter value"></wm-filter-field> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <!--<wm-gridrow name="gridrow9">--> 
                    <!--    <wm-gridcolumn columnwidth="6" name="gridcolumn9">--> 
                    <!--        <wm-filter-field name="volumeLow" field="volumeLow" displayname="Volume Low" widget="number" is-range="false" type="integer" is-primary-key="false" generator="assigned" show="true" inputtype="number" key="volumeLow" placeholder="Enter value"></wm-filter-field>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--</wm-gridrow>--> 
                    <wm-gridrow name="gridrow10"> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn10"> 
                            <wm-filter-field name="volumeHigh" field="volumeHigh" displayname="Volume High" widget="number" is-range="false" type="integer" is-primary-key="false" generator="assigned" show="true" inputtype="number" key="volumeHigh" placeholder="Enter value"></wm-filter-field> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn11"> 
                            <wm-filter-field name="auctionDay" field="auctionDay" displayname="Auction Day" widget="number" is-range="false" type="integer" is-primary-key="false" generator="assigned" show="true" inputtype="number" key="auctionDay" placeholder="Enter value"></wm-filter-field> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <!--<wm-gridrow name="gridrow11">--> 
                    <!--    <wm-gridcolumn columnwidth="6" name="gridcolumn11">--> 
                    <!--        <wm-filter-field name="auctionDay" field="auctionDay" displayname="Auction Day" widget="number" is-range="false" type="integer" is-primary-key="false" generator="assigned" show="true" inputtype="number" key="auctionDay" placeholder="Enter value"></wm-filter-field>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--</wm-gridrow>--> 
                </wm-layoutgrid> 
                <wm-filter-action key="filter" display-name="Filter" show="true" class="btn-primary" iconclass="wi wi-filter-list" title="Filter" action="filter()" disabled="false" type="button"></wm-filter-action> 
                <wm-filter-action key="clear" display-name="Clear" show="true" class="btn-secondary" iconclass="wi wi-cancel" title="Clear" action="clearFilter()" disabled="false" type="button"></wm-filter-action> 
            </wm-livefilter> 
            <wm-livetable formlayout="dialog" name="livegrid2"> 
                <wm-table gridfirstrowselect="true" editmode="dialog" title="" dataset="bind:Widgets.livefilter1.result" navigation="Classic" name="grid2"> 
                    <wm-table-column binding="id" caption="Id" type="integer" primary-key="true" generator="identity" readonly="true" edit-widget-type="number" show="true"></wm-table-column> 
                    <wm-table-column binding="county.countyName" caption="County" type="string" generator="assigned" edit-widget-type="text" show="true" related-entity-name="County" readonly="false"></wm-table-column> 
                    <wm-table-column binding="townshipName" caption="Township" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-table-column> 
                    <wm-table-column binding="volumeLow" caption="Volume Low" type="integer" generator="assigned" edit-widget-type="number" show="true" readonly="false"></wm-table-column> 
                    <wm-table-column binding="volumeHigh" caption="Volume High" type="integer" generator="assigned" edit-widget-type="number" show="true" readonly="false"></wm-table-column> 
                    <wm-table-column binding="auctionDay" caption="Auction Day" type="integer" generator="assigned" edit-widget-type="number" show="true" readonly="false"></wm-table-column> 
                    <wm-table-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-table-column> 
                    <wm-table-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-table-action> 
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action> 
                    <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action> 
                </wm-table> 
                <wm-liveform novalidate="false" errormessage="" title="Add Township" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Widgets.livefilter1.result" captionalign="left" captionposition="left" name="liveform2"> 
                    <wm-layoutgrid columns="1" name="layoutgrid3"> 
                        <wm-gridrow name="gridrow12"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn12"> 
                                <wm-form-field name="county" displayname="County" show="true" primary-key="false" generator="assigned" key="county" type="list" is-related="true" required="required" widget="select" placeholder="Select value" displayexpression="countyName"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow13"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn13"> 
                                <wm-form-field name="townshipName" displayname="Township Name" show="true" primary-key="false" generator="assigned" key="townshipName" type="string" required="required" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow14"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn14"> 
                                <wm-form-field name="volumeLow" displayname="Volume Low" show="true" primary-key="false" generator="assigned" key="volumeLow" type="integer" required="required" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow15"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn15"> 
                                <wm-form-field name="volumeHigh" displayname="Volume High" show="true" primary-key="false" generator="assigned" key="volumeHigh" type="integer" required="required" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow16"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn16"> 
                                <wm-form-field name="auctionDay" displayname="Auction Day" show="true" primary-key="false" generator="assigned" key="auctionDay" type="integer" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                    <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="readonly" required="required" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action> 
                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action> 
                </wm-liveform> 
            </wm-livetable> 
        </wm-page-content> 
    </wm-content> 
</wm-page>