<wm-partial data-ng-controller="StreetViewPageController" name="partial1"> 
    <wm-html name="html1" width="100%" height="100%"> 
        <div id="street-view" style="width:100%; height:100%"></div> 
    </wm-html> 
</wm-partial>