<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Newline Portal - Buy">
    <wm-header name="header" content="header" height="auto"></wm-header>
    <wm-content name="content">
        <wm-page-content name="mainContent" class="main-content-fixed" columnwidth="12" padding="unset 0px 0px 0px">
            <wm-layoutgrid name="layoutgrid2">
                <wm-gridrow name="gridrow5">
                    <wm-gridcolumn columnwidth="2" class="portrait-leftpanel left-panel-fixed" name="gridcolumn1">
                        <wm-container name="LeftPanel" class="AllContentRightTile">
                            <wm-layoutgrid name="layoutgrid3" padding="1em 1em unset 1em" class="personal-info" show="true">
                                <wm-gridrow name="gridrow12">
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn15">
                                        <wm-composite name="composite1" class="address">
                                            <wm-label class="col-md-3 control-label" name="label5" show="false"></wm-label>
                                            <wm-container class="col-md-12" name="container2">
                                                <wm-layoutgrid name="layoutgrid3_2">
                                                    <wm-gridrow name="gridrow4">
                                                        <wm-gridcolumn columnwidth="9" name="gridcolumn5_1" class="address">
                                                            <wm-composite class="col-md-12" name="composite2_1">
                                                                <wm-text name="Search" class="search-box searchbox-address col-md-9" placeholder="Address or ID" color="#fff" on-keypress="SearchKeypress($event, $scope)" updateon="default" datavalue="bind:pageParams.search" backgroundcolor="#9B9B9B" on-focus="SearchFocus($event, $scope)"></wm-text>
                                                                <wm-button caption="" type="button" name="filterbtn" class="cursor-pointer filter-btn filter-btn1 filter-btn-2 filter-custom filter-padding" on-click="toggleFilter()" iconposition="right" id="filterwhite" showindevice="all" iconclass="wi wi-search fa-lg"
                                                                    show="true" iconurl="resources/images/imagelists/filter-white.png" iconwidth="14px" iconheight="14px"></wm-button>
                                                            </wm-composite>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="3" name="gridcolumn4" padding="3px unset unset 25px" class="filtercolumn">
                                                            <wm-button type="button" caption="" color="#333" class="cursor-pointer  search-btn filter-btn filter-btn1" name="btnsearch" textalign="left" iconclass="" on-click="SearchBtnClick($event, $scope);btnsearchClick($event, $scope)" iconurl="resources/images/imagelists/search-black.png"
                                                                iconwidth="14px" iconheight="14px"></wm-button>
                                                            <wm-button class="cursor-pointer filter-btn filter-btn1 filter-btn-2 filter-custom resetfilter" type="button" caption="" name="ClearBtn" on-click="ClearBtnClick($event, $scope)" iconclass="wi wi-clear fa-lg" margin="5px" width="40%"></wm-button>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-layoutgrid>
                                            </wm-container>
                                        </wm-composite>
                                        <wm-layoutgrid name="FilterLayoutGrid" show="false" class="Filterlayoutgrid">
                                            <wm-gridrow name="gridrow7">
                                                <wm-gridcolumn name="gridcolumn9">
                                                    <wm-layoutgrid name="layoutgrid6_1">
                                                        <wm-gridrow name="gridrow6_1">
                                                            <wm-gridcolumn name="gridcolumn6_1" columnwidth="6">
                                                                <wm-composite name="composite16">
                                                                    <wm-label class="col-md-3 control-label" show="false" name="label7_1"></wm-label>
                                                                    <wm-container class="col-md-12" name="container27" padding="unset .3em unset unset">
                                                                        <wm-select name="State" placeholder="State" dataset="bind:Variables.svQryState.dataSet" datafield="All Fields" displayfield="state" on-change="Variables.svQryCounty.invoke()" orderby="state:asc"></wm-select>
                                                                    </wm-container>
                                                                </wm-composite>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="6" name="gridcolumn7">
                                                                <wm-composite name="composite3">
                                                                    <wm-label class="col-md-3 control-label" show="false" name="label7"></wm-label>
                                                                    <wm-container class="col-md-12" name="container4">
                                                                        <wm-select dataset="bind:Variables.svQryCounty.dataSet" datafield="All Fields" placeholder="County" displayfield="county_name" name="County" on-change="Variables.svQryTownship.invoke()" orderby="county_name:asc"></wm-select>
                                                                    </wm-container>
                                                                </wm-composite>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                    <wm-composite name="composite12">
                                                        <wm-label class="col-md-3 control-label" show="false" name="label16"></wm-label>
                                                        <wm-container class="col-md-12" name="container14">
                                                            <wm-select dataset="bind:Variables.svQryTownship.dataSet" datafield="township_name" placeholder="Township" displayfield="township_name" name="Township"></wm-select>
                                                        </wm-container>
                                                    </wm-composite>
                                                    <wm-composite name="composite19">
                                                        <wm-label class="col-md-3 control-label" show="false" name="label27"></wm-label>
                                                        <wm-container class="col-md-12" name="container30">
                                                            <wm-select name="TaxYear" dataset="bind:Variables.svTaxYear.dataSet" datafield="tax_year" displayfield="tax_year" orderby="tax_year:desc" placeholder="Tax Year"></wm-select>
                                                        </wm-container>
                                                    </wm-composite>
                                                    <wm-composite name="composite2">
                                                        <wm-label class="col-md-3 control-label" name="label6" show="false"></wm-label>
                                                        <wm-container class="col-md-12" name="container3">
                                                            <wm-select name="PropertyClass" dataset="bind:Variables.svQryPropertyClass.dataSet" placeholder="Property Class" datafield="property_class" displayfield="property_class" orderby="property_class:asc"></wm-select>
                                                        </wm-container>
                                                    </wm-composite>
                                                    <wm-composite name="composite5" class="property">
                                                        <wm-label class="col-md-3 control-label" show="false" name="label12"></wm-label>
                                                        <wm-container class="col-md-12" name="container9_1">
                                                            <wm-select dataset="bind:Variables.UnderwritingStatusSource.dataSet" datafield="dataValue" displayfield="name" placeholder="Underwriting Status" name="UnderwritingStatus" orderby="name:asc"></wm-select>
                                                        </wm-container>
                                                    </wm-composite>
                                                    <wm-composite name="composite6">
                                                        <wm-label class="col-md-12 control-label label-whitebg" show="true" name="label10" caption="Auction Day"></wm-label>
                                                        <wm-container class="col-md-12 custom-checkbox" name="container7">
                                                            <wm-checkboxset height="112px" name="AuctionDay" dataset="bind:Variables.svAuctionDay.dataSet" datafield="auction_day" displayfield="auction_day" class="filter-field-border"></wm-checkboxset>
                                                        </wm-container>
                                                    </wm-composite>
                                                    <wm-composite name="composite8">
                                                        <wm-label class="col-md-3 control-label label-whitebg" show="true" name="label12" caption="Buyer"></wm-label>
                                                        <wm-container class="col-md-12" name="container9">
                                                            <wm-search name="Buyer" placeholder="Buyer" dataset="bind:Variables.svQryBuyerGroup.dataSet" searchkey="buyer" displaylabel="buyer" datafield="buyer" orderby="buyer:asc" type="autocomplete"></wm-search>
                                                        </wm-container>
                                                    </wm-composite>
                                                    <wm-composite name="composite14_1" class="property">
                                                        <wm-label class="col-md-12 control-label label-whitebg" show="true" name="label10_1" caption="Grade"></wm-label>
                                                        <wm-container class="col-md-12 custom-checkbox" name="container7">
                                                            <wm-checkboxset height="112px" name="Grade" dataset="bind:Variables.GradeSource.dataSet" datafield="dataValue" displayfield="dataValue" class="filter-field-border"></wm-checkboxset>
                                                        </wm-container>
                                                    </wm-composite>
                                                    <wm-layoutgrid name="layoutgrid16" class="filter-field-space-1">
                                                        <wm-gridrow name="gridrow17_1">
                                                            <wm-gridcolumn columnwidth="4" name="gridcolumn28">
                                                                <wm-composite name="composite14_2">
                                                                    <wm-label class="col-md-3 control-label" show="false" name="label17_2"></wm-label>
                                                                    <wm-container class="col-md-12" name="container15_2">
                                                                        <wm-select dataset="=,<>" placeholder="" datavalue="=" name="TagOperator"></wm-select>
                                                                    </wm-container>
                                                                </wm-composite>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="8" name="gridcolumn29">
                                                                <wm-composite name="composite14_3">
                                                                    <wm-label class="col-md-3 control-label" show="false" name="label17_3"></wm-label>
                                                                    <wm-container class="col-md-12" name="container15_3">
                                                                        <wm-select dataset="bind:Variables.svQryTags.dataSet" placeholder="Tag" name="Tag" datafield="name" displayfield="name" orderby="name:desc"></wm-select>
                                                                    </wm-container>
                                                                </wm-composite>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                    <wm-label class="col-md-12 control-label label-whitebg" show="true" caption="Sale Amount" name="label22"></wm-label>
                                                    <wm-layoutgrid name="layoutgrid5">
                                                        <wm-gridrow name="gridrow9">
                                                            <wm-gridcolumn columnwidth="4" name="gridcolumn19">
                                                                <wm-composite name="composite14_1">
                                                                    <wm-label class="col-md-3 control-label" show="false" name="label17_1"></wm-label>
                                                                    <wm-container class="col-md-12" name="container15_1">
                                                                        <wm-select dataset="<=,>=" placeholder="" datavalue="<=" name="SaleAmountOperator"></wm-select>
                                                                    </wm-container>
                                                                </wm-composite>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="8" name="gridcolumn20">
                                                                <wm-composite name="composite10">
                                                                    <wm-label class="col-md-3 control-label" show="false" name="label14"></wm-label>
                                                                    <wm-container class="col-md-12" name="container11">
                                                                        <wm-text type="number" placeholder="Sale Amount" name="SaleAmount"></wm-text>
                                                                    </wm-container>
                                                                </wm-composite>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                    <wm-label class="col-md-12 control-label label-whitebg" show="true" caption="Prior Years Due" name="label23"></wm-label>
                                                    <wm-layoutgrid name="layoutgrid4">
                                                        <wm-gridrow name="gridrow6">
                                                            <wm-gridcolumn columnwidth="4" name="gridcolumn10">
                                                                <wm-composite name="composite14">
                                                                    <wm-label class="col-md-3 control-label" show="false" name="label17"></wm-label>
                                                                    <wm-container class="col-md-12" name="container15">
                                                                        <wm-select dataset="<=,>=" placeholder="" name="PriorYearsDueOperator" datavalue="<="></wm-select>
                                                                    </wm-container>
                                                                </wm-composite>
                                                            </wm-gridcolumn>
                                                            <wm-gridcolumn columnwidth="8" name="gridcolumn11">
                                                                <wm-composite name="composite9_1">
                                                                    <wm-label class="col-md-3 control-label" name="label13_1" show="false"></wm-label>
                                                                    <wm-container class="col-md-12" name="container10_1">
                                                                        <wm-text name="PriorYearsDue" type="number" placeholder="Prior Years Due"></wm-text>
                                                                    </wm-container>
                                                                </wm-composite>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                    <wm-layoutgrid name="layoutgrid8">
                                                        <wm-gridrow name="gridrow10_1">
                                                            <wm-gridcolumn name="gridcolumn14_2">
                                                                <wm-composite name="composite13" color="#333" fontweight="bold" horizontalalign="left" class="filter-paid">
                                                                    <wm-checkbox caption="Filter Paid" class="col-md-9 filterpaid" name="FilterPaid" checkedvalue="0" datavalue="1" uncheckedvalue="1"></wm-checkbox>
                                                                </wm-composite>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                    <wm-layoutgrid name="layoutgrid9">
                                                        <wm-gridrow name="gridrow10_3">
                                                            <wm-gridcolumn name="gridcolumn14_3" padding="unset unset .5em unset" horizontalalign="center">
                                                                <wm-button class="btn-apply btn-primary" type="button" caption="Search" name="SearchBtn" on-click="SearchBtnClick($event, $scope);btnsearchClick($event, $scope)" margin="5px" width="40%"></wm-button>
                                                                <wm-button class="btn-clear-filter" type="button" caption="clear" name="ClearBtn" on-click="ClearBtnClick($event, $scope)" iconclass="wi wi-clear fa-lg" margin="5px" width="40%"></wm-button>
                                                            </wm-gridcolumn>
                                                        </wm-gridrow>
                                                    </wm-layoutgrid>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-layoutgrid name="layoutgrid7" class="pagination-custom">
                                <wm-gridrow name="gridrow10">
                                    <wm-gridcolumn name="gridcolumn14_1" horizontalalign="center" class="pagination-arrows">
                                        <wm-layoutgrid name="layoutgrid11">
                                            <wm-gridrow name="gridrow11">
                                                <wm-gridcolumn columnwidth="4" class="col-xs-4" name="gridcolumn15_2">
                                                    <wm-button class="btn-default btn-arrow btn-arrow-bg" caption="" type="button" iconclass="fa fa-caret-square-o-left fa-lg" on-click="PreviousPageClick($event, $scope)" disabled="true" name="PreviousPage" iconurl="resources/images/imagelists/back.png"
                                                        iconwidth="14px" iconheight="14px"></wm-button>
                                                    <wm-button class="btn-default btn-arrow btn-arrow-bg" caption="" type="button" name="PreviousRecord" iconclass="wi wi-keyboard-backspace fa-2x" on-click="PreviousRecordClick($event, $scope)" disabled="true" iconurl="resources/images/imagelists/left-arrow.png"
                                                        iconwidth="14px" iconheight="14px"></wm-button>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" class="col-xs-4 recordnumbers" name="gridcolumn16_1">
                                                    <wm-label name="CurrentRecordIndex" caption="0" fontsize="16" fontweight="bold" horizontalalign="center"></wm-label>
                                                    <wm-label caption="/&amp;nbsp;" fontsize="16" fontweight="bold" horizontalalign="center" name="RecordIndexSeparator"></wm-label>
                                                    <wm-label caption="bind:Variables.qryPortalBuyFilter.dataSet[0].total_count || 0" fontsize="16" fontweight="bold" horizontalalign="center" name="TotalRecordsIndex"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="4" class="col-xs-4" name="gridcolumn17_1">
                                                    <wm-button class="btn-default btn-arrow btn-arrow-bg" caption="" type="button" name="NextRecord" iconclass="wi wi-keyboard-backspace fa-2x fa-flip-horizontal" on-click="NextRecordClick($event, $scope)" disabled="true" iconwidth="14px" iconheight="14px"
                                                        iconurl="resources/images/imagelists/right-arrow.png"></wm-button>
                                                    <wm-button class="btn-default btn-arrow btn-arrow-bg" caption="" type="button" iconclass="fa fa-caret-square-o-left fa-lg fa-flip-horizontal" on-click="NextPageClick($event, $scope)" disabled="true" name="NextPage" iconwidth="14px" iconheight="14px" iconurl="resources/images/imagelists/next.png"></wm-button>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                            <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list  media-heading custom-livelist personal-info" dataset="bind:Variables.qryPortalBuyFilter.dataSet" name="SearchResultLiveList"
                                datafield="All Fields" on-click="SearchResultLiveListClick($event, $scope)" selectfirstitem="false" selectionlimit="1">
                                <wm-listtemplate layout="inline" name="listtemplate2" class="list-template">
                                    <wm-container class="media-body" padding="unset unset unset 1.25em" name="container5">
                                        <wm-label name="AddressLineLabel" class="h5 media-heading addresslabel" caption="bind:Variables.qryPortalBuyFilter.dataSet[$i].address_line1" fontunit="em" whitespace="normal"></wm-label>
                                        <wm-label name="PinLabel" caption="bind:Variables.qryPortalBuyFilter.dataSet[$i].pin" class="p text-muted" whitespace="nowrap"></wm-label>
                                    </wm-container>
                                </wm-listtemplate>
                            </wm-list>
                        </wm-container>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="10" name="gridcolumn6" padding="unset unset unset unset" horizontalalign="left" class="portrait-rightpanel">
                        <wm-anchor margin="unset 0em" name="anchor2" iconclass="wi wi-angle-double-right fa-lg" caption="" on-click="anchor2Click($event, $scope)" fontsize="12" show="false" color="#000" borderwidth="1px" borderstyle="solid" bordercolor="#000"></wm-anchor>
                        <wm-anchor margin="unset 0em" fontsize="12" iconclass="wi wi-angle-double-left fa-lg" caption="" on-click="anchor3Click($event, $scope)" name="anchor3" color="#000" borderwidth="1px" borderstyle="solid" bordercolor="#000"></wm-anchor>
                        <wm-container name="MainSectionLabel" show="bind:(!Widgets.SearchResultLiveList.dataset || Widgets.SearchResultLiveList.dataset.length == 0)" horizontalalign="center" on-click="MainSectionLabelClick($event, $isolateScope)">
                            <wm-picture name="mainpic" picturesource="resources/images/imagelists/empty.png" margin="4em unset unset unset" class="mainpicwidth"></wm-picture>
                            <wm-label name="label21" width="100%" caption="No Results!" fontsize="38" color="#D0D0D0" margin="1em unset unset unset"></wm-label>
                            <wm-label name="label22_1" width="100%" caption="Please update your search..." fontsize="16" color="#828282" margin="1em unset unset unset"></wm-label>
                        </wm-container>
                        <wm-container name="AllContentRightTile" class="AllContentRightTile" show="true" on-click="AllContentRightTileClick($event, $isolateScope)">
                            <wm-tile name="all-content-tile" show="bind:(Widgets.SearchResultLiveList.dataset &amp;&amp; Widgets.SearchResultLiveList.dataset.length > 0)">
                                <wm-container name="container13" content="PropertyInfoHeader" class="property-header-container">
                                    <wm-param name="Property_Id" value="bind:Widgets.SearchResultLiveList.selecteditem.property_id" type="integer"></wm-param>
                                </wm-container>
                                <wm-label name="label18" caption="bind:&quot;Tax Year &quot; + Variables.svQryPortalAuctionData.dataSet[$i].tax_year + &quot; (Auction ID: &quot; + Variables.svQryPortalAuctionData.dataSet[$i].auction_id + &quot;)&quot;" width="100%" class="h4" textalign="center"
                                    horizontalalign="center" fontweight="bold" color="#2c65a8"></wm-label>
                                <wm-layoutgrid name="layoutgrid6">
                                    <wm-gridrow name="gridrow8">
                                        <wm-gridcolumn columnwidth="3" name="gridcolumn14" padding="unset 1em 1em unset" class="portrait-column photosection-scroll">
                                            <wm-container name="container17" content="AuctionTax"></wm-container>
                                            <wm-container name="container20" content="Assessment" class="assessment" show="true"></wm-container>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="5" name="gridcolumn15_1" class="portrait-column photosection-scroll" padding="unset 1em 1em unset">
                                            <wm-container name="container18" content="PhotosAndLinks"></wm-container>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn16" class="portrait-column photosection-scroll" padding="unset unset 1em unset">
                                            <wm-container name="container20_1">
                                                <wm-layoutgrid name="layoutgrid3_1" class="reject-section">
                                                    <wm-gridrow name="gridrow5_1">
                                                        <wm-gridcolumn columnwidth="9" name="gridcolumn19_1" horizontalalign="center">
                                                            <wm-button caption="Decline" type="button" name="DeclineBtn" horizontalalign="center" class="reject-section-btn custom-reject-btn btn-red" on-click="UnderwritingStatusBtnClick('declined')" iconurl="resources/images/imagelists/reject.png" iconposition="top"></wm-button>
                                                            <wm-button caption="Pending" type="button" name="PendingBtn" class="reject-section-btn custom-reject-btn" on-click="UnderwritingStatusBtnClick('pending')" horizontalalign="center" iconposition="top" iconurl="resources/images/imagelists/pending.png" fontweight="bold"
                                                                iconwidth="21px" iconheight="18px"></wm-button>
                                                            <wm-button caption="Approve" type="button" name="ApproveBtn" class="reject-section-btn custom-reject-btn btn-green" padding="unset .5em unset unset" on-click="UnderwritingStatusBtnClick('approved')" horizontalalign="center" iconposition="top" iconurl="resources/images/imagelists/accept.png"></wm-button>
                                                        </wm-gridcolumn>
                                                        <wm-gridcolumn columnwidth="3" name="gridcolumn22" padding="unset 10px unset unset">
                                                            <wm-select name="BidRate" on-change="Variables.UpdateBidRate.invoke()" dataset="bind:Variables.BidRateSource.dataSet" datafield="dataValue" displayfield="dataValue" placeholder="-" class="reject-section-select"></wm-select>
                                                        </wm-gridcolumn>
                                                    </wm-gridrow>
                                                </wm-layoutgrid>
                                            </wm-container>
                                            <wm-container name="StatsContainer" content="AuctionStat" padding="unset unset unset unset" show="true"></wm-container>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                    <wm-gridrow name="gridrow9_1" margin="unset unset 1em unset">
                                        <wm-gridcolumn name="gridcolumn17" padding="unset 1em unset unset" class="portratit-tax-sales-history col-md-8">
                                            <wm-layoutgrid name="layoutgrid13">
                                                <wm-gridrow name="gridrow17">
                                                    <wm-gridcolumn name="gridcolumn33">
                                                        <wm-container iconclass="" name="panel2" title="Tax and Sales History" content="TaxAndHistory" collapsible="true" class="custompanel"></wm-container>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                            <wm-layoutgrid name="layoutgrid14" class="table-title-content">
                                                <wm-gridrow name="gridrow18">
                                                    <wm-gridcolumn name="gridcolumn34">
                                                        <wm-container name="TitlePanel" badgetype="default" collapsible="true" expanded="true" content="Title" class="custompanel"></wm-container>
                                                    </wm-gridcolumn>
                                                </wm-gridrow>
                                            </wm-layoutgrid>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="4" name="gridcolumn18_1" class="portratit-note-and-tags">
                                            <wm-container iconclass="" name="panel2_1" title="Notes" content="Notes" collapsible="true" class="custompanel" actions="Add Note"></wm-container>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-tile>
                        </wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>