.wm-app .btn-view.btn-trans.btn-tags2.btn-custom-url.btn-tags{
    padding: 0px !important;
}
.wm-app .header-row .app-grid-column.reserach-date{
    padding-right: 0px !important;
    padding-left: 0px !important;
}