<wm-partial data-ng-controller="TaxAndHistoryPageController" name="partial1"> 
    <wm-layoutgrid name="tax_sales_header_blue_bg" class="tax-blue-header"> 
        <wm-gridrow class="custom-container tax-blue-header" name="gridrow16"> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn31" class="col-xs-6"> 
                <wm-label caption="Tax and Sale History" name="label23" padding=".1em unset unset unset"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="6" name="gridcolumn32" horizontalalign="right" class="col-xs-6"> 
                <wm-button name="ViewDetails" iconurl="resources/images/imagelists/detailsnew.png" iconwidth="15px" iconheight="15px" iconposition="right" caption="View Details" class="btn-view btn-trans btn-tags2 btn-custom-url btn-tags" on-click="Widgets.TaxAndHistoryDetailsDialog.open()"></wm-button> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-layoutgrid name="tax_sales_header_plain"> 
        <wm-gridrow name="gridrow2_1"> 
            <wm-gridcolumn name="gridcolumn3"> 
                <wm-label caption="Sale &amp; Tax History" fontweight="bold" name="label21" color="#2c65a8" fontsize="13" class="title_tab sub-title-ins-mobile"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-layoutgrid name="layoutgrid1" class="layoutgrid-outerborder"> 
        <wm-gridrow padding="unset unset unset unset" name="gridrow21"> 
            <wm-gridcolumn name="gridcolumn1"> 
                <wm-layoutgrid name="layoutgrid2_1" class="tax-and-history-table-header"> 
                    <wm-gridrow name="gridrow2" class="header-row grey-header"> 
                        <wm-gridcolumn columnwidth="1" name="gridcolumn56" class="col-xs-1 " horizontalalign="center"> 
                            <wm-label caption="Year" horizontalalign="center" name="label36"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="1" name="gridcolumn56_1" class="col-xs-1"> 
                            <wm-label caption="Code" horizontalalign="center" name="label36"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn56_2" class="col-xs-2"> 
                            <wm-label caption="Market" horizontalalign="center" name="label36"></wm-label> 
                        </wm-gridcolumn> 
                        <!--<wm-gridcolumn columnwidth="2" name="gridcolumn15">--> 
                        <!--    <wm-label caption="Code / Assessed Value" name="label11"></wm-label>--> 
                        <!--</wm-gridcolumn>--> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn16" class="col-xs-2"> 
                            <wm-label caption="Sale Amount" name="label12"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="1" name="gridcolumn57" class="col-xs-1"> 
                            <wm-label caption="Decision" name="label37"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="1" name="gridcolumn58" class="col-xs-1"> 
                            <wm-label caption="Result" name="label38"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn59" class="col-xs-2"> 
                            <wm-label caption="Status" name="label39"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn18" class="reserach-date col-xs-2"> 
                            <wm-label caption="Research Date" name="label14"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow3"> 
                        <wm-gridcolumn name="gridcolumn6"> 
                            <wm-list class="media-list " horizontalalign="left" dataset="bind:Variables.svPortalAuctionHistoryFromPropertyID.dataSet" datafield="All Fields" navigation="On-Demand" listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" navigationalign="left" name="livelist1"> 
                                <wm-listtemplate layout="inline" name="listtemplate1"> 
                                    <wm-layoutgrid columns="6" name="layoutgrid2"> 
                                        <wm-gridrow name="gridrow23" class="content-row"> 
                                            <wm-gridcolumn columnwidth="1" name="gridcolumn60" class="col-xs-1" horizontalalign="center"> 
                                                <wm-label caption="bind:Variables.svPortalAuctionHistoryFromPropertyID.dataSet[$i].auction_year" name="label40_1" conditionalclass="bind:(item.auction_status == 'open' || item.auction_status == 'sie') ? 'label label-warning' : ''"></wm-label> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="1" name="gridcolumn60_1" class="col-xs-1"> 
                                                <wm-label caption="bind:Variables.svPortalAuctionHistoryFromPropertyID.dataSet[$i].code || '-' " name="label40_2"></wm-label> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="2" name="gridcolumn60_2" class="col-xs-2"> 
                                                <wm-label caption="bind:Variables.svPortalAuctionHistoryFromPropertyID.dataSet[$i].market_value | toCurrency: '$' : '0'" name="label40_3"></wm-label> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="2" name="gridcolumn62" class="col-xs-2"> 
                                                <wm-label caption="bind:Variables.svPortalAuctionHistoryFromPropertyID.dataSet[$i].sale_amount | toCurrency: '$': '0'" name="label42"></wm-label> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="1" name="gridcolumn63" class="col-xs-1" horizontalalign="center"> 
                                                <wm-label caption="" name="label43" show="bind:(Variables.svPortalAuctionHistoryFromPropertyID.dataSet[$i].status) ? false : true"></wm-label> 
                                                <wm-picture name="DecisionPicture" show="bind:(Variables.svPortalAuctionHistoryFromPropertyID.dataSet[$i].status) ? true : false" picturesource="bind:'resources/images/imagelists/' + ((item.status == 'approved') ? 'accept.png' : (item.status == 'pending') ? 'pending.png' : 'reject.png')" width="15" height="15"></wm-picture> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="1" name="gridcolumn64" class="col-xs-1"> 
                                                <wm-label caption="bind:Variables.svPortalAuctionHistoryFromPropertyID.dataSet[$i].auction_result" name="label18"></wm-label> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="2" name="gridcolumn65" class="col-xs-2"> 
                                                <wm-label caption="bind:((item.auction_status) ? item.auction_status : '') + ((item.auction_status &amp;&amp; item.disposition_date) ? ' - ' : &quot;&quot;) + (item.disposition_date | toDate: 'MM/dd/yyyy')" name="label17"></wm-label> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="2" name="gridcolumn20" class="col-xs-2 reserach-date"> 
                                                <wm-label caption="bind:Variables.svPortalAuctionHistoryFromPropertyID.dataSet[$i].disposition_research_date | toDate: 'MM/dd/yy'" name="label15"></wm-label> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-listtemplate> 
                            </wm-list> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-layoutgrid name="layoutgrid_mobile" class="layoutgrid-outerborder"> 
        <wm-gridrow padding="unset unset unset unset" name="gridrow21"> 
            <wm-gridcolumn name="gridcolumn1"> 
                <wm-layoutgrid name="layoutgrid2_1" class="tax-and-history-table-header"> 
                    <wm-gridrow name="gridrow2" class="header-row grey-header"> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn56" class="col-xs-2 col-md-2" horizontalalign="center"> 
                            <wm-label caption="Year" horizontalalign="center" name="label36"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="3" name="gridcolumn16" class="col-xs-3 col-md-3"> 
                            <wm-label caption="Sale Amount" name="label12"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn57" class="col-xs-2 col-md-2"> 
                            <wm-label caption="Decision" name="label37"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn58" class="col-xs-2 col-md-2"> 
                            <wm-label caption="Result" name="label38"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="2" name="gridcolumn59" class="col-xs-2 col-md-2"> 
                            <wm-label caption="Status" name="label39"></wm-label> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn class="col-xs-1 col-md-1" name="gridcolumn28" horizontalalign="center" columnwidth="1"> 
                            <wm-label caption="Info" name="label25"></wm-label> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow3"> 
                        <wm-gridcolumn name="gridcolumn6"> 
                            <wm-list class="media-list " horizontalalign="left" dataset="bind:Variables.svPortalAuctionHistoryFromPropertyID.dataSet" datafield="All Fields" navigation="None" listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" navigationalign="left" name="livelist1"> 
                                <wm-listtemplate layout="inline" name="listtemplate1"> 
                                    <wm-layoutgrid columns="6" name="layoutgrid2"> 
                                        <wm-gridrow name="gridrow23" class="content-row"> 
                                            <wm-gridcolumn columnwidth="2" name="gridcolumn60" class="col-xs-2 col-md-2" horizontalalign="center"> 
                                                <wm-label caption="bind:Variables.svPortalAuctionHistoryFromPropertyID.dataSet[$i].auction_year" name="label40_1" conditionalclass="bind:(item.auction_status == 'open' || item.auction_status == 'sie') ? 'label label-warning' : ''"></wm-label> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="3" name="gridcolumn62" class="col-xs-3 col-md-3"> 
                                                <wm-label caption="bind:Variables.svPortalAuctionHistoryFromPropertyID.dataSet[$i].sale_amount | toCurrency: '$': '0'" name="label42"></wm-label> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="2" name="gridcolumn63" class="col-xs-2 col-md-2" horizontalalign="center"> 
                                                <wm-label caption="" show="bind:(Variables.svPortalAuctionHistoryFromPropertyID.dataSet[$i].status) ? false : true" name="label30"></wm-label> 
                                                <wm-picture show="bind:(Variables.svPortalAuctionHistoryFromPropertyID.dataSet[$i].status) ? true : false" picturesource="bind:'resources/images/imagelists/' + ((item.status == 'approved') ? 'accept.png' : (item.status == 'pending') ? 'pending.png' : 'reject.png')" width="15" height="15" name="DecisionPictureMobile"></wm-picture> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="2" name="gridcolumn64" class="col-xs-2 col-md-2"> 
                                                <wm-label caption="bind:Variables.svPortalAuctionHistoryFromPropertyID.dataSet[$i].auction_result" name="label18"></wm-label> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="2" name="gridcolumn65_1" class="col-xs-2 col-md-2"> 
                                                <wm-label caption="bind:((item.auction_status) ? item.auction_status : '') + ((item.auction_status &amp;&amp; item.disposition_date) ? ' - ' : &quot;&quot;) + (item.disposition_date | toDate: 'MM/dd/yyyy')" name="label29"></wm-label> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn class="col-xs-1 col-md-1" name="gridcolumn35" horizontalalign="center" columnwidth="1"> 
                                                <wm-picture name="picture2" picturesource="resources/images/imagelists/information-button.png" width="20px" height="20px" show="false"></wm-picture> 
                                                <wm-popover popoverwidth="240" margin="unset 0.5em" name="popover1" content="HistoryMoreInfo" iconclass="resources/images/imagelists/information-button.png" iconwidth="20px" iconheight="20px" caption="" iconurl="resources/images/imagelists/information-button.png"></wm-popover> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-listtemplate> 
                            </wm-list> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-view class="dialog-view" name="view1"> 
        <wm-dialog dialogtype="design-dialog" modal="true" title="Tax And Sale History Details" iconclass="wi wi-edit" name="TaxAndHistoryDetailsDialog" width="90%" height="90%" on-close="TaxAndHistoryDetailsDialogClose($event, $scope)"> 
            <wm-dialogactions name="dialogactions1" show="false"> 
                <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button1"></wm-button> 
                <wm-button class="btn-primary" caption="Save" name="button2"></wm-button> 
            </wm-dialogactions> 
            <wm-container name="container2" content="TaxAndHistoryDetails"></wm-container> 
        </wm-dialog> 
    </wm-view> 
</wm-partial>