.wm-app .panel-group {
     margin-bottom: 0px;
}

.icon-left{
    float: left;
    width: 140px;
    text-align: right;
    margin: -20px 14px;
    display: inline;
}

.textbold{
  font-weight: bold;  
}