<wm-page data-ng-controller="PropertyDetailsPageController" pagetitle="Property Details" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content">
        <wm-page-content columnwidth="12" name="page_content" padding="unset 1em">
            <wm-layoutgrid name="layoutgrid2">
                <wm-gridrow name="gridrow15_1" padding="unset unset 0em unset">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn27_1" horizontalalign="center">
                        <wm-label padding="unset 0.5em" name="label17_1" caption="Asset Detail" class="h4" color="#313131" fontweight="bold"></wm-label>
                        <wm-label padding="unset 0.5em" name="label13" caption="View:" fontweight="bold"></wm-label>
                        <wm-anchor margin="unset 0.5em" name="anchor2" caption="Tax Auction" textdecoration="underline" class="bottom-2"></wm-anchor>
                        <wm-anchor margin="unset 0.5em" name="anchor3" caption="Tax Certificate" textdecoration="underline" class="bottom-2"></wm-anchor>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow4">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn7">
                        <wm-container content="PropertyInfoHeader" name="container5" height="100px" padding="0em .5em" margin="0px unset">
                            <wm-param name="Property_Id" value="bind:pageParams.PropertyId" type="integer"></wm-param>
                        </wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow7">
                    <wm-gridcolumn columnwidth="5" name="gridcolumn15_1" padding="unset 0.5em">
                        <wm-container content="PhotosAndLinks" padding="unset .5em" name="container17_3">
                            <wm-param name="PropertyID" value="bind:pageParams.PropertyId" type="integer"></wm-param>
                        </wm-container>
                        <wm-container name="container17" content="Financials" margin="0.5em unset unset unset" padding="unset 0.5em"></wm-container>
                        <wm-container content="Documents" name="container19_1" margin="0.5em unset unset unset" padding="unset 0.5em" class="col-md-12">
                            <wm-param name="assetID" value="bind:pageParams.AssetId" type="integer"></wm-param>
                        </wm-container>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="7" name="gridcolumn29_1">
                        <wm-richtexteditor showpreview="false" datavalue="bind:Variables.AssetData.firstRecord.note" name="richtexteditor"></wm-richtexteditor>
                        <wm-container class="panel panel-body" padding=".7em .5em 0em .5em" margin="unset unset 0px unset" name="container20_1">
                            <wm-layoutgrid name="layoutgrid5_1">
                                <wm-gridrow name="gridrow20_1">
                                    <wm-gridcolumn columnwidth="4" padding="unset 1em 1em unset" name="gridcolumn37_1">
                                        <wm-label class="col-md-4 control-label" caption="Batch" name="label25_1" margin="0.5em unset unset unset"></wm-label>
                                        <wm-container class="col-md-8" name="container21_1">
                                            <wm-select datafield="batch" datavalue="bind:Variables.AssetData.firstRecord.batch" name="select_batch" width="87%" dataset="bind:Variables.AssetData.dataSet" displayfield="batch"></wm-select>
                                        </wm-container>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" padding="unset unset 1em unset" name="gridcolumn38_1">
                                        <wm-label class="col-md-4 control-label" caption="Status" name="label26" margin="0.5em unset unset unset"></wm-label>
                                        <wm-container class="col-md-8" width="60%" name="container22_1">
                                            <wm-select dataset="bind:Variables.AssetStatus.dataSet" datafield="id" displayfield="status" datavalue="bind:Variables.DefaultAssetStatus.firstRecord.id" name="select_status"></wm-select>
                                        </wm-container>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" padding="unset 1em 1em unset" name="gridcolumn39_1">
                                        <wm-label class="col-md-4 control-label" caption="Legal Action" name="label27" margin="0.5em unset unset unset" width="40%"></wm-label>
                                        <wm-container class="col-md-8" name="container23_1" width="60%">
                                            <wm-select dataset="bind:Variables.NextCourtAction.dataSet" datafield="id" displayfield="name" datavalue="bind:Variables.AssetData.firstRecord.nextCourtAction" name="select_legal_action"></wm-select>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow21">
                                    <wm-gridcolumn columnwidth="4" padding="unset unset 1em unset" name="gridcolumn40_1">
                                        <wm-label class="col-md-4 control-label" caption="Occupancy" name="label28" margin="0.5em unset unset unset" width="31.5%"></wm-label>
                                        <wm-container class="col-md-8" width="60%" name="container24_1">
                                            <wm-select datavalue="bind:Variables.DefaultOccupancy.firstRecord.id" dataset="bind:Variables.Occupancy.dataSet" datafield="id" displayfield="name" name="select_occupancy" width="91%"></wm-select>
                                        </wm-container>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" padding="unset 1em 1em unset" name="gridcolumn41">
                                        <wm-label class="col-md-4 control-label" caption="Court Date" name="label29" margin="0.5em unset unset unset" width="35%"></wm-label>
                                        <wm-container class="col-md-8" name="container25_1" width="65%">
                                            <wm-date datavalue="bind:Variables.AssetData.firstRecord.nextCourtDate" name="date_court"></wm-date>
                                        </wm-container>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" padding="unset 1em 1em unset" name="gridcolumn42">
                                        <wm-label class="col-md-4 control-label" caption="Deed date" name="label30" margin="0.5em unset unset unset" width="40%"></wm-label>
                                        <wm-container class="col-md-8" name="container26_1" width="60%">
                                            <wm-date datavalue="bind:Variables.AssetData.firstRecord.deedDate" name="date_deed"></wm-date>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow22">
                                    <wm-gridcolumn columnwidth="4" padding="unset 1em 1em unset" name="gridcolumn43">
                                        <wm-layoutgrid name="layoutgrid3">
                                            <wm-gridrow name="gridrow9">
                                                <wm-gridcolumn columnwidth="4" name="gridcolumn17">
                                                    <wm-label class="col-md-4 control-label" caption="Listing" name="label31" margin="0.5em unset unset unset"></wm-label>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="7" name="gridcolumn21">
                                                    <wm-container name="container27">
                                                        <wm-text datavalue="bind:Variables.AssetData.firstRecord.listingUrl" name="text_listing"></wm-text>
                                                    </wm-container>
                                                </wm-gridcolumn>
                                                <wm-gridcolumn columnwidth="1" name="gridcolumn18">
                                                    <wm-anchor margin="unset 0.5em" name="anchor1" caption="" iconclass="wi wi-external-link" hyperlink="bind:Variables.AssetData.firstRecord.listingUrl" target="_blank"></wm-anchor>
                                                </wm-gridcolumn>
                                            </wm-gridrow>
                                        </wm-layoutgrid>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" padding="unset 1em 1em unset" name="gridcolumn44">
                                        <wm-label class="col-md-4 control-label" caption="Open Taxes" name="label32" margin="0.5em unset unset unset" width="35%"></wm-label>
                                        <wm-container class="col-md-8" name="container28" width="65%">
                                            <wm-text datavalue="bind:Variables.AssetData.firstRecord.openTaxes" name="text_opentaxes"></wm-text>
                                        </wm-container>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" padding="unset 1em 1em unset" name="gridcolumn45">
                                        <wm-label class="col-md-4 control-label" caption="Incl Taxes" name="label33" margin="0.5em unset unset unset" width="40%"></wm-label>
                                        <wm-container class="col-md-8" name="container29" width="60%">
                                            <wm-text name="text_inc_taxes"></wm-text>
                                        </wm-container>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow10">
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn20">
                                        <wm-label class="col-md-4 control-label" caption="Gas" margin="0.5em unset unset unset" name="label11" width="31.5%"></wm-label>
                                        <wm-container class="col-md-8" name="container17_1">
                                            <wm-text datavalue="bind:Variables.AssetData.firstRecord.gas" name="text_gas" width="83%"></wm-text>
                                        </wm-container>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn21_1">
                                        <wm-label class="col-md-4 control-label" caption="Electric" margin="0.5em unset unset unset" name="label12"></wm-label>
                                        <wm-container class="col-md-8" name="container18">
                                            <wm-text datavalue="bind:Variables.AssetData.dataSet.data[$i].electric" name="text_electric" width="92%"></wm-text>
                                        </wm-container>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="4" name="gridcolumn22"></wm-gridcolumn>
                                </wm-gridrow>
                                <wm-gridrow name="gridrow23">
                                    <wm-gridcolumn columnwidth="12" padding=".5em unset unset unset" name="gridcolumn46">
                                        <wm-button class="btn-primary pull-right app-button" caption="SAVE" type="button" margin="unset 0.5em" padding="0.25em 1em" on-click="Variables.updateAsset.updateRecord()" fontsize="0.87" fontunit="em" name="button4"></wm-button>
                                        <wm-button class="btn-default pull-right app-button" caption="CANCEL" type="button" margin="unset 0.5em 0.5em 0.5em" borderwidth="unset 1em unset unset" on-click="Actions.goToPage_Properties.invoke()"
                                            fontsize="0.87" fontunit="em" padding="0.25em 0em 0.25em unset" name="button5" show="false"></wm-button>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-container>
                        <wm-container content="DealsPartial" name="container30" margin="0.5em unset unset unset" padding="0.5px unset 0.5px 0.5px">
                            <wm-param name="Asset_ID" value="bind:pageParams.AssetId" type="integer"></wm-param>
                            <wm-param name="Contact_ID" value="null" type="integer"></wm-param>
                        </wm-container>
                        <wm-container content="TaskPartial" padding="0.5em 0.5em .5em 0.5em" name="container31" margin="0.5em unset unset unset">
                            <wm-param name="propertyId" value="bind:pageParams.PropertyId" type="integer"></wm-param>
                            <wm-param name="assetId" value="bind:pageParams.AssetId" type="integer"></wm-param>
                        </wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow8_1">
                    <wm-gridcolumn columnwidth="6" name="gridcolumn28_1"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="6" name="gridcolumn18_1"></wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
    <wm-view class="dialog-view" name="view2">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Add Mutliple Tasks" iconclass="wi wi-file-text" name="dialog_add_multipleuser">
            <wm-dialogactions name="dialogactions2">
                <wm-button class="btn-primary" caption="close" on-click="closeDialog()" name="button2"></wm-button>
            </wm-dialogactions>
            <wm-table name="NoteTable" title="" dataset="bind:Variables.PlatformNoteData.dataSet" navigation="Basic" radioselect="false" multiselect="true">
                <wm-table-column binding="comments" caption="Note" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false"></wm-table-column>
                <wm-table-column binding="noteType.type" caption="Type" primary-key="false" edit-widget-type="text" related-entity-name="NoteType" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="noteType.name" caption="Name" primary-key="false" edit-widget-type="text" related-entity-name="NoteType" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
                <wm-table-column binding="userByUserId.email" caption="Id Email" primary-key="false" edit-widget-type="text" related-entity-name="User" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
                <wm-table-action key="customButton" display-name="Save" show="true" class="btn-secondary" iconclass="" title="Custom button" action="customButtonAction($event,$scope)" shortcutkey="" disabled="false"></wm-table-action>
            </wm-table>
        </wm-dialog>
    </wm-view>
</wm-page>