<wm-partial data-ng-controller="DocumentsPageController" name="partial1">
    <wm-layoutgrid name="title_header_blue_bg">
        <wm-gridrow class="custom-container partyheader tax-blue-header" name="gridrow16">
            <wm-gridcolumn name="gridcolumn31" columnwidth="10" class="document">
                <wm-button caption="Documents" class="btn-disbursement" name="button1" horizontalalign="left" cursor="none"></wm-button>
                <wm-button class="btn-disbursement pull-right" caption="Add Doc" type="button" name="button6" height="100%" iconclass="wi wi-cloud-upload" iconwidth="20px" iconheight="20px" iconposition="right" on-click="Widgets.UploadPdfDialog.open()"
                    margin="unset unset unset 0.5em"></wm-button>
                <wm-button caption="" type="button" name="GeneratePdfBtn" margin="unset unset unset 0.5em" on-click="GeneratePdfBtnClick($event, $scope)" horizontalalign="center" class="btn-disbursement pull-right" iconurl="resources/images/imagelists/plus.png"
                    iconposition="right" disabled="bind:!Widgets.Template.datavalue"></wm-button>
                <wm-select name="Template" width="30%" class="document-select" dataset="bind:Variables.svQryPdfTemplate.dataSet" datafield="All Fields" displayfield="name" placeholder="Template"></wm-select>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="2" name="gridcolumn8" horizontalalign="center">
                <wm-layoutgrid name="plusminuslayout">
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn name="gridcolumn7_1" horizontalalign="center" columnwidth="NaN">
                            <wm-button id="minus_btndocument" class=" btn-disbursement" caption="" type="button" margin="unset 0.5em" name="buttonMinusParties" iconclass="wi wi-minus fa-lg" on-click="buttonMinusDocumentsClick('minus_btndocument')" horizontalalign="center"></wm-button>
                            <wm-button id="plus_btndocument" class=" btn-disbursement" caption="" type="button" margin="unset 0.5em" name="buttonPlusParties" iconclass="wi wi-plus" on-click="buttonMinusDocumentsClick('plus_btndocument')"></wm-button>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
    <wm-list listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list" datafield="All Fields" dataset="bind:Variables.PlatformPdfData.dataSet" navigation="None" name="DocumentLiveList" show="true"
        title="">
        <wm-listtemplate layout="inline" name="listtemplate1">
            <wm-container class="media-body" name="container2">
                <wm-label class="col-md-3 col-sm-3 col-xs-3" name="Name" caption="bind:Variables.PlatformPdfData.dataSet.pdfTemplate.name" fontunit="em" padding="0.4em unset unset 1.25em"></wm-label>
                <wm-label padding="0.4em 0.5em unset 0.5em" name="fileName" class="col-md-5 col-sm-5 col-xs-5" caption="bind:Variables.PlatformPdfData.dataSet.data[$i].name"></wm-label>
                <wm-label class="col-md-2 col-sm-2 col-xs-2" caption="bind:Variables.PlatformPdfData.dataSet.data[$i].createdTimestamp | toDate: 'MM/dd/yy'" fontunit="em" padding="0.4em unset unset 1.25em" name="label2"></wm-label>
                <wm-anchor name="Link" iconurl="resources/images/imagelists/pdf__1_.png" caption="" target="_blank" hyperlink="bind:getEscapedUrl(item)" iconwidth="25px" iconheight="25px" class="col-md-1 col-sm-1 col-xs-1 btn-default btn-pdf"></wm-anchor>
                <wm-button class="col-md-1 col-sm-1 col-xs-1 btn-default btn-pdf" caption="" type="button" name="button7" iconclass="" iconurl="resources/images/imagelists/trush.png" on-click="Widgets.deleteBlobFromAzure.open()"></wm-button>
            </wm-container>
        </wm-listtemplate>
    </wm-list>
    <wm-container name="GeneratePdfContainer" show="false"></wm-container>
    <wm-view class="dialog-view" name="view3">
        <wm-pagedialog name="UploadPdfDialog" title="Upload Pdf" oktext="Upload" content="UploadPdf" modal="true" showactions="false" keyboard="false" iconclass="wi wi-insert-drive-file" class="takephoto-modaldialog">
            <wm-param name="assetID" value="bind:pageParams.assetID" type="integer"></wm-param>
        </wm-pagedialog>
    </wm-view>
    <wm-view class="dialog-view" name="view2">
        <wm-confirmdialog name="deleteBlobFromAzure" title="Delete Template Document" message="Are you sure you want to delete the template document?" oktext="Delete" canceltext="Cancel" class="delete-dialog" showactions="false" on-ok="Variables.svDeleteBlobFromAzure.invoke()"
            on-cancel="Widgets.deleteBlobFromAzure.close()"></wm-confirmdialog>
    </wm-view>
</wm-partial>