.wm-app .document .document-select{
    display: inline !important;
    float: right !important;
}
.wm-app .document{
    display: inline !important;
}
.wm-app .document .document-select.form-control{
    height: 25px !important;
    padding: 0px !important;
}
.wm-app .btn-pdf{
    background-color: inherit !important;
    border: none !important;
    padding: 5px !important;
}