<wm-partial data-ng-controller="NotesPageController" name="partial1">
    <wm-layoutgrid name="layoutgrid1">
        <wm-gridrow name="gridrow2">
            <wm-gridcolumn columnwidth="12" name="gridcolumn3">
                <wm-layoutgrid name="All_Tags_Container_Layout" show="false">
                    <wm-gridrow name="gridrow2_1">
                        <wm-gridcolumn name="gridcolumn2">
                            <wm-container name="TagsContainer" padding="unset unset 10px unset"></wm-container>
                        </wm-gridcolumn>
                    </wm-gridrow>
                </wm-layoutgrid>
                <wm-layoutgrid name="layoutgrid2" class="layoutgrid-outerborder layoutgrid-outerborder1">
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn name="gridcolumn3_3" class="tax-blue-header">
                            <wm-switch name="NotesSwitch" dataset="All, Open, Archive" class="NotesSwitch tax-blue-header" on-change="NotesSwitchChange($event, $scope, newVal, oldVal)"></wm-switch>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3_1">
                        <wm-gridcolumn name="gridcolumn3_2">
                            <wm-layoutgrid name="layoutgrid4">
                                <wm-gridrow name="gridrow3" class="notes-table-header header-row user-table-header  grey-header">
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn3_1" class="user-table1 col-xs-3">
                                        <wm-label caption="User" name="label1"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn4" class="user-table1 col-xs-2">
                                        <wm-label caption="Created" name="label2"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="2" name="gridcolumn5" class="user-table1 col-xs-2">
                                        <wm-label caption="Done" name="label3"></wm-label>
                                    </wm-gridcolumn>
                                    <wm-gridcolumn columnwidth="6" name="gridcolumn6" class="user-table1 col-xs-4">
                                        <wm-label caption="Type" name="label4"></wm-label>
                                    </wm-gridcolumn>
                                </wm-gridrow>
                            </wm-layoutgrid>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridcolumn columnwidth="12" name="NotesContent" class="NotesContentHeight">
                        <wm-list class="media-list NotesTable" dataset="bind:Variables.svPortalAuctionNotes.dataSet" navigation="Basic" listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" name="NotesLiveList"
                            navigationalign="left" showrecordcount="true" selectionlimit="3">
                            <wm-listtemplate layout="inline" name="listtemplate1">
                                <wm-layoutgrid name="layoutgrid3">
                                    <wm-gridrow name="gridrow5" class="content-row user-table-content">
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn8" class="col-xs-3">
                                            <wm-label caption="bind:Variables.svPortalAuctionNotes.dataSet[$i].user" name="label5"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn9" class="col-xs-2">
                                            <wm-label caption="bind:Variables.svPortalAuctionNotes.dataSet[$i].created_timestamp | toDate: 'MM/dd/yy'" name="label6"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="2" name="gridcolumn10" class="col-xs-2">
                                            <wm-label caption="bind:Variables.svPortalAuctionNotes.dataSet[$i].done_timestamp | toDate: 'MM/dd/yy'" name="label7"></wm-label>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="5" name="gridcolumn11" class="col-xs-4">
                                            <wm-label caption="bind:Variables.svPortalAuctionNotes.dataSet[$i].note_description" name="label8" show="bind:Variables.svPortalAuctionNotes.dataSet[$i].note_description.length <= 20"></wm-label>
                                            <wm-popover popoverwidth="240" name="popover1" content="NotesPopover" caption="bind:Variables.svPortalAuctionNotes.dataSet[$i].note_description" on-show="popover1Show($event, $isolateScope, item, currentItemWidgets)"
                                                show="bind:Variables.svPortalAuctionNotes.dataSet[$i].note_description.length > 20" class="long-text-popover"></wm-popover>
                                        </wm-gridcolumn>
                                        <wm-gridcolumn columnwidth="1" name="gridcolumn35" horizontalalign="center" class="notespopover col-xs-1">
                                            <!--<wm-picture name="picture2" picturesource="resources/images/imagelists/information-button.png" width="20px" height="20px" show="true"></wm-picture>-->
                                            <wm-anchor margin="0em 0.5em 0.5em 0.5em" name="ArchiveAnchor" iconclass="wi wi-archive fa-lg" caption="" color="#000" show="bind:(!Variables.svPortalAuctionNotes.dataSet[$i].done_timestamp &amp;&amp; Variables.svPortalAuctionNotes.dataSet[$i].type == 'Note')"
                                                on-click="Widgets.ConfirmArchiveDialog.open()"></wm-anchor>
                                        </wm-gridcolumn>
                                    </wm-gridrow>
                                </wm-layoutgrid>
                            </wm-listtemplate>
                        </wm-list>
                    </wm-gridcolumn>
                </wm-layoutgrid>
                <wm-popover popoverwidth="240" popoverheight="360" margin="unset 0.5em" name="popover2" caption="bind:(activePageName == 'inspect') + 'activePageName' + activePageName" show="false"></wm-popover>
            </wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
    <wm-view class="dialog-view" name="view1">
        <wm-confirmdialog name="ConfirmArchiveDialog" message="Are you sure you want to archive this note?" title="Confirm" on-ok="Variables.svQryUpdateArchiveNote.invoke()"></wm-confirmdialog>
    </wm-view>
</wm-partial>