html, body {
  overflow-x:hidden 
}
.wm-app .NotesTable.app-livelist label{
    word-break: initial !important;
    white-space:nowrap !important;
}
.user-table1{
    margin-bottom: 0px !important;
}
.wm-app .layoutgrid-outerborder .Basic .pagination > li > a{
    border: none !important;
    padding-left: 5px !important;
}
.wm-app .layoutgrid-outerborder .Basic .pagination-page .app-datanavigator > ul > li > a{
    padding: 5px !important;border: none !important;
}
.wm-app .NotesTable .pagination > li > a{
    line-height: 0px !important;
}
.wm-app .layoutgrid-outerborder .Basic .app-datanavigator{
    /*    padding-top: 1em !important;*/
    /*padding-bottom: 0.5em !important;*/
    border: none !important;
}
.wm-app .totalcount.disabled.basiccount .app-datanavigator > ul > li > a{
    /*padding: 5px !important;*/
    padding-top: 12px !important;
}
.wm-app .link-existing-party-pager .panel-footer{
    padding:0px !important;
}
.NotesContentHeight{
    overflow-y: auto !important;
}
.wm-app .layoutgrid-outerborder .NotesTable.Basic li .notespopover a{
    padding-top: 0px !important;
}
.wm-app .layoutgrid-outerborder .NotesTable.Basic li .notespopover img{
    width: 17px !important;
    height:17px !important;
}
.wm-app .layoutgrid-outerborder .Basic li a{
    padding-top: 12px !important;
    /*padding: 3px !important;*/
    border: none !important;
}
.wm-app .layoutgrid-outerborder.layoutgrid-outerborder1{
    border: none !important;
}
.wm-app .NotesSwitch.app-switch{
border-radius: 0px !important;
}
.wm-app .NotesSwitch.app-switch .btn-group>.btn{
border-radius: 0px !important;
height:35px;
}
.wm-app .NotesSwitch .btn{
    padding:6px !important;
    text-transform: capitalize !important;
}
.wm-app .app-popover.popover.bottom{
    min-height: auto !important;
}

.long-text-popover {
    word-break: initial;
    white-space: nowrap;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.wm-app .layoutgrid-outerborder .Basic li a.long-text-popover {
    padding-top: 0px !important;
}