<wm-partial data-ng-controller="leftnav_portalPageController" type="leftnav" name="partial1">
    <wm-panel iconclass="" autoclose="outsideClick" title="Title" name="panel1">
        <wm-calendar name="calendar2"></wm-calendar>
    </wm-panel>
    <wm-container name="container1" content="CreateTask"></wm-container>
</wm-partial>