<wm-partial data-ng-controller="MapPageController" name="partial1"> 
    <wm-html horizontalalign="center" name="html1"> 
        <div id="gMapsDiv" style="height: 1000px"> 
            <h3>Map loads here</h3> 
        </div> 
    </wm-html> 
</wm-partial>