.gen-pdf{
    padding-bottom: 1em !important;
}
.wm-app .btn-primary.btn.app-button.search-pdf{
    padding: 6px !important;
    border-radius: 2px !important;
}
.wm-app .table-bordered.table-striped.table-hover.pdf-filter .app-datagrid-cell{
    vertical-align: top !important;
    text-align: center !important;
}
.wm-app .resultpdf.app-grid.panel{
    padding-top: 1em !important;
}
.wm-app .releasedate.app-date.input-group{
    max-width: 100% !important;
}
.wm-app .rightcolumn-pdf{
    border: 1px solid #b8b8b8 !important;
}
.wm-app .pdfresult-border{
     border: 1px solid #b8b8b8 !important;
     margin-top:1em !important;
     padding-top:0.5em !important;
}
.wm-app .leftcolumn-pdf{
    padding-right: 1em !important;
    padding-left: 1em !important;
}
.wm-app .grey-bg-pdf{
    background-color: #cfcfcf !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
        padding-right: 0.5em !important;
}
.wm-app .panelpdf.panel-heading{
    display: block !important;
}
.wm-app .btn-minus:hover{
    color: inherit !important;
}
.search-result {
    background-color: #fff;
    padding: 12px;
    margin-left: 8px;
}
.link-style {
    text-transform: lowercase !important;
}
.link-style-2 {
    text-transform: lowercase;
    color: #0000ff;
}
.link-style-2:hover {
    text-decoration: underline;
    cursor: pointer;
}