<wm-page data-ng-controller="GeneratePdfPageController" pagetitle="Newline Portal - Admin" name="page1"> 
    <wm-content name="content1" class="pdfcontent"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-label padding="unset 0.5em" name="label1" width="100%" caption="Generate PDF" class="h2" horizontalalign="center"></wm-label> 
            <wm-layoutgrid name="layoutgrid1_1"> 
                <wm-gridrow name="gridrow1_1"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn1_1" class="leftcolumn-pdf"> 
                        <wm-layoutgrid name="layoutgrid1" class="gen-pdf"> 
                            <wm-gridrow name="gridrow1"> 
                                <wm-gridcolumn name="gridcolumn1" columnwidth="19"> 
                                    <wm-composite name="composite1"> 
                                        <wm-label class="col-md-6 control-label" name="label2" caption="Template"></wm-label> 
                                        <wm-container class="col-md-6" name="container1"> 
                                            <wm-select name="Template" placeholder="Select Template" dataset="bind:Variables.lvTemplates.dataSet" datafield="All Fields" displayfield="name"></wm-select> 
                                        </wm-container> 
                                    </wm-composite> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                            <wm-gridrow class="grey-bg-pdf" name="gridrow3_1"> 
                                <wm-gridcolumn name="gridcolumn3_2"> 
                                    <wm-gridrow name="gridrow3_2" padding="unset unset .9em 1em"> 
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn3"> 
                                            <wm-label caption="Portfolio" name="label3" fontweight="bold"></wm-label> 
                                        </wm-gridcolumn> 
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn4"> 
                                            <wm-container class="col-md-6" name="container2" padding="unset 10px unset unset"> 
                                                <wm-select name="County" dataset="bind:Variables.svQryCounty.dataSet" datafield="county_name" displayfield="county_name" placeholder="County"></wm-select> 
                                            </wm-container> 
                                            <wm-container class="col-md-6" name="container3"> 
                                                <wm-select name="TaxYear" placeholder="TaxYear" dataset="bind:Variables.svTaxYear.dataSet" datafield="tax_year" displayfield="tax_year" orderby="tax_year:desc"></wm-select> 
                                            </wm-container> 
                                        </wm-gridcolumn> 
                                    </wm-gridrow> 
                                    <wm-gridrow name="gridrow3_2_1" padding="unset unset .9em 1em"> 
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn3_1"> 
                                            <wm-label caption="Volume" name="label3_1" fontweight="bold"></wm-label> 
                                        </wm-gridcolumn> 
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn4_1"> 
                                            <wm-container class="col-md-6" name="container2_1" padding="unset 10px unset unset"> 
                                                <wm-select name="select4" placeholder="From"></wm-select> 
                                            </wm-container> 
                                            <wm-container class="col-md-6" name="container3_1"> 
                                                <wm-select name="select5" placeholder="To"></wm-select> 
                                            </wm-container> 
                                        </wm-gridcolumn> 
                                    </wm-gridrow> 
                                    <wm-gridrow name="gridrow4" padding="unset unset .9em 1em"> 
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn5_1"> 
                                            <wm-label caption="Release Date" name="label3_1" fontweight="bold"></wm-label> 
                                        </wm-gridcolumn> 
                                        <wm-gridcolumn columnwidth="6" name="gridcolumn6_1"> 
                                            <wm-container name="container8" class="col-md-6" padding="unset 10px unset unset"> 
                                                <wm-date name="release_date_start" class="releasedate"></wm-date> 
                                            </wm-container> 
                                            <wm-container class="col-md-6" name="container7"> 
                                                <wm-date name="release_date_end" class="releasedate"></wm-date> 
                                            </wm-container> 
                                        </wm-gridcolumn> 
                                    </wm-gridrow> 
                                    <wm-gridrow name="gridrow3_1" style="display:none"> 
                                        <wm-gridcolumn name="gridcolumn2" padding="unset unset unset 1em"> 
                                            <wm-composite name="composite8"> 
                                                <wm-label class="col-md-6 control-label" name="label9" caption="Certificate Id"></wm-label> 
                                                <wm-container class="col-md-6" name="container9"> 
                                                    <wm-text name="certificateId"></wm-text> 
                                                </wm-container> 
                                            </wm-composite> 
                                        </wm-gridcolumn> 
                                    </wm-gridrow> 
                                    <wm-gridrow name="gridrow5_1"> 
                                        <wm-gridcolumn name="gridcolumn9" padding="unset unset unset 14px"> 
                                            <wm-composite name="composite6_1"> 
                                                <wm-label class="col-md-6 control-label" caption="Disbursement Date" name="label7_1"></wm-label> 
                                                <wm-container class="col-md-3 col-offset-3 pull-right" name="container6_1"> 
                                                    <wm-select dataset="bind:Variables.svQryDisbursementDate.dataSet" datafield="payment_date" displayfield="payment_date" placeholder="Date" name="disbursement_date"></wm-select> 
                                                </wm-container> 
                                            </wm-composite> 
                                        </wm-gridcolumn> 
                                    </wm-gridrow> 
                                    <wm-gridrow name="gridrow7_1"> 
                                        <wm-gridcolumn name="gridcolumn10_1" padding="unset unset unset 1em"> 
                                            <wm-composite name="composite6"> 
                                                <wm-label class="col-md-6 control-label" name="label7" caption="Expiration Date"></wm-label> 
                                                <wm-container class="col-md-3 col-offset-3 pull-right" name="container6"> 
                                                    <wm-select name="expiration_date" dataset="bind:Variables.svQryCertificateExpirationDate.dataSet" datafield="expiration_date" displayfield="expiration_date" orderby="expiration_date:desc" placeholder="Date"></wm-select> 
                                                </wm-container> 
                                            </wm-composite> 
                                        </wm-gridcolumn> 
                                    </wm-gridrow> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                            <wm-gridrow name="gridrow7" padding="1em unset unset unset"> 
                                <wm-gridcolumn columnwidth="12" name="gridcolumn13" padding="unset unset unset 1em"> 
                                    <wm-composite name="composite9"> 
                                        <wm-label class="col-md-6 control-label" name="label10" caption="CSS"></wm-label> 
                                        <wm-container class="col-md-6" name="container10"> 
                                            <wm-textarea name="Css" placeholder="Place your CSS" datavalue="@page { size: 8.5in 11in; margin: 10%; }   .page-break { page-break-before: always; }"></wm-textarea> 
                                        </wm-container> 
                                    </wm-composite> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                            <wm-gridrow name="gridrow3" padding="1em unset unset unset"> 
                                <wm-gridcolumn columnwidth="6" name="gridcolumn6" horizontalalign="left" padding="unset unset unset 8px"> 
                                    <wm-button class="btn-primary search-pdf" caption="Search" type="button" margin="unset 0.5em" name="SearchBtn" on-click="Variables.PlatformExecuteProcPdfFilter.invoke();SearchBtnClick($event, $scope)" disabled="bind:!Widgets.Template.datavalue.id" iconclass="wi wi-search fa-2x" iconposition="right"></wm-button> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="6" name="gridcolumn5" horizontalalign="left"> 
                                    <wm-label padding="unset 0.5em" name="label11_1" class="search-result" caption="bind:(Variables.PlatformExecuteProcPdfFilter.dataSet.content.length || 0) + &quot; Certificates Found&quot;"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                            <wm-gridrow name="gridrow12" padding="1em unset unset unset" class="pdfresult-border"> 
                                <wm-gridcolumn columnwidth="12" name="gridcolumn10" padding="unset unset unset 8px"> 
                                    <wm-layoutgrid name="layoutgrid3"> 
                                        <wm-gridrow name="gridrow13_1"> 
                                            <wm-gridcolumn name="gridcolumn17"> 
                                                <wm-button class="search-pdf btn-primary" caption="Generate PDF" type="button" margin="unset 0.5em" name="GeneratePdfBtn" disabled="bind:Widgets.TemplateResultGrid.selecteditem.length === 0 &amp;&amp; $scope.Widgets.chkSelectAll.datavalue == false" on-click="GeneratePdfBtnClick($event, $scope)" iconclass="" iconposition="right" iconurl="resources/images/imagelists/pdf.png" iconwidth="25px" iconheight="25px" padding="unset unset unset 8px"></wm-button> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn name="gridcolumn18"> 
                                                <wm-checkbox caption="Select All" class="col-md-6" name="chkSelectAll" datavalue="true"></wm-checkbox> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn name="gridcolumn19"> 
                                                <wm-checkbox caption="Batch" class=" col-md-6" name="chkBatch" datavalue="true"></wm-checkbox> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn name="gridcolumn20"> 
                                                <wm-container name="plusminuslayoutpdf" horizontalalign="center" class="plusminuslayout"> 
                                                    <wm-button id="minus_btn_pdf" class="btn-minus" caption="" type="button" margin="unset 0.5em unset unset" name="buttonminus" iconclass="wi wi-minus fa-lg" on-click="buttonminusClick('minus_btn_pdf')" horizontalalign="center"></wm-button> 
                                                    <wm-button id="plus_btn_pdf" class="btn-minus" caption="" type="button" margin="unset 0.5em" name="buttonplus" iconclass="wi wi-plus" on-click="buttonminusClick('plus_btn_pdf')"></wm-button> 
                                                </wm-container> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                            <wm-gridrow padding="1em unset unset unset" name="gridrow14"> 
                                <wm-gridcolumn name="gc12"> 
                                    <wm-layoutgrid name="resultgridpdf"> 
                                        <wm-gridrow name="gridrow13"> 
                                            <wm-gridcolumn name="gridcolumn15_1" horizontalalign="center" columnwidth="NaN"> 
                                                <wm-label caption="Results" name="label11" fontweight="bold" textalign="center" fontsize="15"></wm-label> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                        <wm-gridrow name="gridrow16_1"> 
                                            <wm-gridcolumn name="gridcolumn23_1"> 
                                                <wm-table title="" dataset="bind:Variables.PlatformExecuteProcPdfFilter.dataSet.content" navigation="Classic" name="TemplateResultGrid" radioselect="false" multiselect="true" showrecordcount="true" show="true" gridclass="table-bordered table-striped table-hover pdf-filter"></wm-table> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                            <wm-layoutgrid name="layoutgrid5"> 
                                <wm-gridrow name="gridrow16"> 
                                    <wm-gridcolumn name="gridcolumn23" padding="unset 0.5em"> 
                                        <wm-table title="" dataset="bind:Variables.resultPdf.dataSet" navigation="Classic" name="resultPdf" class="resultpdf" show="false"> 
                                            <wm-table-column binding="certificateId" caption="Certificate Id" type="string" width="30%" readonly="true" col-class="col-md-3" edit-widget-type="text" show="true"></wm-table-column> 
                                            <wm-table-column binding="url" caption="Url" type="string" widget-type="anchor" width="70%" readonly="true" col-class="col-md-9" edit-widget-type="text" show="true"> 
                                                <wm-anchor caption="{{row.getProperty('url')}}" hyperlink="{{row.getProperty('escapedUrl')}}" class="btn-link link-style" data-ng-class="" target="_blank"></wm-anchor> 
                                            </wm-table-column> 
                                        </wm-table> 
                                        <wm-anchor name="resultPdfLabel" caption="bind:Variables.resultPdf.dataSet[$i].url" hyperlink="bind:Variables.resultPdf.dataSet[$i].escapedUrl" target="_blank" padding="unset 0.5em" class="search-result link-style-2" show="false"></wm-anchor> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-layoutgrid> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
            <wm-spinner show="false" name="spinner1" caption="Generating PDF..."></wm-spinner> 
        </wm-page-content> 
    </wm-content> 
</wm-page>