<wm-page data-ng-controller="AddEditStatesPageController" pagetitle="Newline Portal - Admin" name="page1"> 
    <wm-content name="content1" class="pdfcontent"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-livefilter title="States List" dataset="bind:Variables.PlatformStateData.dataSet" captionalign="left" captionposition="left" name="livefilter1" iconclass="" class="buyer-header"> 
                <wm-layoutgrid columns="1" name="layoutgrid2"> 
                    <wm-gridrow name="gridrow8"> 
                        <wm-gridcolumn columnwidth="6" show="true" name="gridcolumn8"> 
                            <wm-filter-field name="state" field="state" displayname="State" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
                <wm-filter-action key="filter" class="btn-primary" iconclass="wi wi-filter-list" action="filter()" display-name="Filter" show="true" type="button"></wm-filter-action> 
                <wm-filter-action key="clear" class="btn-secondary" iconclass="wi wi-cancel" action="clearFilter()" display-name="Clear" show="true" type="button"></wm-filter-action> 
            </wm-livefilter> 
            <wm-livetable formlayout="dialog" name="livegrid2"> 
                <wm-table gridfirstrowselect="true" editmode="dialog" title="" dataset="bind:Widgets.livefilter1.result" navigation="Classic" name="grid2"> 
                    <wm-table-column binding="id" caption="Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" readonly="true"></wm-table-column> 
                    <wm-table-column binding="state" caption="State" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column> 
                    <wm-table-column binding="interestType" caption="Interest Type" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column> 
                    <wm-table-column binding="frequency" caption="Frequency" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column> 
                    <wm-table-column binding="certPeriod" caption="Cert Period" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-table-column> 
                    <wm-table-column binding="subPeriod" caption="Sub Period" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-table-column> 
                    <wm-table-column binding="subRate" caption="Sub Rate" generator="assigned" pcdisplay="true" mobiledisplay="true" type="big_decimal"></wm-table-column> 
                    <wm-table-column binding="termMonths" caption="Term Months" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer"></wm-table-column> 
                    <wm-table-column binding="active" caption="Active" generator="assigned" pcdisplay="true" mobiledisplay="true" type="boolean"></wm-table-column> 
                    <wm-table-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-table-action> 
                    <wm-table-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-table-row-action> 
                    <wm-table-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-table-row-action> 
                </wm-table> 
                <wm-liveform novalidate="false" errormessage="" title="Add State" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Widgets.livefilter1.result" captionalign="left" captionposition="left" name="liveform2"> 
                    <wm-layoutgrid columns="1" name="layoutgrid3"> 
                        <wm-gridrow name="gridrow9"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn9"> 
                                <wm-form-field name="state" displayname="State" required="true" show="true" generator="assigned" primary-key="false" key="state" type="string" is-related="false" maxchars="2" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow10"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn10"> 
                                <wm-form-field name="interestType" displayname="Interest Type" required="false" show="true" generator="assigned" primary-key="false" key="interestType" type="string" is-related="false" maxchars="9" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow11"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn11"> 
                                <wm-form-field name="frequency" displayname="Frequency" required="false" show="true" generator="assigned" primary-key="false" key="frequency" type="string" is-related="false" maxchars="2" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow12"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn12"> 
                                <wm-form-field name="certPeriod" displayname="Cert Period" required="false" show="true" generator="assigned" primary-key="false" key="certPeriod" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow13"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn13"> 
                                <wm-form-field name="subPeriod" displayname="Sub Period" required="false" show="true" generator="assigned" primary-key="false" key="subPeriod" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow14"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn14"> 
                                <wm-form-field name="subRate" displayname="Sub Rate" required="false" show="true" generator="assigned" primary-key="false" key="subRate" type="big_decimal" is-related="false" step="1e-9" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow15"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn15"> 
                                <wm-form-field name="termMonths" displayname="Term Months" required="false" show="true" generator="assigned" primary-key="false" key="termMonths" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow16"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn16"> 
                                <wm-form-field name="active" displayname="Active" required="false" show="true" generator="assigned" primary-key="false" key="active" type="boolean" is-related="false" pc-display="true" mobile-display="true" widget="checkbox" defaultvalue="false"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                    <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field> 
                    <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action> 
                    <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action> 
                </wm-liveform> 
            </wm-livetable> 
        </wm-page-content> 
    </wm-content> 
</wm-page>