<wm-page data-ng-controller="AddEditBuyerPageController" pagetitle="Newline Portal - Admin" name="page1"> 
    <wm-content name="content1" class="pdfcontent"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-livefilter title="Buyer List" dataset="bind:Variables.PlatformBuyerData1.dataSet" captionalign="left" captionposition="left" name="livefilter2" class="buyer-header" iconclass=""> 
                <wm-layoutgrid columns="2" name="layoutgrid3_1"> 
                    <wm-gridrow name="gridrow11_1"> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn12_1"> 
                            <wm-filter-field name="id" field="id" displayname="Id" widget="number" is-range="false" type="integer" is-primary-key="true" generator="identity" show="true" inputtype="number" key="id" placeholder="Enter value"></wm-filter-field> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn13_1"> 
                            <wm-filter-field name="buyerName" field="buyerName" displayname="Buyer Name" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="buyerName" placeholder="Enter value" matchmode="start"></wm-filter-field> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <wm-gridrow name="gridrow12_1"> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn14_1"> 
                            <wm-filter-field name="buyerGroup" field="buyerGroup" displayname="Buyer Group" widget="text" lookup-type="BuyerGroup" lookup-field="groupName" is-related="true" related-entity-name="BuyerGroup" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" key="buyerGroup" placeholder="Enter value"></wm-filter-field> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
                <wm-filter-action key="filter" display-name="Filter" show="true" class="btn-primary" iconclass="wi wi-filter-list" title="Filter" action="filter()" disabled="false" type="button"></wm-filter-action> 
                <wm-filter-action key="clear" display-name="Clear" show="true" class="btn-secondary" iconclass="wi wi-cancel" title="Clear" action="clearFilter()" disabled="false" type="button"></wm-filter-action> 
            </wm-livefilter> 
            <wm-livetable formlayout="dialog" name="livegrid2_1"> 
                <wm-table gridfirstrowselect="true" editmode="dialog" title="" dataset="bind:Widgets.livefilter2.result" navigation="Classic" name="grid2_1" class="addedit-grid"> 
                    <wm-table-column binding="id" caption="Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" readonly="true"></wm-table-column> 
                    <wm-table-column binding="buyerName" caption="Buyer Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column> 
                    <wm-table-column binding="externalId" caption="External Id" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column> 
                    <wm-table-column binding="cook2010" caption="Cook2010" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double"></wm-table-column> 
                    <wm-table-column binding="cook2011" caption="Cook2011" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double"></wm-table-column> 
                    <wm-table-column binding="cook2012" caption="Cook2012" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double"></wm-table-column> 
                    <wm-table-column binding="cook2013" caption="Cook2013" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double"></wm-table-column> 
                    <wm-table-column binding="cook2014" caption="Cook2014" generator="assigned" pcdisplay="true" mobiledisplay="true" type="double"></wm-table-column> 
                    <wm-table-column binding="buyerGroup.groupName" caption="Group Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" related-entity-name="BuyerGroup" readonly="true"></wm-table-column> 
                    <wm-table-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-table-action> 
                    <wm-table-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-table-row-action> 
                    <wm-table-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-table-row-action> 
                </wm-table> 
                <wm-liveform novalidate="false" errormessage="" title="Add Buyer" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Widgets.livefilter2.result" captionalign="left" captionposition="top" name="liveform2_1"> 
                    <wm-layoutgrid columns="1" name="layoutgrid4"> 
                        <wm-gridrow name="gridrow13_1"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn15_1"> 
                                <wm-form-field name="buyerName" displayname="Buyer Name" show="true" primary-key="false" generator="assigned" key="buyerName" type="string" required="required" widget="text" maxchars="255" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow14_1"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn16_1"> 
                                <wm-form-field name="externalId" displayname="External Id" show="true" primary-key="false" generator="assigned" key="externalId" type="string" widget="text" maxchars="50" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow15_1"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn17_1"> 
                                <wm-form-field name="cook2010" displayname="Cook2010" show="true" primary-key="false" generator="assigned" key="cook2010" type="double" step="0.0001" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow16_1"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn18"> 
                                <wm-form-field name="cook2011" displayname="Cook2011" show="true" primary-key="false" generator="assigned" key="cook2011" type="double" step="0.0001" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow17_1"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn19"> 
                                <wm-form-field name="cook2012" displayname="Cook2012" show="true" primary-key="false" generator="assigned" key="cook2012" type="double" step="0.0001" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow18"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn20"> 
                                <wm-form-field name="cook2013" displayname="Cook2013" show="true" primary-key="false" generator="assigned" key="cook2013" type="double" step="0.0001" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow19"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn21"> 
                                <wm-form-field name="cook2014" displayname="Cook2014" show="true" primary-key="false" generator="assigned" key="cook2014" type="double" step="0.0001" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow20"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn22"> 
                                <wm-form-field name="buyerGroup" displayname="Buyer Group" show="true" primary-key="false" generator="assigned" key="buyerGroup" type="list" is-related="true" widget="select" placeholder="Select value" displayexpression="groupName"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                    <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="readonly" required="required" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action> 
                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action> 
                </wm-liveform> 
            </wm-livetable> 
        </wm-page-content> 
    </wm-content> 
</wm-page>