.app-grid .table tbody tr td {
    white-space: nowrap !important;
    border-bottom: 1px solid #eeeeee !important;
}


/*custom Date Time CSS*/

td.uib-time.am-pm .btn {
    padding: 4px 12px;
    border: none !important;
    margin-left: 5px;
}


/*custom input placeholder*/

input::-webkit-input-placeholder {
    color: #ccc;
}


/* rich-text editor specific */

.ta-toolbar .btn[name="clear"],
.ta-toolbar .btn[name="clear"] {
    display: none;
}

.ta-toolbar .btn[name="html"],
.ta-toolbar .btn[name="html"] {
    display: none;
}

.ta-toolbar .btn[name="insertImage"],
.ta-toolbar .btn[name="insertImage"] {
    display: none;
}

.ta-toolbar .btn[name="insertLink"],
.ta-toolbar .btn[name="insertLink"] {
    display: none;
}

.toolbar-plugin .btn[name="formatHeader"],
.ta-toolbar .btn[name="formatHeader"] {
    display: none;
}

.toolbar-plugin .btn[name="backgroundColor"],
.ta-toolbar .btn[name="backgroundColor"] {
    display: none;
}

.ta-toolbar .btn[name="insertVideo"],
.ta-toolbar .btn[name="insertVideo"] {
    display: none;
}


/*.header-layout-fixed {*/


/*    position: fixed !important;*/


/*    left: 0px !important;*/


/*    right: 0px !important;*/


/*    z-index: 99;*/


/*}*/


/*.topnav-custom-fixed {*/


/*    position: fixed !important;*/


/*    top: 49px !important;*/


/*    left: 0px !important;*/


/*    right: 0px !important;*/


/*    z-index: 89;*/


/*}*/


/*.left-panel-fixed {*/


/*    position: fixed !important;*/


/*    top: 100px !important;*/


/*}*/


/*.main-content-fixed {*/


/*    margin-top: 120px !important;*/


/*}*/

.wm-app .input-group-btn>.btn {
    padding: 4px !important;
}


/*code for header tools hover dropdown*/

.wm-app .app-grid.panel {
    padding: 0px !important;
    padding-top: 0px !important;
}

.app-livelist .loading-data-msg,
.app-livelist .no-data-msg {
    padding-top: 4px !important;
    background-color: inherit !important;
}

.wm-app .buyer-header.app-livefilter .form-action .btn {
    padding: 8px !important;
}

.wm-app .addedit-grid .btn {
    border-radius: 4px !important;
    padding: 8px !important;
}

.Toolspopoverdown .fa-lg {
    line-height: 1.25em !important;
}


/*.wm-app .navbar-nav li a {*/


/*    line-height: 10px !important;*/


/*}*/

.wm-app .popover-content {
    padding: 0px !important;
}

.wm-app .media-list.toolslivelist .app-livelist-container .list-group-item:hover {
    background-color: #4586ce !important;
    color: #ffffff;
}


/*inspect mobile styles*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .wm-app .app-header {
        height: auto !important;
    }
}

.wm-app .pdfcontent.app-content {
    height: 100% !important;
}

.wm-app .bg-header.bg-header1 {
    /*padding-top: 0.3em important;*/
}

.wm-app .main-title-ins-mobile {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

@media screen and (max-width: 450px) and (min-width: 299px) {
    .wm-app .sub-title-ins-mobile {
        font-size: 12px !important;
        color: #2c65a8 !important;
        font-weight: bold !important;
    }
    .wm-app .main-title-ins-mobile {
        font-size: 12px !important;
        color: #2c65a8 !important;
        font-weight: bold !important;
    }
    .wm-app .tax-year-grid .tax-grid-content .app-grid-column .app-label {
        font-size: 12px !important;
    }
    .wm-app .tax-year-grid .tax-grid-content-lastrow .app-grid-column .app-label {
        font-size: 12px !important;
    }
    .wm-app .stats-content .app-grid-column .app-label.for-bold {
        font-size: 12px !important;
    }
    .wm-app .stats-content.stats-content-mobile .app-grid-column .app-label {
        font-size: 12px !important;
    }
    .wm-app .edit-btn-stat.btn.app-button {
        font-size: 12px !important;
    }
    .wm-app .tax-grid-header .grey-header .app-grid-column .app-label {
        font-size: 12px !important;
    }
}

.tax-blue-header {
    height: 35px !important;
}

.grey-header {
    height: 25px !important;
    padding: 2px 0px !important;
}

.wm-app .title-table-header.header-row.header-title.grey-header {
    padding: 2px 0px !important;
}

.title-table-header.header-row.grey-header.title-disbursement {
    padding: 2px 0px !important;
}

@media only screen and (max-device-width: 480px) and (min-device-width: 299px) {
    .wm-app .app-container .app-picture {
        width: 100%;
    }
}

.wm-app .app-datanavigator ul.pager>li.pagecount>a,
.app-datanavigator ul.pagination>li.pagecount>a {
    /*height: 1em !important;*/
    height: 21px !important;
}

.wm-app .app-datanavigator {
    padding: .6em !important;
    padding-bottom: 0em !important;
    padding-top: 0px !important;
}

.wm-app .btn-date {
    padding: 4px !important;
}

.btn-arrow {
    background-color: transparent !important;
    border: none !important;
    color: #333 !important;
    cursor: pointer !important;
    padding: 0px !important;
}

.btn-arrow.btn-arrow-bg {
    /*background-color: #c1c1c1 !important;*/
    background-color: #ffffff !important;
    margin: 3px !important;
    padding: 3px !important;
    border-radius: 3px !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.3) !important;
}

.recordnumbers {
    padding-top: 8px !important;
}

@media only screen and (max-device-width: 1350px) and (min-device-width: 600px) {
    .btn-arrow.btn-arrow-bg {
        margin: 2px !important;
        padding: 1px !important;
    }
}

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
    .btn-arrow.btn-arrow-bg {
        background-color: #c1c1c1 !important;
        margin: 2px !important;
        padding: 1px !important;
        border-radius: 3px !important;
    }
    .recordnumbers {
        padding-top: 2px !important;
    }
    .btn-arrow.btn-arrow-bg img {
        height: 12px !important;
        width: 12px !important;
    }
}

.layoutgrid-outerborder {
    border: 1px solid #ebeeef !important;
}

.wm-app .btn-arrow:focus {
    outline: none !important;
}

.wm-app .btn-arrow i {
    color: #333 !important;
}

.search-icon {
    position: absolute;
    top: 8px;
    left: 0;
}

.search-box {
    padding-left: 6px !important;
    font-weight: bold;
    color: #333;
}

.update-btn {
    width: 20% !important;
    padding: 5px !important;
}


/*Styles need to move themes*/


/*bg color for the top header*/

.wm-app .app-header,
.wm-app .app-mobile-header {
    background-color: #005AB2;
    color: #ffffff;
}


/*font color for the menu in active*/

.wm-app .app-navbar .navbar-nav li a:hover,
.wm-app .app-navbar .navbar-nav li a:focus,
.wm-app .app-navbar .navbar-nav li a.active {
    color: #204E8A;
    font-weight: bold;
}


/*font color for the menu in normal*/

.wm-app .navbar-default .navbar-nav>li>a {
    color: #333;
    font-weight: bold !important;
    text-transform: capitalize;
}


/*sizes of the select box control*/

.wm-app .form-control {
    height: 30px;
    padding: 4px;
    /*font-weight: bold;*/
}


/*data navigator*/

.wm-app .app-datanavigator>ul>li>span i,
.wm-app .app-datanavigator>ul>li>a i {
    font-size: 20px;
    top: 0.2em;
}

.wm-app .app-datanavigator>ul>li>span,
.wm-app .app-datanavigator>ul>li>a {
    font-size: 14px;
    /*height: 1.75em;*/
    height: 21px;
    /*height: 1em;*/
    padding: 0px;
}


/*livelist background color on the left side*/

.wm-app .list-group-item {
    background-color: #fff !important;
    border: medium none !important;
}


/*livelist background color on the left side on Active*/

.wm-app .list-group-item.active,
.wm-app .list-group-item.active:hover,
.wm-app .list-group-item.active:focus {
    background-color: #4586ce !important;
    border-color: #4586ce;
    color: #ffffff;
    /*z-index: 2;*/
}


/*styles for panel*/

.wm-app .panel-heading {
    border-bottom: 1px solid transparent;
    padding: 10px;
    background-color: #4586ce;
    color: #fff;
    font-weight: bold;
}


/*styles for dialog*/

.wm-app .modal-header {
    background-color: #4586ce;
    color: #fff;
    padding: 1em;
    letter-spacing: 0.1em !important;
    font-weight: bold !important;
}

.wm-app .modal-footer {
    padding: 12px !important;
    border-top: none !important;
}


/*to remove border of the panel footer*/

.wm-app .panel-footer {
    border: none !important;
}


/*******************************Styes for the main page starts here********************************/

.photosection-scroll {
    /*overflow-y: auto !important;*/
    /*margin-bottom: 1em !important;*/
}

.AllContentRightTile {
    overflow: auto !important;
}

.AllContentRightTile>.app-tile {
    overflow: visible;
}

.filterpaid {
    margin-top: 0px !important;
    margin-bottom: 5px !important;
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    .filtercolumn {
        padding-left: 0px !important;
    }
}

.property {
    margin-bottom: 5px !important;
}

.wm-app .media-heading {
    margin-bottom: 0px !important;
}

.filter-btn:focus {
    outline: none !important;
}

.mydiv {
    min-height: 0px !important;
}

.pagination-arrows {
    /*padding: 10px !important;*/
    /*margin-top: 0px !important;*/
}

.wm-app .app-nav .app-nav-item .pagination-arrows .btn {
    margin-top: 0px !important
}

.address {
    margin-bottom: 0px !important;
}

.filter-btn {
    background-color: transparent !important;
    color: #fff !important;
    font-size: 16px !important;
    text-transform: capitalize !important;
    /*padding: 5px !important;*/
}

.personal-info {
    /*background-color: #e2e9f1;*/
    background-color: #F3F3F3;
    border-right: 1px solid #E2E2E2;
    border-bottom: 1px solid #E2E2E2;
}

.search-btn {
    background-color: #fff !important;
    border: none !important;
}

.searchbox-address {
    /*border-right: none !important;*/
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.13) !important;
    height: 35px !important;
}

.wm-app .custom-reject-btn .btn-caption {
    display: block !important;
    margin: 0px !important;
}

.wm-app .custom-reject-btn {
    font-size: 10px !important;
    cursor: pointer !important;
    /*border-radius: 5px !important;*/
    /*background-color: #cdcbcd !important;*/
}

.btn-red {
    color: #f21111 !important;
    font-weight: bold !important;
}

.btn-green {
    color: #32d895 !important;
    font-weight: bold !important;
}

.custom-reject-btn:hover {
    /*background-color: rgba(51, 51, 51, 0.25) !important;*/
    background-color: #fff !important;
    border-radius: 5px !important;
    font-size: 10px !important;
}

.custom-reject-btn.active {
    background-color: #fff !important;
    border-radius: 5px !important;
    font-size: 10px !important;
}


/*.list-template{*/


/*    background-color: #fff !important;*/


/*}*/


/*.wm-app .list-template ul li{*/


/*    border-top: 1px solid red;*/


/*    border-bottom: 1px solid red;*/


/*}*/

.wm-app .media-list .app-livelist-container .list-group-item {
    border-top: 1px solid #ebeeef !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    /*border-bottom: 1px solid #ebeeef !important;*/
}

.reject-section {
    background-color: #E2E9F1;
    padding-top: .5em;
    padding-bottom: .5em;
}

.reject-section-btn {
    background-color: inherit;
    padding: 0px 8px !important;
    /*margin-left: 1.5em !important;*/
}

.reject-section-select {
    border: none !important;
    width: 75px !important;
    height: 24px !important;
    margin-top: 7px !important;
}


/*leftpanel text size*/

.media-body {
    padding-left: 0px !important;
    /*border-top: 1px solid grey;*/
    /*border-bottom: 1px solid grey;*/
}

.btn-apply {
    padding: 6px !important;
    font-size: 12px !important;
    border-radius: 3px !important;
}

@media screen and (max-width: 1024px) {
    .btn-clear-filter.btn {
        padding: 4px !important;
        font-size: 9px !important;
    }
    .btn-apply.btn {
        padding: 4px !important;
        font-size: 9px !important;
    }
}

.btn-clear-filter {
    background-color: inherit !important;
    text-transform: capitalize;
    padding: 6px !important;
    font-size: 12px !important;
    border: 1px solid rgba(51, 51, 51, 0.37) !important;
    border-radius: 3px !important;
}

.btn-clear-filter .btn-caption {
    margin: 0px !important;
}

.btn-apply:focus {
    outline: none !important;
}

.btn-clear-filter:focus {
    outline: none !important;
}

.btn-clear-filter:hover {
    background-color: #2f6db1 !important;
    /*border-color: inherit !important;*/
    color: #ffffff !important;
}

.pagination-custom {
    /*background-color: #fff !important;*/
    background-color: #E2E2E2 !important;
    margin: 0px !important;
    border-top: 1px solid #C8C8C8;
    border-bottom: 1px solid #C8C8C8;
    /*padding: 1em !important;*/
}


/*to remove padding of panel body*/

.wm-app .custompanel .panel-body {
    padding: 0px !important;
}

.custom-container {
    padding: 6px;
    background-color: #4586ce;
    color: #fff;
    font-weight: bold;
    font-size: 13px !important;
}

.custompanel {
    border: none !important;
}

.assessment {
    margin-top: 1em;
}

.main-filter-search-section {
    padding: 0.3em !important;
    margin-bottom: 0.5em !important;
}

.filterby-border {
    border-bottom: 1px solid #ebeeef !important;
}

.edit-picture-in-header {
    margin-left: 10px;
}

.table-title-content {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.active-underwriting {
    background-color: #fff !important;
    border-radius: 5px !important;
    font-size: 12px !important;
}

.cursor-pointer {
    cursor: pointer;
}


/*styles to make the label to look dropdown*/

.label-whitebg {
    padding: 3px !important;
    padding-bottom: 0px !important;
    opacity: 0.8 !important;
    border: 1px solid transparent !important;
    /*background-color: #fff !important;*/
    font-weight: normal !important;
}

.custom-checkbox .list-group {
    margin-bottom: 0px !important;
    padding-left: 1em !important;
    background-color: #fff !important;
}

.custom-checkbox .list-group .checkbox {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

.wm-app .custom-checkbox .list-group .checkbox input[type="checkbox"] {
    margin-top: 6px !important;
}

.filter-paid {
    font-size: 15px !important;
    font-weight: bold !important;
    margin-bottom: 0px !important;
}

.notes-sub-header {
    font-size: 12px !important;
}

.plus-popover:hover {
    text-decoration: none !important;
}

.wm-app .app-popover .popover-content {
    background-color: #f2f7f9 !important;
    box-shadow: 0px 2px 10px 0px rgba(107, 104, 107, 1) !important;
}

.wm-app .app-popover.popover.left>.arrow.top {
    top: 2em !important;
}

.notes-header {
    border-radius: 5px !important;
    background-color: #E2E9F1 !important;
}


/*hover  classes for approve/reject/pending*/

.approve-container-section:hover {
    background-color: #fff !important;
    cursor: pointer !important;
    border-radius: 5px !important;
}


/*active  classes for approve/reject/pending*/

.active-approval-section {
    background-color: #fff !important;
    cursor: pointer !important;
    border-radius: 5px !important;
}

.wm-app .app-icon .wi .wi-refresh {
    top: 2px;
}

@media screen and (max-width: 1040px) {
    .btn-clear-filter1 {
        width: 100% !important;
        padding-left: 0px !important;
        margin-top: 5px !important;
    }
}

@media screen and (max-width: 1040px) {
    .btn-apply1 {
        width: 100% !important;
        padding-right: 0px !important;
    }
}


/*@media screen and (max-width: 1200px) {*/


/*    .btn-clear-filter {*/


/*        width: 100% !important;*/


/*    }*/


/*    .btn-apply {*/


/*        width: 100% !important;*/


/*    }*/


/*}*/

@media screen and (max-width: 1091px) {
    .filter-btn1 .btn-caption {
        display: none !important;
    }
}

@media screen and (max-width: 768px) and (min-width: 481px) and (orientation: portrait) {
    .portrait-column {
        width: 100% !important;
    }
    .portrait-leftpanel {
        width: 25% !important;
    }
    .portrait-rightpanel {
        width: 75% !important;
    }
    .portrait-leftpanel1 {
        width: 25% !important;
    }
    .portrait-rightpanel1 {
        width: 100% !important;
    }
    .portratit-tax-sales-history {
        width: 100% !important;
    }
    .portratit-note-and-tags {
        width: 100% !important;
    }
}


/***************************Ending the styles of the main pages************************************/


/***************************starts the styles of the tags pages************************************/

.popover-container {
    padding-top: 6px !important;
}

.btn-tags {
    background-color: #e2e9f1 !important;
    border-radius: 5px !important;
    text-transform: capitalize !important;
    padding: 8px !important;
    /*width: 90% !important;*/
    margin: 4px !important;
    color: #333 !important;
    font-size: 12px !important;
    /*border: inherit !important;*/
}

@media screen and (max-width: 450px) and (min-width: 299px) {
    .wm-app .btn-trans.btn-custom-url.btn-tags {
        font-size: 12px !important;
    }
}

.wm-app .btn-custom-url.btn-tags {
    background-color: transparent !important;
    border-radius: 5px !important;
    text-transform: capitalize !important;
    padding: 3px !important;
    /*width: 90% !important;*/
    /*margin: 6px !important;*/
    color: #fff !important;
    font-size: 12px !important;
}


/*custom code to align btn image and text one by one*/

.wm-app .btn-custom-url .btn-caption {
    /*display: block !important;*/
    margin: 0px !important;
}


/*custom code to align popover image and text one by one*/

.wm-app .plus-popover .anchor-caption {
    display: block !important;
    margin: 0px !important;
    color: #fff !important;
    font-weight: normal;
    font-size: 12px !important;
    padding-top: 4px !important;
}

.btn-tags-layout {
    background-color: #fff !important;
}


/*on focus*/

.wm-app .btn-tags.btn-info:focus {
    /*background-color: #e2e9f1 !important;*/
    border: none !important;
}


/*on hover*/

.wm-app .btn-tags.btn-info:hover {
    /*border: #3e86d0 !important;*/
    border: transparent !important;
    /*background-color: #3e86d0 !important;*/
    /*background-color: #315984 !important;*/
    background-color: #527ca9 !important;
    color: #fff !important;
}


/*normal state*/

.wm-app .btn-tags.btn-info {
    /*border: 2px solid #3e86d0 !important;*/
    border: none !important;
    /*background-color: #3e86d0 !important;*/
    background-color: #315984 !important;
    color: #fff !important;
}

.wm-app .btn-tags.btn-danger {
    /*border: 2px solid transparent !important;*/
    border: none !important;
    /*background-color: #3e86d0 !important;*/
    /*color: #fff !important;*/
}


/*on hover*/

.wm-app .btn-tags.btn-danger:hover {
    border: 2px transparent !important;
    /*background-color: #3e86d0 !important;*/
    /*background-color: #315984 !important;*/
    background-color: #527ca9 !important;
    color: #fff !important;
}


/*layoutgrid-tag*/

.layoutgrid-tag1 {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.layoutgrid-tag2 {
    margin-top: .5em;
    margin-bottom: .5em;
    /*padding-left: 0.5em;*/
    /*padding-right: 0.5em;*/
}

.layoutgrid-tag3 {
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.custom-container.custom-tags {
    /*padding-left: 10px !important;*/
    /*padding-right: 10px !important;*/
    padding-top: 0px !important;
    /*padding-bottom: 2px !important;*/
}


/*from tags2*/


/*.btn-trans{*/


/*    background-color: #E2E9F1 !important;*/


/*    font-size: 12px !important;*/


/*    border-radius: 5px !important;*/


/*    text-transform: capitalize !important;*/


/*    padding: 3px !important;*/


/*    width: 90% !important;*/


/*margin: 6px !important;*/


/*}*/


/*.btn-tags2:hover{*/


/*    background-color: rgba(51, 51, 51, 0.25) !important;*/


/*    border-radius: 5px !important;*/


/*    text-transform: capitalize !important;*/


/*    padding: 3px !important;*/


/*    width: 90% !important;*/


/*margin: 6px !important;*/


/*    color: #fff !important;*/


/*    font-size: 12px !important;*/


/*}*/


/*.btn-tags2:focus{*/


/*    color: #fff !important;*/


/*}*/


/*.btn-tags2.active{*/


/*    background-color: red !important;*/


/*}*/


/***************************Ending the styles of the tags pages************************************/


/***************************starts the styles of the Notes pages************************************/

.notes-table-header {
    padding-left: 15px !important;
    /*padding-top: 5px !important;*/
    /*padding-bottom: 10px !important;*/
    background-color: #e2e9f1;
}


/***************************Ending the styles of the Notes pages************************************/


/***************************starts the styles of the AddNotes Popover pages************************************/

.popover-textarea {
    /*margin: 1em !important;*/
    border: 2px solid #4586ce !important;
}

.popover-container-custom {
    padding: 1em !important;
}

.popover-btn {
    padding: 0px !important;
}

.popover-btn-logout {
    padding: 0px !important;
    background-color: inherit !important;
    color: #4A4A4A !important;
    font-weight: 600;
    text-transform: capitalize !important;
}

.popover-btn-logout.releasedate {
    padding: 0px !important;
    background-color: inherit !important;
    color: #0081FF !important;
    font-size: 12px !important;
    text-transform: capitalize !important;
    cursor: default !important;
}

.wm-app .popover-btn-logout.btn.app-button .btn-caption {
    vertical-align: text-top !important;
}

.popover-bg {
    background-color: #f2f7f9 !important;
}

.wm-app .popover.left>.arrow::after {
    border-left-color: #f2f7f9 !important;
}


/***************************starts the styles of the CertificateStatus Popover pages************************************/

.bold {
    font-weight: bold !important;
}


/***************************Ending the styles of the CertificateStatus Popover pages************************************/


/***************************starts the styles of the tax and history pages************************************/

.tax-and-history-table-header {
    /*padding-left: 15px !important;*/
    /*padding-top: 10px !important;*/
    /*padding-bottom: 10px !important;*/
    background-color: #e2e9f1;
}

.reserach-date {
    /*overflow-x: hidden !important;*/
}

.header-row {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.wm-app .header-row .app-grid-column {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.content-row {
    /*padding-left: 10px !important;*/
    /*padding-right: 10px !important;*/
}

.wm-app .content-row .app-grid-column {
    padding-left: 5px !important;
    padding-right: 5px !important;
}


/***************************Ending the styles of the tax and history  pages************************************/


/********************************starting of styles of the service page ********************************/

.btn-disbursement {
    background-color: inherit !important;
    color: #fff !important;
    /*font-size: 12px !important;*/
    text-transform: capitalize !important;
}

.btn-disbursement:hover {
    background-color: inherit !important;
    color: #fff !important;
}

.btn-disbursement:focus {
    outline: none !important;
}

@media screen and (max-width: 768px) and (min-width: 481px) {
    /*.status-and-photos {*/
    /*    width: 100% !important;*/
    /*}*/
}


/********************************ending of styles of the service page ********************************/


/**************************starts of inspect page style

.container-select{
    padding-top: 10px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.custom-livelist{
    /*overflow-y: scroll !important;*/


/*}*/

.wm-app .nav-tabs>li.active>a,
.wm-app .nav-tabs>li.active .app-menu a {
    background-color: #f1fbfd !important;
    border-color: #ced9dc #ced9dc transparent !important;
    border-width: 1px !important;
    color: #4586ce !important;
    font-weight: bold !important;
}

.dyn-height {
    overflow-y: auto !important;
}

.btn-arrow {
    padding: 0px !important;
}

.all-content-tile {
    /*padding-right: 5px !important;*/
}

.wm-app .tab-custom .tab-content .tab-body {
    height: auto !important;
}

@media screen and (max-width: 1023px) {
    .dyn-height,
    .map {
        width: 100% !important;
    }
}

@media screen and (max-width: 767px) {
    .wm-app .tab-container-custom .tab-custom .nav-tabs .tab-header .tab-heading {
        font-size: 11px !important;
        padding: 0px !important;
    }
}

@media screen and (max-width: 1240px) and (min-width: 1025px) {
    .title_tab {
        font-size: 13px !important;
        /*color: #2c65a8 !important;*/
        /*color: #fff !important;*/
        text-transform: capitalize !important;
    }
}

@media screen and (max-width: 1024px) {
    .wm-app .title_tab.title-tab1 {
        font-size: 11px !important;
        text-transform: capitalize !important;
    }
    .wm-app .title-table-header.header-row .app-grid-column .app-label.disburse-header {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 1240px) and (min-width: 1024px) {
    .corosuel-image {
        height: 350px !important;
    }
    .wm-app .tab-container-custom .tab-custom .nav-tabs .tab-header .tab-heading {
        font-size: 11px !important;
        padding: 0px !important;
    }
    .wm-app .layoutgrid-outerborder .title-table-header.header-row .app-grid-column .app-label {
        font-size: 11px !important;
    }
    .wm-app .layoutgrid-outerborder .title-table-content.content-row .app-grid-column .app-label {
        font-size: 11px !important;
    }
    .wm-app .header-row .app-grid-column .app-label {
        font-size: 11px !important;
    }
    .wm-app .content-row .app-grid-column .app-label {
        font-size: 11px !important;
    }
    .wm-app .tax-year-grid .tax-grid-content .app-grid-column .app-label {
        font-size: 11px !important;
    }
    .wm-app .tax-year-grid .tax-grid-content-lastrow .app-grid-column .app-label {
        font-size: 11px !important;
    }
    .wm-app .tax-year-grid .tax-grid-header .app-grid-column .app-label {
        font-size: 11px !important;
    }
    .wm-app .assessment-colmns .app-grid-column .app-label {
        font-size: 11px !important;
    }
    .wm-app .stats-single-column .app-grid-column .app-label {
        font-size: 11px !important;
    }
    .wm-app .stats-single-column .app-grid-column .app-label {
        font-size: 11px !important;
    }
    .wm-app .tax-and-history-table-header .header-row .app-grid-column .app-label,
    .wm-app .tax-and-history-table-header .content-row .app-grid-column .app-label {
        font-size: 11px !important;
    }
    .wm-app .layoutgrid-outerborder .title-table-header.header-row .header-row .app-grid-column .app-label,
    .wm-app .layoutgrid-outerborder .title-table-content.content-row .app-grid-column .app-label {
        font-size: 11px !important;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) and (orientation: landscape) {
    .wm-app .tax-year-grid1 .assessment-colmns .app-grid-column .app-label {
        font-size: 11px !important;
    }
    .wm-app .stats-content .stats-single-column .app-grid-column .app-label {
        font-size: 11px !important;
    }
}


/******************************************************ends inspect page style *********************************/


/**********************************Title style starts here*************************************/

.title-table-header {
    /*padding-left: 15px !important;*/
    /*padding-top: 10px !important;*/
    padding-bottom: 0px !important;
    background-color: #e2e9f1;
}

.wm-app .media-list .panel-footer {
    padding: 0px !important;
}

.wm-app .title-table-header.header-row .app-grid-column .app-label {
    font-size: 12px !important;
}

.wm-app .title-table-content.content-row .app-grid-column .app-label {
    font-size: 12px !important;
}

.wm-app .tax-and-history-table-header .app-grid-column .app-label {
    font-size: 12px !important;
}


/******************************title ends here *********************************************/


/***************************Auction Tax starts here *****************************************8/
.tax-year-grid{
    border: 1px solid #ebeeef;
    /*padding: .5em;*/


/*font-family: Roboto-bold;*/


/*}*/

.wm-app .tax-year-grid .taxes {
    border: none !important;
}

.tax-columns {
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

.tax-grid-header {
    background-color: #E2E9F1;
    /*padding-top: 5px;*/
}

.tax-grid-content {
    padding: .25em;
    border-bottom: 1px solid #ebeeef;
    background-color: #fff !important;
    /*font-weight: bold !important;*/
}

.tax-grid-content-lastrow {
    padding: .3em;
    background-color: #fff !important;
    /*border-bottom: 1px solid #908e90;*/
}

.border-right-for-allcolum {
    border-right: 1px solid #908e90 !important;
}

.for-bold {
    /*font-weight: bold !important;*/
}


/****************************************Auction tax starts here ***********************************/


/****************************************Auction stats starts here ***********************************/

.stats-content {
    border: 1px solid #ebeeef;
    padding: 1em;
    /*padding-bottom: 2em ;*/
    /*font-family: Roboto-bold;*/
    /*font-weight: bold !important;*/
    background-color: #fff !important;
}

.stats-all-columns {
    padding: 4px !important;
}

.stats-single-column {
    padding-bottom: 12px !important;
}

.update-area-enter-note {
    padding-top: 4px !important;
}

.update-area-enter-note:focus {
    border: transparent !important;
}


/*.for-bold{*/


/*    font-weight: bold !important;*/


/*}*/


/*custom wave-icon*/

.edit-btn-stat {
    color: #666 !important;
    text-transform: capitalize !important;
    padding: 0px !important;
    margin: 0px !important;
    border: 0px !important;
    /* line-height: 0px !important; */
    background-color: inherit !important;
}

.edit-column {
    line-height: 0px !important;
}

.custom-icon {
    background-image: url("resources/images/imagelists/editwhite.png");
    background-repeat: no-repeat;
    background-size: contain;
    color: transparent !important;
}

.ellpisis {
    overflow-x: hidden !important;
}


/****************************************Auction stats ends here ***********************************/


/*******************certificate style starts here ***************/

.certificat_status_padding {
    padding-left: 8px !important;
    padding-right: 8px !important;
}


/*******************certificate style ends here ***************/


/****************************************photos and links strats here ***********************************/

.corosuel-image .app-picture {
    border: none !important;
    padding: 0px !important;
}

.corousel-header {
    text-decoration: underline !important;
    /*border-right: 1px solid #e1e5e3  */
    border-right: 1px solid rgba(119, 123, 127, 0.43) !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
}

.corosel-bg-image {
    background-color: #ebeeef !important;
}

.wm-app .corosuel-image .carousel-control .wi-chevron-left {
    color: #fff !important;
    background-color: #9fc4f8 !important;
    border-radius: 25px !important;
}

.wm-app .corosuel-image .carousel-control .wi-chevron-right {
    color: #fff !important;
    background-color: #9fc4f8 !important;
    border-radius: 25px !important;
}

.corousel-header-forlast {
    text-decoration: underline !important;
    padding-left: 8px !important;
}

.image {
    /*position: absolute;*/
    /*top: 15%;*/
    /*left: 0px;*/
    /*padding: 0px !important;*/
}


/*.image-header{*/


/*    border-right: 1px solid #e1e5e3 !important;*/


/*}*/


/****************************************photos and links ends here ***********************************/


/****************************************Tags starts here ***********************************/

.btn-minus {
    background-color: transparent !important;
}

.btn-minus:focus {
    outline: none !important;
}

.btn-minus:hover {
    color: #fff !important;
}


/****************************************Tags ends here ***********************************/


/****************************************Notes starts here ***********************************/

.wm-app .plus-popover-notes .anchor-caption {
    /*display: block !important;*/
    /*margin: 0px !important;*/
    color: #fff !important;
    font-weight: normal;
    font-size: 12px !important;
    padding-top: 4px !important;
}

.plus-popover-notes:hover {
    text-decoration: none !important;
}

.plus-popover-notes {
    background-color: #4586ce !important;
    padding: 4px !important;
    padding-top: 0px !important;
    margin-bottom: 5px !important;
}

.wm-app .user-table-header .app-grid-column .app-label {
    font-size: 12px !important;
}

.wm-app .user-table-content .app-grid-column .app-label {
    font-size: 12px !important;
}


/****************************************Notes ends here ***********************************/


/****************************************Notes starts here ***********************************/

.wm-app .tax-grid-header .app-grid-column .app-label {
    font-size: 13px !important;
}

.wm-app .tax-grid-content .app-grid-column .app-label {
    font-size: 13px !important;
}

.wm-app .tax-grid-content-lastrow .app-grid-column .app-label {
    font-size: 13px !important;
}

.wm-app .tax-year-grid1 .app-grid-column .app-label {
    font-size: 13px !important;
}

.wm-app .stats-content .app-grid-column .app-label {
    font-size: 13px !important;
}


/****************************************Tags ends here ***********************************/


/*********************************add edit table style ******************************/

.wm-app .app-grid.panel .panel-heading {
    background-color: transparent !important;
    color: #333 !important;
}

.wm-app .app-grid.panel {
    padding: 15px !important;
    padding-top: 0px !important;
}

.wm-app .app-grid.panel .panel-heading .panel-title {
    font-size: 18px !important;
    font-weight: bold;
}

.wm-app .modal-body .app-liveform {
    padding-left: 20px !important;
    padding-top: 20px !important;
}

.buyer-header {
    padding-bottom: 1em !important;
}

.wm-app .buyer-header .panel-heading {
    background-color: inherit !important;
    color: #333 !important;
}

.wm-app .buyer-header .panel-title {
    font-size: 16px !important;
    font-weight: bold;
}

.wm-app .buyer-header .panel-body {
    padding: 12px !important;
}

.wm-app .buyer-header .basic-btn-grp.form-action.panel-footer {
    text-align: left !important;
    padding-left: 8px !important;
}


/******************************* Parties page style starts here *********************************/

.party-class {
    padding-top: 0.3em !important;
}

.custom-design-dialog-update-party-details {
    width: 500px !important;
}

.piq.custom-checkbox {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.row-height-top-party {
    padding-top: 1em !important;
}

.custom-design-dialog-update-party-interest {
    width: 600px !important;
}

.row-height-top-party-interest {
    padding-top: 0.8em !important;
}

.row-height-top-party-int {
    padding-top: 0px !important;
}

.row-addparty {
    padding-top: 0.5em !important;
}

.wm-app .parties-content.content-row .app-grid-column .app-label {
    font-size: 12px !important;
}

.wm-app .notes-table-header.header-row .app-grid-column .app-label {
    font-size: 12px !important;
}

.int-party-btn {
    width: 50% !important;
    border-radius: 3px !important;
}

.wm-app .custom-switch .switch-handle {
    padding: 8px !important;
}

.wm-app .custom-search-paties {
    padding: 0px !important;
    padding-left: 0.5em !important;
    padding-right: 0.5em !important;
}

.wm-app .app-search .input-group-addon.custom-search-paties:hover {
    background-color: none !important;
}

.custom-search-btn-row {
    padding-bottom: 1em !important;
}

.wm-app .table-hover.add-new-party-panel {
    border: none !important;
}

.update-party-bgcolor {
    background-color: #cbcbcb !important;
    padding-right: 15px !important;
}

.party-details-padding {
    padding-right: 15px !important;
}

.wm-app .switch-party .btn {
    padding: 8px !important;
}

.delete-dialog .modal-footer {
    border: none !important;
    text-align: center !important;
}

.delete-dialog .app-dialog-body {
    min-height: 80px !important;
}

.delete-dialog .app-dialog-message {
    padding-top: 0.5em !important;
    padding-left: 0.5em !important;
}

.link-existing-party-pager .app-datanavigator ul.pagination.basic>li:hover>a:hover {
    border-bottom: 0px !important;
}

.link-existing-party-pager .app-datanavigator ul.pagination.basic>li>a {
    border-bottom: 0px !important;
}

.link-existing-party-pager .app-datanavigator ul.pagination.basic {
    margin-top: 1em !important;
}

.wm-app .custom-container.partyheader.tax-blue-header {
    /*padding: 13px !important;*/
    padding: 5px !important;
}


/********************************* Parties page style ends here *********************************8*/


/************************* disbursemnt/payment/accrual style starts here **********************/

@media screen and (min-width: 1170px) {
    .wm-app .moreinfo-none-desktop {
        display: none !important;
    }
    .wm-app .moreinfo-block-desktop {
        display: block !important;
    }
}

@media screen and (max-width: 1169px) and (orientation: landscape) {
    .wm-app .refcolumn-none-ipad {
        display: none !important;
    }
    .wm-app .refcolumn-block-ipad {
        display: block !important;
    }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
    .wm-app .moreinfo-none-desktop {
        display: none !important;
    }
    .wm-app .refcolumn-none-ipad {
        display: block !important;
    }
}


/********************** ends here ***********************************************/

@media screen and (max-width: 768px) and (orientation: portrait) {
    .wm-app .pagination-custom .pagination-arrows .btn-arrow .app-icon.wi-keyboard-arrow-right.fa-2x,
    .wm-app .pagination-custom .pagination-arrows .btn-arrow .app-icon.wi-keyboard-arrow-left.fa-2x {
        font-size: 1.5em !important;
    }
    .wm-app .pagination-custom .pagination-arrows .btn-arrow .app-icon.wi-angle-double-left.fa-lg,
    .wm-app .pagination-custom .pagination-arrows .btn-arrow .app-icon.wi-angle-double-right.fa-lg {
        font-size: 1em !important;
    }
}

@media screen and (max-width: 1166px) and (min-width: 1090px) {
    .wm-app .title-table-header.header-row .app-grid-column .app-label.disburse-header {
        font-size: 11px !important;
    }
    .wm-app .payment-content.content-row .app-grid-column .app-label.disburse-header {
        font-size: 11px !important;
    }
    .wm-app .disbursement-content.content-row .app-grid-column .app-label.disburse-header {
        font-size: 11px !important;
    }
    .wm-app .accurals-content.content-row .app-grid-column .app-label.disburse-header {
        font-size: 11px !important;
    }
}

@media screen and (max-width: 1089px) and (min-width: 1024px) {
    .wm-app .title-table-header.header-row .app-grid-column .app-label.disburse-header {
        font-size: 10px !important;
    }
    .wm-app .payment-content.content-row .app-grid-column .app-label.disburse-header {
        font-size: 10px !important;
    }
    .wm-app .disbursement-content.content-row .app-grid-column .app-label.disburse-header {
        font-size: 10px !important;
    }
    .wm-app .accurals-content.content-row .app-grid-column .app-label.disburse-header {
        font-size: 10px !important;
    }
}

@media screen and (max-width: 1024px) and (min-width: 767px) {
    /*.wm-app .Mobile-left .pagination-custom .pagination-arrows .btn-default.btn-arrow.btn {*/
    /*    font-size: 11px !important;*/
    /*}*/
    /*.wm-app .Mobile-left .pagination-custom .pagination-arrows .btn-default.btn-arrow.btn .inspect-number {*/
    /*    font-size: 11px !important;*/
    /*}*/
}

.property-header-container {
    /*padding-left: 25px;*/
}


/*to avoid jerk*/

.wm-app .col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
    min-height: 0px !important;
}


/*admin page left panel*/

@media screen and (max-width: 768px) and (orientation: portrait) {
    .wm-app .Mobile-left .app-left-panel .nav li a {
        font-size: 10px !important;
    }
    /*column under buyerlist*/
    .wm-app .app-grid-column {
        font-size: 12px;
    }
    /*buyerlist heading*/
    .wm-app .buyer-header .panel-title {
        font-size: 14px !important;
    }
    /*btn*/
    .wm-app .buyer-header .btn {
        font-size: 12px !important;
        padding: 8px !important;
    }
    /*grid header*/
    .wm-app .pdfcontent .app-grid .table thead th .header-data {
        font-size: 12px !important;
    }
    /*gridrow*/
    .wm-app .pdfcontent .app-grid .table tbody tr>td {
        font-size: 12px !important;
    }
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    .wm-app .Mobile-left .app-left-panel .nav li a {
        font-size: 0.97em !important;
    }
    /*column under buyerlist*/
    .wm-app .app-grid-column {
        font-size: 12px;
    }
    /*buyerlist heading*/
    .wm-app .buyer-header .panel-title {
        font-size: 14px !important;
    }
    /*btn*/
    .wm-app .buyer-header .btn {
        font-size: 12px !important;
        padding: 8px !important;
    }
    /*grid header*/
    .wm-app .pdfcontent .app-grid .table thead th .header-data {
        font-size: 12px !important;
    }
    /*gridrow*/
    .wm-app .pdfcontent .app-grid .table tbody tr>td {
        font-size: 12px !important;
    }
}


/*888888888 search, filter styles in Main page 888888888888888 */

.wm-app .addresslabel {
    /*color: #4A4A4A !important;*/
}


/*.wm-app .addresslabel::first-letter{*/


/*       text-transform: uppercase !important;*/


/*}*/

.search-btn {
    background-color: inherit !important;
    padding: 4px !important;
    padding-right: 12px !important;
    color: #fff !important;
}

.search-btn.filter-btn.filter-btn1 {
    padding-right: 20px !important;
    padding-top: 2px !important;
}

@media screen and (min-width: 1800px) {
    .search-btn.filter-btn.filter-btn1 {
        padding-right: 40px !important;
        padding-top: 2px !important;
    }
}

@media screen and (min-width: 1600px) and (max-width: 1799px) {
    .search-btn.filter-btn.filter-btn1 {
        padding-right: 30px !important;
        padding-top: 2px !important;
    }
}

.search-btn.search-btn1 {
    padding-left: 10px !important;
}

.search-box {
    border-radius: 20px !important;
    color: #fff !important;
    padding-left: 15px !important;
    padding-right: 30px !important;
}

.personal-info {
    /*padding-top: .6em !important;*/
}

.filter-btn-2 {
    padding-top: 0px !important;
}

.filter-btn1 {
    position: absolute;
    /* left: 0px; */
    right: 0px;
    color: #333 !important;
}

.filter-btn1.filter-custom {
    /*left:0px;*/
    padding: 6px !important;
    padding-top: 0px !important;
}

.filter-btn1.filter-custom.filter-padding {
    /*padding-right:20px !important;*/
    padding-right: 10px !important;
    padding-top: 4px !important;
}

@media (min-width: 1800px) {
    .filter-btn1.filter-custom.filter-padding {
        padding-right: 30px !important;
    }
}

@media (min-width: 1600px) and (max-width: 1799px) {
    .filter-btn1.filter-custom.filter-padding {
        padding-right: 25px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .filter-btn1.filter-custom.filter-padding {
        padding-right: 16px !important;
    }
}

.resetfilter .fa-lg {
    vertical-align: 0% !important;
}

.search-box.searchbox-address {
    color: #fff !important;
}

.searchbox-address {
    display: inline-block !important;
    color: #fff !important;
}

.Filterlayoutgrid {
    /*border: 1px solid rgba(0,0,0,0.2);*/
    /*box-shadow: 0 2px 4px rgba(0,0,0,0.2);*/
    padding: 6px;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #fff;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

.filter-field-space-1 {
    margin-top: 20px;
}

.filter-field-space-2 {
    margin-top: 12px;
}

.filter-field-border {
    border: 1px solid #e0e0e0;
}


/* To be moved to theme*/

.custom-design-dialog .modal-body,
.custom-design-dialog form,
.custom-design-dialog .panel-footer {
    background-color: #e0e6eb !important;
}

.btn-cancel-dialog {
    background-color: #fff !important;
}

.price-custom-row .price-custom-row {
    padding-left: 24%;
}

.price-custom-row input {
    width: 88% !important;
}

.proration label,
.proration div.col-xs-12 {
    width: 50% !important;
}

.deposit-custom-row label {
    width: 37.5% !important;
}

.deposit-custom-row .deposit-custom-row {
    width: 55% !important;
}

.deposit-custom-row input {
    width: 50% !important;
}

.deposit-select {
    right: 20px;
}

.title-custom-row select {
    margin-left: 32% !important;
    width: 110px !important;
}

.note-custom-row label {
    width: 12.2% !important;
}

.note-custom-row div.col-xs-12 {
    width: 87% !important;
}

.note-custom-row textarea {
    width: 100% !important;
}

.wm-app .pagination {
    display: inline-block !important;
    padding-left: 0 !important;
    margin: 20px 0 !important;
    border-radius: 2px !important;
}

.wm-app .pagination>li {
    display: inline !important;
}

.wm-app .pagination>li>a,
.wm-app .pagination>li>span {
    position: relative !important;
    float: left !important;
    padding: 8px 10px !important;
    line-height: 1.42857143 !important;
    text-decoration: none !important;
    color: #00b6d5 !important;
    background-color: #fff !important;
    border: 1px solid #ddd !important;
    margin-left: -1px !important;
}

.wm-app .pagination>li:first-child>a,
.wm-app .pagination>li:first-child>span {
    margin-left: 0 !important;
    border-bottom-left-radius: 2px !important;
    border-top-left-radius: 2px !important;
}

.wm-app .pagination>li:last-child>a,
.wm-app .pagination>li:last-child>span {
    border-bottom-right-radius: 2px !important;
    border-top-right-radius: 2px !important;
}

.wm-app .pagination>li>a:hover,
.wm-app .pagination>li>span:hover,
.wm-app .pagination>li>a:focus,
.wm-app .pagination>li>span:focus {
    z-index: 2 !important;
    color: #007589 !important;
    background-color: #eeeeee !important;
    border-color: #ddd !important;
}

.wm-app .pagination>.active>a,
.wm-app .pagination>.active>span,
.wm-app .pagination>.active>a:hover,
.wm-app .pagination>.active>span:hover,
.wm-app .pagination>.active>a:focus,
.wm-app .pagination>.active>span:focus {
    z-index: 3 !important;
    color: #fff !important;
    background-color: #00b6d5 !important;
    border-color: #00b6d5 !important;
    cursor: default !important;
}

.wm-app .pagination>.disabled>span,
.wm-app .pagination>.disabled>span:hover,
.wm-app .pagination>.disabled>span:focus,
.wm-app .pagination>.disabled>a,
.wm-app .pagination>.disabled>a:hover,
.wm-app .pagination>.disabled>a:focus {
    color: #777777 !important;
    background-color: #fff !important;
    border-color: #ddd !important;
    cursor: not-allowed !important;
}

.wm-app .pagination-lg>li>a,
.wm-app .pagination-lg>li>span {
    padding: 13px 16px !important;
    font-size: 16px !important;
    line-height: 1.3333333 !important;
}

.wm-app .pagination-lg>li:first-child>a,
.wm-app .pagination-lg>li:first-child>span {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.wm-app .pagination-lg>li:last-child>a,
.wm-app .pagination-lg>li:last-child>span {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.wm-app .pagination-sm>li>a,
.wm-app .pagination-sm>li>span {
    padding: 7px 10px !important;
    font-size: 10px !important;
    line-height: 1.5 !important;
}

.wm-app .pagination-sm>li:first-child>a,
.wm-app .pagination-sm>li:first-child>span {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.wm-app .pagination-sm>li:last-child>a,
.wm-app .pagination-sm>li:last-child>span {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.wm-app .app-datanavigator .pagination.basic .pagination-prev a,
.wm-app .app-datanavigator .pagination.basic .pagination-next a,
.wm-app .app-datanavigator .pagination.basic .pagination-first a,
.wm-app .app-datanavigator .pagination.basic .pagination-last a {
    padding: 3px 7px !important;
}

.wm-app .app-datanavigator .pagination.basic li {
    font-size: 1.08em !important;
}

.wm-app .app-datanavigator .pagination.basic li a {
    color: #00b6d5 !important;
    background-color: #ddd !important;
    border: 0 !important;
    border-radius: 50% !important;
    padding: 8px 14px !important;
    margin: 0 2px !important;
    width: 27pt !important;
    height: 27pt !important;
}

.wm-app .app-datanavigator .pagination.basic li.active a,
.wm-app .app-datanavigator .pagination.basic li.active a:hover,
.wm-app .app-datanavigator .pagination.basic li.active a:focus {
    color: #fff !important;
    background-color: #00b6d5 !important;
    border: 0 !important;
}

.wm-app .app-datanavigator .pagination.basic li.active:hover a,
.wm-app .app-datanavigator .pagination.basic li.active:hover a:hover,
.wm-app .app-datanavigator .pagination.basic li.active:hover a:focus {
    background-color: #00b6d5 !important;
    color: #fff !important;
}

.wm-app .app-datanavigator .pagination.basic li:hover a,
.wm-app .app-datanavigator .pagination.basic li:focus a,
.wm-app .app-datanavigator .pagination.basic li:hover a:hover,
.wm-app .app-datanavigator .pagination.basic li:focus a:hover,
.wm-app .app-datanavigator .pagination.basic li:hover a:focus,
.wm-app .app-datanavigator .pagination.basic li:focus a:focus {
    color: inherit !important;
    background-color: rgba(0, 0, 0, 0.3) !important;
    border: 0 !important;
}

.wm-app .app-datanavigator .pagination.basic li.disabled a {
    background-color: #ddd !important;
    color: #777777 !important;
}

.wm-app .app-datanavigator .pagination li.pagecount a {
    height: initial !important;
    background-color: #00b6d5 !important;
    border-color: #00b6d5 !important;
}

.wm-app .app-datanavigator .pagination li.pagecount a input {
    color: #fff !important;
    text-align: center !important;
}

.wm-app .app-datanavigator .pager li a {
    margin: 0 .5em 0 0 !important;
    padding: 8px 10px !important;
}

.wm-app .pagination li>a,
.wm-app .pagination li>span {
    padding: 8px 10px !important;
    color: #00b6d5 !important;
}

.wm-app .pagination {
    float: right !important;
}

.wm-app .pagination>li>a {
    color: #202f3d !important;
}

.wm-app .pagination>li>span {
    color: #202f3d !important;
}

.wm-app .pagination>li.totalcount>a {
    border: 0 none !important;
    background-color: #f2f8f8 !important;
}

.inspection select {
    width: 94% !important;
}

.contract input {
    margin-left: 2px !important;
    width: 77% !important;
}

.tools-top,
.reports-top {
    top: 2px;
}

.multiple-task-table .app-grid-content {
    max-height: 355px !important;
    overflow-y: auto !important;
}

.bottom-2 {
    line-height: 1.42857 !important;
    vertical-align: inherit !important;
}

.proration .app-textbox {
    width: 85% !important;
}

.multiple-task-table th input[type="checkbox"] {
    display: none;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
    .wm-app .nav-pills.custom-nav>li .app-menu .dropdown-toggle.btn,
    .wm-app .nav-pills.custom-nav>li>a {
        padding: 0 !important;
        font-size: 13px;
    }
    .tools-top,
    .reports-top {
        top: 0;
    }
    .links-column {
        width: 65% !important;
    }
    .user-column {
        width: 18% !important;
    }
}

@media screen and (min-width: 768px) and (max-width: 845px) {
    .wm-app .nav-pills.custom-nav>li .app-menu .dropdown-toggle.btn,
    .wm-app .nav-pills.custom-nav>li>a {
        font-size: 11px !important;
    }
}