.button{
    text-transform: capitalize!important;
}

.borderradius{
    border-radius: 50px!important;
    text-transform: capitalize!important;
}

.tablefont th
{
    
    font-size: 12px ;
}

.iframecls{
    overflow: hidden
}

@media only screen and (max-width: 320px) and (min-width: 300px){
.wm-app .app-popover.popover.bottom {
    width: 315px!important;
    position: absolute;
    top: 50px !important;
    left: auto !important;
    right: 0px !important;
}
}

@media only screen and  (min-width: 322px) and (max-width: 360px) {
    .wm-app .app-popover.popover.bottom {
    width: 350px!important;
    position: absolute;
    top: 50px !important;
    left:auto !important;
    right: 0px !important;
    }
   
}
@media screen and (min-width: 361px) and (max-width: 375px) {
    .wm-app .app-popover.popover.bottom{
    width: 365px!important;
    position: absolute;
    top: 50px !important;
    left: auto !important;
    right: 5px !important;
    }
   
}
@media screen and (min-width: 376px) and (max-width: 425px) {
    .wm-app .app-popover.popover.bottom{
    width: 415px!important;
    position: absolute;
    top: 50px !important;
    left: auto !important;
    right: 0px !important;
    }
   
}
@media screen and (min-width: 426px) and (max-width: 480px) {
    .wm-app .app-popover.popover.bottom{
    width: 410px!important;
    position: absolute;
    top: 50px !important;
    left: auto !important;
    right: 0px !important;
    }
   
}
