<wm-partial data-ng-controller="CalanderEventPageController" name="partial1">
    <wm-layoutgrid name="layoutgrid1" class="pop">
        <wm-gridrow name="gridrow5">
            <wm-gridcolumn columnwidth="12" name="gridcolumn7_1">
                <wm-label padding="unset 1.5em unset 0.5em" name="label4" width="100%" caption="bind:Variables.UserInfo.dataSet.name" color="#000000" fontweight="bold" textalign="right"></wm-label>
                <wm-label padding="unset 1.5em unset 0.5em" name="label5" width="100%" caption="bind:Variables.UserInfo.dataSet.email" textalign="right"></wm-label>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow1" padding="1em unset">
            <wm-gridcolumn columnwidth="12" name="gridcolumn1">
                <wm-label padding="unset 0.5em unset 1em" name="label1" caption="bind:&quot;Released on: &quot;+ Variables.svGetBuildDate.dataSet.value" fontsize="13" width="50%"></wm-label>
                <wm-anchor margin="unset 0.5em" name="anchor1" caption="Signout" fontsize="1" fontunit="em" class="pull-right" on-click="Actions.logoutAction.invoke()"></wm-anchor>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow2" padding="unset unset 1em unset">
            <wm-gridcolumn columnwidth="8" name="gridcolumn7">
                <wm-button class="btn-default borderradius" caption="Add new" type="button" margin="unset 1em unset 0.5em" name="AddEvent_TaskPanel" padding="0px 3px" color="white" backgroundcolor="grey" bordercolor="grey" fontsize="13" on-click="AddEvent_TaskPanelClick($event, $scope)"
                    iconclass="wi wi-plus" iconposition="right"></wm-button>
                <wm-buttongroup name="buttongroup2" horizontalalign="center">
                    <wm-button class="btn-default" type="button" caption="Events &amp; Tasks" name="eventtask_btn" on-click="eventtask_btnClick($event, $scope)"></wm-button>
                    <wm-button class="btn-default" type="button" caption="Wiki" name="wiki_btn" on-click="wiki_btnClick($event, $scope)"></wm-button>
                </wm-buttongroup>
            </wm-gridcolumn>
            <wm-gridcolumn columnwidth="4" name="gridcolumn7_2" horizontalalign="center"></wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow3">
            <wm-gridcolumn columnwidth="12" name="gridcolumn5" padding="unset 0.4em">
                <wm-container name="container_iframe">
                    <wm-iframe name="iframe" iframesrc="bind:Variables.getCalanderUrl.dataSet.value" width="100%" height="400"></wm-iframe>
                    <wm-label padding="0.5em" name="label3" caption="My Open Tasks" fontweight="bold" color="black" fontsize="14"></wm-label>
                    <wm-table name="NoteTable" title="" navigation="None" class="tablefont" dataset="bind:Variables.NoteData.dataSet">
                        <wm-table-column binding="property.addressLine1" caption="Property" primary-key="false" edit-widget-type="text" related-entity-name="Property" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
                        <wm-table-column binding="noteType.name" caption="Type" primary-key="false" edit-widget-type="text" related-entity-name="NoteType" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
                        <wm-table-column binding="dueTimestamp" caption="Due" primary-key="false" edit-widget-type="datetime" type="datetime" generator="assigned" readonly="true" datepattern="dd/MM/yyyy" formatpattern="toDate" show="true"></wm-table-column>
                    </wm-table>
                </wm-container>
                <wm-container name="container_wiki" show="false">
                    <wm-iframe name="iframe_wiki" iframesrc="https://newlinewiki.azurewebsites.net" width="100%" height="600"></wm-iframe>
                </wm-container>
            </wm-gridcolumn>
        </wm-gridrow>
        <wm-gridrow name="gridrow4" padding="2em unset unset unset">
            <wm-gridcolumn columnwidth="12" name="gridcolumn6"></wm-gridcolumn>
        </wm-gridrow>
    </wm-layoutgrid>
</wm-partial>