<wm-page data-ng-controller="PropertiesPageController" pagetitle="Properties" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-layoutgrid name="layoutgrid3">
                <wm-gridrow name="gridrow3">
                    <wm-gridcolumn columnwidth="4" name="gridcolumn4" height="50"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn6" horizontalalign="center">
                        <wm-label padding="unset 0.5em" name="label" caption="Assets" class="h4" fontweight="bold" color="#000000" fontsize="1.3" fontunit="em"></wm-label>
                    </wm-gridcolumn>
                    <wm-gridcolumn columnwidth="4" name="gridcolumn5" height="50"></wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow8" padding="0em 1em 1em 1em">
                    <wm-gridcolumn columnwidth="2" name="gridcolumn22" horizontalalign="left" height="40"></wm-gridcolumn>
                    <wm-gridcolumn columnwidth="10" name="gridcolumn18_1" padding="unset unset unset 1em" class="hidden-xs">
                        <wm-container class="col-md-2" name="container1">
                            <wm-search name="search_address" searchplaceholder="Address" type="autocomplete" width="70%" datafield="id" searchkey="property.addressLine1" dataset="bind:Variables.AssetData.dataSet" displaylabel="property.addressLine1" on-submit="search_addressSubmit($event, $scope)"
                                placeholder="Address" orderby="property.addressLine1:desc" on-select="search_addressSelect($event, $scope, selectedValue)"></wm-search>
                        </wm-container>
                        <wm-container class="col-md-2" name="container2">
                            <wm-select name="select_state" placeholder="State" width="70%" dataset="bind:Variables.getStateData.dataSet" datafield="state" displayfield="state" on-change="select_stateChange($event, $scope, newVal, oldVal)"></wm-select>
                        </wm-container>
                        <wm-container class="col-md-2" name="container4">
                            <wm-select name="select_Batch" placeholder="Batch" width="70%" dataset="bind:Variables.FilterByAsset.dataSet" datafield="batch" displayfield="batch" on-change="select_BatchChange($event, $scope, newVal, oldVal)"></wm-select>
                        </wm-container>
                        <wm-container class="col-md-2" name="container5">
                            <wm-select placeholder="Status" width="70%" dataset="bind:Variables.AssetStatus.dataSet" datafield="id" displayfield="status" name="select_status" on-change="select_statusChange($event, $scope, newVal, oldVal)"></wm-select>
                        </wm-container>
                        <wm-container class="col-md-2" name="container6">
                            <wm-select name="select_action" placeholder="Court Action" width="70%" dataset="bind:Variables.NextCourtAction.dataSet" datafield="id" displayfield="name" on-change="select_actionChange($event, $scope, newVal, oldVal)"></wm-select>
                        </wm-container>
                    </wm-gridcolumn>
                </wm-gridrow>
                <wm-gridrow name="gridrow9">
                    <wm-gridcolumn columnwidth="12" name="gridcolumn21">
                        <wm-table editmode="quickedit" shownewrow="false" title="" dataset="bind:Variables.PlatformAssetData.dataSet" on-beforeformrender="AssetTableBeforeformrender($event, $scope, $rowData, $operation)" name="AssetDataTable" showheader="true" enablesort="true"
                            showrecordcount="true" spacing="normal" navigation="Basic" loadingicon="fa fa-spinner">
                            <wm-table-column binding="rowOperations" caption="Edit" width="60px" edit-widget-type="text" type="custom" readonly="true" sortable="false" searchable="false" show="true" rowactionsposition="0"></wm-table-column>
                            <wm-table-column binding="property.county.countyName" caption="County" primary-key="false" edit-widget-type="number" related-entity-name="Property" type="String" generator="assigned" readonly="true" show="true"></wm-table-column>
                            <wm-table-column binding="batch" caption="Batch" edit-widget-type="text" type="string" generator="assigned" show="true" readonly="false" required="true"></wm-table-column>
                            <wm-table-column binding="property.addressLine1" caption="Address" width="180px" primary-key="false" edit-widget-type="text" related-entity-name="Property" type="string" generator="assigned" readonly="true" show="true"></wm-table-column>
                            <wm-table-column binding="note" caption="Summary" widget-type="label" width="15%" edit-widget-type="textarea" type="text" generator="assigned" defaultvalue="bind:Widgets.AssetDataTable.selecteditem.note" show="true" readonly="false">
                                <wm-label caption="{{row.getProperty('note')}}" class="" data-ng-class=""></wm-label>
                            </wm-table-column>
                            <wm-table-column binding="assetStatus.id" caption="Property Status" widget-type="label" primary-key="true" edit-widget-type="select" related-entity-name="AssetStatus" type="integer" generator="identity" dataset="bind:Variables.SearchAssetStatus.dataSet"
                                datafield="id" placeholder="Status" displayfield="status" displaylabel="status" searchkey="status" defaultvalue="bind:Widgets.AssetDataTable.selecteditem.assetStatus.id" show="true" readonly="false">
                                <wm-label caption="{{row.getProperty('assetStatus.status')}}" class="" data-ng-class=""></wm-label>
                            </wm-table-column>
                            <wm-table-column binding="occupancy.id" caption="Occupancy" widget-type="label" primary-key="true" edit-widget-type="select" related-entity-name="Occupancy" type="integer" generator="identity" dataset="bind:Variables.OccupancyData.dataSet" datafield="id"
                                displayfield="name" displaylabel="name" searchkey="id" defaultvalue="bind:Widgets.AssetDataTable.selecteditem.occupancy.id" show="true" readonly="false">
                                <wm-label caption="{{row.getProperty('occupancy.name')}}" class="" data-ng-class=""></wm-label>
                            </wm-table-column>
                            <wm-table-column binding="option.id" caption="CourtAction" widget-type="label" primary-key="true" edit-widget-type="select" related-entity-name="Option" type="integer" generator="identity" dataset="bind:Variables.DefaultCourtAction.dataSet" datafield="id"
                                displayfield="name" defaultvalue="bind:Widgets.AssetDataTable.selecteditem.nextCourtActionId" show="true" readonly="false">
                                <wm-label caption="{{row.getProperty('option.name')}}" class="" data-ng-class=""></wm-label>
                            </wm-table-column>
                            <wm-table-column binding="nextCourtDate" caption="Next Court Date" width="140px" edit-widget-type="datetime" type="datetime" generator="assigned" datepattern="MM/dd/yyyy" formatpattern="toDate" defaultvalue="bind:Widgets.AssetDataTable.selecteditem.nextCourtDate"
                                show="true" editdatepattern="MM-dd-yy hh:mm a" readonly="false"></wm-table-column>
                            <wm-table-column binding="deedDate" caption="Deed Date" primary-key="false" edit-widget-type="date" type="date" generator="assigned" datepattern="MM/dd/yyyy" formatpattern="toDate" defaultvalue="bind:Widgets.AssetDataTable.selecteditem.deedDate" show="true"
                                editdatepattern="MM-dd-yy hh:mm a" readonly="false"></wm-table-column>
                            <wm-table-column binding="openTaxes" caption="Open Taxes" width="100px" primary-key="false" edit-widget-type="number" type="big_decimal" generator="assigned" defaultvalue="bind:Widgets.AssetDataTable.selecteditem.openTaxes" show="true" readonly="false"></wm-table-column>
                            <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-edit" title="" action="updaterowAction($event)" disabled="false"></wm-table-row-action>
                        </wm-table>
                    </wm-gridcolumn>
                </wm-gridrow>
            </wm-layoutgrid>
        </wm-page-content>
    </wm-content>
</wm-page>