<wm-page data-ng-controller="ListTemplatePdfPageController" pagetitle="Newline Portal - Admin" name="page1"> 
    <wm-content name="content1" class="pdfcontent"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <!--<wm-livelist listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" class="media-list" dataset="bind:Variables.PlatformPdfData.dataSet" navigation="None" name="livelist1"></wm-livelist>--> 
            <wm-livefilter title="Filter Pdf" dataset="bind:Variables.PlatformPdfData.dataSet" captionalign="left" captionposition="left" name="livefilter2"> 
                <wm-layoutgrid columns="2" name="layoutgrid3"> 
                    <wm-gridrow name="gridrow5"> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn6"> 
                            <wm-filter-field name="certificate" field="certificate" displayname="Certificate" widget="text" lookup-type="Certificate" lookup-field="certificateNumber" is-related="true" related-entity-name="Certificate" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" key="certificate" placeholder="Enter value" inputtype="text"></wm-filter-field> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn7"> 
                            <wm-filter-field name="pdfTemplate" field="pdfTemplate" displayname="Pdf Template" widget="text" lookup-type="PdfTemplate" lookup-field="name" is-related="true" related-entity-name="PdfTemplate" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" key="pdfTemplate" placeholder="Enter value"></wm-filter-field> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
                <wm-filter-field name="createdTimestamp" field="createdTimestamp" displayname="Created Timestamp" widget="timestamp" is-range="false" type="timestamp" is-primary-key="false" generator="assigned" show="false" key="createdTimestamp" placeholder="Select date time"></wm-filter-field> 
                <wm-filter-action key="filter" display-name="Filter" show="true" class="btn-primary" iconclass="wi wi-filter-list" title="Filter" action="filter()" disabled="false" type="button"></wm-filter-action> 
                <wm-filter-action key="clear" display-name="Clear" show="true" class="btn-secondary" iconclass="wi wi-cancel" title="Clear" action="clearFilter()" disabled="false" type="button"></wm-filter-action> 
            </wm-livefilter> 
            <wm-table title="" dataset="bind:Widgets.livefilter2.result" navigation="Classic" name="grid1"> 
                <wm-table-column binding="createdTimestamp" caption="Created Timestamp" type="timestamp" width="150px" generator="assigned" readonly="true" datepattern="yyyy-MM-dd HH:mm" formatpattern="toDate" edit-widget-type="timestamp" show="true"></wm-table-column> 
                <wm-table-column binding="certificate.certificateNumber" caption="Certificate Number" type="string" width="150px" generator="assigned" readonly="true" edit-widget-type="text" show="true"></wm-table-column> 
                <wm-table-column binding="pdfTemplate.name" caption="Template Name" type="string" width="200px" generator="assigned" readonly="true" edit-widget-type="text" show="true"></wm-table-column> 
                <wm-table-column binding="link" caption="Link" type="string" widget-type="anchor" generator="assigned" readonly="true" edit-widget-type="text" show="true"> 
                    <wm-anchor caption="{{row.getProperty('link')}}" hyperlink="{{row.getProperty('link')}}" class="btn-link text-lowercase" data-ng-class="" target="_blank" on-click="getEscapedUrl($scope)"></wm-anchor> 
                </wm-table-column> 
            </wm-table> 
        </wm-page-content> 
    </wm-content> 
</wm-page>