<wm-partial data-ng-controller="TitlePageController" name="partial1"> 
    <wm-layoutgrid name="title_header_blue_bg" class="tax-blue-header"> 
        <wm-gridrow class="custom-container tax-blue-header" name="gridrow16"> 
            <wm-gridcolumn name="gridcolumn31"> 
                <wm-label caption="Title" name="label23" class="title_tab" padding=".1em unset unset unset"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-layoutgrid name="title_header_plain"> 
        <wm-gridrow name="gridrow2_1"> 
            <wm-gridcolumn name="gridcolumn2_2"> 
                <wm-label caption="Title" fontweight="bold" name="label21" fontsize="13" class="title_tab sub-title-ins-mobile" color="#2c65a8"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-layoutgrid name="layoutgrid1" class="layoutgrid-outerborder"> 
        <wm-gridrow name="gridrow2" class="title-table-header header-row grey-header"> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn2" class="col-xs-2"> 
                <wm-label caption="Date" name="label1"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="1" name="gridcolumn2_1" class="col-xs-1"> 
                <wm-label caption="Type" name="label1"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn3" class="col-xs-2"> 
                <wm-label caption="Doc #" name="label2"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn4" class="col-xs-2"> 
                <wm-label caption="Amount" height="24" name="label3"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="5" name="gridcolumn5" class="col-xs-5"> 
                <wm-label caption="Parties" name="label4"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow3"> 
            <wm-gridcolumn columnwidth="12" name="gridcolumn6"> 
                <wm-list class="media-list" dataset="bind:Variables.svQryPortalTitle.dataSet" navigation="Scroll" listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" name="livelist1"> 
                    <wm-listtemplate layout="inline" name="listtemplate1"> 
                        <wm-layoutgrid name="layoutgrid2"> 
                            <wm-gridrow name="gridrow4" class="content-row title-table-content"> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn7" class="col-xs-2"> 
                                    <wm-label caption="bind:Variables.svQryPortalTitle.dataSet[$i].date | date:'MM/dd/yy'" name="label5"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="1" name="gridcolumn7_1" class="col-xs-1"> 
                                    <wm-label caption="bind:Variables.svQryPortalTitle.dataSet[$i].title_type" name="label5_1"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn8" class="col-xs-2"> 
                                    <wm-label caption="bind:Variables.svQryPortalTitle.dataSet[$i].doc_number" name="label6"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn9" class="col-xs-2"> 
                                    <wm-label caption="bind:Variables.svQryPortalTitle.dataSet[$i].consideration | toCurrency: '$'" name="label7"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="5" name="gridcolumn10" class="col-xs-5"> 
                                    <wm-label caption="bind:Variables.svQryPortalTitle.dataSet[$i].grantor + ' / ' + Variables.svQryPortalTitle.dataSet[$i].grantee" name="label8"></wm-label> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-layoutgrid> 
                    </wm-listtemplate> 
                </wm-list> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
    <wm-layoutgrid name="layoutgrid_mobile" class="layoutgrid-outerborder"> 
        <wm-gridrow name="gridrow2" class="title-table-header header-row header-title grey-header"> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn2" class="col-xs-2 col-md-2"> 
                <wm-label caption="Date" name="label1"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="1" name="gridcolumn2_1" class="col-xs-2 col-md-2"> 
                <wm-label caption="Type" name="label1"></wm-label> 
            </wm-gridcolumn> 
            <!--<wm-gridcolumn columnwidth="2" name="gridcolumn3" class="col-xs-2">--> 
            <!--    <wm-label caption="Doc #" name="label2"></wm-label>--> 
            <!--</wm-gridcolumn>--> 
            <wm-gridcolumn columnwidth="2" name="gridcolumn4" class="col-xs-2 col-md-2"> 
                <wm-label caption="Amount" height="24" name="label3"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn columnwidth="5" name="gridcolumn5" class="col-xs-4 col-md-4"> 
                <wm-label caption="Parties" name="label4"></wm-label> 
            </wm-gridcolumn> 
            <wm-gridcolumn class="col-xs-2 col-md-2" name="gridcolumn18" horizontalalign="center"> 
                <wm-label caption="Info" name="label17"></wm-label> 
            </wm-gridcolumn> 
        </wm-gridrow> 
        <wm-gridrow name="gridrow3"> 
            <wm-gridcolumn columnwidth="12" name="gridcolumn6"> 
                <wm-list class="media-list" dataset="bind:Variables.svQryPortalTitle.dataSet" navigation="Scroll" listclass="list-group" itemclass="list-group-item" template="true" itemsperrow="xs-1 sm-1 md-1 lg-1" name="livelist1"> 
                    <wm-listtemplate layout="inline" name="listtemplate1"> 
                        <wm-layoutgrid name="layoutgrid2"> 
                            <wm-gridrow name="gridrow4" class="content-row title-table-content"> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn7" class="col-xs-2 col-md-2"> 
                                    <wm-label caption="bind:Variables.svQryPortalTitle.dataSet[$i].date | date:'MM/dd/yy'" name="label5"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="1" name="gridcolumn7_1" class="col-xs-2 col-md-2"> 
                                    <wm-label caption="bind:Variables.svQryPortalTitle.dataSet[$i].title_type" name="label5_1"></wm-label> 
                                </wm-gridcolumn> 
                                <!--<wm-gridcolumn columnwidth="2" name="gridcolumn8" class="col-xs-2">--> 
                                <!--    <wm-label caption="bind:Variables.svQryPortalTitle.dataSet[$i].doc_number" name="label6"></wm-label>--> 
                                <!--</wm-gridcolumn>--> 
                                <wm-gridcolumn columnwidth="2" name="gridcolumn9" class="col-xs-2 col-md-2"> 
                                    <wm-label caption="bind:Variables.svQryPortalTitle.dataSet[$i].consideration | toCurrency: '$'" name="label7"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn columnwidth="5" name="gridcolumn10" class="col-xs-4 col-md-4"> 
                                    <wm-label caption="bind:Variables.svQryPortalTitle.dataSet[$i].grantor + ' / ' + Variables.svQryPortalTitle.dataSet[$i].grantee" name="label8"></wm-label> 
                                </wm-gridcolumn> 
                                <wm-gridcolumn name="gridcolumn24" horizontalalign="center" class="col-xs-2"> 
                                    <wm-picture name="picture1" picturesource="resources/images/imagelists/information-button.png" width="20px" height="20px" show="false"></wm-picture> 
                                    <wm-popover popoverwidth="240" margin="unset 0.5em" name="TitlePopover" caption="" content="TitleMoreInfo" iconurl="resources/images/imagelists/information-button.png" iconwidth="20px" iconheight="20px"></wm-popover> 
                                </wm-gridcolumn> 
                            </wm-gridrow> 
                        </wm-layoutgrid> 
                    </wm-listtemplate> 
                </wm-list> 
            </wm-gridcolumn> 
        </wm-gridrow> 
    </wm-layoutgrid> 
</wm-partial>