<wm-partial data-ng-controller="rightnav_portalPageController" type="rightnav" name="partial1">
    <wm-panel iconclass="wi wi-event" autoclose="outsideClick" title="Events" name="panel1">
        <wm-calendar name="calendar1"></wm-calendar>
    </wm-panel>
</wm-partial>