<wm-page data-ng-controller="AddEditGroupPageController" pagetitle="Add Edit Group" name="page1"> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-livefilter title="Group List" dataset="bind:Variables.PlatformGroupData.dataSet" captionalign="left" captionposition="left" name="livefilter1" class="buyer-header" iconclass=""> 
                <wm-layoutgrid columns="1" name="layoutgrid1"> 
                    <wm-gridrow name="gridrow1"> 
                        <wm-gridcolumn columnwidth="12" show="true" name="gridcolumn1"> 
                            <wm-filter-field name="groupName" field="groupName" displayname="Group Name" widget="text" is-range="false" type="string" is-primary-key="true" generator="assigned" show="true" pc-display="true" mobile-display="true"></wm-filter-field> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                </wm-layoutgrid> 
                <wm-filter-action key="filter" class="btn-primary" iconclass="wi wi-filter-list" action="filter()" display-name="Filter" show="true" type="button"></wm-filter-action> 
                <wm-filter-action key="clear" class="btn-secondary" iconclass="wi wi-cancel" action="clearFilter()" display-name="Clear" show="true" type="button"></wm-filter-action> 
            </wm-livefilter> 
            <wm-livetable formlayout="dialog" name="livegrid1"> 
                <wm-table gridfirstrowselect="true" editmode="dialog" title="" dataset="bind:Widgets.livefilter1.result" navigation="Classic" name="grid1"> 
                    <wm-table-column binding="groupName" caption="Group Name" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" primary-key="true"></wm-table-column> 
                    <wm-table-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-table-action> 
                    <wm-table-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-table-row-action> 
                    <wm-table-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-table-row-action> 
                </wm-table> 
                <wm-liveform novalidate="false" errormessage="" title="Add Group" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Widgets.livefilter1.result" captionalign="left" captionposition="left" name="liveform1"> 
                    <wm-layoutgrid columns="1" name="layoutgrid2"> 
                        <wm-gridrow name="gridrow2"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn2"> 
                                <wm-form-field name="groupName" displayname="Group Name" required="true" show="true" generator="assigned" primary-key="true" key="groupName" type="string" is-related="false" maxchars="50" pc-display="true" mobile-display="true" widget="text"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                    <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action> 
                    <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action> 
                </wm-liveform> 
            </wm-livetable> 
        </wm-page-content> 
    </wm-content> 
</wm-page>