<wm-page data-ng-controller="AddEditGradePageController" pagetitle="Newline Portal - Admin" name="page1"> 
    <wm-content name="content1" class="pdfcontent"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-livefilter title="Grade List" dataset="bind:Variables.PlatformGradeData.dataSet" captionalign="left" captionposition="left" name="livefilter1" iconclass="" class="buyer-header"> 
                <wm-layoutgrid columns="1" name="layoutgrid2"> 
                    <wm-gridrow name="gridrow6"> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn6"> 
                            <wm-filter-field name="id" field="id" related-field="Id" widget="number" is-range="false" show="true" type="integer" is-primary-key="true" generator="identity" matchmode="start" inputtype="number" displayname="Id" key="id" placeholder="Enter value"></wm-filter-field> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn7"> 
                            <wm-filter-field name="county" field="county" displayname="County" widget="text" lookup-type="County" lookup-field="countyName" is-related="true" related-entity-name="County" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" key="county" placeholder="Enter value"></wm-filter-field> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <!--<wm-gridrow name="gridrow7">--> 
                    <!--    <wm-gridcolumn columnwidth="6" name="gridcolumn7">--> 
                    <!--        <wm-filter-field name="county" field="county" displayname="County" widget="text" lookup-type="County" lookup-field="countyName" is-related="true" related-entity-name="County" is-range="false" type="string" is-primary-key="false"--> 
                    <!--        generator="assigned" show="true" key="county" placeholder="Enter value"></wm-filter-field>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--</wm-gridrow>--> 
                    <wm-gridrow name="gridrow8"> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn8"> 
                            <wm-filter-field name="township" field="township" displayname="Township" widget="text" lookup-type="Township" lookup-field="townshipName" is-related="true" related-entity-name="Township" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" key="township" placeholder="Enter value"></wm-filter-field> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn9"> 
                            <wm-filter-field name="lookup" field="lookup" displayname="Lookup" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="lookup" placeholder="Enter value" matchmode="start"></wm-filter-field> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <!--<wm-gridrow name="gridrow9">--> 
                    <!--    <wm-gridcolumn columnwidth="6" name="gridcolumn9">--> 
                    <!--        <wm-filter-field name="lookup" field="lookup" displayname="Lookup" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="lookup" placeholder="Enter value" matchmode="start"></wm-filter-field>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--</wm-gridrow>--> 
                    <wm-gridrow name="gridrow10"> 
                        <wm-gridcolumn columnwidth="6" name="gridcolumn10"> 
                            <wm-filter-field name="grade" field="grade" displayname="Grade" widget="text" is-range="false" type="character" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="grade" placeholder="Enter value"></wm-filter-field> 
                        </wm-gridcolumn> 
                        <wm-gridcolumn name="gridcolumn1" columnwidth="6"> 
                            <wm-filter-field name="note" field="note" displayname="Note" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="note" placeholder="Enter value" matchmode="start"></wm-filter-field> 
                        </wm-gridcolumn> 
                    </wm-gridrow> 
                    <!--<wm-gridrow name="gridrow1">--> 
                    <!--    <wm-gridcolumn name="gridcolumn1" columnwidth="6">--> 
                    <!--        <wm-filter-field name="note" field="note" displayname="Note" widget="text" is-range="false" type="string" is-primary-key="false" generator="assigned" show="true" inputtype="text" key="note" placeholder="Enter value" matchmode="start"></wm-filter-field>--> 
                    <!--    </wm-gridcolumn>--> 
                    <!--</wm-gridrow>--> 
                </wm-layoutgrid> 
                <wm-filter-action key="filter" display-name="Filter" show="true" class="btn-primary" iconclass="wi wi-filter-list" title="Filter" action="filter()" disabled="false" type="button"></wm-filter-action> 
                <wm-filter-action key="clear" display-name="Clear" show="true" class="btn-secondary" iconclass="wi wi-cancel" title="Clear" action="clearFilter()" disabled="false" type="button"></wm-filter-action> 
            </wm-livefilter> 
            <wm-livetable formlayout="dialog" name="livegrid1"> 
                <wm-table gridfirstrowselect="true" editmode="dialog" title="" dataset="bind:Widgets.livefilter1.result" navigation="Classic" name="grid2"> 
                    <wm-table-column binding="id" caption="Id" type="integer" primary-key="true" generator="identity" readonly="true" edit-widget-type="number" show="true"></wm-table-column> 
                    <wm-table-column binding="county.countyName" caption="County" type="string" generator="assigned" edit-widget-type="text" show="true" related-entity-name="County" readonly="false"></wm-table-column> 
                    <wm-table-column binding="township.townshipName" caption="Township" type="string" generator="assigned" edit-widget-type="text" show="true" related-entity-name="Township" readonly="false"></wm-table-column> 
                    <wm-table-column binding="lookup" caption="Lookup" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-table-column> 
                    <wm-table-column binding="grade" caption="Grade" type="character" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-table-column> 
                    <wm-table-column binding="note" caption="Note" type="string" generator="assigned" edit-widget-type="text" show="true" readonly="false"></wm-table-column> 
                    <wm-table-column binding="rowOperations" caption="Actions" type="custom" width="120px" readonly="true" edit-widget-type="text" sortable="false" searchable="false" show="true"></wm-table-column> 
                    <wm-table-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()" shortcutkey="" disabled="false"></wm-table-action> 
                    <wm-table-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()" disabled="false"></wm-table-row-action> 
                    <wm-table-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()" disabled="false"></wm-table-row-action> 
                </wm-table> 
                <wm-liveform novalidate="false" errormessage="" title="Add Grade" formlayout="dialog" iconclass="wi wi-edit" dataset="bind:Widgets.livefilter1.result" captionalign="left" captionposition="left" name="liveform1"> 
                    <wm-layoutgrid columns="1" name="layoutgrid2_1"> 
                        <wm-gridrow name="gridrow7_1"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn7_1"> 
                                <wm-form-field name="county" displayname="County" show="true" primary-key="false" generator="assigned" key="county" type="list" is-related="true" required="required" widget="select" placeholder="Select value" displayexpression="countyName"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow8_1"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn8_1"> 
                                <wm-form-field name="township" displayname="Township" show="true" primary-key="false" generator="assigned" key="township" type="list" is-related="true" required="required" widget="select" placeholder="Select value" displayexpression="townshipName"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow9_1"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn9_1"> 
                                <wm-form-field name="lookup" displayname="Lookup" show="true" primary-key="false" generator="assigned" key="lookup" type="string" required="required" widget="text" maxchars="10" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow10_1"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn10_1"> 
                                <wm-form-field name="grade" displayname="Grade" show="true" primary-key="false" generator="assigned" key="grade" type="character" required="required" widget="text" maxchars="1" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow11"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn11"> 
                                <wm-form-field name="note" displayname="Note" show="true" primary-key="false" generator="assigned" key="note" type="string" widget="text" maxchars="250" inputtype="text" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                    <wm-form-field name="id" displayname="Id" show="false" primary-key="true" generator="identity" key="id" type="integer" readonly="readonly" required="required" step="0" widget="number" inputtype="number" placeholder="Enter value"></wm-form-field> 
                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" title="Cancel" action="cancel()" disabled="false" type="button" update-mode="true"></wm-form-action> 
                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" title="Save" disabled="false" type="submit" update-mode="true"></wm-form-action> 
                </wm-liveform> 
            </wm-livetable> 
        </wm-page-content> 
    </wm-content> 
</wm-page>